{%- assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id -%}

{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- if buy_buttons_block != blank -%}
  <style>
    .product-sticky-form {
      display: none;
    }
    @media screen and (min-width: 1000px) {
      :root {
        --anchor-offset: 140px; /* When the sticky form is activate, every scroll must be offset by an extra value */
      }
    }
  </style>

  <div form-id="{{ product_form_id }}" class="product-sticky-form">
    <div class="product-sticky-form__inner">
      <div class="product-sticky-form__content-wrapper hidden-desktop">
        <div class="product-sticky-form__info">
          <div class="product-sticky-form__price">
            {% if product.selected_or_first_available_variant.metafields.custom.page_price != blank
              and product.selected_or_first_available_variant.metafields.custom.isOriginalPrice != true
            %}
              <div class="price">
                {{ product.selected_or_first_available_variant.metafields.custom.page_price | times: 100 | money }}
              </div>
              <div class="original_price ">
                {{ product.selected_or_first_available_variant.price | money }}
              </div>
            {% elsif block.settings.original_price != 0 %}
              <div class="price">
                {{ product.selected_or_first_available_variant.price | money }}
              </div>
              <div class="original_price ">
                {{ product.selected_or_first_available_variant.compare_at_price | money }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="product-sticky-form__form">
        <product-payment-container
          form-id="{{ product_form_id }}"
          class="product-sticky-form__payment-container 444  {{  buy_buttons_block.settings.text }}"
        >
          {%- capture button_content -%}
              {%- if product.template_suffix == 'pre-order' -%}
                {{- 'product.form.pre_order' | t -}}
              {%- else -%}
                {% comment %} {{- 'product.form.add_to_cart' | t -}} {% endcomment %}
                {% if buy_buttons_block.settings.text != blank %}
                    {{ buy_buttons_block.settings.text }}
                {%- else -%}
                  {{- 'product.form.add_to_cart' | t -}}
                {%- endif -%}
              {%- endif -%}
            {%- endcapture -%}

          <button
            id="StickyAddToCart"
            is="loader-button"
            form="{{ product_form_id }}"
            type="submit"
            data-product-add-to-cart-button
            {% unless buy_buttons_block.settings.show_payment_button %}
              data-use-primary
            {% endunless %}
            data-button-content="{{ button_content | escape }}"
            class="product-form__add-button button {% unless product.selected_or_first_available_variant.available %}button--ternary{% else %}{% if buy_buttons_block.settings.show_payment_button %}button--secondary{% else %}button--primary{% endif %}{% endunless %}"
            {% unless product.selected_or_first_available_variant.available %}
              disabled
            {% endunless %}
          >
            {%- if product.selected_or_first_available_variant.available -%}
              {{- button_content -}}
            {%- else -%}
              {{- 'product.form.sold_out' | t -}}
            {%- endif -%}
          </button>
        </product-payment-container>
      </div>
    </div>
  </div>
{%- endif -%}
