<!doctype html>
{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar', 'arc', 'dv', 'fa', 'ha', 'he', 'kwh', 'ks', 'ku', 'ps', 'ur', 'yi' -%}
    {%- assign direction = 'rtl' -%}
{%- endcase -%}
<html class="no-js" lang="en-GB" dir="{{ direction }}">
  <head>
    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://cdn.shopify.com">

     {%- comment -%}Preload important resources{%- endcomment -%}
     <script src="{{ 'jquery.min.js' | asset_url }}"></script>
     <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
     <link rel="preload" as="style" href="{{ 'swiper-bundle.min.css' | asset_url }}">
     <link rel="preload" as="script" href="{{ 'swiper-bundle.min.aio.min.js' | asset_url }}">
     <link rel="preload" as="font" href="{{ 'Saans-Regular.otf' | asset_url }}" type="font/otf" crossorigin="anonymous">
     <link rel="preload" as="font" href="{{ "Saans-Medium.otf" | asset_url }}" type="font/otf" crossorigin="anonymous">

    {% comment %}  Google Consent Mode V2 {% endcomment %}
    {% render 'gcm-integration-script' %}
    {% render 'g-site-seo' %}

    <noscript>
      <img
        height="1"
        width="1"
        style="display:none;"
        alt=""
        src="https://ct.pinterest.com/v3/?event=init&tid=2612495982378&pd[em]=<hashed_email_address>&noscript=1"
      >
    </noscript>
    <!-- end Pinterest Tag -->
    <meta name="google-site-verification" content="7KQBy-K0xvi4A40MnKJwiMeOGqfli8b5ZhPqHHinHlE">
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0"
    >
    <meta name="theme-color" content="{{ settings.header_background }}">
    <title>
      {% if page_title == blank -%}
        {{- shop.name -}}
      {%- else -%}
        {{- page_title -}}
        {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- endif %}
    </title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">
    {% if template == 'index' %}
      <link rel="alternate" hreflang="es-US" href="https://www.ulike.com/es">
      <link rel="alternate" hreflang="zh-HK" href="https://hk.ulike.com/">
      <link rel="alternate" hreflang="zh-TW" href="https://tw.ulike.com/">
      <link rel="alternate" hreflang="en-gb" href="https://uk.ulike.com/">
      <link rel="alternate" hreflang="fr" href="https://fr.ulike.com/">
      <link rel="alternate" hreflang="de" href="https://de.ulike.com/">
      <link rel="alternate" hreflang="en-US" href="https://www.ulike.com/">
      <link rel="alternate" hreflang="en" href="https://www.ulike.com/">
      <link rel="alternate" hreflang="x-default" href="https://www.ulike.com/">
    {% endif %}
    {% if request.path == '/products/sapphire-air-10-ipl-hair-removal' %}
      <link rel="alternate" hreflang="zh-TW" href="https://tw.ulike.com/products/ulike-air10">
      <link rel="alternate" hreflang="en-gb" href="https://uk.ulike.com/products/sapphire-air-10-ipl-hair-removal">
      <link
        rel="alternate"
        hreflang="fr"
        href="https://fr.ulike.com/products/ulike-sapphire-air-10-epilateur-lumiere-pulsee"
      >
      <link rel="alternate" hreflang="en" href="https://www.ulike.com/products/sapphire-air-10-ipl-hair-removal">
      <link rel="alternate" hreflang="de" href="https://de.ulike.com/products/saphir-air-10-ipl-haarentfernung">
    {% endif %}
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    {%- if request.page_type == 'product' -%}
      <link rel="preload" href="{{ product.selected_or_first_available_variant.featured_image | img_url: '1740x'  }}" as="image">
    {%- endif -%}

    {%- if dropinblog == 1 -%}
      {{ dropinblog_head_social }}
    {%- else -%}
      {% render 'social-meta-tags' %}
    {%- endif -%}
    {% render 'microdata-schema' %}
    {% render 'css-variables', direction: direction %}
    {% render 'js-variables', direction: direction %}

      <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
     
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    
    <link rel="stylesheet" href="{{ 'custom_css.css' | asset_url }}">

    <script src="{{ 'swiper-bundle.min.aio.min.js' | asset_url }}" defer></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'video-dialog.js' | asset_url}}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" defer></script>


    {{ content_for_header }}

    {% include 'rto_ads' %}

    {% render 'gsf-conversion-pixels' %}

    <!-- Universal Event Tracking blocking script from GDPR/CCPA Compliance + Cookie Management App -->
    <script id="gdpr-uet-blocking-script">
      let isUETExecuted = false;
      function executeUET() {
        if (!isUETExecuted) {
          // The content of Universal Event Tracking script goes here
          (function (w, d, t, r, u) {
            var f, n, i;
            (w[u] = w[u] || []),
              (f = function () {
                var o = { ti: '187075310', tm: 'shpfy_ui', enableAutoSpaTracking: true };
                (o.q = w[u]), (w[u] = new UET(o)), w[u].push('pageLoad');
              }),
              (n = d.createElement(t)),
              (n.src = r),
              (n.async = 1),
              (n.onload = n.onreadystatechange =
                function () {
                  var s = this.readyState;
                  (s && s !== 'loaded' && s !== 'complete') || (f(), (n.onload = n.onreadystatechange = null));
                }),
              (i = d.getElementsByTagName(t)[0]),
              i.parentNode.insertBefore(n, i);
          })(window, document, 'script', '//bat.bing.com/bat.js', 'uetq');
          isUETExecuted = true;
        }
      }
      function checkConsentForUET(adittionalChecks = 0) {
        let cpdCookie = (document.cookie.match(
          /^(?:.*;)?\s*cookieconsent_preferences_disabled(\s*=\s*([^;]+)?)(?:.*)?$/
        ) || [, null])[1];
        if (cpdCookie != null) {
          if (parseInt(cpdCookie.indexOf('marketing')) === -1) {
            executeUET();
          }
        } else {
          let gdprCache = localStorage.getItem('gdprCache') ? JSON.parse(localStorage.getItem('gdprCache')) : null;
          let gdprCacheConsentSettings =
            gdprCache && gdprCache.getCookieConsentSettings ? JSON.parse(gdprCache.getCookieConsentSettings) : null;
          let gdprCacheCountryDetection =
            gdprCache && gdprCache.countryDetection ? JSON.parse(gdprCache.countryDetection) : null;
          let ccsCookie = (document.cookie.match(/^(?:.*;)?\s*cookieconsent_status\s*=\s*([^;]+)(?:.*)?$/) || [
            ,
            null,
          ])[1];
          if (
            (gdprCacheConsentSettings || (gdprCacheCountryDetection && gdprCacheCountryDetection.disable === '1')) &&
            !ccsCookie
          ) {
            if (
              (gdprCacheConsentSettings && gdprCacheConsentSettings.status === 'disabled') ||
              gdprCacheCountryDetection.disable === '1'
            ) {
              executeUET();
            } else {
              let initPreferences = parseInt(gdprCacheConsentSettings.checkboxes_behavior);
              if (initPreferences === 1 || initPreferences === 3 || initPreferences === 4 || initPreferences === 6) {
                executeUET();
              }
            }
          } else {
            if (adittionalChecks > 0) {
              setTimeout(function () {
                checkConsentForUET(adittionalChecks - 1);
              }, 1000);
            } else {
              executeUET();
            }
          }
        }
      }
      window.addEventListener('click', function (e) {
        if (
          e.target &&
          typeof e.target.className === 'string' &&
          e.target.className.indexOf('isense-cc-submit-consent') >= 0
        ) {
          checkConsentForUET();
        }
      });
      checkConsentForUET(3);
    </script>
    <meta name="p:domain_verify" content="a26292589e44b417b847438bf5555070">

    <!-- Google Ads integration- script from Consentmo GDPR Compliance App -->
    <script async id="gads-loading-script"></script>
    <script id="gdpr-gads-blocking-script">
      let isGADSExecuted = false;
      let gadsScript = document.getElementById('gads-loading-script');
      let gadsLink = 'https://www.googletagmanager.com/gtag/js?id=AW-11232852355';

      function executeGADS() {
        if (!isGADSExecuted) {
          gadsScript.setAttribute('src', gadsLink);
          // The content of Google Ads script goes here
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());

          gtag('config', 'AW-11232852355');
          isGADSExecuted = true;
        }
      }
      function checkConsentForGADS(adittionalChecks = 0) {
        let cpdCookie = (document.cookie.match(
          /^(?:.*;)?\s*cookieconsent_preferences_disabled(\s*=\s*([^;]+)?)(?:.*)?$/
        ) || [, null])[1];
        if (cpdCookie != null) {
          if (parseInt(cpdCookie.indexOf('marketing')) === -1) {
            executeGADS();
          }
        } else {
          let gdprCache = localStorage.getItem('gdprCache') ? JSON.parse(localStorage.getItem('gdprCache')) : null;
          let gdprCacheConsentSettings =
            gdprCache && gdprCache.getCookieConsentSettings ? JSON.parse(gdprCache.getCookieConsentSettings) : null;
          let gdprCacheCountryDetection =
            gdprCache && gdprCache.countryDetection ? JSON.parse(gdprCache.countryDetection) : null;
          let ccsCookie = (document.cookie.match(/^(?:.*;)?\s*cookieconsent_status\s*=\s*([^;]+)(?:.*)?$/) || [
            ,
            null,
          ])[1];
          if (
            (gdprCacheConsentSettings || (gdprCacheCountryDetection && gdprCacheCountryDetection.disable === '1')) &&
            !ccsCookie
          ) {
            if (
              (gdprCacheConsentSettings && gdprCacheConsentSettings.status === 'disabled') ||
              gdprCacheCountryDetection.disable === '1'
            ) {
              executeGADS();
            } else {
              let initPreferences = parseInt(gdprCacheConsentSettings.checkboxes_behavior);
              if (initPreferences === 1 || initPreferences === 3 || initPreferences === 4 || initPreferences === 6) {
                executeGADS();
              }
            }
          } else {
            if (adittionalChecks > 0) {
              setTimeout(function () {
                checkConsentForGADS(adittionalChecks - 1);
              }, 1000);
            } else {
              executeGADS();
            }
          }
        }
      }

      checkConsentForGADS(3);
    </script>

   

{% include 'pagefly-app-header' %}</head>

  {%- assign feature_classes = '' -%}

  {%- if settings.show_image_zoom -%}
    {% assign feature_classes = feature_classes | append: ' features--image-zoom' %}
  {%- endif -%}

  <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>

    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" />
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" stop-opacity="0.4" />
      </linearGradient>
    </svg>
    <aside>
      <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <symbol id="close-path" viewBox="0 0 24 24" fill="currentColor">
            <path d="M11 11V6a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5z"></path>
        </symbol>
      </svg>
    </aside>

    <loading-bar class="loading-bar"></loading-bar>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'announcement-bar' -%}
      {% comment %} {%- section 'popup' -%} {% endcomment %}
      {%- section 'header' -%}

      {%- unless settings.cart_type == 'page' or request.page_type == 'cart' -%}
        {%- section 'mini-cart' -%}
      {%- endunless -%}
    {%- endif -%}
    <div id="main" role="main" class="anchor">
      {{ content_for_layout }}
    </div>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'footer' -%}
    {%- endif -%}

    {%- section 'zesnippet' -%}
    <!-- End of ukulike Zendesk Widget script -->

     {% comment %} <script src="{{ 'scroll-animation.js' | asset_url}}" defer="defer"></script> {% endcomment %}
    {% comment %} {% section 'u-user-new-popup' %} {% endcomment %}

  </body>
   <!-- 风控代码 -->
  {% render 'forter' %}
  
</html>
