<!doctype html>
<html lang="{{ shop.locale }}">
    <head>
        <meta charset="utf-8">
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0"
        >
        {%- if settings.favicon -%}
            <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
       {%- endif -%}
        <title>
            {% if page_title == blank -%}
                {{- shop.name -}}
            {%- else -%}
                {{- page_title -}}
                {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
            {%- endif %}
        </title>
        <meta name="description" content="{{ page_description | escape }}">
        <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  
        <script>
          (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s),
              dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-P7ZBDPLR');
        </script>
        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1346211369902276');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1346211369902276&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Meta Pixel Code -->
        
        {{content_for_header}}
    </head>
<body>
    {{ content_for_layout }}
</body>
</html>