<style>
.a2-p-md2 {
  padding: 100px 0 80px 0;
}

.a2-p-md2 .a2-p-md2-h3 {
  color: #000;
  text-align: center;
  font-size: 48px;
  line-height: 1.1;
  font-weight: normal;
  margin: 0;
}

.a2-p-md2 .a2-p-md2-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-right: calc(28.6% + 18px);
  position: relative;
  z-index: 1;
  margin-top: 60px;
}

.a2-p-md2 .a2-p-md2-item {
  position: relative;
  z-index: 1;
  border-radius: 7px;
  background: linear-gradient(180deg, #f4fbff 0%, #c6edfa 100%);
}

.a2-p-md2 .a2-p-md2-item .img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a2-p-md2 .a2-p-md2-item:nth-child(1) {
  width: 57%;
}
.a2-p-md2 .a2-p-md2-item:nth-child(1) .img {
  margin-top: -11.05%;
  width: 100%;
  height: auto;
}
.a2-p-md2 .a2-p-md2-item:nth-child(2) {
  width: 40%;
}
.a2-p-md2 .a2-p-md2-item:nth-child(3) {
  width: 28.6%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.a2-p-md2 .a2-p-md2-item:nth-child(4) {
  width: 45%;
}
.a2-p-md2 .a2-p-md2-item:nth-child(5) {
  width: 52%;
}

.a2-p-md2 .a2-p-md2-txt {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}

.a2-p-md2 .a2-p-md2-item:nth-child(n + 4) .a2-p-md2-txt {
  top: auto;
  bottom: 40px;
}

.a2-p-md2 .a2-p-md2-item-h3 {
  color: #000;
  font-size: 28px;
  line-height: 1.3;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.a2-p-md2 .a2-p-md2-p {
  color: #000;
  font-size: 18px;
  line-height: 1.3;
}

@media (max-width: 1400px) {
  .a2-p-md2 .a2-p-md2-txt {
    top: 20px;
    left: 20px;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(n + 4) .a2-p-md2-txt {
    bottom: 20px;
  }

  .a2-p-md2 .a2-p-md2-item-h3 {
    font-size: 22px;
  }

  .a2-p-md2 .a2-p-md2-p {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .a2-p-md2 .a2-p-md2-list {
    gap: 20px;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(1) {
    width: 56.3%;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(5) {
    width: 51.3%;
  }
}

@media (max-width: 991px) {
  .a2-p-md2 {
    padding: 50px 0;
  }

  .a2-p-md2 .a2-p-md2-h3 {
    font-size: 26px;
  }

  .a2-p-md2 .a2-p-md2-list {
    gap: 10px;
    padding-right: 0;
    justify-content: space-between;
    margin-top: 30px;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(1) {
    width: 56.2%;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(1) .img {
    margin-top: -10.5%;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(2) {
    width: 40.5%;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(3) {
    width: 46.94%;
    height: auto;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(4) {
    width: 50.25%;
    margin-left: auto;
    margin-right: 0;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(5) {
    width: 50.25%;
    margin-left: auto;
    margin-right: 0;
  }

  .a2-p-md2 .a2-p-md2-txt {
    left: 15px;
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(n + 4) .a2-p-md2-txt {
    bottom: 50%;
    transform: translateY(50%);
  }

  .a2-p-md2 .a2-p-md2-item:nth-child(3) .a2-p-md2-txt {
    top: 32px;
  }

  .a2-p-md2 .a2-p-md2-item-h3 {
    font-size: 14px;
  }

  .a2-p-md2 .a2-p-md2-p {
    font-size: 12px;
  }
}
</style>
<section class="section-box">
  <div class="a2-p-md2">
    <div class="container">
      {%- if section.settings.text != blank -%}
        <h3 class="a2-p-md2-h3">{{ section.settings.text }}</h3>
      {%- endif -%}
      <div class="a2-p-md2-list">
        {%- for block in section.blocks -%}
            <div class="a2-p-md2-item">
            {%- if block.settings.image != blank or block.settings.image1 != blank -%}
                <picture>
                <source srcset="{{block.settings.image1 | image_url }}" media="(max-width: 991px)">
                <img loading="lazy"
                    class="img"
                    width=""
                    height=""
                    {% render 'image-attributes', image: block.settings.image %}
                    alt="{{ block.settings.image.alt | escape }}">
                </picture>
            {%- endif -%}

            <div class="a2-p-md2-txt">
                {%- if block.settings.text != blank -%}
                    <h3 class="a2-p-md2-item-h3">{{ block.settings.text }}</h3>
                {%- endif -%}
                {%- if block.settings.text1 != blank -%}
                    <div class="a2-p-md2-p">{{ block.settings.text1 }}</div>
                {%- endif -%}
            </div>
            </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "a2-p-md2",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "M Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "a2-p-md2",
      "blocks": []
    }
  ]
}
{% endschema %}
