<style>
.add-position {
  padding: 100px 0;
}

.add-position .add-position-cont {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.add-position .add-position-left,
.add-position .add-position-right {
  width: 50%;
  position: relative;
}

.add-position .add-position-left svg {
  position: absolute;
  width: 5.83%;
  height: auto;
  display: block;
  z-index: 2;
  top: 15%;
  left: 30%;
  animation: bounce 1.5s infinite linear;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.add-position .img {
  display: block;
  width: 100%;
}

.add-position .add-position-right {
  background: linear-gradient(90deg, rgba(236, 239, 242, 1) 8%, #fff 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.add-position .add-position-title {
  color: #000;
  font-size: 50px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.add-position .add-position-p {
  color: #000;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-top: 25px;
}

.add-position .code-img {
  display: block;
  width: 140px;
  margin: 30px auto;
}

.add-position .add-position-num {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.add-position .add-position-num svg {
  display: block;
}

.add-position .add-position-num-txt {
  color: #000;
  font-size: 40px;
  line-height: 1.2;
}

.add-position .add-position-num-txt p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-position .add-position-num-txt strong {
  font-weight: normal;
  font-family: var(--heading-font-family);
}

@media (max-width: 1400px) {
  .add-position .add-position-left svg {
    top: 14%;
    left: 32%;
  }
}

@media (max-width: 1300px) {
  .add-position .add-position-title {
    font-size: 30px;
  }
  .add-position .add-position-p {
    font-size: 14px;
    margin-top: 15px;
  }
  .add-position .add-position-right {
    padding: 15px;
  }
  .add-position .add-position-num-txt {
    font-size: 25px;
  }
  .add-position .code-img {
    width: 130px;
    margin: 20px auto;
  }
  .add-position .add-position-num svg {
    width: 35px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .add-position {
    padding: 50px 0;
  }
  .add-position .add-position-cont {
    flex-direction: column;
    border-radius: 10px;
  }
  .add-position .add-position-left,
  .add-position .add-position-right {
    width: 100%;
  }
  .add-position .add-position-right {
    padding: 30px 15px;
    background: linear-gradient(180deg, rgba(236, 239, 242, 1) 8%, #fff 92%);
  }
  .add-position .add-position-title {
    font-size: 28px;
  }
  .add-position .add-position-p {
    margin-top: 10px;
  }
  .add-position .add-position-num {
    gap: 10px;
  }
  .add-position .add-position-num-txt {
    font-size: 22px;
  }
  .add-position .add-position-num svg {
    width: 30px;
  }
}
</style>

<section class="section-box">
  <div class="add-position">
    <div class="container">
      <div class="add-position-cont">
        {%- if section.settings.image != blank -%}
          <div class="add-position-left">
            <img loading="lazy" class="img" width="" height="" src="{{ section.settings.image | image_url }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="68" viewBox="0 0 47 68" fill="none">
              <path
                d="M23.6901 0.00826423C23.8974 0.00275474 24.1057 0 24.3144 0C24.523 0 24.7313 0.00275474 24.9386 0.00826423C41.1024 0.439381 51.5873 18.1597 45.0057 33.7089L25.946 67.0293C25.2054 68.3236 21.7944 68.3236 21.0543 67.0293L1.99415 33.7089C-4.58699 18.1602 7.5263 0.439381 23.6901 0.00826423ZM26.5601 35.1501C32.854 35.1501 37.9564 29.7783 37.9564 23.1518C37.9564 16.5252 32.854 11.1535 26.5601 11.1535C20.2661 11.1535 15.1638 16.5252 15.1638 23.1518C15.1638 29.7783 20.2661 35.1501 26.5601 35.1501Z"
                fill="url(#paint0_linear_653_13)" />
              <path
                d="M22.0617 0.00826423C22.269 0.00275474 24.1057 0 24.3144 0C24.523 0 24.7313 0.00275474 24.9386 0.00826423C25.4857 0.0229562 26.0264 0.0578496 26.5601 0.111567C11.3275 1.63769 1.75591 18.6863 8.11451 33.7089L25.9682 64.921C26.332 65.5574 26.332 66.3535 25.9682 66.9898L25.9456 67.0293C25.205 68.3236 21.7939 68.3236 21.0538 67.0293L1.99415 33.7089C-4.58699 18.1602 5.89741 0.439381 22.0617 0.00826423Z"
                fill="url(#paint1_linear_653_13)" />
              <path
                d="M26.5601 35.1501C25.8269 35.1501 25.1108 35.0761 24.4159 34.937C29.6849 33.881 33.6685 29.0065 33.6685 23.1518C33.6685 17.297 29.6849 12.4225 24.4159 11.3665C25.1103 11.2274 25.8269 11.1535 26.5601 11.1535C32.854 11.1535 37.9564 16.5252 37.9564 23.1518C37.9564 29.7783 32.854 35.1501 26.5601 35.1501Z"
                fill="url(#paint2_linear_653_13)" />
              <defs>
                <linearGradient id="paint0_linear_653_13" x1="42.1665" y1="40.6623" x2="-1.18377" y2="22.9864"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#666666" />
                  <stop offset="0.09" stop-color="#4C4C4C" />
                  <stop offset="0.21" stop-color="#333232" />
                  <stop offset="0.34" stop-color="#1F1E1E" />
                  <stop offset="0.5" stop-color="#111010" />
                  <stop offset="0.68" stop-color="#090808" />
                  <stop offset="1" stop-color="#070606" />
                </linearGradient>
                <linearGradient id="paint1_linear_653_13" x1="23.5" y1="68.0003" x2="23.5" y2="0"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#070606" />
                  <stop offset="0.17" stop-color="#0E0D0D" />
                  <stop offset="0.44" stop-color="#242323" />
                  <stop offset="0.76" stop-color="#474747" />
                  <stop offset="1" stop-color="#666666" />
                </linearGradient>
                <linearGradient id="paint2_linear_653_13" x1="31.1864" y1="35.1501" x2="31.1864" y2="11.154"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#070606" />
                  <stop offset="0.18" stop-color="#0B0A0A" />
                  <stop offset="0.4" stop-color="#1A1919" />
                  <stop offset="0.63" stop-color="#313131" />
                  <stop offset="0.88" stop-color="#525252" />
                  <stop offset="1" stop-color="#666666" />
                </linearGradient>
              </defs>
            </svg>
          </div>
        {%- endif -%}
        <div class="add-position-right">
          <div>
            {%- if section.settings.text != blank -%}
              <h3 class="add-position-title">{{ section.settings.text }}</h3>
            {%- endif -%}
            {%- if section.settings.text1 != blank -%}
              <p class="add-position-p">{{ section.settings.text1 }}</p>
            {%- endif -%}
            {%- if section.settings.image1 != blank -%}
              <img loading="lazy" class="code-img" width="" height="" src="{{ section.settings.image1 | image_url }}">
            {%- endif -%}
            {%- if section.settings.text2 != blank -%}
              <div class="add-position-num">
                <svg xmlns="http://www.w3.org/2000/svg" id="图层_1" data-name="图层 1" width="14.46mm" height="13.93mm"
                  viewBox="0 0 41 39.5">
                  <path d="M9.86,32.76C6.24,33.84,4,35.34,4,37c0,3.31,9,6,20,6s20-2.69,20-6c0-1.66-2.24-3.16-5.86-4.24"
                    transform="translate(-3.5 -4)" fill="none" stroke="#e0004d" stroke-linecap="round" />
                  <path
                    d="M24,4A12.84,12.84,0,0,0,11,16.68C11,26.5,24,35,24,35s13-8.5,13-18.32A12.84,12.84,0,0,0,24,4Zm0,18a5,5,0,1,1,5-5A5,5,0,0,1,24,22Z"
                    transform="translate(-3.5 -4)" fill="#e0004d" />
                </svg>
                <div class="add-position-num-txt">
                  {{ section.settings.text2 }}
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>                
{% schema %}
{
  "name": "add-position",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Code Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "add-position"
    }
  ]
}
{% endschema %}
