{%- liquid
  assign se_id = section.id
  assign se_bks = section.blocks
  assign se_stts = section.settings
-%}

<style scoped>
  #blog-product-plugin-four .header__linklist-link {
    font-size: 1em;
  }

  #blog-product-plugin-four {
    display: none;
  }

  .blogTakeQuizHtml {
    font-size: 1em;
    padding: 2em 0;
  }

  .blogTakeQuizHtml .product-container {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;
    box-sizing: border-box;
    background: url('https://cdn.shopify.com/s/files/1/0656/9079/6273/files/blog_talk_1000x.png?v=1749005302') no-repeat center / cover;
  }

  .blogTakeQuizHtml .subscribe-section {
    width: 42em;
    padding-left: 5em;
  }

  .blogTakeQuizHtml .form-row {
    align-items: center;
    gap: 1.5em;
    margin-top: 1.3em;
    flex-wrap: wrap;
  }

  .blogTakeQuizHtml .subscribe-section .take-title {
    color: #fff;
    font-family: Saans;
    font-size: 24px;
    text-align: left;
    line-height: 1.3;
    margin-bottom: 0.4em;
  }

  .blogTakeQuizHtml .take-quiz-btn {
    padding: 0.8em 2em;
    font-size: 0.9em;
    background-color: #e0004d;
    color: white;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
  }

  .blogTakeQuizHtml .take-quiz-btn:hover {
    background-color: #c30043;
  }

  .blogTakeQuizHtml .features-container {
    gap: 4px;
    font-size: 14px;
    color: #fff;
    display: grid;
  }

  .blogTakeQuizHtml .feature-item {
    display: flex;
    align-items: center;
    gap: 0.2em;
    white-space: nowrap;
  }

  .blogTakeQuizHtml .check-icon {
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    color: #1a1a2e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    font-weight: bold;
    flex-shrink: 0;
  }

  @media (max-width: 1200px) {
    .blogTakeQuizHtml {
      font-size: 0.9em;
    }
  }

  @media (max-width: 992px) {
    .blogTakeQuizHtml {
      font-size: 0.8em;
    }
  }

  @media (max-width: 768px) {
    .blogTakeQuizHtml .subscribe-section {
      width: 100%;
      padding: 0px 2.4em;
    }

    .blogTakeQuizHtml {
      font-size: 0.7em;
    }

    .blogTakeQuizHtml .product-container {
      gap: 3em;
    }
  }

  @media (max-width: 480px) {
    .blogTakeQuizHtml {
      font-size: 0.6em;
    }

    .blogTakeQuizHtml .product-container {
      height: 39em;
      background: url('https://cdn.shopify.com/s/files/1/0656/9079/6273/files/e272b716-bb40-4cc7-bce7-4d9c6156e2e1.png?v=1749191645') no-repeat center / cover;
    }

    .blogTakeQuizHtml .form-row {
      margin-top: 3em;
    }

    .blogTakeQuizHtml .feature-item {
      width: 100%;
      gap: 0.5em;
    }

    .blogTakeQuizHtml .subscribe-section .take-title {
      width: 80%;
      line-height: 1.3;
      font-size: 2.3em;
      margin-bottom: 0.8em;
    }

    .blogTakeQuizHtml .features-container {
      gap: 0.5em;
      font-size: 1.6em;
      display: flex;
      flex-wrap: wrap;
    }

    .blogTakeQuizHtml .take-quiz-btn {
      padding: 0.8em 2em;
      font-size: 1.4em;
    }
  }
</style>


{%- liquid
  assign se_id = section.id
  assign se_bks = section.blocks
  assign se_stts = section.settings
-%}

<div id="blog-product-plugin-four">
  <div class="blogTakeQuizHtml" data-sort="{{ se_stts.sort }}">
    <div class="product-container">
      <div class="subscribe-section">
        <div class="take-title">{{ se_stts.title }}</div>
        <div class="terms">
          <div class="features-container">
            <div class="feature-item">
              <div class="check-icon">✔</div>
              {{ se_stts.advantages_one }}
            </div>
            <div class="feature-item">
              <div class="check-icon">✔</div>
              {{ se_stts.advantages_two }}
            </div>
            <div class="feature-item">
              <div class="check-icon">✔</div>
              {{ se_stts.advantages_three }}
            </div>
            <div class="feature-item">
              <div class="check-icon">✔</div>
              {{ se_stts.advantages_four }}
            </div>
          </div>

          <div class="form-row">
            {% if se_stts.btn_text != '' %}
              <button class="take-quiz-btn">{{ se_stts.btn_text }}</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.addEventListener("load", function () {
    const $template = $('#blog-product-plugin-four .blogTakeQuizHtml'); // 获取模板
    const templateClass = "{{ se_stts.className }}";

    $(`.${templateClass}`).each(function () {
      const $target = $(this);
      const sort = $target.data('sort');
      const $ipl = $(`.ipl-tools[data-sort="${sort}"]`);

      if ($ipl.length === 0) return;

      const title = $ipl.data('cta-title') || "{{ se_stts.title }}";
      {% comment %} const desc = $ipl.data('cta-subtitle') || ''; {% endcomment %}
      const btnText = $ipl.data('cta-button-text') || "{{ se_stts.btn_text }}";
      const btnLink = $ipl.data('cta-button-link') || "{{ se_stts.btn_link }}";

      const $newBlock = $template.clone();
      $newBlock.attr('data-sort', sort);
      $newBlock.find('.take-title').text(title);
      {% comment %} $newBlock.find('.terms span').text(desc); {% endcomment %}
      $newBlock.find('.take-quiz-btn').text(btnText).data('href', btnLink);

      $target.replaceWith($newBlock);
    });

    // 点击跳转
    $(document).on('click', '.take-quiz-btn', function () {
      const url = $(this).data('href');
      if (url) {
        window.location.href = url;
      }
    });
  });
</script>
{% schema %}
{
  "name": "b-blog-takequiz",
  "class": "b-blog-takequiz",
  "blocks": [
    {
      "name": "social-item",
      "type": "social-item",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "链接"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "svg文本"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "className",
      "label": "class名称"
    },
    {
    "type": "text",
     "id": "title",
     "label": "标题"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "按钮名称",
      "default": "Read"
    },
    {
      "type": "text",
      "id": "btn_link",
      "label": "按钮跳转路径"
    },
    {
      "type": "text",
      "id": "advantages_one",
      "label": "特点1"
    },
    {
      "type": "text",
      "id": "advantages_two",
      "label": "特点2"
    },
    {
      "type": "text",
      "id": "advantages_three",
      "label": "特点3"
    },
    {
      "type": "text",
      "id": "advantages_four",
      "label": "特点4"
    }
  ],
  "presets": [
    {
      "name": "b-blog-takequiz",
      "blocks": []
    }
  ]
}
{% endschema %}
