<style>

.banner-women_wrapper{
  height: 400vh;
    position: relative;
    width: 100%;
    /* pointer-events: none; */
}
.banner-women_container{
  /* height: 100%; */
    /* position: fixed; */
    position: sticky;
    height: 100vh;
    top: 84px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    background: linear-gradient(180deg, #FFE8EE 0%, #FFF 100%);
}
.banner-women_container .womne_txt-box{
  position: relative;
    z-index: 4;
    overflow: hidden;
    transform: translateY(-19%);
   text-align: center;
}
.banner-women_container h1{
    /* font-size: 10vw; */
    font-size: 44px;
    /* line-height: 8.3vw; */
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden;
}
.banner-women_container h1 span{
    display: block;
    position: relative;
}
.banner-women_container h1 .womne_txt-sp{
  overflow: hidden;
    text-align: center;
    /* height: 8.3vw; */
}
.women_img{
  position: absolute;
    z-index: 1;
    width: 25vw;
    overflow: hidden;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 50%);
}
.women_img img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 100% 0px 0px;
    object-fit: contain;
    object-position: center top;
    color: transparent;
    opacity: 0;
    border-radius: 20px;
}
.hero-wrapper-1{
  right: 87%;
    /* top: 6%; */
    top: 9%;
    width: 13.2vw;
    aspect-ratio: 254/236;
}
.hero-wrapper-2{
  right: 64%;
    /* top: 16%; */
    top: 22%;
    width: 15.4vw;
    aspect-ratio: 296/401;
}
.hero-wrapper-3{
  right: 40%;
    /* top: 6%; */
    top: 13%;
    width: 12.4vw;
    aspect-ratio: 238/354;
}
.hero-wrapper-4{
  left: 83%;
    top: 12%;
    width: 14.2vw;
    aspect-ratio: 272/210;
}
.hero-wrapper-5{
  right: 84%;
    /* top: 44%; */
    top: 50%;
    width: 11.4vw;
    aspect-ratio: 219/301;
}
.hero-wrapper-6{
  left: 68%;
    /* top: 29%; */
    top: 34%;
    width: 12.6vw;
    aspect-ratio: 242/330;
}
.hero-wrapper-7{
  right: 78%;
    top: 89%;
    width: 12.6vw;
    aspect-ratio: 296/331;
}
.hero-wrapper-8{
  right: 51%;
    /* top: 69%; */
    top: 76%;
    width: 19.3vw;
    aspect-ratio: 370/253;
}
.hero-wrapper-9{
  right: 28%;
    /* top: 74%; */
    top: 81%;
    width: 12.7vw;
    aspect-ratio: 243/320;
}
.hero-wrapper-10{
  left: 83%;
    top: 51%;
    width: 13.2vw;
    aspect-ratio: 253/343;
}
.hero-wrapper-11{
  left: 77%;
    top: 91%;
    width: 16vw;
    aspect-ratio: 306/217;
}
.womne_txt-sp.womne_txt-sp1{
  transform: translate(0px, -100%);
}
.womne_txt-sp.womne_txt-sp2{
  transform: translate(0px, 100%);
}
.women_txt{
  transform: translate(0px, 350%);
}
  .womne_txt-box .button{
  width: 100%;
    max-width: 256px;
    margin-top: 10px;
    transform: translate(0px, 130%);
}
.pc_none{
  display:none;
}
@media screen and (max-width: 992px){
  .mobile_none{
  display:none;
}
  .pc_none{
  display: block;
}
  .banner-women_container h1{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .women_txt{
    padding: 0 50px;
    text-align: center;
    line-height: 1.05;
    font-size: 12px;
  }
  .hero-wrapper-1{
    right: 81%;
    top: 11%;
    width: 19.2vw;
    aspect-ratio: 71/50;
  }
  .hero-wrapper-2 {
    right: 64%;
    top: 25%;
    width: 17.5vw;
}
.hero-wrapper-3 {
    right: 36%;
    top: 9%;
    width: 23.4vw;
}
.hero-wrapper-4 {
    left: 70%;
    top: 9%;
    width: 28.2vw;
}
.hero-wrapper-10 {
    left: 76%;
    top: 25%;
    width: 17.2vw;
}
.hero-wrapper-5 {
    right: 65%;
    top: 62%;
    width: 25.4vw;
}
.hero-wrapper-7 {
    right: 75%;
    top: 84%;
    width: 21vw;
}
.hero-wrapper-8 {
    right: 36%;
    top: 68%;
    width: 19.3vw;
      aspect-ratio: 76/94;
}
.hero-wrapper-6 {
    left: 71%;
    top: 62%;
    width: 20.6vw;
}
.hero-wrapper-9 {
    right: 43%;
    top: 85%;
    width: 18.7vw;
}
.hero-wrapper-11 {
    left: 67%;
    top: 88%;
    width: 32vw;
  aspect-ratio: 119/83;
}
.banner-women_container{
  top: 61.33px;
}
.women_img img{
    border-radius: 6px;
}
.banner-women_container .womne_txt-box {
    /* transform: translateY(-56%); */
  transform: translateY(-43%);
}
    .womne_txt-box .button{
      /* display:none; */
          line-height: 40px;
    max-width: 198px;
      margin-top: 0;
}
}
</style>

<section class="banner-women">
  <div class="banner-women_wrapper">
    <div class="banner-women_container">
      <div class="womne_txt-box">
        <h1>
          <span class="womne_txt-sp womne_txt-sp1">
            <span id="title1">Empower Your Glow</span>
          </span>
          <span class="womne_txt-sp womne_txt-sp2">
            <span id="title2">and Save £80</span>
          </span>
        </h1>
        <div class="women_txt">
          
        </div>
        {%- if section.settings.button_txt != blank -%}
          <!-- <a href="{{ section.settings.button_url }}" class="button button--primary button--animate to_button">{{ section.settings.button_txt }} -->
          <a href="#{{ section.settings.link_id }}" class="button button--primary button--animate to_button">{{ section.settings.button_txt }}
          </a>
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-1" id="hero-wrapper-1">
        {%- if section.settings.image_1 != blank -%}
          <img id="hero-img-1" class="monter_img" src="{{ section.settings.image_1 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-2" id="hero-wrapper-2">
        {%- if section.settings.image_2 != blank -%}
          <img id="hero-img-2" class="monter_img" src="{{ section.settings.image_2 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-3" id="hero-wrapper-3">
        {%- if section.settings.image_3 != blank -%}
          <img id="hero-img-3" class="monter_img" src="{{ section.settings.image_3 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-4" id="hero-wrapper-4">
        {%- if section.settings.image_4 != blank -%}
          <img id="hero-img-4" class="monter_img" src="{{ section.settings.image_4 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-5" id="hero-wrapper-5">
        {%- if section.settings.image_5 != blank -%}
          <img id="hero-img-5" class="monter_img" src="{{ section.settings.image_5 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-6" id="hero-wrapper-6">
        {%- if section.settings.image_6 != blank -%}
          <img id="hero-img-6" class="monter_img" src="{{ section.settings.image_6 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-7" id="hero-wrapper-7">
        {%- if section.settings.image_7 != blank -%}
          <img id="hero-img-7" class="monter_img" src="{{ section.settings.image_7 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-8" id="hero-wrapper-8">
        {%- if section.settings.image_8 != blank -%}
          <img id="hero-img-8" class="monter_img mobile_none" src="{{ section.settings.image_8 | image_url }}">
        {%- endif -%}
        {%- if section.settings.image_8_mobile != blank -%}
          <img id="hero-img-8-1" class="monter_img pc_none" src="{{ section.settings.image_8_mobile | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-9" id="hero-wrapper-9">
        {%- if section.settings.image_9 != blank -%}
          <img id="hero-img-9" class="monter_img" src="{{ section.settings.image_9 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-10" id="hero-wrapper-10">
        {%- if section.settings.image_10 != blank -%}
          <img id="hero-img-10" class="monter_img" src="{{ section.settings.image_10 | image_url }}">
        {%- endif -%}
      </div>
      <div class="women_img hero-wrapper-11" id="hero-wrapper-11">
        {%- if section.settings.image_11 != blank -%}
          <img id="hero-img-11" class="monter_img" src="{{ section.settings.image_11 | image_url }}">
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
<script>
  // gsap.timeline().to('.womne_txt-sp1',{duration: 0.8,y: '0%'}).to('.womne_txt-sp2', {duration: 0.8,y: '0%'},"<").to('.women_txt', {duration: 0.8,y: '0%'}).to('.to_button', {duration: 0.8,y: '0%'})
window.addEventListener("load", function () {
    gsap.registerPlugin(ScrollTrigger);

    // gsap.timeline().to('.womne_txt-sp1',{duration: 0.8,y: '0%'}).to('.womne_txt-sp2', {duration: 0.8,y: '0%'},"<").to('.women_txt', {duration: 0.8,y: '0%'}).to('.to_button', {duration: 0.8,y: '0%'})

     gsap.timeline().to('.womne_txt-sp1',{duration: 0.8,y: '0%'}).to('.womne_txt-sp2', {duration: 0.8,y: '0%'},"<").to('.to_button', {duration: 0.8,y: '0%'})
    gsap.to('.women_img', {
      duration: 1,
    y: '-50%',
    scrollTrigger: {
      trigger: '.banner-women',
      start: "top top",
      end: "+=300%",
      scrub: 1
    }
  });


  gsap.to('#hero-img-1', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=30%",
      end: "+=170%",
      scrub: 1
    }
  });
  gsap.to('#hero-img-2', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=30%",
      end: "+=150%",
      scrub: 1
    }
  });
  gsap.to('#hero-img-3', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=40%",
      end: "+=150%",
      scrub: 1
    }
  });
  gsap.to('#hero-img-4', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "top top",
      end: "+=200%",
      scrub: 1
    }
  });
  gsap.to('#hero-img-5', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=30%",
      end: "+=170%",
      scrub: 1
    }
  });

  gsap.to('#hero-img-6', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "top top",
      end: "+=200%",
      scrub: 1
    }
  });

  gsap.to('#hero-img-7', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=40%",
      end: "+=160%",
      scrub: 1
    }
  });
  gsap.to('#hero-img-8', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=30%",
      end: "+=170%",
      scrub: 1
    }
  });
    gsap.to('#hero-img-8-1', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=30%",
      end: "+=170%",
      scrub: 1
    }
  });
  gsap.to('#hero-img-9', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=40%",
      end: "+=160%",
      scrub: 1
    }
  });
  gsap.to('#hero-img-10', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "top top",
      end: "+=200%",
      scrub: 1
    }
  });

  gsap.to('#hero-img-11', {
    inset: "0% 0px 0px",
    duration: 1,
    opacity: 1,
    scrollTrigger: {
      trigger: '.banner-women',
      start: "+=40%",
      end: "+=160%",
      scrub: 1
    }
  });

  // gsap.to('.banner-women_container', {
  //   y: '-100%',
  //   duration: 0.1,
  //   scrollTrigger: {
  //     trigger: '.banner-women_container',
  //     start: "+=150%",
  //     end: "+=250%",
  //     scrub: 1
  //   }
  // });

  // ScrollTrigger.create({
  //     trigger: '.banner-women_container',
  //     start: "+=160%",
  //     end: "+=200%",
  //     scrub: true,
  //     animation:
  //     gsap.to('.banner-women_container', { y: '-100%', })
  //   });

  document.querySelector('.to_button').addEventListener('click', function(e){
    e.preventDefault(); // 阻止默认跳转行为
      const targetId = this.getAttribute('href'); // 获取目标模块的 ID
      const targetSection = document.querySelector(targetId); // 获取目标模块
      targetSection.scrollIntoView({ behavior: 'smooth' }); // 平滑滚动到目标模块
  })
  
      })


</script>
{% schema %}
{
  "name": "Banner Women",
  "class": "shopify-section--banner-women",
  "settings": [
  {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Order now to win limited skin moisturizer with any order."
      },
      {
      "type": "text",
      "id": "link_id",
      "label": "Link ID"
    },
  {
      "type": "text",
      "id": "button_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link URL"
    },

    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Image 5"
    },
    {
      "type": "image_picker",
      "id": "image_6",
      "label": "Image 6"
    },
    {
      "type": "image_picker",
      "id": "image_7",
      "label": "Image 7"
    },
    {
      "type": "image_picker",
      "id": "image_8",
      "label": "Image 8"
    },
    {
      "type": "image_picker",
      "id": "image_8_mobile",
      "label": "Mobile Image 8"
    },
    {
      "type": "image_picker",
      "id": "image_9",
      "label": "Image 9"
    },
    {
      "type": "image_picker",
      "id": "image_10",
      "label": "Image 10"
    },
    {
      "type": "image_picker",
      "id": "image_11",
      "label": "Image 11"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Banner Women",
      "settings": {},
      "blocks": [
      ]
    }
  ]
}
{% endschema %}