<link href="//cdn.shopify.com/s/files/1/0740/5882/6015/t/15/assets/swiper.min.css" rel="stylesheet" type="text/css" media="all" crossorigin="">
<script src="//cdn.shopify.com/s/files/1/0740/5882/6015/t/15/assets/swiper.min.js"></script>
<style>
.christmas-swiper {
  overflow: hidden;
}
.christmas-swiper .christmas-swiper-cont {
  display: flex;
}

.christmas-swiper .christmas-swiper-left,
.christmas-swiper .christmas-swiper-right {
  width: 50%;
}

.christmas-swiper .christmas-swiper-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.christmas-swiper .christmas-swiper-img .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.christmas-swiper .christmas-swiper-img.active {
  position: relative;
  opacity: 1;
  height: 100%;
  margin-right: -60px;
}

.christmas-swiper .christmas-swiper-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  padding-right: 60px;
}

.christmas-swiper .christmas-swiper-text {
  max-width: 570px;
}

.christmas-swiper .christmas-swiper-text-item {
  display: none;
  text-align: center;
  color: #3f3636;
}

.christmas-swiper .christmas-swiper-text-item.active {
  display: block;
}

.christmas-swiper .christmas-swiper-h3 {
  font-size: 44px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
}

.christmas-swiper .christmas-swiper-p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.christmas-swiper .christmas-swiper-sm-img {
  margin-top: 58px;
  overflow: hidden;
  width: 68.889%;
  max-width: 620px;
}

.christmas-swiper .christmas-swiper-sm-list {
  display: flex;
  align-items: center;
  padding: 7% 0;
  padding-bottom: calc(7% + 35px);
}

.christmas-swiper .christmas-swiper-sm-item {
  flex-shrink: 0;
  width: 22.58%;
  cursor: pointer;
  height: auto;
}

.christmas-swiper .christmas-swiper-sm-txt {
  color: #3f3636;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  font-family: var(--heading-font-family);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -55%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.christmas-swiper .christmas-swiper-sm-item.swiper-slide-active {
  cursor: default;
}
.christmas-swiper
  .christmas-swiper-sm-item.swiper-slide-active
  .christmas-swiper-sm-txt {
  opacity: 1;
}
.christmas-swiper .christmas-swiper-sm-item .sm-img {
  transition: transform 0.4s ease;
}

.christmas-swiper .christmas-swiper-sm-item.swiper-slide-active .sm-img {
  transform-origin: center center;
  transform: scale(1.628);
}
.christmas-swiper .sm-img {
  display: block;
  width: 100%;
}

.christmas-swiper .christmas-swiper-tab {
  margin-top: 118px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

.christmas-swiper .christmas-swiper-tab-list {
  display: flex;
  gap: 10px;
  max-width: 100%;
  overflow-x: auto;
}

.christmas-swiper .christmas-swiper-tab-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.christmas-swiper .christmas-swiper-tab-item {
  padding: 0 19px;
  height: 43px;
  display: inline-flex;
  align-items: center;
  border-radius: 45px;
  border: 1px solid #d9d9d9;
  color: #333;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.4s ease;
  flex-shrink: 0;
  user-select: none;
}

.christmas-swiper .christmas-swiper-tab-item.active {
  border-color: #000;
  color: #000;
  font-family: var(--heading-font-family);
}

.christmas-swiper .christmas-swiper-arraws {
  position: absolute;
  width: calc(100% - 60px);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

.christmas-swiper .christmas-swiper-arraw {
  cursor: pointer;
  pointer-events: all;
  outline: none;
}
.christmas-swiper .christmas-swiper-arraw svg {
  display: block;
  max-width: 100%;
}
@media (max-width: 1600px) {
  .christmas-swiper .christmas-swiper-left {
    padding-right: 40px;
  }
  .christmas-swiper .christmas-swiper-sm-img {
    width: 84%;
  }
  .christmas-swiper .christmas-swiper-arraws {
    width: calc(100% - 40px);
  }
  .christmas-swiper .christmas-swiper-arraw {
    width: 40px;
  }
  .christmas-swiper .christmas-swiper-sm-txt {
    bottom: -55%;
  }
}

@media (max-width: 991px) {
  .christmas-swiper {
    padding: 45px 0;
  }
  .christmas-swiper .christmas-swiper-left {
    padding: 0;
    gap: 22px;
  }
  .christmas-swiper .christmas-swiper-arraws {
    display: none;
  }
  .christmas-swiper .christmas-swiper-cont {
    flex-direction: column;
    gap: 22px;
  }
  .christmas-swiper .christmas-swiper-left,
  .christmas-swiper .christmas-swiper-right {
    width: 100%;
  }
  .christmas-swiper .christmas-swiper-img .img{
    height:auto;
  }
  .christmas-swiper .christmas-swiper-img.active {
    margin-right: 0;
  }
  .christmas-swiper .christmas-swiper-h3 {
    font-size: 26px;
    line-height: 1.25;
  }
  .christmas-swiper .christmas-swiper-p {
    font-size: 12px;
    margin-top: 10px;
  }
  .christmas-swiper .christmas-swiper-sm-img {
    width: 100%;
    margin-top: 0;
  }
  .christmas-swiper .christmas-swiper-tab {
    margin-top: 0;
  }
  .christmas-swiper .christmas-swiper-sm-item.swiper-slide-active .sm-img {
    transform: scale(1);
  }
  .christmas-swiper .christmas-swiper-sm-img {
    max-width: 100%;
  }
  .christmas-swiper .christmas-swiper-sm-list {
    padding: 0;
  }
  .christmas-swiper .christmas-swiper-sm-txt {
    font-size: 12px;
    position: relative;
    bottom: auto;
    left: auto;
    transform: translateX(0);
    white-space: normal;
    flex: 1;
    text-align: left;
    opacity: 1;
  }
  .christmas-swiper .christmas-swiper-sm-item {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 255px;
  }
  .christmas-swiper .christmas-swiper-sm-item .sm-img {
    width: 128px;
  }
  .christmas-swiper .christmas-swiper-tab-item {
    font-size: 14px;
    height: 37px;
  }
  .christmas-swiper .christmas-swiper-text,
  .christmas-swiper .christmas-swiper-tab {
    order: -1;
  }
}
</style>
<section class="section-box">
  <div class="christmas-swiper">
    <div class="container">
      <div class="christmas-swiper-cont">
        <div class="christmas-swiper-left">
          <div class="christmas-swiper-text">
            {% for block in section.blocks %}
              <div class="christmas-swiper-text-item {% if forloop.index == 1 %}active{% endif %}">
                <div class="christmas-swiper-h3">{{ block.settings.text }}</div>
                <div class="christmas-swiper-p">{{ block.settings.text1 }}</div>
              </div>
            {% endfor %}
          </div>
          <div class="christmas-swiper-sm-img">
            <div class="christmas-swiper-sm-list swiper-wrapper">
              {% for block in section.blocks %}
                <div class="christmas-swiper-sm-item swiper-slide">
                  <img src="{{ block.settings.image | image_url }}" width="" height="" class="sm-img" alt="">
                  <div class="christmas-swiper-sm-txt">
                   {{ block.settings.text2 }}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="christmas-swiper-tab">
            <div class="christmas-swiper-tab-list">
              {% for block in section.blocks %}
                <div class="christmas-swiper-tab-item {% if forloop.index == 1 %}active{% endif %}">{{ block.settings.text3 }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="christmas-swiper-arraws">
            <div class="christmas-swiper-arraw christmas-swiper-arraw-left">
              <svg xmlns="http://www.w3.org/2000/svg" width="51" height="52" viewBox="0 0 51 52" fill="none">
                <g clip-path="url(#clip0_6065_375)">
                  <circle cx="25.5078" cy="25.8906" r="24.9205" stroke="#3F3636" stroke-width="1.15909" />
                  <path
                    d="M15.076 26.4465C15.076 26.5843 15.128 26.7211 15.2275 26.8256L23.1433 35.1634L23.9699 34.4052L16.9418 27.0023H38.2578C38.2578 26.3887 37.7512 25.8906 37.127 25.8906H15.6674C15.4537 25.8906 15.2456 25.9962 15.1438 26.1819C15.0975 26.2653 15.076 26.3564 15.076 26.4465Z"
                    fill="#3F3636" />
                  <path
                    d="M15.0759 23.2542C15.6085 23.6785 16.4706 23.6785 17.0018 23.2542L24.3486 17.3871L23.3857 16.6179L15.0773 23.2542H15.0759Z"
                    fill="#3F3636" />
                </g>
                <defs>
                  <clipPath id="clip0_6065_375">
                    <rect width="51" height="51" fill="white" transform="matrix(-1 0 0 1 51.0078 0.390625)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="christmas-swiper-arraw christmas-swiper-arraw-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="51" height="52" viewBox="0 0 51 52" fill="none">
                <g clip-path="url(#clip0_6065_379)">
                  <circle cx="25.5" cy="25.5" r="24.9205" transform="matrix(-1 0 0 1 51.0078 0.390625)" stroke="#3F3636"
                    stroke-width="1.15909" />
                  <path
                    d="M37.0988 26.377C37.0988 26.4976 37.0468 26.6173 36.9473 26.7087L29.0315 34.0043L28.2049 33.3409L35.233 26.8634H13.917C13.917 26.3264 14.4236 25.8906 15.0478 25.8906H36.5074C36.7211 25.8906 36.9292 25.983 37.031 26.1455C37.0773 26.2184 37.0988 26.2982 37.0988 26.377Z"
                    fill="#3F3636" />
                  <path
                    d="M35.9394 23.3074C35.54 23.6609 34.8934 23.6609 34.495 23.3074L28.9849 18.4181L29.7071 17.7771L35.9384 23.3074H35.9394Z"
                    fill="#3F3636" />
                </g>
                <defs>
                  <clipPath id="clip0_6065_379">
                    <rect width="51" height="51" fill="white" transform="translate(0.0078125 0.390625)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="christmas-swiper-right">
          {% for block in section.blocks %}
            <div class="christmas-swiper-img {% if forloop.index == 1 %}active{% endif %}">
              <picture>
                <source srcset="{{ block.settings.image2 | image_url }}" media="(max-width: 991px)">
                <img src="{{ block.settings.image1 | image_url }}" alt="" width="" height="" class="img">
              </picture>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>
<script>
  const scrollContainer = document.querySelector('.christmas-swiper-tab-list');
    let isDown = false;
    let startX;
    let scrollLeft;
    scrollContainer.addEventListener('mousedown', (e) => {
      isDown = true;
      scrollContainer.classList.add('active');
      startX = e.pageX - scrollContainer.offsetLeft;
      scrollLeft = scrollContainer.scrollLeft;
    });

    scrollContainer.addEventListener('mouseleave', () => {
      isDown = false;
      scrollContainer.classList.remove('active');
    });

    scrollContainer.addEventListener('mouseup', () => {
      isDown = false;
      scrollContainer.classList.remove('active');
    });

    scrollContainer.addEventListener('mousemove', (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - scrollContainer.offsetLeft;
      const walk = (x - startX) * 2; // 调整滑动速度
      scrollContainer.scrollLeft = scrollLeft - walk;
    });

    var aaswiper = new Swiper('.christmas-swiper-sm-img', {
      centeredSlides: true,
      initialSlide: 0,
      loop: true,
      paginationType: 'bullets',
      slidesPerView: 'auto',
      preventClicks: false,
      spaceBetween: '16.129%',
      navigation: {
        nextEl: ".christmas-swiper-arraw-right",
        prevEl: ".christmas-swiper-arraw-left",
      },
      on: {
        slideChange: function () {
          $('.christmas-swiper-tab-item').removeClass('active').eq(this.realIndex).addClass('active');
          $('.christmas-swiper-img').removeClass('active').eq(this.realIndex).addClass('active');
          $('.christmas-swiper-text-item').removeClass('active').eq(this.realIndex).addClass('active');
          const scrollContainer = document.querySelector('.christmas-swiper-tab-list');
          const containerLeft = scrollContainer.offsetLeft;
          const itemLeft = document.querySelector('.christmas-swiper-tab-item.active').offsetLeft;
          const scrollAmount = itemLeft - containerLeft;
          scrollContainer.scrollTo({
            left: scrollAmount,
            behavior: 'smooth',
          });
        },
      },
      breakpoints: {
        991: {
          centeredSlides: false,
          spaceBetween: 15
        },
      }
    });
    $('.christmas-swiper .christmas-swiper-tab-item').click(function () {
      var index = $(this).index();
      aaswiper.slideToLoop(index);
    })
</script>
{% schema %}
{
"name": "christmas-swiper",
"blocks": [
  {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image Left"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image Right"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image Right M"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Title Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text3",
        "label": "Text"
      }
    ]
  }
],
  "presets": [
  {
    "name": "christmas-swiper",
    "blocks": []
  }
]
}
{% endschema %}