<style>
#main::after{
  content: '';
  display: block;
  padding-bottom:70px;
}
.comparison-top-sticky-box{
  position: sticky;
  {%- if section.settings.bottom_s -%}
    top: calc(100vh - 70px);
  {%- else -%%}
    top: var(--header-height);
  {%- endif -%}
  z-index: 10;
  
  border-top: 1px solid rgba(63, 54, 54, .25);
  border-bottom: 1px solid rgba(63, 54, 54, .25)
}
  .comparison-top-sticky{
    background: #fff;
    padding: 16px 0;
  }

.comparison-top-sticky .comparison-top-sticky-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.comparison-top-sticky .comparison-top-sticky-left{
  display: flex;
  align-items: center;
  gap: 25px;
}

.comparison-top-sticky .comparison-top-sticky-item{
  color: #190A0A;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.32px;
  cursor: pointer;
  opacity: .5;
  transition: color 0.3s ease;
}

.comparison-top-sticky .comparison-top-sticky-item::first-letter {
  font-size: 12px;
  vertical-align: super;
}
.comparison-top-sticky .comparison-top-sticky-item.active,
.comparison-top-sticky .comparison-top-sticky-item:hover{
  color: #E0004D;
  opacity: 1;
}

.comparison-top-sticky .hair-ads-sticky-cont{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.comparison-top-sticky .hair-ads-sticky-left{
  display: flex;
  gap: 30px;
  align-items: center;
  color: #190A0A;
  font-size: 28px;
  line-height: 1.3;
}

.comparison-top-sticky .hair-ads-sticky-countdown{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.comparison-top-sticky .hair-ads-sticky-num{
  display: flex;
  align-items: center;
  gap: 5px;
}

.comparison-top-sticky .hair-ads-sticky-num .time{
  width: 36px;
  height: 36px;
  background: #190A0A;
  color: #FFF;
  font-size: 21px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-t{
  display:none;
}
.pd-diy .txt-t,.chr-2024 .txt-t{
  display:block;
}
.comparison-top-sticky .hair-ads-sticky-price{
  color: #190A0A;
  font-size: 28px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  gap:8px;
}

.comparison-top-sticky .hair-ads-sticky-price .n{
  color: #E0004D;
}
.comparison-top-sticky .hair-ads-sticky-price .d{
  text-decoration: line-through;
  color: #A1A1A1;
}
.comparison-top-sticky .hair-ads-sticky-btn{
  width: 150px;
  height: 37px;
  color: #FFF;
  font-size: 14px;
  background: #190A0A;
  border-radius: 37px;
  cursor: pointer;
  border: 2px solid #190A0A;
  font-family: var(--heading-font-family);
}

.comparison-top-sticky .hair-ads-sticky-btn .btn-txt::before{
  color: #000;
}

@media (max-width:1300px) {
  .comparison-top-sticky .comparison-top-sticky-item{
    font-size: 14px;
  }
  .comparison-top-sticky .hair-ads-sticky-cont{
    gap: 15px;
  }
  .comparison-top-sticky .hair-ads-sticky-left{
    gap: 15px;
  }
  .comparison-top-sticky .hair-ads-sticky-price{
    font-size: 20px;
  }
  .comparison-top-sticky .hair-ads-sticky-num .time{
    font-size: 16px;
    width: 30px;
    height: 30px;
  }
  .comparison-top-sticky .hair-ads-sticky-countdown{
    font-size: 14px;
  }
  .comparison-top-sticky .hair-ads-sticky-btn{
    width: 130px;
  }
}

  .summer-sticky{
    background: #E6F9FA;
  }

  .pd-diy{
    background: #F0EFFF;
  }

@media (max-width:991px) {
  .comparison-top-sticky-box {
    {%- if section.settings.bottom_s -%}
      top: calc(100vh - 51px);
    {%- else -%}
      top: 0;
    {%- endif -%}
    
    overflow: hidden;
  }
  .comparison-top-sticky{
    padding: 10px 0;
  }
  .comparison-top-sticky .comparison-top-sticky-cont{
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .summer-sticky .comparison-top-sticky-cont{
    gap: 0px;
  }
  .comparison-top-sticky .comparison-top-sticky-left{
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    gap: 0;
    position: relative;
  }
  .comparison-top-sticky .comparison-top-sticky-left::before{
    content: '';
    display: block;
    position: absolute;
    width: 120vw;
    height: 1px;
    background: rgba(63, 54, 54, .25);
    top: -1px;
    left: -10vw;
  }
  .comparison-top-sticky .comparison-top-sticky-item{
    font-size: 12px;
  }
  .comparison-top-sticky .comparison-top-sticky-item::first-letter {
    zoom:.3;
  }
  .comparison-top-sticky .comparison-top-sticky-right{
    width: 100%;
  }
  .comparison-top-sticky .hair-ads-sticky-btn{
    width: 105px;
    height: 30px;
    font-size: 12px;
  }
  .comparison-top-sticky .hair-ads-sticky-cont{
    justify-content: space-between;
    gap: 10px;
  }
  .comparison-top-sticky .hair-ads-sticky-left{
    flex: 1;
    justify-content: space-between;
  }
  .comparison-top-sticky .hair-ads-sticky-price{
    gap: 8px;
    /* flex-direction: column; */
  }
  .chr-2024.comparison-top-sticky .hair-ads-sticky-price{
    gap: 0px;
    flex-direction: column;
  }
  .comparison-top-sticky .hair-ads-sticky-price .n{
    font-size: 12px;
    color: #E0004D;
  }
  .comparison-top-sticky .hair-ads-sticky-price .d{
    color: #A1A1A1;
    font-size: 12px;
  }
  .comparison-top-sticky .txt{
    display: none;
  }

  .comparison-top-sticky .hair-ads-sticky-countdown{
    font-family: var(--text-font-family);
    gap: 10px;
    font-size: 12px;
  }

  .comparison-top-sticky .hair-ads-sticky-num .time{
    font-size: 12px;
    width: 25px;
    height: 25px;
  }
  .comparison-top-sticky .hair-ads-sticky-num{
    
    gap: 3px;
  }

  .comparison-top-sticky .hair-ads-sticky-p{
    display: none;
  }
#main::after{
  padding-bottom:50px;
}
  .chr-2024 .txt-t{
    display:none;
  }
}
</style>

<section class="section-box">
  <div class="comparison-top-sticky {{ section.settings.text12 }}" style="background:{{ section.settings.bg_color }}">
    <div class="container">
      <div class="comparison-top-sticky-cont">
        {%- if section.settings.text5 != blank or section.settings.text7 != blank or section.settings.text9 != blank -%}
          <div class="comparison-top-sticky-left">
            <div class="comparison-top-sticky-item" data-name="{{ section.settings.text6 }}">{{ section.settings.text5 }}</div>
            <div class="comparison-top-sticky-item" data-name="{{ section.settings.text8 }}">{{ section.settings.text7 }}</div>
            <div class="comparison-top-sticky-item" data-name="{{ section.settings.text10 }}">{{ section.settings.text9 }}</div>
          </div>
        {%- else -%}
          <div></div>
        {%- endif -%}
        <div class="comparison-top-sticky-right">
          <div class="hair-ads-sticky-cont">
            <div class="hair-ads-sticky-left">
              <div class="hair-ads-sticky-countdown">
                <div class="hair-ads-sticky-p">
                  {{ section.settings.text }}
                </div>
                {%- if section.settings.id_day -%}
                  <div class="hair-ads-sticky-num">
                    <span class="d time">00</span>
                    <span class="txt-t">D</span>
                    :
                    <span class="h time">00</span>
                    <span class="txt-t">H</span>
                    : 
                    <span class="m time">00</span>
                    <span class="txt-t">M</span>
                    {%- if section.settings.id_s -%}
                      :
                      <span class="s time">00</span>
                      <span class="txt-t">S</span>
                    {%- endif -%}
                  </div>
                {%- else -%}
                  <div class="hair-ads-sticky-num">
                    <span class="h time">00</span>
                    <span class="txt-t">H</span>
                    : 
                    <span class="m time">00</span>
                    <span class="txt-t">M</span>
                    :
                    <span class="s time">00</span>
                    <span class="txt-t">S</span>
                  </div>
                {%- endif -%}
              </div>
              <div class="hair-ads-sticky-price">
                <span class="n">{{ section.settings.text1 }}</span>
                <span class="d">{{ section.settings.text2 }}</span>
              </div>
            </div>
            {%- if section.settings.text3 != blank -%}
            <a href="{{ section.settings.text4 }}" class="hair-ads-sticky-btn btn-diy">
              <div class="btn-txt" text="{{ section.settings.text3 }}">
                <span>{{ section.settings.text3 }}</span>
              </div>
            </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  window.addEventListener('load', function() {
    // Example usage
    
  })
  document.addEventListener('DOMContentLoaded', function() {
    {%- if section.settings.id_day -%}
      function padZero(num) {
        return num < 10 ? `0${num}` : `${num}`;
      }
      function countdownDay(endTime, callback) {
        if (!endTime) {
          callback({ days: 0, hours: 0, minutes: 0, seconds: 0 });
          return;
        }
          // 确保输入的目标时间是 Date 对象
          const targetTime = typeof endTime === 'string' ? new Date(endTime) : endTime;
      
          // 定时器
          const timer = setInterval(() => {
              const currentTime = new Date(); // 当前时间
              const remainingTime = targetTime - currentTime; // 剩余时间（毫秒）
      
              if (remainingTime <= 0) {
                  clearInterval(timer); // 清除定时器
                  callback({ days: 0, hours: 0, minutes: 0, seconds: 0 }); // 返回全零
                  return;
              }
      
              // 计算天、时、分、秒
              const days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
              const hours = Math.floor((remainingTime / (1000 * 60 * 60)) % 24);
              const minutes = Math.floor((remainingTime / (1000 * 60)) % 60);
              const seconds = Math.floor((remainingTime / 1000) % 60);
      
              // 返回剩余时间
              callback({ days, hours, minutes, seconds });
          }, 1000);
      }
      countdownDay("{{ section.settings.text11 }}", (remainingTime) => {
        const { days, hours, minutes, seconds } = remainingTime;
        // console.log(`剩余时间: ${days}天 ${hours}小时 ${minutes}分钟 ${seconds}秒`);
        $('.comparison-top-sticky .hair-ads-sticky-num .d').html(padZero(days))
        $('.comparison-top-sticky .hair-ads-sticky-num .h').html(padZero(hours))
        $('.comparison-top-sticky .hair-ads-sticky-num .m').html(padZero(minutes))
        {% if section.settings.id_s %}
          $('.comparison-top-sticky .hair-ads-sticky-num .s').html(padZero(seconds))
        {% endif %}
      });

        
    {%- else -%}
      const countdown = new Countdown("{{ section.settings.text11 }}", ".comparison-top-sticky",'loop');
    {%- endif -%}
  })
  
  document.querySelector('.comparison-top-sticky .hair-ads-sticky-btn').addEventListener('click', function(e){
    e.preventDefault();
    
    let targetSectionId = this.getAttribute('href').substring(1);
    scrollToSection(targetSectionId);
  })
  
  document.querySelectorAll('.comparison-top-sticky-item').forEach(item=>{
    item.addEventListener('click', function(e){
      // 获取目标 section 的 ID
      
      let targetSectionId = this.getAttribute('data-name').substring(1);
      
      // 调用 scrollToSection 函数滚动到目标 section
      scrollToSection(targetSectionId);
    })
   })
  
  window.addEventListener('scroll', function() {
    // 获取当前可视区域的顶部位置
    const scrollPosition = window.scrollY || window.pageYOffset;
    // 遍历所有的 <li> 元素
    // 移除之前高亮的导航
      document.querySelectorAll('.comparison-top-sticky-item').forEach(item => {
          item.classList.remove('active');
      });
      document.querySelectorAll('.comparison-top-sticky-item').forEach(item=> {
        if(item.getAttribute('data-name')){
          // 获取目标 section 的 ID
          let targetSectionId = item.getAttribute('data-name').substring(1);
          // 获取目标 section 的元素
          let targetSection = document.getElementById(targetSectionId);
          const sectionTop = targetSection.offsetTop;
          const sectionHeight = targetSection.offsetHeight;
          // 检查是否在可视区域内
          if ((scrollPosition ) >= (sectionTop - 100) && scrollPosition < (sectionTop + sectionHeight)) {
              // 获取当前 section 的 ID
              const currentId = targetSection.getAttribute('id');
              // 高亮对应导航
              document.querySelector(`.comparison-top-sticky-item[data-name="#${currentId}"]`).classList.add('active');
          }
        }
    });
  });
</script>
{% schema %}
{
  "name": "comparison-top-sticky",
  "class": "comparison-top-sticky-box",
  "settings": [
    {
      "type": "checkbox",
      "id": "bottom_s",
      "label": "固定底部",
      "default":false
    },
    {
      "type": "checkbox",
      "id": "id_day",
      "label": "天-时-分 倒计时",
      "default":false
    },
    {
      "type": "checkbox",
      "id": "id_s",
      "label": "启用天倒计时 显示秒",
      "default":false
    },
    {
      "type": "text",
      "id": "text5",
      "label": "Tab Name"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "跳转 ID"
    },
    {
      "type": "text",
      "id": "text7",
      "label": "Tab Name"
    },
    {
      "type": "text",
      "id": "text8",
      "label": "跳转 ID"
    },
    {
      "type": "text",
      "id": "text9",
      "label": "Tab Name"
    },
    {
      "type": "text",
      "id": "text10",
      "label": "跳转 ID"
    },
    {
      "type": "text",
      "id": "text11",
      "label": "倒计时结束时间",
      "info":"格式-->> 2024-05-15 15:15:15"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "跳转ID"
    },
    {
      "type": "text",
      "id": "text12",
      "label": "自定义class"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景颜色"
    }
  ],
  "presets": [
    {
      "name": "comparison-top-sticky",
      "settings": {},
      "blocks": [
      ]
    }
  ]
}
{% endschema %}