<style>
.evaluations-image {
  padding: 95px 0 65px 0;
}

.evaluations-image .evaluations-image-title {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.evaluations-image .evaluations-image-sub {
  color: #3f3636;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 25px;
}

.evaluations-image .evaluations-image-cont {
  margin-top: 88px;
  position: relative;
  padding: 0 100px;
}

.evaluations-image .evaluations-image-swiper {
  overflow: hidden;
}

.evaluations-image .evaluations-image-list {
  display: flex;
  gap: 40px;
}

.evaluations-image .evaluations-image-item {
  width: 400px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
}

.evaluations-image .evaluations-image-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 25px 30px 25px;
}

.evaluations-image .evaluations-image-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 30px;
}

.evaluations-image .evaluations-image-user-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.evaluations-image .evaluations-image-user .img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.evaluations-image .evaluations-image-user-ins {
  color: #3f3636;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
}

.evaluations-image .evaluations-image-user-name {
  color: #3f3636;
  font-size: 14px;
  line-height: 1.2;
}

.evaluations-image .evaluations-image-user .svg {
  width: 35px;
  height: 35px;
  display: block;
}

.evaluations-image .evaluations-image-txt {
  color: #3f3636;
  font-size: 18px;
  line-height: 1.4;
}

.evaluations-image .evaluations-image-link {
  display: inline-block;
  color: #e7004c;
  font-size: 20px;
  line-height: 1.9;
  text-decoration: underline;
  margin-top: 20px;
}

.evaluations-image .evaluations-image-name {
  color: #3f3636;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.evaluations-image .evaluations-image-name .svg {
  width: 22px;
  height: 22px;
  display: block;
  margin-top: 2px;
}

.evaluations-image .evaluations-image-arraw {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.evaluations-image .evaluations-image-arraw-item {
  cursor: pointer;
  pointer-events: all;
}

.evaluations-image .evaluations-image-dot {
  display: none;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

.evaluations-image .evaluations-image-dot-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
}
.evaluations-image .evaluations-image-dot-item.active {
  background: #190a0a;
}

@media (min-width: 991px) {
.kol-diy{
    padding-bottom:80px;
  }
}

@media (max-width: 991px) {
  .evaluations-image {
    padding: 60px 0;
  }
  .kol-diy{
    padding-bottom:30px;
  }
  .evaluations-image .evaluations-image-title {
    font-size: 26px;
    line-height: 1.25;
  }
  .evaluations-image .evaluations-image-sub {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 15px;
  }
  .evaluations-image .evaluations-image-cont {
    margin-top: 40px;
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .evaluations-image .evaluations-image-cont {
    padding: 0;
  }
  .evaluations-image .evaluations-image-arraw {
    display: none;
  }
  .evaluations-image .evaluations-image-dot {
    display: flex;
  }
  .evaluations-image .evaluations-image-item {
    width: 100%;
  }
  .evaluations-image .evaluations-image-text {
    padding: 30px 18px;
  }
  .evaluations-image .evaluations-image-user .img {
    width: 34px;
    height: 34px;
  }
  .evaluations-image .evaluations-image-user-ins {
    font-size: 14px;
  }
  .evaluations-image .evaluations-image-user-name {
    font-size: 12px;
  }
  .evaluations-image .evaluations-image-user .svg {
    width: 25px;
    height: 25px;
  }
  .evaluations-image .evaluations-image-user {
    margin-top: 25px;
  }
  .evaluations-image .evaluations-image-txt {
    font-size: 12px;
  }
  .evaluations-image .evaluations-image-link {
    font-size: 14px;
    margin-top: 15px;
  }
  .evaluations-image .evaluations-image-name {
    margin-top: 30px;
    font-size: 14px;
  }
  .evaluations-image .evaluations-image-name .svg {
    width: 16px;
    height: 16px;
  }
}
</style>
   <section class="{{ section.settings.text1 }}">
     <div class="evaluations-image">
      <div class="container">
        <div class="evaluations-image-title">{{ section.settings.title }}</div>
        <div class="evaluations-image-sub">{{ section.settings.text }}</div>
        <div class="evaluations-image-cont">
          <div class="evaluations-image-swiper">
            <div class="evaluations-image-list">
              {%- for block in section.blocks -%}
                <div class="evaluations-image-item">
                  <div class="evaluations-image-img">
                    {%- if block.settings.image != blank -%}
                      <img class="img" src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image | escape }}"/>
                    {%- endif -%}
                  </div>
                  <div class="evaluations-image-text">
                    <div class="evaluations-image-text-top">
                      {%- if section.settings.showTx -%}
                        <div class="evaluations-image-user">
                          <div class="evaluations-image-user-left">
                             {%- if block.settings.image1 != blank -%}
                              <img class="img" src="{{ block.settings.image1 | image_url }}" alt="{{ block.settings.image1 | escape }}"/>
                            {%- endif -%}
                            <div class="evaluations-image-user-info">
                              <div class="evaluations-image-user-ins">{{ block.settings.text }}</div>
                              <div class="evaluations-image-user-name">{{ block.settings.text1 }}</div>
                            </div>
                          </div>
                          {%- if block.settings.image2 != blank -%}
                            <img class="svg" src="{{ block.settings.image2 | image_url }}" alt="{{ block.settings.image2 | escape }}"/>
                          {%- endif -%}
                          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="11.02mm" height="11.02mm" viewBox="0 0 31.23 31.23">
                            <path
                              d="M15.61,7.6a8,8,0,1,0,8,8A8,8,0,0,0,15.61,7.6Zm0,13.22a5.21,5.21,0,1,1,5.21-5.21A5.22,5.22,0,0,1,15.61,20.82ZM24,5.41a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,24,5.41Z"
                              fill="#3f3636" />
                            <path
                              d="M31.23,15.61c0-2.15,0-4.29-.1-6.44a9.33,9.33,0,0,0-2.52-6.55A9.3,9.3,0,0,0,22.06.1C19.9,0,17.77,0,15.61,0S11.32,0,9.17.1A9.28,9.28,0,0,0,2.62,2.62,9.28,9.28,0,0,0,.1,9.17C0,11.33,0,13.46,0,15.61s0,4.3.1,6.45a9.28,9.28,0,0,0,2.52,6.55,9.28,9.28,0,0,0,6.55,2.52c2.16.12,4.29.1,6.44.1s4.3,0,6.45-.1a9.33,9.33,0,0,0,6.55-2.52,9.3,9.3,0,0,0,2.52-6.55C31.25,19.91,31.23,17.77,31.23,15.61Zm-3.44,9.22a5.35,5.35,0,0,1-3,3c-2.05.82-6.93.64-9.21.64s-7.16.18-9.21-.63a4.91,4.91,0,0,1-1.79-1.18,5,5,0,0,1-1.18-1.79c-.82-2.06-.63-6.94-.63-9.22s-.19-7.16.63-9.21A5,5,0,0,1,4.61,4.61,5,5,0,0,1,6.4,3.43c2-.81,6.93-.63,9.21-.63s7.16-.18,9.22.63a5,5,0,0,1,1.78,1.18A4.82,4.82,0,0,1,27.79,6.4c.82,2,.63,6.94.63,9.21S28.61,22.77,27.79,24.83Z"
                              fill="#3f3636" />
                          </svg> -->
                        </div>
                      {%- endif -%}
                      <div class="evaluations-image-txt">
                        {{ block.settings.text2 }}
                      </div>
                      {%- if section.settings.showTx -%}
                        <a class="evaluations-image-link" target="_blank" href="{{ block.settings.link }}">{{ block.settings.text3 }}</a>
                      {%- endif -%}
                    </div>
                    {% unless section.settings.showTx %}
                      <div class="evaluations-image-name">
                        {%- if block.settings.image2 != blank -%}
                          <img class="svg" src="{{ block.settings.image2 | image_url }}" alt="{{ block.settings.image2 | escape }}"/>
                        {%- endif -%}
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="11.02mm" height="11.02mm" viewBox="0 0 31.23 31.23">
                          <path
                            d="M15.61,7.6a8,8,0,1,0,8,8A8,8,0,0,0,15.61,7.6Zm0,13.22a5.21,5.21,0,1,1,5.21-5.21A5.22,5.22,0,0,1,15.61,20.82ZM24,5.41a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,24,5.41Z"
                            fill="#3f3636" />
                          <path
                            d="M31.23,15.61c0-2.15,0-4.29-.1-6.44a9.33,9.33,0,0,0-2.52-6.55A9.3,9.3,0,0,0,22.06.1C19.9,0,17.77,0,15.61,0S11.32,0,9.17.1A9.28,9.28,0,0,0,2.62,2.62,9.28,9.28,0,0,0,.1,9.17C0,11.33,0,13.46,0,15.61s0,4.3.1,6.45a9.28,9.28,0,0,0,2.52,6.55,9.28,9.28,0,0,0,6.55,2.52c2.16.12,4.29.1,6.44.1s4.3,0,6.45-.1a9.33,9.33,0,0,0,6.55-2.52,9.3,9.3,0,0,0,2.52-6.55C31.25,19.91,31.23,17.77,31.23,15.61Zm-3.44,9.22a5.35,5.35,0,0,1-3,3c-2.05.82-6.93.64-9.21.64s-7.16.18-9.21-.63a4.91,4.91,0,0,1-1.79-1.18,5,5,0,0,1-1.18-1.79c-.82-2.06-.63-6.94-.63-9.22s-.19-7.16.63-9.21A5,5,0,0,1,4.61,4.61,5,5,0,0,1,6.4,3.43c2-.81,6.93-.63,9.21-.63s7.16-.18,9.22.63a5,5,0,0,1,1.78,1.18A4.82,4.82,0,0,1,27.79,6.4c.82,2,.63,6.94.63,9.21S28.61,22.77,27.79,24.83Z"
                            fill="#3f3636" />
                        </svg> -->
                        {{ block.settings.text }}
                      </div>
                    {% endunless %}
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
          <div class="evaluations-image-arraw">
            <div class="evaluations-image-arraw-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="37" height="28" viewBox="0 0 37 28" fill="none">
                <g clip-path="url(#clip0_3843_6433)">
                  <path
                    d="M0.870117 13.6291C0.870117 13.8424 0.950897 14.054 1.10543 14.2157L13.3981 27.1179L14.6818 25.9446L3.76768 14.4892H36.8701C36.8701 13.5396 36.0834 12.7689 35.114 12.7689H1.78856C1.45665 12.7689 1.13353 12.9323 0.975483 13.2196C0.903484 13.3487 0.870117 13.4897 0.870117 13.6291Z"
                    fill="#190A0A" />
                  <path
                    d="M2.70758 10.6134C3.39421 11.2843 4.50582 11.2843 5.1907 10.6134L14.6631 1.33588L13.4215 0.119629L2.70933 10.6134H2.70758Z"
                    fill="#190A0A" />
                </g>
                <defs>
                  <clipPath id="clip0_3843_6433">
                    <rect width="36" height="27" fill="white" transform="matrix(-1 0 0 1 36.8701 0.119629)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="evaluations-image-arraw-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="37" height="28" viewBox="0 0 37 28" fill="none">
                <g clip-path="url(#clip0_3843_6436)">
                  <path
                    d="M36.6172 13.6291C36.6172 13.8424 36.5364 14.054 36.3819 14.2157L24.0892 27.1179L22.8055 25.9446L33.7196 14.4892H0.617188C0.617188 13.5396 1.40392 12.7689 2.37329 12.7689H35.6987C36.0307 12.7689 36.3538 12.9323 36.5118 13.2196C36.5838 13.3487 36.6172 13.4897 36.6172 13.6291Z"
                    fill="#190A0A" />
                  <path
                    d="M34.7797 10.6134C34.0931 11.2843 32.9815 11.2843 32.2966 10.6134L22.8242 1.33588L24.0658 0.119629L34.778 10.6134H34.7797Z"
                    fill="#190A0A" />
                </g>
                <defs>
                  <clipPath id="clip0_3843_6436">
                    <rect width="36" height="27" fill="white" transform="translate(0.617188 0.119629)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="evaluations-image-dot">
          {%- for block in section.blocks -%}
            <div class="evaluations-image-dot-item {% if forloop.index == 1 %}active{% endif %}"></div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </section>
  <script>
    window.addEventListener('load', function () {
      function evaluationsImageSwiper() {
        let $p = $('#shopify-section-{{ section.id }} .evaluations-image')
        let $right = $p.find(`.evaluations-image-swiper`)
        let content = document.querySelector('#shopify-section-{{ section.id }} .evaluations-image .evaluations-image-swiper')
        let $swiper = $p.find(`.evaluations-image-list`)
        let $dot = $p.find(`.evaluations-image-dot-item`)
        let $arraw = $p.find(`.evaluations-image-arraw-item`)
        let boxWidth = $right[0].offsetWidth
        let itemWidth = $p.find('.evaluations-image-item')[0].offsetWidth
        let itemLength = $p.find('.evaluations-image-item').length
        let index = 0
        let timer = null
        function changeLeft() {
          let left = index * (itemWidth + 40)
          if (left < 0) {
            left = 0
          }
          if (left > -boxWidth + (itemWidth + 40) * itemLength - 40) {
            left = -boxWidth + (itemWidth + 40) * itemLength - 40
          }
          $dot.eq(index).addClass('active').siblings().removeClass('active')
          $swiper.css({ transform: `translateX(-${left}px)`, transition: 'all .5s cubic-bezier(0.645, 0.045, 0.355, 1)', })
        }
        $arraw.click(function () {
          let sindex = $(this).index()
          index += sindex ? 1 : -1
          if (index > itemLength - 1) index = itemLength - 1
          if (index < 0) index = 0
          changeLeft()
        })
        $dot.click(function () {
          index = $(this).index()
          changeLeft()
        })
        detectSwipe(content, () => {
          index++
          if (index > itemLength - 1) index = itemLength - 1
          changeLeft()
        }, () => {
          index--
          if (index < 0) index = 0
          changeLeft()
        });

        function detectSwipe(element, onSwipeLeft, onSwipeRight) {
          let startX = 0;

          const getEventX = (event) => {
            return event.touches ? event.touches[0].clientX : event.clientX;
          };

          const handleTouchStart = (e) => {
            startX = getEventX(e);
          };

          const handleTouchMove = (e) => {
            const deltaX = getEventX(e) - startX;
            if (Math.abs(deltaX) > 10 && e.cancelable) {
              e.preventDefault();
            }
          };

          const handleTouchEnd = (e) => {
            const deltaX = getEventX(e.changedTouches ? e.changedTouches[0] : e) - startX;
            if (deltaX > 10) {
              onSwipeRight();
            } else if (deltaX < -10) {
              onSwipeLeft();
            }
          };

          element.addEventListener('touchstart', handleTouchStart);
          element.addEventListener('touchmove', handleTouchMove);
          element.addEventListener('touchend', handleTouchEnd);

          // Add mouse event listeners for PC compatibility
          element.addEventListener('mousedown', handleTouchStart);
          element.addEventListener('mousemove', handleTouchMove);
          element.addEventListener('mouseup', handleTouchEnd);
        }
      }
      evaluationsImageSwiper()
    })
  </script>
{% schema %}
  {
    "name": "evaluations-image",
    "blocks": [
      {
        "name": "item",
        "type": "item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "头像"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "图标"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text1",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text2",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text3",
            "label": "链接文字"
          },
          {
            "type": "url",
            "id": "link",
            "label": "链接"
          }
        ]
      }
    ],
  "settings": [
     {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "showTx",
      "label": "显示头像",
      "default":true
    },
    {
      "type": "text",
      "id": "text1",
      "label": "自定义class"
    }
  ],
  "presets": [
    {
      "name": "evaluations-image",
      "blocks": []
    }
  ]
}
{% endschema %}