<style>
.features-box{
      position: relative;
      z-index: 2;
      overflow: hidden;
      top: 80px !important;
      margin-bottom:50px;
  }
  .features-box .container{
      flex: 1;
      position: relative;
      z-index: 3;
  }
  .features-box .text-mark{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 80px);
      top: 0;
      z-index: 0;
  }
  .features-box .text-mark-txt{
      font-size: 161px;
      color: transparent;
      max-width: 678px;
      text-align: center;
      line-height: 1.1;
      margin: 0 auto;
      background-clip: text;
      -webkit-background-clip: text;
      background-repeat: no-repeat;
      background-image: url({{ section.settings.image | image_url }});
      background-size:100% 200%;
      background-position: 0% 0%;
  }
  .features-box .text-mark-txt p{
    margin:0;
  }
  .features-box .features-box-step{
      width: 100%;
      height: calc(100vh - 80px);
      top: 0px;
      position: absolute;
      z-index: 1;
      overflow: hidden;
      transform-origin: top center;
  }
  .features-box .product-img{
      position: absolute;
      /* width: auto;
      height: 242.3%; */
      
      max-width: none;
      z-index: 0;
      top: 100%;
      right: 100%;
  }
  .features-box .product-img,.features-box .four-img{
      width: 65.78vw;
      height: auto;
  }
  .features-box .features-box-two-text{
      max-width: 300px;
      position: absolute;
      z-index: 1;
      top: 52%;
      left: 49%;
      margin-top: 30px;
      opacity: 0;
  }
  .features-box .features-box-two-text .svg-icon-box{
      position: absolute;
      right: 100%;
      top: -30px;
  }
  .features-box .features-box-three-text{
      max-width: 340px;
      position: absolute;
      z-index: 1;
      top: 55%;
      left: 25%;
      margin-top: 30px;
      opacity: 0;
  }
  
  .features-box .features-box-three-text .svg-icon-box{
      position: absolute;
      left: 100%;
      top: -30px;
  }
  
  .features-box .features-box-four-text{
      max-width: 350px;
      position: absolute;
      z-index: 1;
      top: 58%;
      left: 22%;
      margin-top: 30px;
      opacity: 0;
      color: #fff;
  }
  
  .features-box .features-box-four-text .svg-icon-box{
      position: absolute;
      left: 100%;
      top: -40px;
  }
  
  .features-box .mb-box{
      display: none;
  }
  
  .features-box .features-box-title{
      font-size: 30px;
      line-height: 1.5;
  }
  
  .features-box .features-box-sub{
      font-size: 16px;
      line-height: 1.5;
      margin-top: 20px;
  }
  .features-box .features-box-sub p{
      margin: 0;
  }
  
  .features-box .features-box-sub strong{
      font-weight: normal;
      font-family: var(--heading-font-family);
  }
  .features-box .four-img-box{
      position: absolute;
      top: 100%;
      right: 100%;
  }
  .features-box .four-img-light{
      position: absolute;
      width: 100%;
      top:80%;
      right: 72%;
  }
  .features-box .four-img{
      /* width: 132.35%; */
      max-width: none;
      /* height: auto; */
      /* height: 242.3%; */
      
  }
  
  .features-box .features-box-four-ov{
      height: calc(100vh - 80px);
      top: 0px;
      width: 100%;
      position: absolute;
      overflow: hidden;
      left: 0;
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      z-index: 6;
      transform-origin: top center;
      background: linear-gradient(120deg, #54575E 24.96%, #141417 91.85%);
  }
  
  @media (max-width:1920px) {
      .features-box .features-box-three-text{
          left: 10%;
      }
      .features-box .features-box-four-text{
          left: 8%;
      }
  }
  @media (max-width:1700px) {
      .features-box .features-box-two-text{
          left: 55%;
          top: 58%;
          max-width: 400px;
      }
      .features-box .features-box-three-text{
          left: 12%;
          top: 59%;
      }
      .features-box .features-box-four-text{
          left: 12%;
          top: 62%;
      }
  }
  
  @media (max-width:1500px) {
      .features-box .features-box-two-text{
          left: 55%;
          top: 55%;
      }
      .features-box .features-box-three-text{
          left: 8%;
      }
      .features-box .features-box-four-text{
          left: 3%;
      }
  }
  
  
  @media (max-width:1370px) {
      .features-box .text-mark-txt{
          font-size: 95px;
          max-width: 470px;
      }
      .features-box .features-box-two-text{
          left: 55%;
          top: 55%;
          max-width: 400px;
      }
      .features-box .features-box-four-text{
          left: 3%;
      }
  }
  
  @media (max-width:1281px) and (min-width:1030px) {
      .features-box .features-box-two-text{
          left: 53%;
          top: 35%;
      }
      .features-box .features-box-two-text .svg-icon-box{
          top: 52%;
      }
      .features-box .features-box-three-text{
          top: 42%;
      }
      .features-box .features-box-three-text .svg-icon-box{
          top: 33%;
      }
      .features-box .features-box-four-text{
          top: 50%;
      }
      .features-box .features-box-four-text .svg-icon-box{
          top: 30%;
      }
  }
  
  
  @media (max-width:991px) {
      .features-box{
          top: 60px !important;
      }
      .features-box .text-mark{
          height: calc(100vh - 60px);
      }
      .features-box .features-box-four-ov{
          height: calc(100vh - 60px);
      }
      .features-box .features-box-step{
          height: calc(100vh - 60px);
      }
      .features-box .text-mark-txt{
          font-size: 65px;
          transform: translateY(-100%);
      }
      .features-box .product-img,.features-box .four-img{
          /* height: 196.67%; */
          height: auto;
          width: 230vw;
      }
      
      .features-box .features-box-title{
          font-size: 24px;
      }
      .features-box .features-box-sub{
          font-size: 12px;
          margin-top: 10px;
      }
      .features-box .mb-box{
          display: block;
      }
      
      .features-box .pc-box{
          display: none;
      }

      .features-box .features-box-two .svg-icon-box{
          left: 50px;
          top: -20px;
          transform: translateY(-100%);
      }
      
      .features-box .features-box-three .svg-icon-box{
          transform: translate(-100%,-100%);
          top: 0;
          right: 20%;
      }
  }
  
  @media (max-width:640px) {
      .features-box .features-box-two-text{
          left: 25%;
          top: 55%;
          max-width: 248px;
      }
      .features-box .features-box-two-text .svg-icon-box{
          right: 60%;
          top: -10px;
          transform: translateY(-100%);
      }
      .features-box .features-box-three-text{
          top: 60%;
          left: 24px;
          max-width: 258px;
      }
      .features-box .features-box-three-text .svg-icon-box{
          left: 25%;
          top: -10px;
          transform: translateY(-100%);
      }
      .features-box .features-box-four-text{
          left: 50px;
          top: 60%;
          max-width: 258px;
      }
      .features-box .features-box-four-text .svg-icon-box{
          left: 0;
          top: -10px;
          transform: translateY(-100%);
      }
  }
</style>

<section>
<div class="features-box">
  <div class="text-mark">
      <div class="text-mark-txt">
          {{ section.settings.text }}
      </div>
  </div>
  <div class="features-box-step">
      {%- if section.settings.image1 != blank -%}
          <img loading="lazy" class="product-img" width="{{ section.settings.image1.width }}" height="{{ section.settings.image1.height }}" {% render 'image-attributes', image: section.settings.image1 %} alt="{{ section.settings.image1.alt | escape }}" >
        {%- endif -%}
      <div class="features-box-text features-box-two-text">
          <div class="svg-icon-box">
              <svg xmlns="http://www.w3.org/2000/svg" class="pc-box" width="217" height="50" viewBox="0 0 217 50" fill="none">
                <path d="M161 8H8.59424e-06" stroke="#3F3636"/>
                <path d="M208.559 49.387L160.211 2.00008" stroke="#3F3636"/>
                <path d="M150.007 -1.66755e-06L169.081 0L169.081 8.27197C169.079 8.74667 169.074 9.22231 169.053 9.69608C168.946 12.1404 168.234 14.1565 166.95 15.7556C165.961 16.9889 164.802 17.7707 163.556 18.2882C161.607 19.0971 159.618 19.2581 157.611 18.9035C156.329 18.6773 155.087 18.2175 153.92 17.4012C151.329 15.5889 149.976 12.6718 150 8.46371C150.026 3.76506 150.006 -1.66763e-06 150.006 -1.66763e-06L150.007 -1.66755e-06Z" fill="#E0004D"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="mb-box" width="92" height="73" viewBox="0 0 92 73" fill="none">
                <path d="M81 6.34717H0.999999" stroke="#3F3636" stroke-linecap="round"/>
                <path d="M85 72.3472L85 10.3472" stroke="#3F3636"/>
                <path d="M78.0041 0.347167L91.2559 0.347168L91.2559 6.094C91.2546 6.4238 91.2507 6.75424 91.2364 7.08339C91.1619 8.78151 90.6671 10.1822 89.7752 11.2931C89.088 12.1499 88.283 12.6931 87.4176 13.0527C86.0633 13.6146 84.6818 13.7265 83.2873 13.4801C82.3967 13.323 81.534 13.0035 80.7231 12.4364C78.9232 11.1774 77.9827 9.15075 77.9996 6.22721C78.0177 2.96289 78.0034 0.347167 78.0034 0.347167L78.0041 0.347167Z" fill="#E0004D"/>
              </svg>
          </div>
          <div class="features-box-title">{{ section.settings.text1 }}</div>
            <div class="features-box-sub">{{ section.settings.text2 }}</div>
      </div>
      <div class="features-box-text features-box-three-text">
          <div class="svg-icon-box">
              <svg xmlns="http://www.w3.org/2000/svg" class="pc-box" width="183" height="62" viewBox="0 0 183 62" fill="none">
                <path d="M8.21094 61.6135L56.559 14.2266" stroke="#3F3636"/>
                <path d="M73 8H183" stroke="#3F3636"/>
                <path d="M73.1058 -1.66755e-06L54.0312 0L54.0313 8.27197C54.0331 8.74667 54.0387 9.22231 54.0592 9.69608C54.1664 12.1404 54.8787 14.1565 56.1625 15.7556C57.1516 16.9889 58.3104 17.7707 59.556 18.2882C61.5054 19.0971 63.4939 19.2581 65.5011 18.9035C66.783 18.6773 68.0248 18.2175 69.192 17.4012C71.7829 15.5889 73.1365 12.6718 73.1123 8.46371C73.0862 3.76506 73.1067 -1.66763e-06 73.1067 -1.66763e-06L73.1058 -1.66755e-06Z" fill="#E0004D"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="mb-box" width="72" height="88" viewBox="0 0 72 88" fill="none">
                <path d="M7 86.6528L7 56.6528" stroke="#3F3636" stroke-linecap="round"/>
                <path d="M71 1.26514L13 48.2651" stroke="#3F3636"/>
                <path d="M0.00409698 44.2651L13.2559 44.2651L13.2559 50.012C13.2546 50.3418 13.2507 50.6722 13.2364 51.0014C13.1619 52.6995 12.6671 54.1001 11.7752 55.2111C11.088 56.0679 10.283 56.6111 9.41764 56.9706C8.06332 57.5326 6.68179 57.6445 5.28731 57.3981C4.39674 57.2409 3.53401 56.9215 2.7231 56.3544C0.923171 55.0953 -0.0172766 53.0687 -0.000436343 50.1452C0.017699 46.8809 0.00344944 44.2651 0.00344944 44.2651L0.00409698 44.2651Z" fill="#E0004D"/>
              </svg>
          </div>
          <div class="features-box-title">{{ section.settings.text3 }}</div>
          <div class="features-box-sub">{{ section.settings.text4 }}</div>
      </div>
  </div>
  <div class="features-box-four-ov">
      <div class="features-box-four-cont">
        <div class="four-img-box">
          {%- if section.settings.image2 != blank -%}
            <img loading="lazy" class="four-img" width="{{ section.settings.image2.width }}" height="{{ section.settings.image2.height }}" {% render 'image-attributes', image: section.settings.image2 %} alt="{{ section.settings.image2.alt | escape }}" >
          {%- endif -%}
          {%- if section.settings.image3 != blank -%}
            <img loading="lazy" class="four-img-light" width="{{ section.settings.image3.width }}" height="{{ section.settings.image3.height }}" {% render 'image-attributes', image: section.settings.image3 %} alt="{{ section.settings.image3.alt | escape }}" >
          {%- endif -%}
          </div>
          
          <div class="features-box-text features-box-four-text">
              <div class="svg-icon-box">
                  <svg xmlns="http://www.w3.org/2000/svg" class="pc-box" width="183" height="62" viewBox="0 0 183 62" fill="none">
                    <path d="M8.21094 61.6136L56.559 14.2267" stroke="white"/>
                    <path d="M73 8L183 7.99999" stroke="white"/>
                    <path d="M56.5524 15.4426L56.5525 15.4428C57.4829 16.6028 58.57 17.3372 59.7478 17.8265C61.6017 18.5957 63.4928 18.7506 65.4141 18.4112L65.4143 18.4111C66.634 18.1959 67.8055 17.7608 68.9055 16.9915C71.3275 15.2973 72.6359 12.5572 72.6123 8.46662L72.6123 8.46652C72.5993 6.11579 72.5979 3.99869 72.5997 2.46928C72.6006 1.70455 72.6024 1.0867 72.6039 0.65996L72.6046 0.500029L54.5313 0.50003L54.5313 8.27101C54.5331 8.74328 54.5387 9.21075 54.5587 9.6742L56.5524 15.4426ZM56.5524 15.4426C55.3456 13.9394 54.6621 12.0303 54.5588 9.67449L56.5524 15.4426Z" stroke="white"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" class="mb-box" width="72" height="86" viewBox="0 0 72 86" fill="none">
                    <path d="M7 84.7349V56.7349" stroke="white" stroke-linecap="round"/>
                    <path d="M71.002 0.734863L13.002 47.7349" stroke="white"/>
                    <path d="M11.3853 54.3678L11.3852 54.368C10.7568 55.1514 10.0235 55.6471 9.22602 55.9785C7.9671 56.5009 6.68305 56.6067 5.37431 56.3754L5.37419 56.3754C4.54578 56.2292 3.75331 55.9344 3.00966 55.4144C1.37851 54.2734 0.483392 52.4237 0.499555 49.6178L0.499556 49.6177C0.508631 47.9841 0.509603 46.5129 0.508307 45.4502C0.507688 44.9434 0.506555 44.5294 0.505537 44.2349L12.7559 44.2349L12.7559 49.4807C12.7546 49.8081 12.7507 50.1303 12.7369 50.4492L11.3853 54.3678ZM11.3853 54.3678C12.2002 53.3528 12.6662 52.0592 12.7369 50.4495L11.3853 54.3678Z" stroke="white"/>
                  </svg>
              </div>
              <div class="features-box-title">{{ section.settings.text5 }}</div>
                <div class="features-box-sub">{{ section.settings.text6 }}</div>
          </div>
      </div>
  </div>
</div>
</section>

<script>
  function initGASP(){
    let pam = {
            right1:'78%',
            right2:'162%',
            top1:'-70.5%',
            top2:'-125%'
        }
        if(window.innerWidth<1921){
            pam.right1 = '75%'
            pam.right2 = '152%'
            pam.top1 = '-75%'
            pam.top2 = '-128%'
        }
        
        if(window.innerWidth<1601){
            pam.right1 = '79%'
            pam.right2 = '162%'
            pam.top1 = '-70%'
            pam.top2 = '-125%'
        }
        if(window.innerWidth<1537){
            pam.right1 = '79%'
            pam.right2 = '162%'
            pam.top1 = '-65%'
            pam.top2 = '-120%'
        }
        if(window.innerWidth<1500){
            pam.right1 = '79%'
            pam.right2 = '162%'
            pam.top1 = '-77%'
            pam.top2 = '-128%'
        }
        if(window.innerWidth<1370){
            pam.right1 = '77%'
            pam.right2 = '162%'
            pam.top1 = '-72%'
            pam.top2 = '-125%'
        }
        if(window.innerWidth<1281){
            pam.right1 = '72%'
            pam.right2 = '165%'
            pam.top1 = '-61%'
            pam.top2 = '-118%'
        }
        // if(window.innerWidth<1030){
        // 	pam.right1 = '51%'
        // 	pam.right2 = '92%'
        // 	pam.top1 = '-50%'
        // 	pam.top2 = '-85%'
        // }
        if(window.innerWidth<640){
            pam.right1 = '30%'
            pam.right2 = '108%'
            pam.top1='-83%',
            pam.top2='-140%'
        }
    ScrollTrigger.create({
        trigger: ".features-box",
        start: "top top",
        end: "+=260%",
        scrub: true,
        pin: true,
        animation:
        gsap.timeline()
        .to(".text-mark-txt",{'background-position': '0% 100%','opacity':0,ease:'power2.inOut'})
        .to(".product-img",{'transform': 'translate('+pam.right1+','+pam.top1+')',ease:'power2.inOut'},'<')
        .to(".four-img-box",{'transform': 'translate('+pam.right1+','+pam.top1+')',ease:'power2.inOut'},'<')
        .to(".features-box-two-text", {'opacity': 1,'margin-top':'0',ease:'power2.inOut'})
        .to(".features-box-two-text", {'opacity': 0,'margin-top':'-30px',ease:'power2.inOut'})
        .to(".product-img", {'transform': 'translate('+pam.right2+','+pam.top2+')'})
        .to(".four-img-box",{'transform': 'translate('+pam.right2+','+pam.top2+')'},'<')
        .to(".features-box-three-text",{'opacity': 1,'margin-top':'0'})
        .to(".features-box-four-ov",{'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)'})
        .to(".features-box-four-text",{'opacity': 1,'margin-top':'0'},'-=0.5')
        .to(".features-box", {'opacity': .5})
        .to(".features-box-step",{'transform':'scale(.9)'},'<')
        .to(".features-box-four-ov", {'transform':'scale(.9)'},'<')
    })
  }
  window.addEventListener('load', () => {
    initGASP()
  })
</script>
{% schema %}
{
  "name": "features-box",
  "settings": [
    {
      "type": "header",
      "content": "Module 1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Module 2"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Product Image"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Module 3"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Module 4"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Product Image"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Light Image"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "Text"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "features-box"
    }
  ]
}
{% endschema %}