<style>
.gift-new {
  display: flex;
  position: relative;
}

.gift-new .gift-new-item {
  width: 50%;
  position: relative;
  z-index: 1;
  min-height: 420px;
}
.gift-new .gift-new-item:first-child {
  border-right: 1px solid #FFFFFC;
}
.gift-new .bg-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gift-new .gift-new-item-txt {
  position: absolute;
  width: 44.79%;
  top: 60px;
  left: 60px;
  z-index: 2;
  color: #fffffc;
}

.gift-new .gift-new-h3 {
  font-size: 32px;
  font-family: var(--heading-font-family);
  line-height: 1.15;
}

.gift-new .gift-new-p {
  font-size: 18px;
  line-height: 1.15;
  margin-top: 10px;
}

.gift-new .gift-new-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.15;
  font-family: var(--heading-font-family);
  margin-top: 20px;
  cursor: pointer;
  background: linear-gradient(#fffffc, #fffffc) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
  transition: all 0.3s ease-in;
}

.gift-new .gift-new-link:hover {
  opacity: 0.6;
}

.gift-new .img {
  display: block;
  max-width: 100%;
  position: relative;
  pointer-events: none;
  margin-top: -20px;
}

.gift-new .gift-new-btn {
  width: 207px;
  height: 52px;
  color: #000;
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;
}

.gift-new .gift-new-btn::after {
  background: #000;
}

.gift-new .gift-new-btn .btn-txt::before {
  color: #fff;
}

.gift-new .gift-new-user {
  position: absolute;
  z-index: 2;
  width: 17.2%;
  left: 29.1%;
  top: 50%;
  transform: translateY(-50%);
}

.gift-new .gift-new-user-cont {
  border: 1px solid #e5c29a;
  background: #fffffc;
  padding: 20px;
  padding-top: 80px;
  max-height: 290px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.gift-new .gift-new-user-cont::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 85%);
  z-index: 2;
}

.gift-new .gift-new-user-sw {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.gift-new .gift-new-user-list {
  will-change: transform;
  display: flex;
  flex-direction: column;
}

.gift-new .gift-new-user-title {
  color: #190a0a;
  text-align: center;
  font-size: 24px;
  line-height: 1.15;
  font-family: var(--heading-font-family);
  position: absolute;
  left: 50%;
  top: 27px;
  transform: translateX(-50%);
  z-index: 2;
}

.gift-new .gift-new-user-txt {
  color: #fffffc;
  font-size: 14px;
  line-height: 1.15;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}
.gift-new .gift-new-user-item {
  text-align: center;
  margin-bottom: 35px;
}
.gift-new .gift-new-user-label {
  display: inline-block;
  padding: 2px 22px;
  border: 1px solid #e7d6c4;
  background: linear-gradient(
    96deg,
    #ffebd4 8.31%,
    #e5c29a 21.62%,
    #b18f68 45.22%,
    #e5c29a 78.63%,
    #ffeedc 93.23%
  );
  color: #190a0a;
  font-size: 14px;
  line-height: 1;
  font-family: var(--heading-font-family);
}

.gift-new .gift-new-user-p {
  color: #3f3636;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 10px;
}
.gift-new .gift-new-user-p p {
  margin: 0;
}

.gift-new .gift-new-user-p strong {
  font-weight: normal;
  font-family: var(--heading-font-family);
}

@media (max-width: 1600px) {
  .gift-new .gift-new-h3 {
    font-size: 26px;
  }
  .gift-new .gift-new-p {
    font-size: 16px;
  }
  .gift-new .gift-new-user {
    width: 19%;
  }
  .gift-new .gift-new-user-title {
    font-size: 18px;
    top: 20px;
  }
  .gift-new .gift-new-user-p {
    font-size: 14px;
  }
  .gift-new .gift-new-user-cont {
    padding-top: 60px;
  }
  .gift-new .gift-new-user-item {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .gift-new {
    flex-wrap: wrap;
  }
  .gift-new .gift-new-item {
    min-height: auto;
  }
  .gift-new .gift-new-user {
    background: var(--bg-url) no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    transform: none;
    padding: 25px 20px;
    border-top: 0.5px solid #FFFFFC;
  }
  .gift-new .gift-new-user-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .gift-new .gift-new-user-title {
    position: relative;
    left: auto;
    top: auto;
    transform: translateX(0);
    color: #fffffc;
    font-size: 14px;
  }
  .gift-new .gift-new-user-txt {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    font-size: 12px;
  }
  .gift-new .gift-new-user-sw {
    display: flex;
  }
  .gift-new .gift-new-user-list {
    flex-direction: row;
    gap: 30px;
    flex-shrink: 0;
  }

  .gift-new .gift-new-user-item {
    margin-bottom: 0;
    width: 180px;
    flex-shrink: 0;
  }
  .gift-new .gift-new-user-cont {
    padding: 20px 0;
  }
  .gift-new .gift-new-user-cont::after {
    display: none;
  }
  .gift-new .gift-new-user-label {
    font-size: 12px;
  }
  .gift-new .gift-new-user-p {
    font-size: 12px;
  }
  .gift-new .gift-new-item-txt {
    width: 100%;
    left: 0;
    top: 25px;
    padding: 0 20px;
    text-align: center;
  }
  .gift-new .gift-new-h3 {
    font-size: 14px;
  }
  .gift-new .gift-new-p {
    font-size: 12px;
    margin-top: 6px;
  }
  .gift-new .gift-new-link {
    font-size: 12px;
    margin-top: 11px;
  }
  .gift-new .img {
    margin-top: 15px;
    width: 100%;
  }
  .gift-new .gift-new-btn {
    width: 110px;
    height: 30px;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 8px;
  }
}

.step-box-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.step-box-popup .step-box-popup-cont {
  position: absolute;
  width: 1100px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 20px;
  border-radius: 10px;
}
.step-box-popup .step-popup-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
.step-box-popup .step-popup-close svg {
  display: block;
  width: 25px;
}

.step-box-popup .step-box-popup-text {
  max-width: 800px;
  padding: 80px 0 40px 0;
  margin: 0 auto;
}

.step-box-popup .step-box-popup-title {
  color: #000;
  font-size: 36px;
  line-height: 1.1;
  font-family: var(--heading-font-family);
  text-align: center;
}

.step-box-popup .step-box-popup-scoll {
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 40px;
  padding-right: 10px;
  margin-right: -10px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar {
  width: 5px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb {
  background-color: #959595;
  border-radius: 6px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}

.step-box-popup .step-box-popup-scoll p {
  margin: 0;
}

.step-box-popup .step-box-popup-scoll strong {
  font-weight: normal;
  font-size: 18px;
  line-height: 3;
  font-family: var(--heading-font-family);
  margin-bottom: 10px;
}
.step-box-popup .step-box-popup-btn {
  width: 100%;
  height: 54px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  display: none;
  align-items: center;
  justify-content: center;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -65px;
}
@media screen and (max-width: 992px) {
  .step-box-popup .step-box-popup-cont {
    border-radius: 0;
  }
  .step-box-popup .step-box-popup-text {
    padding: 37px 0 15px 0;
  }
  .step-box-popup .step-popup-close {
    top: 15px;
    right: 15px;
    display: none;
  }
  .step-box-popup .step-popup-close svg {
    width: 18px;
  }
  .step-box-popup .step-box-popup-title {
    font-size: 28px;
  }
  .step-box-popup .step-box-popup-scoll {
    margin-top: 10px;
  }
  .step-box-popup .step-box-popup-scoll {
    font-size: 14px;
  }
  .step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb {
    background-color: #000;
  }
  .step-box-popup .step-box-popup-scoll::-webkit-scrollbar {
    width: 3px;
  }
  .step-box-popup .step-box-popup-scoll strong {
    font-size: 16px;
  }
  .step-box-popup .step-box-popup-btn {
    display: flex;
  }
}
  
</style>
<section class="section-box">
  <div class="gift-new {{ section.settings.custom_class }}">
    {% for block in section.blocks %}
      {% if block.type == 'left' %}
        <div class="gift-new-item">
          <picture>
            <source srcset="{{ block.settings.image1 | image_url }}" media="(max-width: 991px)">
            <img src="{{ block.settings.image | image_url }}" width="" height="" alt="" class="bg-img">
          </picture>
          <div class="gift-new-item-txt">
            <div class="gift-new-h3">{{ block.settings.text }}</div>
            <div class="gift-new-p">{{ block.settings.text1 }}</div>
            <div class="gift-new-link">{{ block.settings.text2 }}</div>
            <picture>
              <source srcset="{{ block.settings.image3 | image_url }}" media="(max-width: 991px)">
              <img src="{{ block.settings.image2 | image_url }}" alt="" width="" height="" class="img">
            </picture>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    {% for block in section.blocks %}
      {% if block.type == 'right' %}
        <div class="gift-new-item">
          <picture>
            <source srcset="{{ block.settings.image1 | image_url }}" media="(max-width: 991px)">
            <img src="{{ block.settings.image | image_url }}" width="" height="" alt="" class="bg-img">
          </picture>
          <div class="gift-new-item-txt">
            <div class="gift-new-h3">{{ block.settings.text }}</div>
            <div class="gift-new-btn btn-diy">
              <div class="btn-txt" text="{{ block.settings.text1 }}">
                <span>{{ block.settings.text1 }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="gift-new-user" style="--bg-url:url({{ section.settings.image | image_url  }})">
      <div class="gift-new-user-top">
        <div class="gift-new-user-title">{{ section.settings.text3 }}</div>
        <div class="gift-new-user-txt">{{ section.settings.text4 }}</div>
      </div>
      <div class="gift-new-user-cont">
        <div class="gift-new-user-sw">
          <div class="gift-new-user-list">
              {% for block in section.blocks %}
                {% if block.type == 'user' %}
                  <div class="gift-new-user-item">
                    {%- if block.settings.text != blank -%}
                      <div class="gift-new-user-label">{{ block.settings.text }}</div>
                    {%- endif -%}
                    <div class="gift-new-user-p">
                      {{ block.settings.text1 }}
                    </div>
                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="step-box-popup">
    <div class="step-box-popup-cont">
      <div class="step-popup-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">
          <path
            d="M23 0C10.304 0 0 10.304 0 23C0 35.696 10.304 46 23 46C35.696 46 46 35.696 46 23C46 10.304 35.696 0 23 0ZM23 44.16C11.316 44.16 1.84 34.684 1.84 23C1.84 11.316 11.316 1.84 23 1.84C34.684 1.84 44.16 11.316 44.16 23C44.16 34.684 34.684 44.16 23 44.16Z"
            fill="#959595"></path>
          <path
            d="M30.452 15.5481C30.084 15.1801 29.532 15.1801 29.164 15.5481L23 21.7121L16.836 15.5481C16.468 15.1801 15.916 15.1801 15.548 15.5481C15.18 15.9161 15.18 16.4681 15.548 16.8361L21.712 23.0001L15.548 29.1641C15.18 29.5321 15.18 30.0841 15.548 30.4521C15.732 30.6361 16.008 30.7281 16.192 30.7281C16.376 30.7281 16.652 30.6361 16.836 30.4521L23 24.2881L29.164 30.4521C29.348 30.6361 29.624 30.7281 29.808 30.7281C29.992 30.7281 30.268 30.6361 30.452 30.4521C30.82 30.0841 30.82 29.5321 30.452 29.1641L24.288 23.0001L30.452 16.8361C30.82 16.4681 30.82 15.9161 30.452 15.5481Z"
            fill="#959595"></path>
        </svg>
      </div>
      <div class="step-box-popup-text">
        <div class="step-box-popup-title">
          {{ section.settings.text }}
        </div>
        <div class="step-box-popup-scoll">
          {{ section.settings.text1 }}
        </div>
      </div>
      {%- if section.settings.text2 != blank -%}
        <div class="step-box-popup-btn">
          {{ section.settings.text2 }}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
<script>
  function scrollFun() {
    const scrollContainer = document.querySelector('.gift-new-user-sw');
    const scrollContent = document.querySelector('.gift-new-user-list');

    // 克隆内容实现循环
    const clonedContent = scrollContent.cloneNode(true);
    scrollContainer.appendChild(clonedContent);

    let translate = 0; // 初始偏移量
    const scrollSpeed = 0.5; // 滚动速度，单位：像素

    function scroll() {
      // 检测屏幕宽度
      const isHorizontal = window.innerWidth < 991;

      // 计算新的偏移量
      translate -= scrollSpeed;

      if (isHorizontal) {
        // 横向滚动
        if (Math.abs(translate) >= scrollContent.scrollWidth) {
          translate = 0;
        }
        scrollContent.style.marginLeft = `${translate}px`;
        scrollContent.style.marginTop = ''; // 清除垂直滚动样式
      } else {
        // 垂直滚动
        if (Math.abs(translate) >= scrollContent.scrollHeight) {
          translate = 0;
        }
        scrollContent.style.marginTop = `${translate}px`;
        scrollContent.style.marginLeft = ''; // 清除横向滚动样式
      }

      // 使用 requestAnimationFrame 继续滚动
      requestAnimationFrame(scroll);
    }

    // 开始滚动
    scroll();

  }
  scrollFun()
  $('#shopify-section-{{ section.id }} .gift-new-btn').click(function(){
      $('.teaser-app .teaser-image').click()
    })
    $('.gift-new .gift-new-link').click(function (event) {
      event.preventDefault(); // 阻止默认事件（例如链接跳转）
      $('.step-box-popup').fadeIn()
    })

    $('.step-box-popup .step-popup-close,.step-box-popup .step-box-popup-btn').click(function () {
      $('.step-box-popup').fadeOut()
    })
</script>
{% schema %}
{
"name": "gift-new",
"blocks": [
  {
    "name": "Left",
    "type": "left",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Background Image M"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image M"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Title Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Btn Text"
      }
    ]
  },
  {
    "name": "Right",
    "type": "right",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Background Image M"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Title Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Btn Text"
      }
    ]
  },
  {
    "name": "User",
    "type": "user",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "richtext",
        "id": "text1",
        "label": "Text"
      }
    ]
  }
],
"settings": [
   {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
  {
    "type": "image_picker",
    "id": "image",
    "label": "User Background Image M"
  },
  {
    "type": "text",
    "id": "text3",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text4",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text",
    "label": "Popup Title"
  },
  {
    "type": "richtext",
    "id": "text1",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text2",
    "label": "Buttom Text",
    "default":"OK"
  }
],
  "presets": [
  {
    "name": "gift-new",
    "blocks": []
  }
]
}
{% endschema %}