<style>
      #shopify-section-{{ section.id }} {
      --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
      --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
      --background-image: url({{ section.settings.background_image | img_url: '3840x1176' }});
        
      {% if section.settings.background_image != blank %}
        background-image: var( --background-image);
      {% else %}
        background-color: var(--section-background)
      {% endif %}
    }
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px);
      padding-bottom: calc({{ section.settings.padding_bottom }}px);
    }
    @media screen and (max-width: 768px){
      #shopify-section-{{ section.id }} {
      {% if section.settings.mobile_background_image != blank %}
        --background-image: url({{ section.settings.mobile_background_image | img_url : '750x1230' }});
      {% endif %}
      }
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.6);
      padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
    }
   
  }

    /* lottery-template start */
    .lottery-template {
    }

    .lottery__box {
      color: #fff;
    }

    .lottery_ul {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 0.5px solid #FFF7EE;
    }

    .lottery_ul .lottery__li {
      /* width: 50%; */
      border-right: 0.5px solid #FFF7EE;
      border-top: 0.5px solid #FFF7EE;
      display: flex;
      align-items: center;
      padding: 32px 60px;
      position: relative;
      overflow: hidden;
      gap: 20px;
      justify-content: space-between;
      position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    }

    .lottery__box .lottery_tle {
      color: #FFFFFC;
      text-align: center;
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 115%;
      margin-bottom: 50px;
    }

    .lottery__li .item1-left {
      text-align: left;
      flex: 1;
    }

    .lottery__li .item1-left .item1-left__tle {
      color: #FBFAF4;
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      margin-bottom: 76px;
    }

    .lottery__li .item1-left .item1-left__btn {
      display: inline-flex;
      padding: 15px 57px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 80px;
      background: linear-gradient(0deg, #F4DABC 0%, #F4DABC 100%), linear-gradient(96deg, #FFEBD4 8.31%, #E5C29A 21.62%, #B18F68 45.22%, #E5C29A 78.63%, #FFEEDC 93.23%);
      color: #190A0A;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      line-height: 150%;
      text-transform: uppercase;
      cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    }

    .item1-right img {
      width: 100%;
      object-fit: cover;
    }

    .lottery__li .item2_bg,
    .lottery__li .item2_bg img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      z-index: 0;
    }

    .item2_cnt {
      position: relative;
      z-index: 1;
      text-align: left;
    }

    .item2_cnt .item2_tle {
      color: var(--Ulike---Warm-White, #FBFAF4);
      font-family: Saans;
      font-size: 32px;
      font-style: normal;
      font-weight: 380;
      line-height: 115%;
      /* 36.8px */
      margin-bottom: 14px;
      max-width: 310px;
    }

    .item2_cnt .item2_txt {
      color: var(--Ulike---Warm-White, #FBFAF4);
      font-family: Saans;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      /* 20.7px */
      margin-bottom: 14px;
    }

    .item3_right {
      flex-basis: 57%;
    }

    .item3_right img {
      width: 100%;
      object-fit: cover;
    }

    .item3_left .item3__tle {
      color: #FBFAF4;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      /* 32.2px */
      margin-bottom: 16px;
    }

    .item3_left .item3__txt {
      color: #FBFAF4;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      /* 20.7px */
      margin-bottom: 69px;
    }

    .item3_left .item3__txt1 {
      color: #E5C29A;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 115%;
      margin-bottom: 21px;
    }

    .item3_left .item3_link {
      color: #FBFAF4;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      text-decoration-line: underline;
    }

    .lottery__li-box .item4_tle {
      color: #FFFFFC;
      text-align: left;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      margin-bottom: 35px;
    }

    .item4__box {
      overflow: hidden;
    }

    .item4__box .item4__ul {
      display: flex;
      gap: 30px;

    }

    .item4__box .item4__ul .item4__li {
      flex-shrink: 0;
          text-align: center;
    }

    .item4__box .item4__ul .item4__li .tag__btn {
      display: inline-flex;
      padding: 2px 19px;
      justify-content: center;
      align-items: center;
      border-radius: 80px;
      border: 1px solid #E7D6C4;
      background: linear-gradient(96deg, #FFEBD4 8.31%, #E5C29A 21.62%, #B18F68 45.22%, #E5C29A 78.63%, #FFEEDC 93.23%);
      color: #190A0A;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 18px */
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .item4__box .item4_img {
      max-width: 85px;
      margin: 0 auto 10px;
    }

    .item4__box .item4_img img {
      width: 100%;
      object-fit: cover;
    }

    .item4__box .item_email {
      color: #FBFAF4;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.3;
    }
  .item4__box .item_email p{
    margin:0;
  }
    .item4__box .item_email strong {
      font-weight: 600;
    }

    .lottery_ul .lottery__li .item1-right {
      flex-basis: 50%;
    }

    .item3_left {
      flex-basis: 30%;
    }
    .lottery__lipt {
    width: 50%;
    position: relative;
    padding-top: max(calc(20.67%), 350px);
}
.marquee-container {
    overflow: hidden; /* 隐藏溢出部分 */
    width: 100%; /* 控制显示区域的宽度 */
}

.marquee {
    animation: scroll 30s linear infinite; /* 动画效果 */
}

/* 定义滚动动画 */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-40%);
    }
}
@media screen and (max-width: 1250px) {
  .lottery_ul .lottery__li{
    padding: 32px;
  }
}
  .step-box-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, .5);
  display: none;
}

.step-box-popup .step-box-popup-cont{
  position: absolute;
  width: 1100px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  padding: 0 20px;
  border-radius: 10px;
}
.step-box-popup .step-popup-close{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
.step-box-popup .step-popup-close svg{
  display: block;
  width: 25px;
}

.step-box-popup .step-box-popup-text{
  max-width: 800px;
  padding: 80px 0 40px 0;
  margin: 0 auto;
}

.step-box-popup .step-box-popup-title{
  color: #000;
  font-size: 36px;
  line-height: 1.1;
  font-family: var(--heading-font-family);
  text-align: center;
}

.step-box-popup .step-box-popup-scoll{
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 40px;
}
/* .step-box-popup .step-box-popup-scoll::-webkit-scrollbar {
  width: 5px;
} */

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar {
  width: 5px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb:hover {
  background-color: #eee;
}


.step-box-popup .step-box-popup-scoll p{
  margin: 0;
}

.step-box-popup .step-box-popup-scoll strong{
font-weight: normal;
    font-size: 18px;
    line-height: 3;
    font-family: var(--heading-font-family);
    margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .lottery__box .lottery_tle{
    font-size: 22px;
    margin-bottom: 23px;
  }
  .lottery_ul .lottery__lipt .lottery__li{
    position: relative;
    padding: 20px 16px;
    border-right: 0;
  }
  .lottery_ul .lottery__lipt:first-child  .lottery__li{
       border-right: 0.5px solid #FFF7EE;
  }
  .lottery_ul .lottery__lipt:first-child .lottery__li{
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }
  .lottery__li .item1-left{
    text-align: center;
    flex: none;
  }
  .lottery__li .item1-left .item1-left__tle{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .lottery__li .item1-left .item1-left__btn{
    padding: 9px 11px;
    font-size: 8px;
  }
  .lottery__lipt {
    width: 50%;
    position: relative;
    padding-top: 0;
}
.item2_cnt .item2_tle{
  font-size: 14px;
  margin-bottom: 6px;
}
.item2_cnt .item2_txt{
  font-size: 10px;
  margin-bottom: 10px;
}
.item2_cnt{
  text-align: center;
  width: 100%;
  align-self: baseline;
}
.lottery_ul .lottery__lipt:nth-child(3),.lottery_ul .lottery__lipt:nth-child(4){
  width: 100%;
}
.lottery_ul .lottery__lipt:nth-child(3) .lottery__li,.lottery_ul .lottery__lipt:nth-child(4) .lottery__li{
  padding: 30px 16px;
}
.item3_left .item3__tle{
  font-size: 16px;
  margin-bottom: 15px;
}
.item3_left .item3__txt{
  font-size: 12px;
  margin-bottom: 7px;
}
.item3_left .item3__txt1{
  font-size: 10px;
  margin-bottom: 15px;
}
.item3_left .item3_link{
  font-size: 12px;
}
.lottery__li-box .item4_tle{
  font-size: 16px;
  margin-bottom: 20px;
}
.item2_cnt .item2_ico img{
  max-width: 86px;
}
   .step-box-popup .step-popup-close{
    top: 15px;
    right: 15px;
  }
  .step-box-popup .step-popup-close svg{
    width: 18px;
  }
  .step-box-popup .step-box-popup-title{
    font-size: 28px;
  }
  .step-box-popup .step-box-popup-scoll{
    margin-top: 10px;
  }
  .step-box-popup .step-box-popup-scoll{
    font-size: 14px;
  }
  .step-box-popup .step-box-popup-scoll strong{
    font-size: 16px;
  }

}
  @media screen and (max-width: 767px) {
      .item2_ico{
  display:none;
  }
  }
    /* lottery-template end */
</style>

<section>
  <div class="lottery-template section-{{ section.id }}-padding">
    <div class="lottery__box">
      <div class="lottery_tle">{{section.settings.header}}</div>
      <div class="lottery_ul">
         {%- for block in section.blocks -%}
          {%- case block.type -%}
         {%- when 'subscribe' -%}
        <div class="lottery__lipt">
          <div class="lottery__li">
            <div class="item1-left">
              <div class="item1-left__tle">{{ block.settings.header }}</div>
              <div class="item1-left__btn hidden-pocket">{{ block.settings.btn_text }}</div>
              <div class="item1-left__btn hidden-lap-and-up">{{ block.settings.btn_text }}</div>
            </div>
            <div class="item1-right">
              <img src="{{ block.settings.image | image_url }}"
                loading="lazy"
                alt="{{ block.settings.header }}"
                srcset="
                  {{ block.settings.image | image_url: width: 200 }} 200w,
                  {{ block.settings.image | image_url: width: 400 }} 400w,
                  {{ block.settings.image | image_url: width: 600 }} 600w
                "
                width="{{ block.settings.image.width }}" 
                height="{{ block.settings.image.height }}"
              >
            </div>
          </div>
        </div>
         {%- when 'assure' -%}
        <div class="lottery__lipt">
          <div class="lottery__li">
            <div class="item2_bg">   
               <picture>
                {%- if block.settings.mobile_bg_image -%}
                <source
                    media="(max-width: 767px)"
                    srcset="{{ block.settings.mobile_bg_image | image_url: width: '400x' }} 400w, {{ block.settings.mobile_bg_image | image_url: width: '600x' }} 600w, {{ block.settings.mobile_bg_image | image_url: width: '800x' }} 800w, {{ block.settings.mobile_bg_image | image_url: width: '1000x' }} 1000w"
                    width="{{ block.settings.mobile_bg_image.width }}"
                    height="{{ block.settings.mobile_bg_image.height }}"
                    loading= 'lazy'
                  >
                {%- endif -%}
                {%- if block.settings.bg_image -%}
                 {{- block.settings.bg_image | image_url: width: block.settings.bg_image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: '' -}}
                {%- endif -%}
              </picture>
              
            </div>
            <div class="item2_cnt">
              <div class="item2_tle">{{ block.settings.header }}</div>
              <div class="item2_txt">{{ block.settings.text }}</div>
              <div class="item2_ico">
                  <img src="{{ block.settings.image | image_url }}" loading="lazy"  alt="{{ block.settings.text }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}">
              </div>
            </div>
          </div>
        </div>
         {%- when 'share' -%}
        <div class="lottery__lipt">
          <div class="lottery__li">
            <div class="item3_left">
              <div class="item3__tle">{{ block.settings.header }}</div>
              <div class="item3__txt">{{ block.settings.text }}</div>
              <div class="item3__txt1">{{ block.settings.time_txt }}</div>
              <a href="javascript:;" class="item3_link">{{ block.settings.btn_text }}</a>
            </div>
            <div class="item3_right">
              <!-- <img src="{{ block.settings.image | image_url }}" alt="" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}"> -->

               <picture>
                {%- if block.settings.image_mobile -%}
               <source
                  media="(max-width: 767px)"
                  srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ block.settings.image_mobile.width }}"
                  height="{{ block.settings.image_mobile.height }}"
                  loading= 'lazy'
                >
                {%- endif -%}
                {%- if block.settings.image -%}
                 {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: '' -}}
                {%- endif -%}
              </picture>
              
            </div>
          </div>
        </div>
         {%- when 'gift' -%}
        <div class="lottery__lipt">
          <div class="lottery__li">
            <div class="lottery__li-box">
              <div class="item4_tle">
                {{ block.settings.header }}
              </div>
              <div class="item4__box">
                <div class="item4_scroll marquee-container">
                  <div class="item4__ul marquee">

                    {%- if block.settings.image1 != blank -%}
                    <div class="item4__li">
                      <div class="tag__btn">{{ block.settings.gift_label1 }}</div>
                      <div class="item4_img">
                       <img src="{{ block.settings.image1 | image_url }}" loading="lazy" alt="{{ block.settings.gift_label1 }}" width="{{ block.settings.image1.width }}" height="{{ block.settings.image1.height }}">
                      </div>
                      <div class="item_email">
                      {{ block.settings.txt1 }}
                      </div>
                    </div>
                    {%- endif -%}
                    {%- if block.settings.image2 != blank -%}
                    <div class="item4__li">
                      <div class="tag__btn">{{ block.settings.gift_label2 }}</div>
                      <div class="item4_img">
                       <img src="{{ block.settings.image2 | image_url }}" loading="lazy" alt="{{ block.settings.gift_label2 }}" width="{{ block.settings.image2.width }}" height="{{ block.settings.image2.height }}">
                      </div>
                      <div class="item_email">
                      {{ block.settings.txt2 }}
                      </div>
                    </div>
                    {%- endif -%}

                    {%- if block.settings.image3 != blank -%}
                    <div class="item4__li">
                      <div class="tag__btn">{{ block.settings.gift_label3 }}</div>
                      <div class="item4_img">
                       <img src="{{ block.settings.image3 | image_url }}" loading="lazy" alt="" width="{{ block.settings.image3.width }}" height="{{ block.settings.image3.height }}">
                      </div>
                      <div class="item_email">
                      {{ block.settings.txt3 }}
                      </div>
                    </div>
                    {%- endif -%}

                    {%- if block.settings.image4 != blank -%}
                    <div class="item4__li">
                      <div class="tag__btn">{{ block.settings.gift_label4 }}</div>
                      <div class="item4_img">
                       <img src="{{ block.settings.image4 | image_url }}" loading="lazy" alt="" width="{{ block.settings.image4.width }}" height="{{ block.settings.image4.height }}">
                      </div>
                      <div class="item_email">
                      {{ block.settings.txt4 }}
                      </div>
                    </div>
                    {%- endif -%}

                    {%- if block.settings.image5 != blank -%}
                    <div class="item4__li">
                      <div class="tag__btn">{{ block.settings.gift_label5 }}</div>
                      <div class="item4_img">
                       <img src="{{ block.settings.image5 | image_url }}" loading="lazy" alt="" width="{{ block.settings.image5.width }}" height="{{ block.settings.image5.height }}">
                      </div>
                      <div class="item_email">
                      {{ block.settings.txt5 }}
                      </div>
                    </div>
                    {%- endif -%}

                      {%- if block.settings.image6 != blank -%}
                    <div class="item4__li">
                      <div class="tag__btn">{{ block.settings.gift_label6 }}</div>
                      <div class="item4_img">
                       <img src="{{ block.settings.image6 | image_url }}" loading="lazy" alt="" width="{{ block.settings.image6.width }}" height="{{ block.settings.image6.height }}">
                      </div>
                      <div class="item_email">
                      {{ block.settings.txt6 }}
                      </div>
                    </div>
                    {%- endif -%}
                    {%- if block.settings.image7 != blank -%}
                    <div class="item4__li">
                      <div class="tag__btn">{{ block.settings.gift_label7 }}</div>
                      <div class="item4_img">
                       <img src="{{ block.settings.image7 | image_url }}" loading="lazy" alt="" width="{{ block.settings.image7.width }}" height="{{ block.settings.image7.height }}">
                      </div>
                      <div class="item_email">
                      {{ block.settings.txt7 }}
                      </div>
                    </div>
                    {%- endif -%}
                    

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

         {%- endcase -%}
       {%- endfor -%}
      </div>
    </div>
  </div>
  <div class="step-box-popup">
    <div class="step-box-popup-cont">
      <div class="step-popup-close">
       <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">
          <path d="M23 0C10.304 0 0 10.304 0 23C0 35.696 10.304 46 23 46C35.696 46 46 35.696 46 23C46 10.304 35.696 0 23 0ZM23 44.16C11.316 44.16 1.84 34.684 1.84 23C1.84 11.316 11.316 1.84 23 1.84C34.684 1.84 44.16 11.316 44.16 23C44.16 34.684 34.684 44.16 23 44.16Z" fill="#959595"/>
          <path d="M30.452 15.5481C30.084 15.1801 29.532 15.1801 29.164 15.5481L23 21.7121L16.836 15.5481C16.468 15.1801 15.916 15.1801 15.548 15.5481C15.18 15.9161 15.18 16.4681 15.548 16.8361L21.712 23.0001L15.548 29.1641C15.18 29.5321 15.18 30.0841 15.548 30.4521C15.732 30.6361 16.008 30.7281 16.192 30.7281C16.376 30.7281 16.652 30.6361 16.836 30.4521L23 24.2881L29.164 30.4521C29.348 30.6361 29.624 30.7281 29.808 30.7281C29.992 30.7281 30.268 30.6361 30.452 30.4521C30.82 30.0841 30.82 29.5321 30.452 29.1641L24.288 23.0001L30.452 16.8361C30.82 16.4681 30.82 15.9161 30.452 15.5481Z" fill="#959595"/>
        </svg>
      </div>
      <div class="step-box-popup-text">
        <div class="step-box-popup-title">
          {{ section.settings.popule_tle }}
        </div>
        <div class="step-box-popup-scoll">
          {{ section.settings.popule_cnt }}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $('#shopify-section-{{ section.id }} .item1-left__btn').click(function(){
  $('.omnisend-form-673ae0d06c95faeac01d7548-rectangle-teaser-btn').click()
})
    $('#shopify-section-{{ section.id }} .item3_link').click(function(event){
       event.preventDefault(); // 阻止默认事件（例如链接跳转）
        $('.step-box-popup').fadeIn()
      })

      $('.step-box-popup .step-popup-close').click(function(){
        $('.step-box-popup').fadeOut()
      })
const marquee = document.querySelector('.marquee');
const items = Array.from(marquee.children);

// 设定克隆的倍数
const cloneTimes = 3;

// 多次克隆子元素
for (let i = 0; i < cloneTimes; i++) {
  items.forEach(item => {
    const clone = item.cloneNode(true);
    marquee.appendChild(clone);
  });
}

</script>
{% schema %}
{
  "name": "Gift Template",
  "class": "shopify-section--gift-template",
  "settings": [
      {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
      {
          "type": "image_picker",
          "id": "mobile_background_image",
          "label": "Mobile Background Image"
        },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default":"Exclusive Deals for Subscribers"
    },
    {
      "type": "text",
      "id": "popule_tle",
      "label": "popule title"
    },
    {
      "type": "richtext",
      "id": "popule_cnt",
      "label": "popule Content"
    },
     {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 40
    }
  ],
  "blocks": [
        {
      "type": "subscribe",
      "name": "Subscribe",
      "limit": 1,
      "settings": [
         {
            "type": "text",
            "id": "header",
            "label": "Header"
          },
         {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "assure",
      "name": "Assure",
      "limit": 1,
      "settings": [
         {
            "type": "text",
            "id": "header",
            "label": "Header"
          },
         {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
         {
          "type": "image_picker",
          "id": "mobile_bg_image",
          "label": "Background Image"
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
         {
            "type": "text",
            "id": "header",
            "label": "Header"
          },
         {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
        {
            "type": "text",
            "id": "time_txt",
            "label": "Time Text"
          },
         {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
         {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        }
      ]
    },
     {
      "type": "gift",
      "name": "Gift",
      "limit": 1,
      "settings": [
         {
            "type": "text",
            "id": "header",
            "label": "Header"
          },
        
         {
            "type": "text",
            "id": "gift_label1",
            "label": "Label 1"
          },
         {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
          {
          "type": "richtext",
          "id": "txt1",
          "label": "Text1"
        },
         {
            "type": "text",
            "id": "gift_label2",
            "label": "Label 2"
          },
         {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
          {
          "type": "richtext",
          "id": "txt2",
          "label": "Text2"
        },
        {
            "type": "text",
            "id": "gift_label3",
            "label": "Label 3"
          },
         {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3"
        },
          {
          "type": "richtext",
          "id": "txt3",
          "label": "Text3"
        },
       {
            "type": "text",
            "id": "gift_label4",
            "label": "Label 4"
          },
         {
          "type": "image_picker",
          "id": "image4",
          "label": "Image4"
        },
          {
          "type": "richtext",
          "id": "txt4",
          "label": "Text4"
        },
        {
            "type": "text",
            "id": "gift_label5",
            "label": "Label 5"
          },
         {
          "type": "image_picker",
          "id": "image5",
          "label": "Image5"
        },
          {
          "type": "richtext",
          "id": "txt5",
          "label": "Text5"
        },
        {
            "type": "text",
            "id": "gift_label6",
            "label": "Label 6"
          },
         {
          "type": "image_picker",
          "id": "image6",
          "label": "Image6"
        },
          {
          "type": "richtext",
          "id": "txt6",
          "label": "Text6"
        },
        {
            "type": "text",
            "id": "gift_label7",
            "label": "Label 7"
          },
         {
          "type": "image_picker",
          "id": "image7",
          "label": "Image7"
        },
          {
          "type": "richtext",
          "id": "txt7",
          "label": "Text7"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gift Template",
      "settings": {}
    }
  ]
}
{% endschema %}
