{% assign search_product = false %}
{% for block in section.blocks %}
  {% if block.type == 'product_search' %}
    {% assign search_product = true %}
    {% break %}
  {% endif %}
{% endfor %}
{%- if search_product -%}
  <link rel="stylesheet" href="//www.ulike.com/cdn/shop/t/116/assets/swiper-bundle.min.css">
  <script src="//www.ulike.com/cdn/shop/t/116/assets/swiper-bundle.min.aio.min.js"></script>
{%- endif -%}
<style>
    :root {
      --enable-sticky-header: {% if section.settings.enable_sticky_header %}1{% else %}0{% endif %};
      --enable-transparent-header: {% if request.page_type == 'index' and section.settings.enable_transparent_header %}1{% else %}0{% endif %};
      --loading-bar-background: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }}; /* Prevent the loading bar to be invisible */
    }

    #shopify-section-{{ section.id }} {
      {%- assign header_border_color = settings.header_background | color_mix: settings.header_text_color, 85 -%}

      --header-background: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
      --header-text-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
      --header-border-color: {{ header_border_color.red }}, {{ header_border_color.green }}, {{ header_border_color.blue }};
      --reduce-header-padding: {% if section.settings.reduce_desktop_padding %}1{% else %}0{% endif %};

      {%- if section.settings.enable_sticky_header -%}
        position: -webkit-sticky;
        position: sticky;
      {%- else -%}
        position: relative;
      {%- endif -%}

      top: {% if section.settings.enable_sticky_header %}calc(var(--enable-sticky-announcement-bar) * var(--announcement-bar-height, 0px)){% else %}0{% endif %};
      z-index: 10;
    }
    {%- if request.page_type == 'index' and section.settings.enable_transparent_header -%}
      #shopify-section-{{ section.id }} {
        margin-bottom: calc(-1 * (var(--header-height, 0px) + var(--enable-sticky-announcement-bar) * var(--announcement-bar-height, 0px)));
      }

      .js #shopify-section-{{ section.id }} .header--transparent {
        {%- if settings.header_text_color == section.settings.transparent_header_text_color -%}
          {%- assign header_bubble_text_color = settings.header_background -%}
        {%- else -%}
          {%- assign header_bubble_text_color = settings.header_text_color -%}
        {%- endif -%}

        --header-background: transparent;
        --header-text-color: {{ section.settings.transparent_header_text_color.red }}, {{ section.settings.transparent_header_text_color.green }}, {{ section.settings.transparent_header_text_color.blue }};
        --header-border-color: {{ section.settings.transparent_header_text_color.red }}, {{ section.settings.transparent_header_text_color.green }}, {{ section.settings.transparent_header_text_color.blue }}, 0.15;
        --header-transparent-bubble-text-color: {{ header_bubble_text_color.red }}, {{ header_bubble_text_color.green }}, {{ header_bubble_text_color.blue }};
      }
    {%- endif -%}

    #shopify-section-{{ section.id }} .header__logo-image {
      max-width: {{ section.settings.mobile_logo_max_width }}px;
    }
    .header__cart-count{
      background:#e7004c;
    }
    .js .header--transparent .header__cart-count{
      color:#fff;
    }

  .header__cart-count[cart="0"]{
    display:none;
  }


  .mobile-product-box{
      border-bottom: 1px solid rgba(var(--text-color),.15);
  }
  .mobile-product-box .mobile-product-title{
      padding: 21px 0;
  }

  .mobile-product-box .mobile-product-item{
      display: flex;
      align-items: center;
      margin-bottom: 21px;
  }

  .mobile-product-box .img{
      display: block;
      width: 85px;
      margin-right: 10px;
  }
  .mobile-product-box .mobile-product-txt{
      flex: 1;
  }

  .mobile-product-box .mobile-product-item-title{
      font-size: 14px;
      display: flex;
      align-items: center;
  }

  .mobile-product-box .mobile-product-tag{
      position: relative;
      background: #e7004c;
      font-size: 12px;
      color: #fff;
      line-height: 1;
      padding: 5px 10px;
      overflow: hidden;
      margin-left: 10px;
      zoom: .9;
  }

  .mobile-product-box .mobile-product-tag::before {
      position: absolute;
      content: "";
      display: block;
      width: 200%;
      height: 200%;
      z-index: 2;
      background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%);
      animation: scanning 3s linear infinite;
  }

  @keyframes scanning {
      0% {
          transform: translate(-100%, -100%);
      }

      100% {
          transform: translate(100%, 100%);
      }
  }

  .mobile-product-box .mobile-product-sub{
      font-size: 12px;
      color: #9b9b9b;
      line-height: 1.2;
      margin-top:3px;
  }
  .mobile-product-box .mobile-product-star{
      font-size: 14px;
      line-height: 1;
      color: #e7004c;
      margin-top:3px;
  }

  .hide-menu-item .mobile-nav__item:nth-child(1),.hide-menu-item .mobile-nav__item:nth-child(2),.hide-menu-item .mobile-nav__item:nth-child(3){
    /* display:none; */
  }

  .header__linklist-item.has-tag{
    display: flex;
    gap: 5px;
    color: #E0004D;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
  }
  li.mobile-nav__item.mobile-has__tag {
    /* display: none; */
  }

  .header__linklist-item.has-tag img{
    max-width:12px;
    vertical-align: inherit;
    display: inline-block;
    margin-left: 5px;
  }

    @media screen and (min-width: 741px) {
      #shopify-section-{{ section.id }} .header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px;
      }
    }

    @media screen and (min-width: 1200px) {
      {%- if section.settings.header_layout == 'logo_left_navigation_inline' -%}
        /* For this navigation we have to move the logo at the first and add a margin */
        [dir="rtl"] .header__logo {
          margin-left: 40px;
        }

        [dir="ltr"] .header__logo {
          margin-right: 40px;
        }

        .header__logo {
          order: -1;
        }

        @media screen and (min-width: 741px) {
          .header__secondary-links {
            max-width: max-content;
            margin-inline-start: 48px;
          }
        }
      {%- endif -%}

      {%- if section.settings.header_layout == 'logo_left_navigation_center' -%}
        /* For this navigation we have to move the logo and make sure the navigation takes the whole width */
        .header__logo {
          order: -1;
          flex: 1 1 0;
        }

        .header__inline-navigation {
          flex: 1 1 auto;
          justify-content: center;
          max-width: max-content;
          margin-inline: 48px;
        }
      {%- endif -%}
      #search-drawer .drawer__header{
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: 100px;
    }

      #search-drawer{
        max-width:none;
        width:100%;
        display:block;
        background: rgba(0, 0, 0, .5);
      }

      #search-drawer .drawer__content{
        min-height:400px;
        max-height:calc(100vh - var(--header-height-without-bottom-nav));
        padding-bottom: 40px;
        background: #fff;
      }

      #search-drawer .predictive-search__form{
        width: 880px;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 4px;
        border: 1px solid #ECECEC;
        background: #F5F5F5;
        padding: 0 30px;
      }

      #search-drawer .predictive-search__input{
        width: 100%;
        height: 60px;
      }

      #search-drawer .predictive-search__content-wrapper{
        max-width:1520px;
        margin:0 auto;
      }
      #search-drawer .tabs-nav--narrow .tabs-nav__item-list{
        gap: 32px;
        display: flex;
      }
      #search-drawer .tabs-nav--no-border.tabs-nav--narrow .tabs-nav__item{
        flex:1;
        font-size:24px;
        opacity: 1;
        font-weight: normal;
        font-family: var(--heading-font-family);
      }
      #search-drawer .tabs-nav__position.is-initialized{
        display:none;
      }

      #search-drawer .predictive-search__results-categories{
        display:flex;
        gap: 32px;
      }

      #search-drawer .predictive-search__results-categories-item{
        flex:1;
        padding-right: 20px;
        position: relative;
      }

      #search-drawer .predictive-search__results-categories-item:last-child{
        /* padding-right: 0; */
      }

      #search-drawer .predictive-search__results-categories-item::before{
        position: absolute;
        content: "";
        width: 1px;
        height: calc(100% + 65px);
        background-color: #EEEDED;
        right: 0;
        bottom: 0;
      }

      #search-drawer .predictive-search__results-categories-item[hidden]{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }

      #search-drawer .predictive-search__article-category{
        display:none;
      }

      #search-drawer .predictive-search__linklist{
        margin-left:0;
        width: 100%;
      }
      [dir=ltr] #search-drawer .line-item__image-wrapper{
        margin-right: 16px;
      }
      #search-drawer .line-item__image-wrapper {
        width: 100px;
      }
      #search-drawer .predictive-search__article-image-wrapper {
        width: 120px;
      }
      #search-drawer .product-item-meta__title,
      #search-drawer .predictive-search__article-title,
      #search-drawer .predictive-search__linklist-link{
        font-family: var(--heading-font-family);
        display:flex;
        line-height: 1.3;
      }
      [dir=ltr] #search-drawer .article-item--horizontal .article-item__arrow{
        display:none;
      }
    }

  #search-drawer .drawer__footer{
      display:none;
    }
    #search-drawer .drawer__content.drawer__content-top{
      padding-top:30px;
    }
    #search-drawer .predictive-search__linklist-item{
      border:0;
    }
    #search-drawer .link-more{
      display: inline-flex;
      gap: 5px;
      align-items: center;
      color: #E0004D;
      font-size: 14px;
      line-height: 1.5;
      background: linear-gradient(0deg, #E0004D, #E0004D) no-repeat;
      background-size: 100% 1.5px;
      background-position: left bottom;
      margin-top: 30px;
    }
    #search-drawer .link-more:hover{
      color:#BC0047;
      background: linear-gradient(0deg, #BC0047, #BC0047) no-repeat;
      background-size: 100% 1.5px;
      background-position: left bottom;
    }

    #search-drawer .link-more:hover path{
      stroke:#BC0047;
    }

    .product-recommend-wrap {
      padding-top: 40px;
    }

    .product-recommend {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;

      height: 450px;
      {% comment %} justify-content: center; {% endcomment %}

    }

    .product-recommend-title{
      font-size: 24px;
      font-weight:500;
      color: #190a0a;
      margin-bottom: 20px;
      width: 430px;
    }




    .product-recommend-item{
      width: 430px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      cursor: pointer;
    }

    .product-recommend-item img:hover{
      opacity: 0.8;
    }



    .product-recommend-info{
      margin-left: 15px;
    }

    .product-recommend-name{
      display: flex;
      align-items: center;

      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      font-family: var(--heading-font-family);
    }

    .product-recommend-tag{
      margin-left: 15px;
      font-size: 12px;
      padding: 0px 4px;
      background: #e0004d;
      line-height: 1;
      color: #fff;
      height: 16px;
      display: flex;
      align-items: center;
    }

    .product-recommend-price{
      color: #181a1d;
      font-size:14px;
      color: rgb(0,0,4);
    }

    .product-recommend-item .jdgm-star{
      font-size:12px;
      padding: 0 4px 0 0!important;
    }

    .product-recommend-item .jdgm-prev-badge__text{
      color: #756b6e;
      font-size: 12px;
    }

    .header__linklist-link {
      font-size: 16px;
    }
    @media screen and (max-width: 1200px){
      #search-drawer .drawer__header{
        border:0;
        padding-bottom: 0;
        padding-right: 50px;
        height:auto;
      }
      #search-drawer .predictive-search__form{
        border-radius: 4px;
        border: 1px solid #ECECEC;
        background: #F5F5F5;
        width: 100%;
        height: 60px;
        padding: 0 10px;
      }
     #search-drawer .drawer__header .drawer__close-button{
        top:40px;
      }
      .product-recommend-wrap {
        padding-top: 20px;
      }
      .product-recommend{
        height: auto;
      }

      .product-recommend-item{
        margin-bottom: 15px;
      }

      .product-recommend-title{
        font-size:16px;
      }

      .product-recommend-name{
        align-items: flex-start;
        font-size:14px;
      }

      .product-recommend-price {
        font-size: 12px;
      }

      .product-recommend-tag{
        margin-left: 5px;
        font-size: 10px;
        height: 14px;
      }


      .product-recommend-item .jdgm-prev-badge__text{
        font-size: 10px;
      }

      .product-recommend-item .jdgm-star {
        font-size: 10px;
        padding: 0 2px 0 0 !important;
      }
    }

    {%- if request.page_type == '404' -%}
      .shopify-section--404 {
        /* For the 404 page, we re-use the same colors as the header for design reason */
        --background: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
        --heading-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
        --text-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
        --primary-button-background: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
        --primary-button-text-color: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
      }
    {%- endif -%}
    a.popu_subscripte {
      font-size: 14px;
      text-decoration: underline;
      background-size: cover;
      height: 56px;
      width: 45px;
      position: fixed;
      bottom: 80px;
      right: 24px;
      z-index: 9;
   }
   a.popu_subscripte:hover{
    background: url('https://cdn.shopify.com/s/files/1/0656/9079/6273/files/e68c8b11217f0893136008a9096aef89.svg?v=1699438353');
    background-size: cover;
   }
  @media screen and (max-width: 740px){
    a.popu_subscripte {
      font-size: var(--heading-h5-font-size);
      bottom: 160px;
    }
  }
</style>

<store-header
  {% if section.settings.enable_sticky_header %}
    sticky
  {% endif %}
  {% if request.page_type == 'index' and section.settings.enable_transparent_header %}
    transparent
  {% endif %}
  class="header {% if settings.background == settings.header_background %}header--bordered{% endif %} {% if request.page_type == 'index' and section.settings.enable_transparent_header %}header--transparent{% endif %}"
  role="banner"
>
  {%- assign menu = section.settings.navigation_menu -%}
  <div class="container">
    <div class="header__wrapper">
      <!-- LEFT PART -->
      <nav
        class="header__inline-navigation"
        {% unless section.settings.header_layout == 'logo_center_search_open' %}
          role="navigation"
        {% endunless %}
      >
        {%- if menu.links.size > 0
          and section.settings.header_layout == 'logo_left_navigation_inline'
          or section.settings.header_layout == 'logo_left_navigation_center'
          or section.settings.header_layout == 'logo_center_navigation_inline'
        -%}
          {%- render 'desktop-menu', menu: menu -%}
        {%- endif -%}

        <div class="header__icon-list {% if section.settings.header_layout == 'logo_center_search_open' %}hidden-desk{% endif %}">
          {%- if menu.links.size > 0 -%}
            <button
              is="toggle-button"
              class="header__icon-wrapper tap-area {% unless section.settings.header_layout == 'drawer' %}hidden-desk{% endunless %}"
              aria-controls="mobile-menu-drawer"
              aria-expanded="false"
            >
              <span class="visually-hidden">{{ 'header.general.navigation' | t }}</span>
              {%- render 'icon' with 'header-hamburger' -%}
            </button>
          {%- endif -%}
        </div>

        {%- if section.settings.header_layout == 'logo_center_search_open' -%}
          <div class="header__search-bar predictive-search hidden-pocket">
            <form class="predictive-search__form" action="{{ routes.search_url }}" method="get" role="search">
              <input type="hidden" name="type" value="product">
              <input type="hidden" name="options[prefix]" value="last">
              <input
                type="hidden"
                name="options[unavailable_products]"
                value="{{ settings.search_unavailable_products }}"
              >

              {%- render 'icon' with 'header-search' -%}
              <input
                class="predictive-search__input"
                is="predictive-search-input"
                type="text"
                name="q"
                autocomplete="off"
                autocorrect="off"
                aria-controls="search-drawer"
                aria-expanded="false"
                aria-label="{{ 'search.general.title' | t }}"
                placeholder="{{ 'search.general.search_placeholder' | t }}"
              >
            </form>
          </div>
        {%- endif -%}
      </nav>

      <!-- LOGO PART -->
      {%- capture logo -%}
        <a class="header__logo-link" href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- capture logo_size -%}{{ section.settings.logo_max_width | at_least: section.settings.mobile_logo_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
            <span class="visually-hidden">{{ shop.name }}</span>
            <img class="header__logo-image" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | escape }}">
            {%- if request.page_type == 'index' and section.settings.enable_transparent_header and section.settings.transparent_logo != blank -%}
              <img class="header__logo-image header__logo-image--transparent" width="{{ section.settings.transparent_logo.width }}" height="{{ section.settings.transparent_logo.height }}" src="{{ section.settings.transparent_logo | img_url: logo_size }}" alt="{{ section.settings.transparent_logo.alt | escape }}">
            {%- endif -%}
          {%- else -%}
            <span class="header__logo-text heading h5">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endcapture -%}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__logo">{{ logo }}</h1>
      {%- else -%}
        <span class="header__logo">{{ logo }}</span>
      {%- endif -%}

      <!-- SECONDARY LINKS PART -->
      <div class="header__secondary-links">
        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if locale_selector or country_selector -%}
          {%- form 'localization', id: 'header-localization-form', class: 'header__cross-border hidden-pocket' -%}
            {%- if country_selector -%}
              <div class="popover-container">
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                <span class="visually-hidden">{{ 'header.general.country' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="popover-button text--small"
                  aria-expanded="false"
                  aria-controls="header-localization-form-currency"
                >
                  {{- localization.country.name }} ({{ localization.country.currency.iso_code }}
                  {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%}
                  )
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="header-localization-form-currency" class="popover">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'header.general.country' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}"
                    >
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content popover__content--restrict">
                    <div class="popover__choice-list">
                      {%- for country in localization.available_countries -%}
                        <button
                          type="submit"
                          name="country_code"
                          value="{{ country.iso_code }}"
                          class="popover__choice-item"
                        >
                          <span
                            class="popover__choice-label"
                            {% if country.iso_code == localization.country.iso_code %}
                              aria-current="true"
                            {% endif %}
                          >
                            {{- country.name }} ({{ country.currency.iso_code }}
                            {% if country.currency.symbol %}{{ country.currency.symbol }}{%- endif -%}
                            )
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="popover-container">
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                <span class="visually-hidden">{{ 'header.general.language' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="popover-button text--small"
                  aria-expanded="false"
                  aria-controls="header-localization-form-locale"
                >
                  {{- localization.language.endonym_name | capitalize -}}
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="header-localization-form-locale" class="popover">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'header.general.language' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}"
                    >
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content">
                    <div class="popover__choice-list">
                      {%- for language in localization.available_languages -%}
                        <button
                          type="submit"
                          name="locale_code"
                          value="{{ language.iso_code }}"
                          class="popover__choice-item"
                        >
                          <span
                            class="popover__choice-label"
                            {% if language.iso_code == localization.language.iso_code %}
                              aria-current="true"
                            {% endif %}
                          >
                            {{- language.endonym_name | capitalize -}}
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}

        <div class="header__icon-list">
          {%- if section.settings.header_layout != 'logo_center_search_open' -%}
            <a
              href="{{ routes.search_url }}"
              is="toggle-link"
              class="j-search header__icon-wrapper tap-area hidden-lap {% unless section.settings.show_icons %}hidden-desk{% endunless %}"
              aria-label="{{ 'search.general.title' | t | escape }}"
              aria-controls="search-drawer"
              aria-expanded="false"
            >
              {%- render 'icon' with 'header-search' -%}
            </a>
          {%- endif -%}

          {%- if shop.customer_accounts_enabled -%}
            {% if customer %}
              <div
                class="header__icon-wrapper tap-area hidden-phone"
                aria-label="{{ 'header.general.account' | t | escape }}"
              >
                {%- render 'icon' with 'header-customer' -%}
                <div class="account-list">
                  <a href="https://account.ulike.com/account?site=uk" data-no-instant alt="Account Center" class="item">
                    {{ 'customer.general.account_center' | t }}
                  </a>
                  <a href="https://www.ulike.com/account/logout" data-no-instant class="item header-logout" alt="Log Out" class="item">
                    {{ 'customer.general.log_out' | t }}
                  </a>
                </div>
              </div>
            {% else %}
              <a
                href="https://account.ulike.com/login?site=uk"
                class="header__icon-wrapper  j-user-login tap-area {% unless section.settings.show_icons %}hidden-desk{% endunless %}"
                aria-label="{% if customer %}{{ 'header.general.account' | t | escape }}{% else %}{{ 'header.general.login' | t | escape }}{% endif %}"
              >
                {%- render 'icon' with 'header-customer' -%}
              </a>
            {% endif %}
          {%- endif -%}

          <a
            href="{{ routes.cart_url }}"
            {% unless settings.cart_type == 'page' or request.page_type == 'cart' %}
              is="toggle-link" aria-controls="mini-cart" aria-expanded="false"
            {% endunless %}
            class="j-cart header__icon-wrapper tap-area {% unless section.settings.show_icons %}hidden-desk{% endunless %}"
            aria-label="{{ 'header.general.cart' | t | escape }}"
            data-no-instant
          >
            {%- case settings.cart_icon -%}
              {%- when 'shopping_bag' -%}
                {%- render 'icon' with 'header-cart' -%}

              {%- when 'shopping_cart' -%}
                {%- render 'icon' with 'header-shopping-cart' -%}

              {%- when 'tote_bag' -%}
                {%- render 'icon' with 'header-tote-bag' -%}
            {%- endcase -%}
            <cart-count
              class="header__cart-count header__cart-count--floating bubble-count"
              cart="{{- cart.item_count -}}"
            >
              {{- cart.item_count -}}
            </cart-count>
          </a>
        </div>

        {%- unless section.settings.show_icons -%}
          <ul class="header__linklist list--unstyled hidden-pocket hidden-lap" role="list">
            {%- if section.settings.header_layout != 'logo_center_search_open' -%}
              <li class="header__linklist-item">
                <a href="{{ routes.search_url }}" is="toggle-link" aria-controls="search-drawer" aria-expanded="false">
                  {{- 'search.general.title' | t | escape -}}
                </a>
              </li>
            {%- endif -%}

            {%- if shop.customer_accounts_enabled -%}
              <li class="header__linklist-item">
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
                  {%- if customer -%}
                    {{ 'header.general.account' | t }}
                  {%- else -%}
                    {{ 'header.general.login' | t }}
                  {%- endif -%}
                </a>
              </li>
            {%- endif -%}

            <li class="header__linklist-item">
              <a
                href="{{ routes.cart_url }}"
                {% unless settings.cart_type == 'page' %}
                  is="toggle-link" aria-controls="mini-cart" aria-expanded="false"
                {% endunless %}
                data-no-instant
              >
                {{- 'header.general.cart' | t | escape -}}
                <cart-count class="header__cart-count bubble-count">{{ cart.item_count }}</cart-count>
              </a>
            </li>
          </ul>
        {%- endunless -%}
      </div>
    </div>

    {%- if menu.links.size > 0 and section.settings.header_layout == 'logo_center_search_open' -%}
      <nav class="header__bottom-navigation hidden-pocket hidden-lap" role="navigation">
        {% render 'desktop-menu', menu: menu, bottom_navigation: true %}
      </nav>
    {%- endif -%}
  </div>
</store-header>

{%- if section.settings.new_header -%}
  {% render 'desktop-menu-popup', menu: menu %}
{%- endif -%}

{%- comment -%}
  ------------------------------------------------------------------------------------
    CART NOTIFICATION: it is used to show the notification when a product is added in message mode
  ------------------------------------------------------------------------------------
{%- endcomment -%}

<cart-notification
  global
  hidden
  class="cart-notification {% unless section.settings.enable_sticky_header %}cart-notification--fixed{% endunless %}"
></cart-notification>

{%- comment -%}
  ------------------------------------------------------------------------------------
  MOBILE MENU DRAWER
  ------------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign menu = section.settings.sidebar_navigation_menu | default: section.settings.navigation_menu -%}
{%- render 'mobile-menu', menu: menu -%}

{%- comment -%}
  ------------------------------------------------------------------------------------
  SEARCH DRAWER
  ------------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'predictive-search' -%}
{%- if section.settings.new_header -%}
  <script>
    document.querySelectorAll('.header-new-popup .header-new-product-btn').forEach((button, index) => {
      button.addEventListener('click', (event) => {
        event.preventDefault();
        const id = button.getAttribute('data-id');
        const code = button.getAttribute('data-code');
        console.log(index);
        index = Number(index) > 2 ? Number(index) - 3 : index;
        switch (index) {
          case 0:
            commonGtmEvent('导航-air10_add to cart', 'true', location.pathname);
            break;
          case 1:
            commonGtmEvent('导航-air3_add to cart', 'true', location.pathname);
            break;
          case 2:
            commonGtmEvent('导航-air2_add to cart', 'true', location.pathname);
            break;
          {% comment %} case 3:
            commonGtmEvent('导航-reglow_add to cart', 'true', location.pathname);
            break; {% endcomment %}
        }
        addToCart(id, null, {}, code);
        if (window.innerWidth < 1200) {
          $('.drawer__close-button--block').click();
        }
        event.stopPropagation();
      });
    });
  </script>
{%- endif -%}
<script>
  (() => {
    const headerElement = document.getElementById('shopify-section-{{ section.id }}'),
      headerHeight = headerElement.clientHeight,
      headerHeightWithoutBottomNav = headerElement.querySelector('.header__wrapper').clientHeight;

    document.documentElement.style.setProperty('--header-height', headerHeight + 'px');
    document.documentElement.style.setProperty(
      '--header-height-without-bottom-nav',
      headerHeightWithoutBottomNav + 'px'
    );
  })();
</script>

{%- if search_product -%}
  <script>
    window.addEventListener('load', function () {
      $('html').on('click', '.header-search-product-box .header-search-product-dot-item', function (e) {
        e.preventDefault();
        let $this = $(this);
        let index = $this.index();
        if ($this.hasClass('active')) return;
        $this.addClass('active').siblings().removeClass('active');
        $this
          .closest('.header-search-product-item')
          .find('.header-search-product-img-item.active')
          .removeClass('active');
        $this
          .closest('.header-search-product-item')
          .find('.header-search-product-img-item')
          .eq(index)
          .addClass('active');
      });

      if (window.innerWidth < 1200) {
        var productSwiper = new Swiper('.header-search-product-swiper', {
          slidesPerView: 'auto',
          spaceBetween: 10,
        });
      }
    });
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "checkbox",
      "id": "new_header",
      "label": "使用新二级header",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "default_one",
      "label": "移动端默认展开第一个菜单",
      "default": false,
      "info": "使用新二级header 才有效果"
    },
    {
      "type": "text",
      "id": "hide_m_txt",
      "label": "移动端需要隐藏的菜单",
      "info": "使用新二级header 才有效果(只能隐藏一个，并且二级菜单会直接展开显示)"
    },
    {
      "type": "text",
      "id": "rm_text",
      "label": "活动查看更多文案",
      "info": "使用新二级header 才有效果"
    },
    {
      "type": "url",
      "id": "rm_link",
      "label": "活动查看更多链接",
      "info": "使用新二级header 才有效果"
    },
    {
      "type": "text",
      "id": "rm_text1",
      "label": "产品查看更多文案",
      "info": "使用新二级header 才有效果"
    },
    {
      "type": "url",
      "id": "rm_link1",
      "label": "产品查看更多链接",
      "info": "使用新二级header 才有效果"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "280 x 80px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 40,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 25,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 100
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sidebar_navigation_menu",
      "label": "Mobile menu",
      "info": "Select a different menu for mobile sidebar. If none is set the main menu is used."
    },
    {
      "type": "header",
      "content": "Desktop",
      "info": "Those settings apply on large screen only"
    },
    {
      "type": "select",
      "id": "header_layout",
      "label": "Layout",
      "options": [
        {
          "value": "logo_left_navigation_inline",
          "label": "Logo left, navigation inline"
        },
        {
          "value": "logo_left_navigation_center",
          "label": "Logo left, navigation center"
        },
        {
          "value": "logo_center_navigation_inline",
          "label": "Logo center, navigation inline"
        },
        {
          "value": "logo_center_search_open",
          "label": "Logo center, search highlighted"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_left_navigation_inline"
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Show icons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "reduce_desktop_padding",
      "label": "Reduce padding",
      "default": false
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": false
    },
    {
      "type": "header",
      "content": "Transparent header",
      "info": "Home page only. For best results, use an image section such as slideshow."
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "Enable",
      "default": false
    },
    {
      "type": "color",
      "id": "transparent_header_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Logo image",
      "info": "Uses the dimensions set on your main logo."
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "Quick links menu",
      "info": "Display quick links when empty. This menu has limited support for dropdown items."
    },
    {
      "type": "text",
      "id": "text_link",
      "label": "Mobile text"
    },
    {
      "type": "color",
      "id": "mobile_text_color",
      "label": "Mobile text color",
      "default": "#000000"
    },
    {
      "type": "image_picker",
      "id": "mb_img",
      "label": "Mobile image"
    },
    {
      "type": "image_picker",
      "id": "mb_icon",
      "label": "Mobile icon"
    },
    {
      "type": "url",
      "id": "mb_link",
      "label": "Mobile link"
    },
    {
      "type": "header",
      "content": "搜索弹窗"
    },
    {
      "type": "image_picker",
      "id": "default_image",
      "label": "默认图片"
    },
    {
      "type": "url",
      "id": "articles_link",
      "label": "Articles More"
    },
    {
      "type": "url",
      "id": "pages_link",
      "label": "Pages More"
    },
    {
      "type": "url",
      "id": "collections_link",
      "label": "Collections More"
    },
    {
      "type": "text",
      "id": "no_results",
      "label": "没有搜索结果提示",
      "default": "Sorry, there are no results for"
    },
    {
      "type": "text",
      "id": "text_hot",
      "label": "Text",
      "default": "These popular categories might interest you."
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_tag",
          "label": "Menu Tag"
        },
        {
          "type": "image_picker",
          "id": "image_link_tag",
          "label": "Image Link Tag"
        },
        {
          "type": "text",
          "id": "text_link_tag",
          "label": "Tag",
          "info": "这个标签使用新二级header 才有用"
        },
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown. [Learn more](https://support.maestrooo.com/article/180-navigation-enabling-and-configuring-mega-navigation)."
        },
        {
          "type": "select",
          "id": "images_position",
          "label": "Images position",
          "info": "When featuring 4 images or more, we recommend to not use any dropdown links to keep the navigation easy to use.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "header",
          "content": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_1_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_1_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_1_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_2_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_2_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_2_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_3_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_3_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_3_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 4"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_4_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_4_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_4_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 5"
        },
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_5_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_5_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_5_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 6"
        },
        {
          "type": "image_picker",
          "id": "image_6",
          "label": "Image",
          "info": "560 x 420px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_6_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_6_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_6_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "product_menu",
      "name": "Product menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_text",
          "label": "Menu text"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_1_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_1_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "image_1_sub",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "image_1_star",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_1_link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_2_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_2_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "image_2_sub",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "image_2_star",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_2_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "product_block",
      "name": "Product Block",
      "settings": [
        {
          "type": "text",
          "id": "name_tag",
          "label": "标记"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_1_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "image_1_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "image_1_sub",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "image_1_star",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "image_1_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "product_search",
      "name": "Featured Products",
      "settings": [
        {
          "type": "text",
          "id": "tag",
          "label": "标签"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "color_s",
          "label": "Color"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "color_s1",
          "label": "Color"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "color_s2",
          "label": "Color"
        },
        {
          "type": "product",
          "id": "product",
          "label": "产品选择"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "product_range",
      "name": "Product Range",
      "settings": [
        {
          "type": "text",
          "id": "name_txt",
          "label": "对应导航"
        },
        {
          "type": "text",
          "id": "text",
          "label": "标题"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "选择一个产品分类"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "加购文案",
          "default": "Add to Cart"
        },
        {
          "type": "text",
          "id": "rm_text",
          "label": "产品查看更多文案"
        },
        {
          "type": "url",
          "id": "rm_link",
          "label": "产品查看更多链接"
        }
      ]
    },
    {
      "type": "operate_block",
      "name": "Operate Block",
      "settings": [
        {
          "type": "text",
          "id": "name_txt",
          "label": "对应导航"
        },
        {
          "type": "text",
          "id": "text",
          "label": "标题"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "按钮文案"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "按钮链接"
        }
      ]
    },
    {
      "type": "market_block",
      "name": "Market Block",
      "settings": [
        {
          "type": "text",
          "id": "market_txt",
          "label": "对应导航"
        },
        {
          "type": "header",
          "content": "广告位1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "链接"
        },
        {
          "type": "header",
          "content": "广告位2"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "链接"
        }
      ]
    },
    {
      "type": "product_search_recommend",
      "name": "Product Search recommend",
      "settings": [
        {
          "type": "header",
          "content": "Ulike Air 10"
        },
        {
          "type": "image_picker",
          "id": "product_image_1",
          "label": "产品图片"
        },
        {
          "type": "url",
          "id": "product_link_1",
          "label": "产品链接"
        },
        {
          "type": "text",
          "id": "product_name_1",
          "label": "产品名称"
        },
        {
          "type": "text",
          "id": "product_tag_1",
          "label": "产品标签"
        },
        {
          "type": "range",
          "id": "product_rating_1",
          "label": "产品评分",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5
        },
        {
          "type": "number",
          "id": "product_review_1",
          "label": "评论数量"
        },
        {
          "type": "number",
          "id": "product_price_1",
          "label": "价格"
        },
        {
          "type": "header",
          "content": "Ulike Air 3"
        },
        {
          "type": "image_picker",
          "id": "product_image_2",
          "label": "产品图片"
        },
        {
          "type": "url",
          "id": "product_link_2",
          "label": "产品链接"
        },
        {
          "type": "text",
          "id": "product_name_2",
          "label": "产品名称"
        },
        {
          "type": "text",
          "id": "product_tag_2",
          "label": "产品标签"
        },
        {
          "type": "range",
          "id": "product_rating_2",
          "label": "产品评分",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5
        },
        {
          "type": "number",
          "id": "product_review_2",
          "label": "评论数量"
        },
        {
          "type": "number",
          "id": "product_price_2",
          "label": "价格"
        },
        {
          "type": "header",
          "content": "Ulike X"
        },
        {
          "type": "image_picker",
          "id": "product_image_3",
          "label": "产品图片"
        },
        {
          "type": "url",
          "id": "product_link_3",
          "label": "产品链接"
        },
        {
          "type": "text",
          "id": "product_name_3",
          "label": "产品名称"
        },
        {
          "type": "text",
          "id": "product_tag_3",
          "label": "产品标签"
        },
        {
          "type": "range",
          "id": "product_rating_3",
          "label": "产品评分",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5
        },
        {
          "type": "number",
          "id": "product_review_3",
          "label": "评论数量"
        },
        {
          "type": "number",
          "id": "product_price_3",
          "label": "价格"
        },
        {
          "type": "header",
          "content": "Ulike ReGlow"
        },
        {
          "type": "image_picker",
          "id": "product_image_4",
          "label": "产品图片"
        },
        {
          "type": "url",
          "id": "product_link_4",
          "label": "产品链接"
        },
        {
          "type": "text",
          "id": "product_name_4",
          "label": "产品名称"
        },
        {
          "type": "text",
          "id": "product_tag_4",
          "label": "产品标签"
        },
        {
          "type": "range",
          "id": "product_rating_4",
          "label": "产品评分",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5
        },
        {
          "type": "number",
          "id": "product_review_4",
          "label": "评论数量"
        },
        {
          "type": "number",
          "id": "product_price_4",
          "label": "价格"
        }
      ]
    }
  ]
}
{% endschema %}
