<style>
.ifa-swiper {
  padding: 120px 0 88px 0;
  overflow: hidden;
}

.ifa-swiper .ifa-swiper-h3 {
  color: #190a0a;
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.ifa-swiper .ifa-swiper-cont {
  margin-top: 56px;
  padding: 2vw 0;
}

.ifa-swiper .ifa-swiper-item {
  width: 55.625vw;
  transform: scale(0.9);
  position: relative;
  z-index: 1;
}

.ifa-swiper .ifa-swiper-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.ifa-swiper .ifa-swiper-item::after {
  content: '';
  width: 100%;
  display: block;
  padding-top: 56.18%;
}

.ifa-swiper .swiper-slide-active {
  transform: scale(1.1);
}

.ifa-swiper .swiper-slide-active::before {
  display: none;
}

.ifa-swiper .ifa-swiper-item .img,
.ifa-swiper .ifa-swiper-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ifa-swiper .ifa-swiper-wrapper video{
    width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.ifa-swiper .video-wrapper__play-button {
    border-radius: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin-bottom: 0 !important;
}

.ifa-swiper .ifa-swiper-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-top: 40px;
}

.ifa-swiper .ifa-swiper-bottom svg {
  display: block;
  cursor: pointer;
}

.ifa-swiper .ifa-swiper-pagination {
  display: flex;
  gap: 11px;
  width:auto;
}

.ifa-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #cecece;
  opacity: 1;
}

.ifa-swiper .swiper-pagination-bullet-active {
  background: #3f3636;
}

@media (max-width: 991px) {
  .ifa-swiper {
    padding: 60px 0;
  }

  .ifa-swiper .ifa-swiper-h3 {
    font-size: 24px;
    text-align: left;
    max-width: 278px;
  }
}

@media (max-width: 768px) {
  .ifa-swiper .ifa-swiper-cont {
    margin-top: 40px;
    padding: 0 24px;
  }

  .ifa-swiper .ifa-swiper-item {
    width: 300px;
    transform: scale(1);
  }

  .ifa-swiper .ifa-swiper-item::after {
    padding-top: 100%;
  }

  .ifa-swiper .swiper-slide-active {
    transform: scale(1);
  }

  .ifa-swiper .ifa-swiper-item::before {
    display: none;
  }

  .ifa-swiper .ifa-swiper-bottom {
    justify-content: flex-start;
    gap: 40px;
    padding: 0 24px;
  }

  .ifa-swiper .ifa-swiper-pagination {
    display: none;
  }

  .ifa-swiper .swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
</style>
<section class="section-box">
    <div class="ifa-swiper">
        <div class="container">
        {%- if section.settings.text != blank -%}
            <h3 class="ifa-swiper-h3">{{ section.settings.text }}</h3>
        {%- endif -%}
        </div>
        <div class="ifa-swiper-cont">
        <div class="ifa-swiper-list swiper-wrapper">
            {%- for block in section.blocks -%}
                <div class="ifa-swiper-item swiper-slide">
                {%- unless block.settings.video != blank -%}
                    {%- if block.settings.image != blank or block.settings.image1 != blank -%}
                        <picture>
                            <source srcset="{{block.settings.image1 | image_url }}" media="(max-width: 991px)">
                            <img loading="lazy"
                                class="img"
                                width=""
                                height=""
                                {% render 'image-attributes', image: block.settings.image %}
                                alt="{{ block.settings.image.alt | escape }}">
                        </picture>
                    {%- endif -%}
                {%- endunless -%}
                {%- if block.settings.video != blank -%}
                    {%- assign video_url = block.settings.video -%}
                    {%- if request.user_agent contains "Mobile" and block.settings.mobile_video != blank -%}
                        {%- assign video_url = block.settings.mobile_video -%}
                    {%- endif -%}
                    <native-video class="ifa-swiper-wrapper video-wrapper--native" >
                        <button type="button" class="video-wrapper__play-button video-wrapper__play-button--large video-wrapper__play-button--ripple" title="{{ 'general.accessibility.play_video' | t | escape }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                                <path
                                d="M30 60C23.0788 59.996 16.3718 57.5998 11.015 53.217C5.65828 48.8343 1.98121 42.7347 0.606713 35.9513C-0.767784 29.168 0.244803 22.1181 3.47294 15.9958C6.70108 9.87356 11.9463 5.05541 18.32 2.35755C25.6512 -0.740174 33.9128 -0.798712 41.2871 2.19482C48.6615 5.18835 54.5447 10.9887 57.6424 18.32C60.7402 25.6512 60.7987 33.9127 57.8052 41.2871C54.8116 48.6615 49.0112 54.5446 41.68 57.6424C37.985 59.2062 34.0123 60.0081 30 60ZM23.5048 17.6568C23.2926 17.6568 23.0892 17.741 22.9391 17.8911C22.7891 18.0411 22.7048 18.2446 22.7048 18.4568V41.5408C22.7048 41.6832 22.7429 41.823 22.815 41.9458C22.8871 42.0686 22.9906 42.1699 23.115 42.2393C23.2393 42.3087 23.3799 42.3436 23.5223 42.3405C23.6647 42.3374 23.8036 42.2963 23.9248 42.2216L42.6768 30.6816C42.7926 30.6098 42.8881 30.5097 42.9544 30.3907C43.0206 30.2717 43.0554 30.1378 43.0554 30.0016C43.0554 29.8654 43.0206 29.7314 42.9544 29.6124C42.8881 29.4934 42.7926 29.3933 42.6768 29.3216L23.92 17.7768C23.7952 17.6994 23.6516 17.6579 23.5048 17.6568Z"
                                fill="white" />
                            </svg>
                        </button>
                        {%- if block.settings.image != blank or block.settings.image1 != blank -%}
                            <picture>
                                <source srcset="{{block.settings.image1 | image_url }}" media="(max-width: 991px)">
                                <img loading="lazy"
                                    class="img"
                                    width=""
                                    height=""
                                    {% render 'image-attributes', image: block.settings.image %}
                                    alt="{{ block.settings.image.alt | escape }}">
                            </picture>
                        {%- endif -%}
                        <template>
                            {{- video_url | video_tag: image_size: 'master', controls: false, autoplay: false, playsinline: true, muted: true, loop: true -}}
                        </template>
                    </native-video>
                  {%- endif -%}
                </div>
            {%- endfor -%}
        </div>
        </div>
    {%- if section.blocks.size > 0 -%}
        <div class="ifa-swiper-bottom">
        <div class="ifa-swiper-arraw ifa-swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" viewBox="0 0 30 23" fill="none">
            <g clip-path="url(#clip0_4710_368)">
                <path
                d="M1.90735e-06 11.4922C1.90735e-06 11.6737 0.067318 11.8537 0.196098 11.9912L10.44 22.9668L11.5098 21.9688L2.41463 12.2239H30C30 11.4161 29.3444 10.7605 28.5366 10.7605H0.765366C0.488781 10.7605 0.219515 10.8995 0.0878067 11.1439C0.0278072 11.2537 1.90735e-06 11.3737 1.90735e-06 11.4922Z"
                fill="#190A0A" />
                <path
                d="M1.53073 8.92683C2.10292 9.49756 3.02926 9.49756 3.59999 8.92683L11.4937 1.03463L10.459 0L1.53219 8.92683H1.53073Z"
                fill="#190A0A" />
            </g>
            <defs>
                <clipPath id="clip0_4710_368">
                <rect width="30" height="22.9683" fill="white" transform="matrix(-1 0 0 1 30 0)" />
                </clipPath>
            </defs>
            </svg>
        </div>
        <div class="ifa-swiper-pagination"></div>
        <div class="ifa-swiper-arraw ifa-swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" viewBox="0 0 30 23" fill="none">
            <g clip-path="url(#clip0_4710_364)">
                <path
                d="M30 11.4922C30 11.6737 29.9327 11.8537 29.8039 11.9912L19.56 22.9668L18.4902 21.9688L27.5854 12.2239H0C0 11.4161 0.65561 10.7605 1.46341 10.7605H29.2346C29.5112 10.7605 29.7805 10.8995 29.9122 11.1439C29.9722 11.2537 30 11.3737 30 11.4922Z"
                fill="#190A0A" />
                <path
                d="M28.4693 8.92683C27.8971 9.49756 26.9707 9.49756 26.4 8.92683L18.5063 1.03463L19.541 0L28.4678 8.92683H28.4693Z"
                fill="#190A0A" />
            </g>
            <defs>
                <clipPath id="clip0_4710_364">
                <rect width="30" height="22.9683" fill="white" />
                </clipPath>
            </defs>
            </svg>
        </div>
        </div>
    {%- endif -%}
  </div>
</section>
<script>
    window.onload = function () {
      let swiper = new Swiper('.ifa-swiper-cont', {
        autoplay: false,
        speed: 1000,
        spaceBetween: 20,
        autoplayDisableOnInteraction: false,
        loop: false,
        centeredSlides: false,
        slidesPerView: "auto",
        pagination: {
          el: ".ifa-swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".ifa-swiper-button-next",
          prevEl: ".ifa-swiper-button-prev",
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 50,
            centeredSlides: true,
            loop: true,
          }
        }
      });
    }
</script>
{% schema %}
{
  "name": "ifa-swiper",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image1",
            "label": "M Image"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video",
            "info": "Replaces the external video if both are set."
        },
        {
            "type": "video",
            "id": "mobile_video",
            "label": "Mobile Video",
            "info": "Replaces the external video if both are set."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "ifa-swiper",
      "blocks": []
    }
  ]
}
{% endschema %}
