<style>
.ipl-product{
  padding: 80px 0;
  background: #f9f9f9;
}
.ipl-product .title-diy{
  text-align: left;
}
.ipl-product .ipl-product-list{
  display: flex;
  gap: 47px;
  margin-top: 60px;
}

.ipl-product .ipl-product-item{
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
}

.ipl-product .ipl-product-img,.ipl-product .ipl-product-text{
  width: 50%;
}

.ipl-product .img{
  display: block;
  width: 100%;
}

.ipl-product .mb-box{
  display:none;
}

.ipl-product .ipl-product-text{
  padding: 20px 20px 20px 80px;
  color: #000;
}

.ipl-product .ipl-product-h3{
  font-size: 30px;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.ipl-product .ipl-product-star{
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.ipl-product .ipl-product-star span{
  letter-spacing: 2px;
  color: #e7004c;
}

.ipl-product .ipl-product-price{
  font-size: 20px;
  color: #bebebe;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.ipl-product .n-price{
  color: #e7004c;
  font-family: var(--heading-font-family);
}

.ipl-product .d-price{
  text-decoration: line-through;
}

.ipl-product .ipl-product-tag{
  position: relative;
  background: #e7004c;
  font-size: 14px;
  font-family: var(--heading-font-family);
  color: #fff;
  padding: 1px 5px;
  overflow: hidden;
}

.ipl-product .ipl-product-tag::before {
  position: absolute;
  content: '';
  display: block;
  width: 200%;
  height: 200%;
  z-index: 2;
  background: linear-gradient( -45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60% );
  animation: scanning 3s linear infinite;
}

@keyframes scanning {
  0% {
      transform: translate(-100%, -100%);
  }

  100% {
      transform: translate(100%, 100%);
  }
}

.ipl-product .ipl-product-p{
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

.ipl-product .ipl-product-p p{
  margin: 0;
}
.ipl-product .ipl-product-p ul{
  padding-left:15px;
}

.ipl-product .ipl-product-colours {
  margin-top: 15px;
}

.ipl-product .ipl-product-colours-list {
  display: flex;
  gap: 8px;
}

.ipl-product .ipl-product-colours-item {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.ipl-product .ipl-product-colours-item.active {
  border-color: #000;
  width: 40px;
  height: 40px;
}

.ipl-product .ipl-product-colours-item span {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.ipl-product .ipl-product-colours-item.active
  span {
  width: 30px;
  height: 30px;
}
  
.ipl-product .ipl-product-btn{
  width: 180px;
  height: 48px;
  font-size: 16px;
  margin-top: 30px;
  color: #fff;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.ipl-product .ipl-product-btn .btn-txt::before{
  color: #000;
}

@media (max-width:1400px) {
  .ipl-product .ipl-product-list{
    gap: 30px;
  }
  .ipl-product .ipl-product-h3{
    font-size: 25px;
  }
  .ipl-product .ipl-product-price{
    font-size: 18px;
  }
  .ipl-product .ipl-product-p{
    margin-top: 10px;
    line-height: 1.5;
    font-size: 14px;
  }
  .ipl-product .ipl-product-text{
    padding: 10px 10px 10px 30px;
  }
  .ipl-product .ipl-product-btn{
    margin-top: 15px;
  }
  
}

@media (max-width:1200px) {
  .ipl-product .ipl-product-text{
    zoom: .8;
  }
}

@media (max-width:991px) {
  .ipl-product{
    padding: 50px 0;
  }
  .ipl-product .ipl-product-list{
    flex-direction: column;
    margin-top: 30px;
  }
  .ipl-product .ipl-product-text{
    zoom: 1;
  }
}

@media (max-width:640px) {
  .ipl-product .ipl-product-item{
    flex-direction: column;
  }
  .ipl-product .ipl-product-img,
  .ipl-product .ipl-product-text{
    width: 100%;
  }
  .ipl-product .mb-box{
    display:block;
  }
  .ipl-product .pc-box{
    display:none;
  }
  .ipl-product .ipl-product-text{
    padding: 20px;
  }
  .ipl-product .ipl-product-text-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ipl-product .ipl-product-star{
    margin-top: 0;
  }
  .ipl-product .ipl-product-btn{
    width: 100%;
  }
}
</style>
<section class="section-box">
  <div class="ipl-product" style="background:{{ section.settings.background_color }};">
    <div class="container">
      <div class="title-diy to-top">{{ section.settings.title }}</div>
      <div class="ipl-product-list">
        {%- for block in section.blocks -%}
          {%- liquid
            assign se_stts = block.settings
            if se_stts.product != blank
              assign product = se_stts.product
            endif
          -%}
        <div class="ipl-product-item to-top" style="transition-delay: 0.{{ forloop.index }}s">
          <div class="ipl-product-img">
            {%- if block.settings.image != blank -%}
               <img loading="lazy" class="img pc-box" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" {% render 'image-attributes', image: block.settings.image %} alt="{{ block.settings.image.alt | escape }}" >
            {%- endif -%}
          {%- if block.settings.image1 != blank -%}
               <img loading="lazy" class="img mb-box" width="{{ block.settings.image1.width }}" height="{{ block.settings.image1.height }}" {% render 'image-attributes', image: block.settings.image1 %} alt="{{ block.settings.image1.alt | escape }}" >
            {%- endif -%}
          </div>
          <div class="ipl-product-text">
            <div class="ipl-product-text-top">
              <div class="ipl-product-h3">{{ block.settings.text }}</div>
              <div class="ipl-product-star"><span>{{ block.settings.text1 }}</span>{{ block.settings.text2 }}</div>
            </div>
            <div class="ipl-product-p">
              {{ block.settings.text6 }}
            </div>
            <div class="ipl-product-colours">
              {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}
              {%- for option in product.options_with_values -%}
                {%- assign option_name = option.name -%}
                {% if option_name == 'Colour' %}
                  <div class="ipl-product-colours-list">
                    {% for value in option.values %}
                      {%- assign variant_for_value = product.variants | where: 'option1', value | first -%}
                      <div class="ipl-product-colours-item {% if value == option.selected_value %} active {% endif%}" 
                        id="{{ variant_for_value.id }}"
                        inventory_quantity="{{ variant_for_value.inventory_quantity }}"
                        name="{{ value }}"
                        data-index="{{ forloop.index }}"
                        >
                        <span style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: value %}"></span>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="ipl-product-price">
              {% if product.selected_or_first_available_variant.metafields.custom.page_price != blank %}
                <div class="n-price" 
                  {% for variant in product.variants %}
                  data-nprice{{ forloop.index }}="{{ variant.metafields.custom["page_price"] | times: 100 | money }}"
                  {% endfor %}
                  >
                  {{
                    product.selected_or_first_available_variant.metafields.custom.page_price
                    | times: 100
                    | money
                  }}
                </div>
              {% endif %}
              {% if se_stts.product %}
                <div class="d-price" 
                  {% for variant in product.variants %}
                    data-dprice{{ forloop.index }}="{{ variant.price | money }}"
                  {% endfor %}
                  >
                  {{ product.price | money }}
                </div>
              {% endif %}
              {%- if block.settings.text5 != blank -%}
                <div class="ipl-product-tag">{{ block.settings.text5 }}</div>
              {%- endif -%}
            </div>
            {%- if block.settings.text7 != blank -%}
              <div class="ipl-product-btn btn-diy" data-id="{{ product.selected_or_first_available_variant.id }}" data-code="{{ block.settings.text8 }}">
                <div class="btn-txt" text="{{ block.settings.text7 }}">
                  <span>{{ block.settings.text7 }}</span>
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<script>
  document.querySelectorAll('.ipl-product .ipl-product-btn').forEach(item => {
    item.addEventListener('click', () => {
      let id = item.getAttribute('data-id')
      let code = item.getAttribute('data-code')
      addToCart(id, null, {}, code, 1)
    })
  })

  document.querySelectorAll('.ipl-product-colours-item').forEach(item => {
    item.addEventListener('click', () => {
      let num = item.getAttribute('data-index')
      let id = item.getAttribute('id')
      let p = item.closest('.ipl-product-colours-list')
      let cp = item.closest('.ipl-product-item')
      p.querySelectorAll('.ipl-product-colours-item').forEach(i => { i.classList.remove('active') })
      item.classList.add('active')
      cp.querySelector('.ipl-product-btn').setAttribute('data-id', id)
      cp.querySelector('.n-price').innerHTML = cp.querySelector('.n-price').getAttribute('data-nprice' + num)
      cp.querySelector('.d-price').innerHTML = cp.querySelector('.d-price').getAttribute('data-dprice' + num)
    })
  })
</script>
{% schema %}
{
"name": "ipl-product-new",
"blocks": [
    {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "产品选择"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text5",
        "label": "Text"
      },
      {
        "type": "richtext",
        "id": "text6",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text7",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text8",
        "label": "Code"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#f9f9f9"
    }
  ],
  "presets": [
    {
      "name": "ipl-product-new",
      "blocks": []
    }
  ]
}
{% endschema %}