<style>
.ipl-accordion{
  padding: 80px 0;
  background: #f9f9f9;
  position: relative;
  overflow: hidden;
}
.ipl-accordion .ipl-accordion-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ipl-accordion .title-diy{
  font-family: var(--text-font-family);
  text-align: left;
}
.ipl-accordion .ipl-accordion-top-arraw{
  display: flex;
  align-items: center;
  gap:30px;
}
.ipl-accordion .ipl-accordion--top-arraw-item{
  cursor: pointer;
}
.ipl-accordion .ipl-accordion--top-arraw-item svg{
  display:block;
}
.ipl-accordion .ipl-accordion-list{
  display: flex;
  gap: 13px;
  margin-top: 60px;
  justify-content: space-between;
  position: relative;
  z-index:1;
  
}

.ipl-accordion .ipl-accordion-item{
  width: 370px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.ipl-accordion .ipl-accordion-item .img{
  display: block;
  /* height: 100%;
  width: auto;
  margin: 0 auto;
  max-width: none;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%); */
}

.ipl-accordion .ipl-accordion-item.active .img{
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  transform: translateX(0);
  min-height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;   /* WebKit 内核 */
  user-select: none;         /* 避免选中 */
  -webkit-user-select: none;
}

/* .ipl-accordion .ipl-accordion-item.active{
  width: 34.69%;
} */

.ipl-accordion .ipl-accordion-txt{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.ipl-accordion .ipl-accordion-p{
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-family: var(--heading-font-family);
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  transition: width 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.ipl-accordion .active .ipl-accordion-p{
  width: auto;
  flex: 1;
}

.ipl-accordion .ipl-accordion-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
  flex-shrink: 0;
  transform: translateX(100px);
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  animation: pulse-shadow 2s infinite
}

@keyframes pulse-shadow {
  0% {
      box-shadow: 0 0 0 0 rgba(255,255,255,0.7)
  }

  70% {
      box-shadow: 0 0 0 10px rgba(255,255,255,0)
  }

  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255,0)
  }
}

.ipl-accordion .active .ipl-accordion-btn{
  transform: translateX(0px);
}

.ipl-accordion .ipl-accordion-btn::before,.ipl-accordion .ipl-accordion-btn::after{
  position: absolute;
  content: '';
  display: block;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ipl-accordion .ipl-accordion-btn::before{
  width: 12px;
  height: 2px;
}

.ipl-accordion .ipl-accordion-btn::after{
  width: 2px;
  height: 12px;
}
.ipl-accordion .ipl-accordion-item .ipl-accordion-popup{
  display:none;
}
.ipl-accordion-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(10px);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}

.ipl-accordion-popup.open{
  pointer-events: all;
  opacity: 1;
  transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.ipl-accordion-popup .ipl-accordion-popup-cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 1200px;
}

.ipl-accordion-popup .ipl-accordion-popup-box{
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  color: #000;
  line-height: 1.2;
  transform: rotateX(35deg) scaleY(.8);
  opacity: .5;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ipl-accordion-popup.open .ipl-accordion-popup-box{
  transform: rotateX(0deg) scaleY(1);
  opacity: 1;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
  
.ipl-accordion-popup .ipl-accordion-popup-guide{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding-top: 80px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
  display: none;
}
  
.ipl-accordion-popup .ipl-accordion-popup-guide img{
  width: 100px;
  display: block;
  margin: 0 auto;
  animation: img-translate 1s linear infinite;
}

@keyframes img-translate {
  0% {
    transform: translate3d(0,10%,0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0,-10%,0);
    opacity: 0;
  }
}
  
.ipl-accordion-popup .ipl-accordion-popup-h3{
  font-size: 30px;
  font-family: var(--heading-font-family);
  text-align: center;
}
.ipl-accordion-popup .ipl-accordion-popup-sub{
  text-align: center;
  max-width:720px;
  margin:0 auto;
}
.ipl-accordion-popup .ipl-accordion-popup-p{
  font-size: 16px;
  margin-top: 15px;
}

.ipl-accordion-popup .ipl-accordion-popup-p p{
  margin: 0;
}

.ipl-accordion-popup .ipl-accordion-popup-p li{
  font-size: 25px;
  position: relative;
}

.ipl-accordion-popup .ipl-accordion-popup-list{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.ipl-accordion-popup .ipl-accordion-popup-item{
  flex: 1;
}

.ipl-accordion-popup .p-img{
  display: block;
  width: 100%;
}
.ipl-accordion-popup .ipl-accordion-popup-num{
  color: #3F3636;
  font-size: 19px;
  line-height: 1.2;
  margin-top: 15px;
}
.ipl-accordion-popup .ipl-accordion-popup-txt{
  font-size: 18px;
  margin-top: 8px;
  /* text-align: center; */
}

.ipl-accordion-popup .ipl-accordion-popup-txt p{
  margin: 0;
}

.ipl-accordion-popup .ipl-accordion-popup-txt strong{
  font-weight: normal;
  font-family: var(--heading-font-family);
}

.ipl-accordion-popup .ipl-accordion-popup-close{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15px;
  cursor: pointer;
  border: 2px solid #fff;
  position: relative;
  transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ipl-accordion-popup .ipl-accordion-popup-close:hover{
  transform: rotate(360deg);
}

.ipl-accordion-popup .ipl-accordion-popup-close::after,
.ipl-accordion-popup .ipl-accordion-popup-close::before{
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: 15px;
  background: #fff;
  left: 50%;
  top: 50%;
}

.ipl-accordion-popup .ipl-accordion-popup-close::after{
  transform: translate(-50%,-50%) rotate(45deg);
}

.ipl-accordion-popup .ipl-accordion-popup-close::before{
  transform: translate(-50%,-50%) rotate(-45deg);
}

.ipl-accordion .ipl-accordion-cont{
  position: relative;
  z-index: 1;
}

.ipl-accordion .ipl-accordion-arraw{
  /* position: absolute; */
  /* width: 100%; */
  /* left: 0; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  z-index: 3;
  justify-content: center;
  gap:40px;
  margin-top:30px;
  display: none;
  /* pointer-events: none; */
}

.ipl-accordion .ipl-accordion-arraw-item{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  transition: all .4s ease;
  position: relative;
  z-index:3;
  cursor: pointer;
  pointer-events: all;
}

.ipl-accordion .ipl-accordion-arraw-item:last-child{
  transform: scale(-1,-1);
}

.ipl-accordion .ipl-accordion-arraw-item::before{
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: translate(-50%,-50%) rotate(-45deg);
  margin-left: 2px;
  transition: all .4s ease;
}

.ipl-accordion .ipl-accordion-arraw-item:hover{
  background: #fff;
}

.ipl-accordion .ipl-accordion-arraw-item:hover::before{
  border-color: #000;
}

  .ipl-accordion-popup .ipl-accordion-popup-p ul{
    list-style: none;
    position: relative;
    padding-left: 30px;
  }

  .ipl-accordion-popup .ipl-accordion-popup-p li{
    margin-bottom: 45px;
    position: relative;
  }
  .ipl-accordion-popup .ipl-accordion-popup-p li:last-child{
    margin-bottom: 0;
  }
  
  .ipl-accordion-popup .ipl-accordion-popup-p strong{
    font-weight: normal;
    font-family: var(--heading-font-family);
  }
  
  .ipl-accordion-popup .ipl-accordion-popup-p li::before{
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 12px;
    left: -30px;
    background: #e7004c;
    box-shadow: 0 0 0 5px rgba(231,0,76,0.3);
    z-index: 2;
  }
  
  .ipl-accordion-popup .ipl-accordion-popup-p li::after{
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: calc(100% + 50px);
    left: -24.5px;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background: #eee;
  }
  
  .ipl-accordion-popup .ipl-accordion-popup-p li:first-child:after{
    top: 20px;
    transform: translateX(-50%);
  }
  
  .ipl-accordion-popup .ipl-accordion-popup-p li:last-child:after{
    top: auto;
    transform: translateX(-50%);
    bottom: calc(100% - 20px);
  }

@media (max-width:1300px) {
  .ipl-accordion .ipl-accordion-p{
    font-size: 16px;
  }
}

@media (max-width:991px) {
  .ipl-accordion{
    padding: 50px 0;
  }
  .ipl-accordion .ipl-accordion-top{
  justify-content: center;
}
  .ipl-accordion .title-diy{
    text-align: center;
  }
  
  .ipl-accordion .ipl-accordion-top-arraw{
    display:none;
  }
  .ipl-accordion .ipl-accordion-list{
    margin-top: 30px;
    gap: 0;
  }

  .ipl-accordion .ipl-accordion-item,.ipl-accordion .ipl-accordion-item.active{
    width: 100%;
    flex-shrink: 0;
    margin-left: 31px;
  }

  .ipl-accordion .active .ipl-accordion-p{
    font-size: 13px;
  }

  .ipl-accordion .ipl-accordion-txt{
    bottom: 20px;
    padding: 0 15px;
  }

  .ipl-accordion .ipl-accordion-btn{
    transform: translateX(0);
    zoom: .8;
  }

  .ipl-accordion .ipl-accordion-p{
    width: auto;
    flex: 1;
  }

  .ipl-accordion .ipl-accordion-arraw{
    display: flex;
    padding: 0 12px;
  }
  .ipl-accordion-popup .ipl-accordion-popup-box{
    padding:20px;
  }
  .ipl-accordion-popup .ipl-accordion-popup-scroll{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 -13px;
    padding: 0 13px;
    scrollbar-width: thin;
    position: relative;
    z-index: 1;
  }

  .ipl-accordion-popup .ipl-accordion-popup-list{
   flex-direction: column;
  }

  .ipl-accordion-popup .ipl-accordion-popup-h3{
    font-size: 20px;
  }

  .ipl-accordion-popup .ipl-accordion-popup-p{
    font-size: 14px;
  }

  .ipl-accordion-popup .ipl-accordion-popup-txt{
    font-size: 16px;
  }
  .ipl-accordion-popup .ipl-accordion-popup-p li{
    font-size:16px;
  }
  
  .ipl-accordion-popup .ipl-accordion-popup-guide{
    display:block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .ipl-accordion-popup.hide-guide .ipl-accordion-popup-guide{
    opacity: 0;
  }
   .ipl-accordion-popup .ipl-accordion-popup-p li::before{
     top:7px;
   }
  .ipl-accordion-popup .ipl-accordion-popup-p li:first-child:after{
    top:15px;
  }
  .ipl-accordion-popup .ipl-accordion-popup-p li:last-child:after{
    bottom: calc(100% - 15px);
  }
  .ipl-accordion-popup .ipl-accordion-popup-p li{
    margin-bottom:20px;
  }
}

  .ipl-accordion-max .ipl-accordion-popup-cont{
    max-width:1200px;
  }

.ipl-accordion-popup-oth {
  display: flex;
  align-items: center;
  gap: 60px;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-left {
  width: 35%;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-right {
  flex: 1;
  position: relative;
  overflow: hidden;
  --left-num: 100%;
  --time-num: 1s;
}
.ipl-accordion-popup-oth .ipl-accordion-popup-oth-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.ipl-accordion-popup-oth .ipl-accordion-popup-oth-img img {
  display: block;
  width: 100%;
}
.ipl-accordion-popup-oth .ipl-accordion-popup-oth-img:first-child {
  position: absolute;
  width: var(--left-num);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all var(--time-num) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-img:first-child img {
  width: auto;
  max-width: none;
  height: 100%;
}

.ipl-accordion-popup-oth .ipl-accordion-tag-txt {
  position: absolute;
  top: 15px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 15px;
  right: 15px;
}

.ipl-accordion-popup-oth
  .ipl-accordion-popup-oth-img:first-child
  .ipl-accordion-tag-txt {
  right: auto;
  left: 15px;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-msg {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 85%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle {
  position: absolute;
  z-index: 5;
  top: 0;
  height: 100%;
  left: var(--left-num);
  transition: all var(--time-num) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle::before,
.ipl-accordion-popup-oth-handle::after {
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: calc(50% - 25px);
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle::before {
  top: 0;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle::after {
  bottom: 0;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: col-resize;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle-btn span {
  position: absolute;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* backdrop-filter: blur(20px); */
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle-btn::before,
.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle-btn::after {
  position: absolute;
  content: '';
  display: block;
  border: 12px solid transparent;
  border-color: transparent #fff transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle-btn::before {
  margin-left: -16px;
}

.ipl-accordion-popup-oth .ipl-accordion-popup-oth-handle-btn::after {
  transform: translate(-50%, -50%) scale(-1, -1);
  margin-left: 16px;
}

.ipl-accordion-popup-oth .no-compare {
  display: flex;
  gap: 13px;
}

.ipl-accordion-popup-oth .no-compare .ipl-accordion-popup-oth-handle {
  display: none;
}
.ipl-accordion-popup-oth .no-compare .ipl-accordion-popup-oth-img {
  flex: 1;
}
.ipl-accordion-popup-oth .no-compare .ipl-accordion-popup-oth-img:first-child {
  position: relative;
  width: auto;
  height: auto;
  flex: 1;
}
.ipl-accordion-popup .ipl-accordion-popup-oth .ipl-accordion-popup-h3{
  text-align: left;
}
.ipl-accordion-popup-oth
  .no-compare
  .ipl-accordion-popup-oth-img:first-child
  img {
  max-width: 100%;
}
.ipl-accordion-popup .three-is{
  justify-content: space-between;
  margin-top: 50px;
}
  .ipl-accordion-popup .three-is .ipl-accordion-popup-item{
    max-width:250px;
  }
.ipl-accordion-popup .four-is{
  margin-top: 50px;
}
.ipl-accordion-popup .four-is .ipl-accordion-popup-item:first-child {
  flex:none;
  width:31.4%;
}

.ipl-accordion-popup .four-is .ipl-accordion-popup-item .p-img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}

.ipl-accordion-popup-slide-bottom {
  display: none;
  align-items: center;
  gap: 30px;
  /* margin-top: 30px; */
}

.ipl-accordion-popup-slide-dot {
  flex: 1;
  height: 2px;
  border-width: 2px;
  background: rgba(25, 10, 10, 0.2);
  position: relative;
  --bf-width: 0;
}

.ipl-accordion-popup-slide-dot::before {
  content: '';
  position: absolute;
  height: 100%;
  width: var(--bf-width);
  max-width: 100%;
  left: 0;
  top: 0;
  background: #190a0a;
  transition: all 0.4s ease;
}

.ipl-accordion-popup-slide-arraw {
  display: flex;
  gap: 20px;
}

.ipl-accordion-popup-slide-arraw-item {
  width: 30px;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.2;
}

.ipl-accordion-popup-slide-arraw-item:hover {
  opacity: 1;
}

.ipl-accordion-popup-slide-arraw-item svg {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .ipl-accordion-popup .three-is{
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ipl-accordion-popup .three-is .ipl-accordion-popup-item{
    flex:none;
    width:calc(50% - 5px);
    max-width: none;
  }
  .ipl-accordion-popup .four-is{
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ipl-accordion-popup .four-is .ipl-accordion-popup-item:first-child {
    width:calc(50% - 5px);
  }
  .ipl-accordion-popup .four-is .ipl-accordion-popup-item{
    flex:none;
    width:calc(50% - 5px);
  }
   .ipl-accordion-popup .ipl-accordion-popup-slide{
    overflow: hidden;
  }
  .ipl-accordion-popup .is-slide .ipl-accordion-popup-list{
    flex-direction: row;
  }
  .ipl-accordion-popup .is-slide .ipl-accordion-popup-item {
    flex: none;
    width: 100%;
    flex-shrink: 0;
  }
  .ipl-accordion-popup-slide-bottom{
    display:flex;
  }
  .ipl-accordion-popup .is-slide .ipl-accordion-popup-scroll{
    max-height:430px;
  }
}
@media (max-width: 768px) {
  .ipl-accordion-popup-oth{
    flex-direction: column;
    gap: 15px;
  }
  .ipl-accordion-popup-oth .ipl-accordion-popup-oth-left{
    width: 100%;
    text-align: center;
  }
  .ipl-accordion-popup-oth .ipl-accordion-tag-txt{
    zoom: .8;
  }
  .ipl-accordion-popup-oth .ipl-accordion-popup-oth-msg{
    display: none;
  }
  .ipl-accordion-popup-oth .no-compare{
    gap:6px;
  }
  .ipl-accordion-popup .ipl-accordion-popup-oth .ipl-accordion-popup-h3{
    text-align: center;
  }
}

  
</style>
<section class="section-box">
  <div class="ipl-accordion">
    <div class="container">
      <div class="ipl-accordion-top">
        <div class="title-diy to-top">{{ section.settings.title }}</div>
        <div class="ipl-accordion-top-arraw to-top">
          <div class="ipl-accordion--top-arraw-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" fill="none">
              <g clip-path="url(#clip0_437_2982)">
                <path d="M1.90735e-06 12.2224C1.90735e-06 12.4039 0.067318 12.5839 0.196098 12.7215L10.44 23.6971L11.5098 22.699L2.41463 12.9541H30C30 12.1463 29.3444 11.4907 28.5366 11.4907H0.765366C0.488781 11.4907 0.219515 11.6297 0.0878067 11.8741C0.0278072 11.9839 1.90735e-06 12.1039 1.90735e-06 12.2224Z" fill="#190A0A"/>
                <path d="M1.53073 9.65681C2.10292 10.2275 3.02926 10.2275 3.59999 9.65681L11.4937 1.76461L10.459 0.72998L1.53219 9.65681H1.53073Z" fill="#190A0A"/>
              </g>
              <defs>
                <clipPath id="clip0_437_2982">
                  <rect width="30" height="22.9683" fill="white" transform="matrix(-1 0 0 1 30 0.72998)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="ipl-accordion--top-arraw-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" fill="none">
              <g clip-path="url(#clip0_437_2978)">
                <path d="M30 12.2224C30 12.4039 29.9327 12.5839 29.8039 12.7215L19.56 23.6971L18.4902 22.699L27.5854 12.9541H0C0 12.1463 0.65561 11.4907 1.46341 11.4907H29.2346C29.5112 11.4907 29.7805 11.6297 29.9122 11.8741C29.9722 11.9839 30 12.1039 30 12.2224Z" fill="#190A0A"/>
                <path d="M28.4693 9.65681C27.8971 10.2275 26.9707 10.2275 26.4 9.65681L18.5063 1.76461L19.541 0.72998L28.4678 9.65681H28.4693Z" fill="#190A0A"/>
              </g>
              <defs>
                <clipPath id="clip0_437_2978">
                  <rect width="30" height="22.9683" fill="white" transform="translate(0 0.72998)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
      <div class="ipl-accordion-cont">
        <div class="ipl-accordion-list">
          {%- for block in section.blocks -%}
          <div class="ipl-accordion-item active to-top" style="transition-delay: 0.{{ forloop.index }}s" data-index="{{ forloop.index }}">
            {%- if block.settings.image != blank -%}
               <!-- <img loading="lazy" class="img" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" {% render 'image-attributes', image: block.settings.image %} alt="{{ block.settings.image.alt | escape }}" > -->
              <picture>
                <source srcset="{{ block.settings.image_m | image_url }}" alt="{{ block.settings.text }}" media="(max-width: 991px)">
                <img class="img" alt="{{ block.settings.text }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" src="{{ block.settings.image | image_url }}">
              </picture>
            {%- endif -%}
            <div class="ipl-accordion-txt">
              <div class="ipl-accordion-p">{{ block.settings.text }}</div>
              <div class="ipl-accordion-btn"></div>
            </div>
            <div class="ipl-accordion-popup {% if block.type == 'item-new' %}ipl-accordion-max{% endif %}">
              <div class="ipl-accordion-popup-cont">
                <div class="ipl-accordion-popup-box {% if block.settings.isSlide %}is-slide{% endif %}">
                  <div class="ipl-accordion-popup-scroll">
                      {% if block.type == 'item' %}
                        <div class="ipl-accordion-popup-h3">{{ block.settings.text }}</div>
                        {%- if block.settings.text1 != blank -%}
                          <div class="ipl-accordion-popup-p ipl-accordion-popup-sub">{{ block.settings.text1 }}</div>
                        {%- endif -%}
                        <div class="ipl-accordion-popup-slide"> 
                          <div class="ipl-accordion-popup-list {% if block.settings.isThree %}three-is{% endif %} {% if block.settings.isFour %}four-is{% endif %}">
                            {%- if block.settings.image1 != blank -%}
                              <div class="ipl-accordion-popup-item">
                                <img loading="lazy" class="p-img" width="{{ block.settings.image1.width }}" height="{{ block.settings.image1.height }}" {% render 'image-attributes', image: block.settings.image1 %} alt="{{ block.settings.image1.alt | escape }}" >
                                {% if block.settings.isSlide %}
                                  <div class="ipl-accordion-popup-num">
                                    01
                                  </div>
                                {% endif %}
                                {%- if block.settings.text2 != blank -%}
                                  <div class="ipl-accordion-popup-txt">
                                    {{ block.settings.text2 }}
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            {%- if block.settings.image2 != blank -%}
                              <div class="ipl-accordion-popup-item">
                                <img loading="lazy" class="p-img" width="{{ block.settings.image2.width }}" height="{{ block.settings.image2.height }}" {% render 'image-attributes', image: block.settings.image2 %} alt="{{ block.settings.image2.alt | escape }}" >
                                {% if block.settings.isSlide %}
                                  <div class="ipl-accordion-popup-num">
                                    02
                                  </div>
                                {% endif %}
                                {%- if block.settings.text3 != blank -%}
                                  <div class="ipl-accordion-popup-txt">
                                    {{ block.settings.text3 }}
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            {%- if block.settings.image3 != blank -%}
                            <div class="ipl-accordion-popup-item">
                              <img loading="lazy" class="p-img" width="{{ block.settings.image3.width }}" height="{{ block.settings.image3.height }}" {% render 'image-attributes', image: block.settings.image3 %} alt="{{ block.settings.image3.alt | escape }}" >
                              {% if block.settings.isSlide %}
                                  <div class="ipl-accordion-popup-num">
                                    03
                                  </div>
                                {% endif %}
                              {%- if block.settings.text4 != blank -%}
                                <div class="ipl-accordion-popup-txt">
                                  {{ block.settings.text4 }}
                                </div>
                              {%- endif -%}
                            </div>
                            {%- endif -%}
                            {%- if block.settings.image4 != blank -%}
                            <div class="ipl-accordion-popup-item">
                              <img loading="lazy" class="p-img" width="{{ block.settings.image4.width }}" height="{{ block.settings.image4.height }}" {% render 'image-attributes', image: block.settings.image4 %} alt="{{ block.settings.image4.alt | escape }}" >
                            </div>
                            {%- endif -%}
                          </div>
                        </div>
  
                        {% if block.settings.isSlide %}
                          <div class="ipl-accordion-popup-slide-bottom">
                            <div class="ipl-accordion-popup-slide-dot" style="--bf-width:27.485380116959064%"></div>
                            <div class="ipl-accordion-popup-slide-arraw">
                              <div class="ipl-accordion-popup-slide-arraw-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1715 6.8273L17.6312 6.36755L18.5507 7.28704L18.0909 7.74678L13.8936 11.9441L9.93715 15.9006C9.42933 16.4084 8.606 16.4084 8.09818 15.9006L12.9741 11.0246L17.1715 6.8273ZM5.79342 19.1248C5.53951 18.8709 5.53951 18.4592 5.79342 18.2053C5.87891 18.1198 5.9823 18.0631 6.09152 18.0352V18.0149H6.25174H6.25459H6.7417L25.5967 18.0149H30.1479C30.8661 18.0149 31.4482 18.5971 31.4482 19.3152H25.5967L7.82282 19.3152L18.0909 29.5834L18.5507 30.0431L17.6312 30.9626L17.1715 30.5029L5.79342 19.1248Z" fill="#190A0A"></path>
                                </svg>
                              </div>
                              <div class="ipl-accordion-popup-slide-arraw-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2862 6.8273L19.8264 6.36755L18.907 7.28704L19.3667 7.74678L23.564 11.9441L27.5205 15.9006C28.0283 16.4084 28.8516 16.4084 29.3595 15.9006L24.4835 11.0246L20.2862 6.8273ZM31.6642 19.1248C31.9181 18.8709 31.9181 18.4592 31.6642 18.2053C31.5787 18.1198 31.4753 18.0631 31.3661 18.0352V18.0149H31.2059H31.2031H30.7159L11.8609 18.0149H7.30975C6.59158 18.0149 6.0094 18.5971 6.0094 19.3152H11.8609L29.6348 19.3152L19.3667 29.5834L18.907 30.0431L19.8264 30.9626L20.2862 30.5029L31.6642 19.1248Z" fill="#190A0A"></path>
                                </svg>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                        
                        <div class="ipl-accordion-popup-p">
                          {{ block.settings.text5 }}
                        </div>
                      {% else %}
                      <div class="ipl-accordion-popup-oth">
                        <div class="ipl-accordion-popup-oth-left">
                          <div class="ipl-accordion-popup-h3">{{ block.settings.text }}</div>
                          {%- if block.settings.text1 != blank -%}
                            <div class="ipl-accordion-popup-p">{{ block.settings.text1 }}</div>
                          {%- endif -%}
                        </div>
                        <div class="ipl-accordion-popup-oth-right {% if block.settings.isCompare %}no-compare{% endif %}">
                          {%- if block.settings.image1 != blank -%}
                            <div class="ipl-accordion-popup-oth-img">
                              <!-- <img loading="lazy" class="oth-img" width="{{ block.settings.image1.width }}" height="{{ block.settings.image1.height }}" {% render 'image-attributes', image: block.settings.image1 %} alt="{{ block.settings.image1.alt | escape }}" > -->
                              <picture>
                                <source srcset="{{ block.settings.image1_1 | image_url }}" media="(max-width: 991px)">
                                <img class="oth-img" width="{{ block.settings.image1.width }}" height="{{ block.settings.image1.height }}" src="{{ block.settings.image1 | image_url }}">
                              </picture>
                              {%- if block.settings.text2 != blank -%}
                                <div class="ipl-accordion-tag-txt">
                                  {{ block.settings.text2 }}
                                </div>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                          {%- if block.settings.image2 != blank -%}
                            <div class="ipl-accordion-popup-oth-img">
                              <!-- <img loading="lazy" class="oth-img" width="{{ block.settings.image2.width }}" height="{{ block.settings.image2.height }}" {% render 'image-attributes', image: block.settings.image2 %} alt="{{ block.settings.image2.alt | escape }}" > -->
                              <picture>
                                <source srcset="{{ block.settings.image2_1 | image_url }}" media="(max-width: 991px)">
                                <img class="oth-img" width="{{ block.settings.image2.width }}" height="{{ block.settings.image2.height }}" src="{{ block.settings.image2 | image_url }}">
                              </picture>
                              {%- if block.settings.text3 != blank -%}
                                <div class="ipl-accordion-tag-txt">
                                  {{ block.settings.text3 }}
                                </div>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                         {%- if block.settings.text3 != blank -%}
                          <div class="ipl-accordion-popup-oth-msg">{{ block.settings.text4 }}</div>
                         {%- endif -%}
                          <div class="ipl-accordion-popup-oth-handle">
                            <div class="ipl-accordion-popup-oth-handle-btn">
                              <span></span>
                            </div>
                          </div>
  
                          
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  {%- if forloop.index < 4 and forloop.index != 1 -%}
                    <div class="ipl-accordion-popup-guide" style="display:none;">
                      <img width="" height="" src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/tah.svg" alt="">
                    </div>
                  {%- endif -%}
                </div>
                <div class="ipl-accordion-popup-close"></div>
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>
        <div class="ipl-accordion-arraw to-opacity">
          <div class="ipl-accordion-arraw-item"></div>
          <div class="ipl-accordion-arraw-item"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
   window.addEventListener('load', function () {
      function iplAccordion() {
        let accTimer = null
        let timer = null
        let timers = null
        let $p = $('.ipl-accordion')
        let content = document.querySelector('.ipl-accordion .ipl-accordion-cont')
        function detectSwipe(element, onSwipeLeft, onSwipeRight) {
          let startX = 0;
          const getEventX = (event) => {
            return event.touches ? event.touches[0].clientX : event.clientX;
          };
          const handleTouchStart = (e) => {
            startX = getEventX(e);
          };
          const handleTouchMove = (e) => {
            const deltaX = getEventX(e) - startX;
            if (Math.abs(deltaX) > 10 && e.cancelable) {
              e.preventDefault();
            }
          };
          const handleTouchEnd = (e) => {
            const deltaX = getEventX(e.changedTouches ? e.changedTouches[0] : e) - startX;
            if (deltaX > 10) {
              onSwipeRight();
            } else if (deltaX < -10) {
              onSwipeLeft();
            }
          };
          element.addEventListener('touchstart', handleTouchStart);
          element.addEventListener('touchmove', handleTouchMove);
          element.addEventListener('touchend', handleTouchEnd);
          element.addEventListener('mousedown', handleTouchStart);
          element.addEventListener('mousemove', handleTouchMove);
          element.addEventListener('mouseup', handleTouchEnd);
        }
        // 关闭弹窗
        $('html').on('click', '.ipl-accordion-popup .ipl-accordion-popup-close', function () {
          $(this).parents('.ipl-accordion-popup').removeClass('open')
          $('.ipl-accordion-addHtml').remove()
          clearTimeout(accTimer)
          clearInterval(timer)
          clearInterval(timers)
        })

        // 点击弹窗
        $p.on('click', '.ipl-accordion-item', function () {
          $('body').append(`<div class="ipl-accordion-addHtml">${$(this).find('.ipl-accordion-popup')[0].outerHTML}</div>`)
          setTimeout(() => {
            $('.ipl-accordion-addHtml .ipl-accordion-popup').addClass('open')
            if ($('.ipl-accordion-addHtml .ipl-accordion-popup .ipl-accordion-popup-oth').length && !$('.ipl-accordion-addHtml .ipl-accordion-popup .no-compare').length) {
              iplAccordionInitImg()
            }
            if ($('.ipl-accordion-addHtml .is-slide').length) {
              iplAccordionSlideSwiper()
            }
          }, 50);
          if (window.innerWidth < 991) {
            accTimer = setTimeout(() => {
              $('.ipl-accordion-addHtml .ipl-accordion-popup').addClass('hide-guide')
            }, 3000);
          }
        })

        if (window.innerWidth > 991) {
          iplAccordionSwiper()
        } else {
          mediaRealSlider()
        }
        // pc轮播
        function iplAccordionSwiper() {
          // let $p = $('.ipl-accordion')
          let $right = $p.find(`.ipl-accordion-cont`)
          let $swiper = $p.find(`.ipl-accordion-list`)
          let $arraw = $p.find(`.ipl-accordion--top-arraw-item`)
          let boxWidth = $right[0].offsetWidth
          let itemWidth = $p.find('.ipl-accordion-item')[0].offsetWidth
          let itemLength = $p.find('.ipl-accordion-item').length
          let index = 0
          let isRight = false
          $arraw.eq(0).css({ 'opacity': .25 })
          function changeLeft() {
            $arraw.css({ 'opacity': 1 })
            let left = index * (itemWidth + 13)
            if (left <= 0) {
              left = 0
              $arraw.eq(0).css({ 'opacity': .25 })
            }
            if (left > -boxWidth + (itemWidth + 13) * itemLength - 13) {
              left = -boxWidth + (itemWidth + 13) * itemLength - 13
              isRight = true
              $arraw.eq(1).css({ 'opacity': .25 })
            }
            $swiper.css({ transform: `translateX(-${left}px)`, transition: 'all .5s cubic-bezier(0.645, 0.045, 0.355, 1)', })
          }
          $arraw.click(function () {
            let sindex = $(this).index()
            if (isRight && sindex) return
            isRight = false
            index += sindex ? 1 : -1
            if (index > itemLength - 1) index = itemLength - 1
            if (index < 0) index = 0
            changeLeft()
          })
          detectSwipe(content, () => {
            if (isRight) return
            index++
            if (index > itemLength - 1) index = itemLength - 1
            changeLeft()
          }, () => {
            isRight = false
            index--
            if (index < 0) index = 0
            changeLeft()
          });
        }

        // 移动端轮播
        function mediaRealSlider() {
          let $list = $p.find('.ipl-accordion-list')
          let $bottomArrow = $p.find('.ipl-accordion-arraw')
          let $item = $list.find('.ipl-accordion-item')
          let width = $list.find('.ipl-accordion-item')[0].offsetWidth
          let length = $list.find('.ipl-accordion-item').length
          let index = -2
          let isLeftBtn = 1 //0左 1右
          let dateTb = 0
          let dateTs = 0
          $list.html(
            $list.find('.ipl-accordion-item')[length-2].outerHTML+
            $list.find('.ipl-accordion-item')[length-1].outerHTML+
            $list.html()+
            $list.find('.ipl-accordion-item')[0].outerHTML+
            $list.find('.ipl-accordion-item')[1].outerHTML
          )
          skewTransform(true)
          $p.find('.ipl-accordion-arraw-item').click(function () {
            let sIndex = $(this).index()
            if (+new Date() - dateTb < 600) return
            dateTb = +new Date()
            isLeftBtn = sIndex
            index += sIndex ? -1 : 1
            timersFun(changeLeft)
          })
          function skewTransform(auto, tIndex = index, skew = 0) {
            let translateX = (width + 31) * tIndex - 31
            if (auto) {
              translateX += skew
              $list.css({
                'transform': 'translateX(' + translateX + 'px)',
                'transition': ' all 0s ease'
              })
            } else {
              $list.css({
                'transform': 'translateX(' + translateX + 'px)',
                'transition': ' all .6s ease'
              })
            }
          }
          function changeLeft(skew) {
            if (isLeftBtn && index == -length -2) {
              skewTransform(true, -1, skew)
              index = -2
            }
            if (!isLeftBtn && index == -1) {
              skewTransform(true, -length-2, skew)
              index = -length - 1
            }
            setTimeout(() => {
              skewTransform()
            }, 10);
          }

          function timersFun(fun) {
            clearInterval(timers)
            if (fun) fun()
            timers = setInterval(() => {
              isLeftBtn = 1
              index--
              changeLeft()
            }, 5000);
          }

          timersFun()


          detectSwipe(content, () => {
            isLeftBtn = 1
            index--
            timersFun(changeLeft)
          }, () => {
            isLeftBtn = 0
            index++
            timersFun(changeLeft)
          });
        }

        function iplAccordionInitImg() {
          let $ps = document.querySelector('.ipl-accordion-addHtml .ipl-accordion-popup-oth')
          let $box = $ps.querySelector('.ipl-accordion-popup-oth-right')
          let $hp = $ps.querySelector('.ipl-accordion-popup-oth-handle')
          let $hand = $hp.querySelector('.ipl-accordion-popup-oth-handle-btn')
          let width = $box.clientWidth
          $box.style = `--img-width:${width}px;--left-num:50%;`
          makeElementDraggable($hand)
          function makeElementDraggable(draggableElement) {
            var isDragging = false;
            var offsetX = 0;

            draggableElement.addEventListener('mousedown', function (e) {
              isDragging = true;
              offsetX = e.clientX - $hp.offsetLeft;
              e.preventDefault(); // 阻止默认行为，避免文本选择
            });

            document.addEventListener('mouseup', function () {
              isDragging = false;
            });

            document.addEventListener('mousemove', function (e) {
              if (isDragging) {
                var newX = e.clientX - offsetX;
                if (newX <= 10) newX = 10;
                if (newX >= width - 10) newX = width - 10;
                $box.style = `--img-width:${width}px;--left-num:${newX / width * 100}%;--time-num:0s;`;
                e.preventDefault(); // 阻止默认行为，避免文本选择
              }
            });

            draggableElement.addEventListener('touchstart', function (e) {
              isDragging = true;
              offsetX = e.touches[0].clientX - $hp.offsetLeft;
              e.preventDefault(); // 阻止默认行为
            }, { passive: false });

            document.addEventListener('touchend', function () {
              isDragging = false;
            });

            document.addEventListener('touchmove', function (e) {
              if (isDragging) {
                e.preventDefault();
                var newX = e.touches[0].clientX - offsetX;
                if (newX <= 10) newX = 10;
                if (newX >= width - 10) newX = width - 10;
                $box.style = `--img-width:${width}px;--left-num:${newX / width * 100}%;--time-num:0s;`;
              }
            }, { passive: false });
          }
        }

        function iplAccordionSlideSwiper() {
          let $ps = $('.ipl-accordion-addHtml .is-slide')
          let $list = $ps.find('.ipl-accordion-popup-list')
          let $item = $list.find('.ipl-accordion-popup-item')
          let $dot = $ps.find('.ipl-accordion-popup-slide-dot')
          let $arraw = $ps.find('.ipl-accordion-popup-slide-arraw-item')
          let contents = document.querySelector('.ipl-accordion-addHtml .ipl-accordion-popup-slide')
          let rw = $ps.find('.ipl-accordion-popup-slide').width()
          let length = $item.length
          let index = 0
          let width = $item.width() * 1
          let pw = length * (width + 10) - 10
          let leftMax = pw - rw + width
          let bolR = false

          function changeSwiper() {
            let left = index * (width + 10)
            if (left >= pw - rw) {
              left = pw - rw
              bolR = true
            } else {
              bolR = false
            }
            let bfb = (left + width) / leftMax
            $dot.attr('style', `--bf-width:${bfb * 100}%`)
            $list.css({ transform: `translateX(-${left}px)`, transition: 'all .5s cubic-bezier(0.645, 0.045, 0.355, 1)', })
          }
          changeSwiper()
          $arraw.click(function () {
            let sindex = $(this).index()
            if (sindex && !bolR) index++
            if (!sindex && index > 0) index--
            changeSwiper()
          })

          detectSwipe(contents, () => {
            if (bolR) return
            index++
            changeSwiper()
          }, () => {
            isLast = false
            index--
            if (index < 0) index = 0
            changeSwiper()
          });
        }

      }
      iplAccordion()
    })
  
  </script>
</section>

{% schema %}
{
  "name": "ipl-accordion-new",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_m",
          "label": "Image M"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Popup Details"
        },
        {
          "type": "checkbox",
          "id": "isThree",
          "label": "3图片",
          "default":false
        },
        {
          "type": "checkbox",
          "id": "isFour",
          "label": "4图片",
          "default":false
        },
        {
          "type": "checkbox",
          "id": "isSlide",
          "label": "移动端轮播",
          "default":false
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text3",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text4",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "text5",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image"
        }
      ]
    },
    {
      "name": "item new",
      "type": "item-new",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_m",
          "label": "Image M"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Popup Details"
        },
        {
          "type": "checkbox",
          "id": "isCompare",
          "label": "图片并排",
          "default":false
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image1_1",
          "label": "Image M"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image2_1",
          "label": "Image M"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "text4",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "ipl-accordion-new",
      "blocks": []
    }
  ]
}
{% endschema %}