<style>
.title-diy{
  font-size: 40px;
}

@media (max-width: 991px) {
  .title-diy {
    font-size: 28px;
  }
}
.u-blog-video-btn{
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  bottom: 25px;
  left: 25px;
  z-index: 2;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, .26);
  transition: all .4s ease;
}

.u-blog-video-btn::before{
  position: absolute;
  content: '';
  display: block;
  border-width: 12px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-left: 9px;
  transition: all .4s ease;
}

.u-blog-video-btn:hover{
  background: #fff;
}
.u-blog-video-btn:hover::before{
  border-color: transparent transparent transparent #000;
}
.u-story-group{
  padding: 130px 0;
}

.u-story-group .container{
  max-width: 1400px;
}
.u-story-group .u-story-group-cont{
  display: flex;
  gap: 68px;
}

.u-story-group .u-story-group-left,.u-story-group .u-story-group-right{
  flex: 1;
}
.u-story-group .u-story-group-left{
  cursor: pointer;
}
.u-story-group .u-story-group-img{
  position: relative;
  overflow: hidden;
}

.u-story-group .img{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.u-story-group .u-story-group-img:hover .img{
  transform: scale(1.1);
}

.u-story-group .u-story-group-left .u-story-group-img{
  padding-top: 64.4%;
}

.u-story-group .u-story-group-right img{
  height: 108px;
  position: relative;
}

.u-story-group .u-story-group-right .u-blog-video-btn{
  zoom: .7;
  left: 15px;
  bottom: 15px;
}

.u-story-group .u-story-group-item-title{
  margin-top: 30px;
  font-size: 25px;
  font-family: var(--heading-font-family);
  line-height: 1;
  color: #000;
}

.u-story-group .u-story-group-title{
  font-size: 44px;
  font-family: var(--heading-font-family);
  line-height: 1;
  font-weight: normal;
  color: #000;
  padding-bottom: 35px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 35px;
}

.u-story-group .u-story-group-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.u-story-group .u-story-group-item{
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.u-story-group .u-story-group-item .u-blog-tag{
  zoom: .8;
}

.u-story-group .u-story-group-item .u-story-group-img {
  width: 165px;
}
.u-story-group .u-story-group-text{
  flex: 1;
}

.u-story-group .u-story-group-item .u-story-group-item-title{
  font-size: 20px;
  margin-top: 0;
}

.u-story-group .u-story-group-p{
  font-size: 14px;
  color: #b9b9b9;
  margin-top: 18px;
}

.u-reverse .u-story-group-cont{
  flex-direction: row-reverse;
}

@media (max-width:1300px) {
  .u-story-group .u-story-group-cont{
    gap: 40px;
  }
  .u-story-group .u-story-group-title{
    font-size: 34px;
  }
  .u-story-group .u-story-group-item-title{
    font-size: 20px;
  }
  .u-story-group .u-story-group-item .u-story-group-item-title{
    font-size: 18px;
  }
}

@media (max-width:991px) {
  .u-story-group .u-story-group-cont{
    gap: 20px;
  }
  .u-story-group{
    padding: 60px 0;
  }
  .u-story-group .u-story-group-cont{
    flex-direction: column;
  }
  .u-story-group .u-story-group-item-title{
    font-size: 18px;
  }
  .u-story-group .u-story-group-title{
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .u-story-group .u-story-group-item{
    gap: 15px;
  }
  .u-story-group .u-story-group-item .u-story-group-item-title{
    font-size: 16px;
  }

}

.brand-story-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
}

.brand-story-popup .brand-story-popup-cont {
    position: absolute;
    width: 90%;
    max-width: 1000px;
    height: 0;
    padding-top: 56.25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.brand-story-popup .brand-story-popup-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.brand-story-popup .brand-story-popup-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.brand-story-popup .brand-story-popup-close {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
    position: relative;
    transition: all 0.6s ease;
}

.brand-story-popup .brand-story-popup-close:hover {
    transform: rotate(360deg);
}

.brand-story-popup .brand-story-popup-close::after, .brand-story-popup .brand-story-popup-close::before {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 22px;
    background: #fff;
    top: 50%;
    left: 50%;
}

.brand-story-popup .brand-story-popup-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.brand-story-popup .brand-story-popup-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 1919px) and (min-width:1000px) {
    .brand-story-popup .brand-story-popup-cont {
        padding-top: 366px;
        max-width: 650px;
    }
}

@media (min-width: 1920px) {
    .brand-story-popup .brand-story-popup-cont {
        padding-top: 565.34px;
    }
}

@media (max-width: 768px) {
    .review-video {
        height: 60vh;
    }
}

</style>

<section class="section-box">
  <div class="u-story-group">
    <div class="container">
      <div class="u-story-group-cont">
        {%- for block in section.blocks -%}
          {%- if forloop.index == 1 -%}
            <div class="u-story-group-left to-top">
              <div class="u-story-group-img mark-bottom">
                {%- if block.settings.image != blank -%}
                   <img loading="lazy" class="img" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" {% render 'image-attributes', image: block.settings.image %} alt="{{ block.settings.image.alt | escape }}" >
                {%- endif -%}
                <div class="u-blog-video-btn" data-src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?playsinline=1&autoplay=1&controls=1&mute=1&loop=1&playlist={{ block.settings.video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}"
          ></div>
              </div>
              <div class="u-story-group-item-title">{{ block.settings.text }} </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
        <div class="u-story-group-right to-top" style="transition-delay: 0.1s">
          <h3 class="u-story-group-title">{{ section.settings.title }}</h3>
          <div class="u-story-group-list">
            {%- for block in section.blocks -%}
              {%- if forloop.index != 1 -%}
                <div class="u-story-group-item">
                  <div class="u-story-group-img mark-bottom">
                    {%- if block.settings.image != blank -%}
                       <img loading="lazy" class="img" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" {% render 'image-attributes', image: block.settings.image %} alt="{{ block.settings.image.alt | escape }}" >
                    {%- endif -%}
                    <div class="u-blog-video-btn" data-src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?playsinline=1&autoplay=1&controls=1&mute=1&loop=1&playlist={{ block.settings.video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}"
            ></div>
                  </div>
                  <div class="u-story-group-text">
                    <div class="u-story-group-item-title">{{ block.settings.text }}</div>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    <div class="brand-story-popup">
      <div class="brand-story-popup-cont">
        <div class="brand-story-popup-video">
          <iframe title="" src="" allow="autoplay;" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="brand-story-popup-close">
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    window.addEventListener('load', function() {
        $('html').on('click', '.u-story-group .u-blog-video-btn', function() {
            $('.brand-story-popup iframe').attr('src', $(this).attr('data-src'))
            $('.brand-story-popup').fadeIn()
        })
        $('html').on('click', '.brand-story-popup .brand-story-popup-close', function() {
            $('.brand-story-popup').fadeOut()
            $('.brand-story-popup iframe').attr('src', '')
        })
    })
</script>
{% schema %}
{
  "name": "labs-story-group",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["vimeo", "youtube"],
          "label": "External video",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "labs-story-group"
    }
  ]
}
{% endschema %}