<style>
.title-diy{
  font-size: 40px;
}

@media (max-width: 991px) {
  .title-diy {
    font-size: 28px;
  }
}

.labs-icon{
  padding:80px 0;
}
.labs-icon .container{
  max-width: 1400px;
}
.labs-icon .title-diy{
  font-weight: normal;
  max-width: 755px;
  margin: 0 auto;
}

.labs-icon .labs-icon-list{
  margin-top: 75px;
  display: flex;
  gap: 45px;
}

.labs-icon .labs-icon-item{
  flex: 1;
  background: #f9f9f9;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.labs-icon .labs-icon-popup-desc{
  display: none;
}

.labs-icon .labs-icon-img{
  width: 26%;
  padding-top: 26%;
  background: url({{ section.settings.background_image | img_url: 'original' }}) no-repeat center;
  background-size: 130% 130%;
  position: relative;
  border-radius: 0 0 50% 50%;
}

.labs-icon .labs-icon-img img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
}

.labs-icon .labs-icon-title{
  font-size: 25px;
  margin-top: 20px;
  color: #000;
  font-family: var(--heading-font-family);
}

.labs-icon .labs-link{
  font-size: 16px;
  color: #000;
  width: 125px;
  height: 40px;
  margin-top: 20px;
  border: 2px solid #000;
  cursor: pointer;
}

.labs-icon .labs-link::after{
  background: #000;
}

.labs-icon .labs-link .btn-txt::before{
  color: #fff;
}

.labs-icon-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}
.labs-icon-popup-box{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labs-icon-popup .labs-icon-popup-cont{
  background: #fff;
  width: 590px;
  max-width: calc(100% - 48px);
  border-radius: 10px;
  padding: 45px;
}
.labs-icon-popup .labs-icon-popup-text{
  max-height: 65vh;
  overflow-y: auto;
  padding-bottom: 40px;
  mask: linear-gradient(180deg, #0000, #f9f9f9 0%, #f9f9f9 90%, #0000);
}
.labs-icon-popup .labs-icon-popup-text li{
  font-size: 23px;
  color: #000;
  font-family: var(--heading-font-family);
  position: relative;
  padding-left: 15px;
}
.labs-icon-popup .labs-icon-popup-text ul{
  list-style: none;
  padding: 0;
}

.labs-icon-popup .labs-icon-popup-text li::before{
  position: absolute;
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #e0004d;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.labs-icon-popup .labs-icon-popup-text p{
  font-size: 14px;
  color: #353535;
  margin-top: 10px;
  margin-bottom: 30px;
}
.labs-icon-popup .labs-icon-popup-text p:first-child{
  margin-top: 0;
}
.labs-icon-popup .labs-icon-popup-text h4{
  margin: 0;
  font-size: 16px;
  color: #000;
  font-weight: normal;
  font-family: var(--heading-font-family);
  line-height: 1.4;
}

.labs-icon-popup .labs-icon-popup-btn{
  width: 100%;
  height: 45px;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
}
.labs-icon-popup .labs-icon-popup-btn span{
  color: #fff;
}

.labs-icon-popup .labs-icon-popup-close{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 40px;
  cursor: pointer;
  position: relative;
  transition: all .6s ease;
}
.labs-icon-popup .labs-icon-popup-close:hover{
  transform: rotate(360deg);
}
.labs-icon-popup .labs-icon-popup-close::after,
.labs-icon-popup .labs-icon-popup-close::before{
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: 25px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.labs-icon-popup .labs-icon-popup-close::after{
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width:991px) {
  .labs-icon{
    padding: 50px 0;
  }
  .labs-icon .labs-icon-list{
    margin-top: 40px;
    gap: 30px;
  }

  .labs-icon .labs-icon-item{
    padding: 40px 30px;
  }

  .labs-icon .labs-icon-title{
    font-size: 20px;
  }

}

@media (max-width:740px) {
  .labs-icon .labs-icon-list{
    flex-direction: column;
  }
  .labs-icon-popup .labs-icon-popup-cont{
    padding: 30px;
  }
  .labs-icon-popup .labs-icon-popup-close{
    margin-top: 30px;
    width: 40px;
    height: 40px;
  }
  .labs-icon-popup .labs-icon-popup-text li{
    font-size: 18px;
    line-height: 1;
  }
  .labs-icon-popup .labs-icon-popup-text p{
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  .labs-icon-popup .labs-icon-popup-text h4{
    font-size: 14px;
  }
}

</style>

<section class="section-box">
  <div class="labs-icon">
    <div class="container">
      <h2 class="title-diy to-top">{{ section.settings.title }}</h2>
      <div class="labs-icon-list">
        {%- for block in section.blocks -%}
          <div class="labs-icon-item to-top" style="transition-delay: 0.{{ forloop.index }}s;">
            <div class="labs-icon-img">
              {%- if block.settings.icon != blank -%}
                 <img loading="lazy" class="img" width="{{ block.settings.icon.width }}" height="{{ block.settings.icon.height }}" {% render 'image-attributes', image: block.settings.icon %} alt="{{ block.settings.icon.alt | escape }}" >
              {%- endif -%}
            </div>
            <div class="labs-icon-title">{{ block.settings.text }}</div>
            <div class="labs-link btn-diy">
              <div class="btn-txt" text="{{ block.settings.text1 }}">
                <span>{{ block.settings.text1 }}</span>
              </div>
            </div>
            <div class="labs-icon-popup-desc">
              <div class="labs-icon-popup-text">
                {{ block.settings.text2 }}
              </div>
              <a href="{{ block.settings.link }}" class="labs-icon-popup-btn btn-diy">
                <div class="btn-txt" text="{{ block.settings.text3 }}">
                  <span>{{ block.settings.text3 }}</span>
                </div>
              </a>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  <div class="labs-icon-popup">
    <div class="labs-icon-popup-box">
      <div class="labs-icon-popup-cont">
      </div>
      <div class="labs-icon-popup-close"></div>
    </div>
  </div>
</section>
<script>
    window.addEventListener('load', function() {
      function icoPopup($e) {
        let $popup = $('.labs-icon-popup')
        $e.find('.labs-link').click(function() {
          $popup.find(`.labs-icon-popup-cont`).html($(this).siblings('.labs-icon-popup-desc').html()).closest('.labs-icon-popup').fadeIn(300)
        })
        $popup.find('.labs-icon-popup-close').click(function() {
          $(this).closest('.labs-icon-popup').fadeOut(300)
        })
        // $popup .on('click','.labs-icon-popup-btn', function() {
        //   $(this).closest('.labs-icon-popup').fadeOut(300)
        // })
      }
      icoPopup($('.labs-icon'))
    })
  </script>
{% schema %}
{
  "name": "labs-icon",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title"
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Button Text"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Popup Text"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "Popup Button Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "labs-icon"
    }
  ]
}
{% endschema %}