<style>
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
#shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    background: rgb(var(--section-background, var(--background)));
}
.logo_text-wrapper{
  max-width: 669px;
  margin: 0 auto;
  text-align: center;
}
.logo_text-wrapper h2.h2{
font-size: 44px;
line-height: 1.2;
margin-bottom: 26px;
margin-top: 30px;
}
.logo_text-wrapper .logo_tle{
font-size: 16px;
line-height: 1.5;
}
@media screen and (max-width: 767px){
  .logo_text-wrapper h2.h2{
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .logo_text-wrapper .logo_tle{
    font-size: 14px;
  }
  .logo_text-wrapper{
    max-width: 340px;
  }
}
    @media screen and (max-width: 600px){
    img.logo_new {
    max-width: 142px;
    margin: 0 auto;
}
  }
</style>

<section class="section_logo-text{% if section.settings.custom_class != blank %} {{section.settings.custom_class}}{% endif %}">
  <div class="section-{{ section.id }}-padding">
    <div class="container">
      <div class="logo_text-wrapper">
      {%- if section.settings.image != blank -%}
        <img class="logo_new to-top" src="{{ section.settings.image | image_url }}" style="transition-delay: 0.1s">
      {%- endif -%}
      {%- if section.settings.title != blank -%}
        <h2 class="heading h2 to-top" style="transition-delay: 0.2s">
          <split-lines>{{ section.settings.title | escape }}</split-lines>
        </h2>
      {%- endif -%}
      {%- if section.settings.logo_tle != blank -%}
        <div class="logo_tle to-top" style="transition-delay: 0.3s">
         {{ section.settings.logo_tle | escape }}
        </div>
      {%- endif -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Logo Text",
  "class": "shopify-section--logo-text",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "logo_tle",
        "label": "Logo Text"
      },
      
      {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Logo Text",
      "settings": {},
      "blocks": [
      ]
    }
  ]
}
{% endschema %}