<style>
.media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  .media__endorsement-wrapper {
    background: rgb(var(--background));
    background: rgb(var(--section-background, var(--background)));
}
@media screen and (max-width: 768px){
  .media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}

.media__endorsement-content-extend {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
}
.media__endorsement-content-extend .media__endorsement-autor{
   color: #333333ff;
 font-size: 16px;
}
.media__endorsement-content-extend img{
  max-width:140px;
  max-height:140px;
}
.media__endorsement-content-extend .media__endorsement-text{
  max-width:750px;
}
.media__endorsement-content-extend .h3{
  margin-top:15px;
}
.media__slide__image-box{
     height:595px;
}
@media screen and (min-width: 1000px){
.media__endorsement-content-extend{
  text-align: left;
  max-width: 1350px;
  top: 100px;
}
.media__slide__image-box img{
     height:100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}
}
@media screen and (max-width: 1000px){
.media__endorsement-content-extend img{
  display:none;
}
.media__endorsement-content-extend .media__endorsement-text{
  max-width:100%;
}
}
</style>

<section class="">
  <div class="media__endorsement-wrapper media-{{ section.id }}-padding">
    <div class="">
      <div class="media__endorsement-box-extend">
        {%- for block in section.blocks -%}
          <div class="media__endorsement-list">
          {%- if block.settings.image != blank -%}
            {% comment %} <div class="hidden-pocket">
              {{- block.settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
            </div> {% endcomment %}
             <div class="hidden-pocket media__slide__image-box">
              {{- block.settings.image | image_url: width: 3000 | image_tag: loading: 'eager', class: 'media__slide__image', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
            </div>
          {%- endif -%}
          {%- if block.settings.mobile_image != blank -%}
            {% comment %} <div class="hidden-lap-and-up">
              {{- block.settings.mobile_image | image_url: width: block.settings.mobile_image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
            </div> {% endcomment %}
            <div class="hidden-lap-and-up">
              {{- block.settings.mobile_image | image_url: width: 3000 | image_tag: loading: 'eager', class: 'media__slide__image', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
            </div>
          {%- endif -%}
          <div class="media__endorsement-content-extend">
            {%- if block.settings.media_image != blank -%}
              <div class="">
                {{- block.settings.media_image | image_url: width: block.settings.media_image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
              </div>
            {%- endif -%}
            {%- if block.settings.title != blank -%}
              <h3 class="heading h3">
                {{ block.settings.title | escape }}
              </h3>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              <div class="media__endorsement-text">
                {{- block.settings.content -}}
              </div>
            {%- endif -%}
            {%- if block.settings.custom_autor != blank -%}
              <div class="media__endorsement-autor">{{ block.settings.custom_autor }}</div>
            {%- endif -%}
            {%- if block.settings.button_text != blank -%}
              <a href="{{ block.settings.button_link }}" class="media__endorsement-link">{{ block.settings.button_text }}</a>
            {%- endif -%}
          </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<script>

</script>
{% schema %}
{
  "name": "Media Endorsement Extend",
  "class": "media-endorsement-extend",
  "blocks": [
    {
      "name": "Column",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile image"
        },
        {
            "type": "image_picker",
            "id": "media_image",
            "label": "Media image"
          },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "custom_autor",
          "label": "Custom Autor",
          "default": "-- Kelly"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Media Endorsement Extend"
    }
  ]
}
{% endschema %}