{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<style>

.check_swiper-new {
    display: flex;
    position: relative;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}
.check_swiper-new .swiper-scrollbar {
    background: #DEDEDE;
    height: 2px;
}
.check_swiper-new .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #000000;
}
.next_prev-bix {
    display: flex;
    gap: 30px;
    zoom: .9;
}
.next_prev-bix svg.swiper-button-disabled {
    color: #DEDEDE;
}
.next_prev-bix svg {
    cursor: pointer;
}


.media_new-right .check_swiper-new{
max-width: 60%;
}
  .media_new-wrapper{
    display: flex;
  }
  .media_new-left{
    width: 500px;
    flex-shrink: 0;
  }
  .media_new-right{
    width: 900px;
  }
.media_new-title {
font-size: 44px;
font-weight: normal;
color: #000000;
line-height: 55px;
font-family: var(--heading-font-family);
margin-bottom: 20PX;
}
.media_new-txt {
margin-bottom: 42px;
font-size: 16px;
font-weight: normal;
color: #000000;
line-height: 24px;
}
.media_new-title p{
  margin: 0;
}

.media_new-box .media-evaluation-real-img{
  display: flex;
}
.media_new-box .media-real-img-item {
    flex: 1;
    position: relative;
}
.media_new-box .media-real-img-item img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
    object-fit: cover;
}
.media_new-box .media-real-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.media_new-box .media-evaluation-real-cont {
    flex: 1;
    background: #f9f9f9;
    display: flex;
    padding: 25px 35px;
}
.media_new-box .media-evaluation-real-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 1.2;
    width: 150px;
    margin-right: 70px;
    flex-shrink: 0;
}
.media_new-box .media-evaluation-real-star {
    font-size: 22px;
    line-height: 1;
    color: #e7004c;
}
.media_new-box .media-evaluation-real-star {
    font-size: 22px;
    line-height: 1;
    color: #e7004c;
}
.media_new-box .media-evaluation-real-name {
    font-size: 16px;
    color: #000;
    margin-top: 35px;
    text-align: right;
}
.image_swiper-bix .swiper-slide {
    width: 600px !important;
}
.media_new-box .media-evaluation-real-p{
   min-height: 104px;
}
@media screen and (max-width: 1200px){
  .image_swiper-bix .swiper-slide {
    width: 500px !important;
}
.media_new-left{
  width: 350px;
}
}
@media screen and (max-width: 991px){
  .media_new-box .media-evaluation-real-p{
    min-height: auto;
  }
  .image_swiper-bix .swiper-slide {
    width: 100% !important;
}
  .media_new-wrapper{
    flex-direction: column;
  }
  .media_new-right{
    width: 100%;
  }
  .media_new-left{
    width: 100%;
    text-align: center;
  }
  .media_new-right{
    margin-top: 20px;
  }

  
  .media_new-right{
    position: relative;
  }
  .media_new-box .check_swiper-new{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    z-index: 2;
    gap: 0;
    max-width: 100%;
    margin-top: 0;
  }
  .media_new-box .check_swiper-new .next_prev-bix svg{
    color: #ffff;
    
  }
  .media_new-box .check_swiper-new .swiper-scrollbar{
    display: none;
  }
  .media_new-box .next_prev-bix{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .mobile_ev{
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 650px){
  .media_new-title{
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 15px;
  }
  .media_new-txt{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .media_new-left img{
    max-width: 114px;
    margin: 0 auto;
  }
  .media_new-box .media-evaluation-real-cont{
    padding: 30px 20px;
    display: block;
    position: relative;
    padding-top: 50px;
  }
  .media_new-box .media-evaluation-real-title{
    width: auto;
    margin-right: 0;
  }
  .media_new-box .media-evaluation-real-star{
    position: absolute;
    left: 20px;
    top: 25px;
  }
  .media_new-box .media-evaluation-real-p{
    margin-top: 10px;
  }
  .media_new-box .media-evaluation-real-name{
    margin-top: 15px;
  }

}
</style>
<section class="section_media-new">
  <div class="media_new-box{{ section.settings.class_text }}">
    <div class="container">
      <div class="media_new-wrapper">
        <div class="media_new-left">
          <div class="media_new-title text-top">{{ section.settings.title }}</div>
          <div class="media_new-txt text-top">{{ section.settings.sub_title }}</div>
          {%- if section.settings.image_logo != blank -%}
            <img
              loading="lazy"
              width="{{ section.settings.image_logo.width }}"
              height="{{ section.settings.image_logo.height }}"
              {% render 'image-attributes', image: section.settings.image_logo %}
            class="to-top"
              alt="{{ section.settings.image_logo.alt | escape }}"
            >
          {%- endif -%}
        </div>
        <div class="media_new-right to-top">
          <div class="image_swiper-bix">
            <div class="swiper" id="image_swiper--{{ section.id}}">
              <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                  <div class="swiper-slide to-top" style="transition-delay: 0.{{ forloop.index }}s">
                    <div class="media-evaluation-real-img">
                      {%- if block.settings.image != blank -%}
                        <div class="media-real-img-item">
                          <img
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                            {% render 'image-attributes', image: block.settings.image, sizes: '600' %}
                            alt="{{ block.settings.image.alt | escape }}"
                          >
                          <div class="media-real-tag">
                            {{ block.settings.label_txt }}
                          </div>
                        </div>
                      {%- endif -%}
                      {%- if block.settings.image1 != blank -%}
                        <div class="media-real-img-item">
                          <img
                            loading="lazy"
                            width="{{ block.settings.image1.width }}"
                            height="{{ block.settings.image1.height }}"
                            {% render 'image-attributes', image: block.settings.image1, sizes: '600' %}
                            alt="{{ block.settings.image1.alt | escape }}"
                          >
                          <div class="media-real-tag">
                            {{ block.settings.label_txt1 }}
                          </div>
                        </div>
                      {%- endif -%}
                    </div>

                    <div class="media-evaluation-real-cont">
                      {%- if block.settings.title != blank -%}
                        <div class="media-evaluation-real-title text-top">
                          {{ block.settings.title }}
                        </div>
                      {%- endif -%}
                      <div class="media-evaluation-real-right">
                        <div class="media-evaluation-real-star to-top appear" data-num="5">★★★★★</div>
                        {%- if block.settings.content != blank -%}
                          <div class="media-evaluation-real-p text-top" style="transition-delay: 0.1s">
                            {{ block.settings.content }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings.name != blank -%}
                          <div class="media-evaluation-real-name text-top" style="transition-delay: 0.6s">
                            <span class="span">-</span>
                            {{ block.settings.name }}
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
          </div>

            <div class="check_swiper-new">
              <div class="swiper-scrollbar" id="swiper-scrollbar--{{ section.id}}"></div>
              <div class="next_prev-bix">
                <div class="mobile_ev">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="22"
                  viewBox="0 0 13 22"
                  fill="none"
                  class="swiper-button-prev--{{ section.id}}"
                >
                  <path d="M10.9717 1.99999L1.99998 10.9717L10.9717 19.9434" stroke="currentColor" stroke-width="2" stroke-linecap="square"/>
                </svg>
                </div>
                <div class="mobile_ev mobile_ev-nxt">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="22"
                  viewBox="0 0 13 22"
                  fill="none"
                  class="swiper-button-next--{{ section.id}}"
                >
                  <path d="M1.97169 1.99999L10.9434 10.9717L1.97169 19.9434" stroke="currentColor" stroke-width="2" stroke-linecap="square"/>
                </svg>
                </div>
              </div>
            </div>

          </div>
        </div>
        </div>
    </div>
  </div>
</section>
<script src="{{ 'swiper-bundle.min.aio.min.js' | asset_url }}"></script>
<script>

window.addEventListener('resize', function() {
  // 获取屏幕宽度
  var screenWidth = $(window).width();
  
  // 获取 div 元素距离左边的宽度和本身的宽度
  var $divElement = $('.media_new-left');
  var divOffsetLeft = $divElement.offset().left;
  var divWidth = $divElement.outerWidth();

  // 计算差值
  var difference = screenWidth - (divOffsetLeft + divWidth);

  if (screenWidth > 991) {
    $('.media_new-right').width(difference);
  } else{
    $('.media_new-right').css({width:'auto'})
  }
});


  window.addEventListener('load', function () {
  window.dispatchEvent(new Event('resize'));
  let imageswiper = new Swiper('#image_swiper--{{ section.id }}', {
    centeredSlides: true,
        loop: true, 
        slidesPerView: 1,
        spaceBetween: 20,
        autoplay: {
    delay: 2000,
  },
        pagination: {
        el: '#swiper-scrollbar--{{ section.id}}'
      },
      breakpoints:{
        991: {
          slidesPerView: 'auto',
          spaceBetween:50,
          pagination: {
            type: 'progressbar'
          }
        }
      },
        navigation: {
          nextEl: '.swiper-button-next--{{ section.id }}',
          prevEl: '.swiper-button-prev--{{ section.id }}',
        }
      });


  });
</script>
{% schema %}
{
  "name": "Media Slide New",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Before Image"
        },
        {
          "type": "text",
          "id": "label_txt",
          "label": "Label"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "After Image"
        },
        {
          "type": "text",
          "id": "label_txt1",
          "label": "Label"
        },
        {
          "type": "range",
          "id": "star",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Star",
          "default": 5
        },
        {
          "type": "checkbox",
          "id": "half",
          "label": "0.5",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "subtitle"
    },
  {
        "type": "image_picker",
        "id": "image_logo",
        "label": "Logo Image"
      },
    {
      "type": "text",
      "id": "class_text",
      "label": "Custom Class"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "Media Slide New",
      "blocks": []
    }
  ]
}
{% endschema %}
