<style>
  .mother-scroll-video{
    z-index: 9;
    position: relative;
  }
.module5_box{
  display: flex;
}
.module5_content{
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh
}
.module5_pos.module5_pos--reverse .module5_content {
    justify-content: center;
}
.cnt_bix{
  max-width: 606px;
}
.cnt_bix picture{
  display:block;
  margin-top: 60px;
}
.module5_content h3{
  color: #190A0A;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 30px;
}
.module5_content .tle1{
  color: #190A0A;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 20px;
}
.module5_content ul li{
  color: #190A0A;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.module_img picture,.module_img picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: block;
}
  
.module_img video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: block;
}
.module5_pos{
  display: flex;
}
  .module5_pos.module5_pos--reverse{
    flex-direction: row-reverse;
  }
.module_left-box,.module_right-box{
  width: 50%;
}
.module_left-box{
  background: #fff;
}
.module_right-box{
  position: relative;
}
.sticky-box{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}
.module_img{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all .6s;
}
.module_img_active{
  opacity: 1;
}
.btn_box-scroll{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%);
}
.module5_pos.module5_pos--reverse .btn_box-scroll{
  left: 60px;
  transform: translate(0,-50%);
}
.btn_box-scroll .btn_item{
  display: flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 67.5px;
  border: 1.5px solid #FBFAF4;
  backdrop-filter: blur(15px);
  color:  #FBFAF4;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px;
  width: max-content;
  transition: .5s cubic-bezier(.3, 1, .3, 1);
}
.btn_box-scroll .btn_item.active{
  background: rgba(251, 250, 244, 0.25);
  border: 1.5px solid rgba(251, 250, 244, 0);
}
  .btn_box-scroll .btn_item img{
    display:none;
  }
   .btn_box-scroll .btn_item.active img{
    display:block;
  }
  .cnt_bix ul{
    padding-left: 20px;
  }
  .summer-block-diy .cnt_bix picture{
    max-width:460px;
  }

  .btn-popup-test{
    display: flex;
    align-items: center;
    color: #E0004D;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
    gap:5px;
    cursor: pointer;
  }
@media screen and (max-width: 992px) {
  .module5_pos,.module5_pos.module5_pos--reverse{
    flex-direction: column-reverse;
  }
  .module_left-box, .module_right-box{
    width: 100%;
  }
  .sticky-box {
    position: static;
    height: 100%;
  }
  .module5_content {
    height: 55vh;
  }
  .module_right-box{
    position: sticky;
    top: 0;
    height: 45vh;
  }
  .cnt_bix picture{
    margin-top: 0;
  }
  .btn-popup-test{
    font-size: 14px;
  }
  .btn-popup-test svg{
    width:18px;
  }
}
@media screen and (max-width: 750px) {
  .module5_content h3{
    font-size: 26px;
    margin-bottom: 15px;
  }
  .module5_content ul li,.module5_content .tle1 {
    font-size: 14px;
}
.btn_box-scroll .btn_item{
  font-size: 12px;
  padding: 5px 16px;
  line-height: 18.75px;
  height:30px;
}
.btn_box-scroll,.module5_pos.module5_pos--reverse .btn_box-scroll{
  left: 20px;
  transform: translate(0, -50%);
  gap: 8px;
}
  .module5_content {
 padding: 30px 20px;
}
  .btn_box-scroll .btn_item.active img{
    height:100%;
  }
}
.officially-test-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  transition: all .4s ease;
  overflow: hidden;
}
.officially-test-popup.active{
  background: rgba(0, 0, 0, .3);
  pointer-events: all;
}

.officially-test-popup .officially-test-popup-mark{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index:1;
}

.officially-test-popup .officially-test-popup-cont{
  width: 100%;
  height: 100%;
  max-width: 1280px;
  background: #FBFAF4;
  padding: 78px;
  position: relative;
  z-index:2;
  transform: translateX(100%);
  transition: all .4s ease;
}

.officially-test-popup.active .officially-test-popup-cont{
  transform: translateX(0);
  transition: all .4s ease .1s;
}

.officially-test-popup .officially-test-popup-det{
  height: 100%;
  overflow-y: auto;
}
.officially-test-popup .officially-test-popup-det::-webkit-scrollbar {
    width: 10px;
}

.officially-test-popup .officially-test-popup-det::-webkit-scrollbar-track {
    background-color: none;
}

.officially-test-popup .officially-test-popup-det::-webkit-scrollbar-thumb {
    background-color: rgba(228, 221, 221, .3);
    border-radius: 5px;
}

.officially-test-popup .officially-test-popup-det::-moz-scrollbar {
  width: 10px;
}

.officially-test-popup .officially-test-popup-det::-moz-scrollbar-track {
  background: none;
}

.officially-test-popup .officially-test-popup-det::-moz-scrollbar-thumb {
  background: rgba(228, 221, 221, .3);
  border-radius: 5px;
}
.officially-test-popup .officially-test-popup-close{
  position: absolute;
  top: 80px;
  right: 70px;
  cursor: pointer;
  z-index: 3;
}

.officially-test-popup .officially-test-popup-title{
  color: #3F3636;
  font-size: 40px;
  line-height: 1.2;
}

.officially-test-popup .officially-test-popup-sub{
  color: #3F3636;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
}

.officially-test-popup .officially-test-popup-select{
  margin-top: 45px;
}

.officially-test-popup .officially-test-popup-lebel{
  color: #190A0A;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.officially-test-popup .officially-test-popup-lebel-span{
  width: 15px;
  height: 15px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #000;
  background-size: cover;
}

.officially-test-popup .officially-test-popup-list{
  display: flex;
  gap: 15px;
  margin-top: 15px;
  overflow-x: auto;
}

.officially-test-popup .officially-test-popup-item{
  width: 115px;
  cursor: pointer;
  flex-shrink: 0;
}

.officially-test-popup .officially-test-popup-img{
  position: relative;
}

.officially-test-popup .officially-test-popup-img::before{
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 4px solid #000;
  right: 4px;
  bottom: -4px;
  z-index: 2;
  opacity: 0;
  box-shadow: 0 0 0 4px #fff;
  transition: all .4s ease;
}
.officially-test-popup .officially-test-popup-item.active .officially-test-popup-img::before,
.officially-test-popup .officially-test-popup-item:hover .officially-test-popup-img::before{
  right: 8px;
  bottom: 4px;
  opacity: 1;
}
.officially-test-popup .img{
  width: 100%;
  position: relative;
  z-index: 1;
}

.officially-test-popup .officially-test-popup-p{
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}

.officially-test-popup-btn-box{
  margin-top: 45px;
  display: flex;
  gap: 20px;
}
.officially-test-popup .officially-test-popup-btn{
  width: 137px;
  height: 45px;
  border-radius: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #190A0A;
  color: #190A0A;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
}

.officially-test-popup .officially-test-popup-submit{
  opacity: .3;
  pointer-events: none;
  transition: all .4s ease;
  display: flex;
}

.officially-test-popup .officially-test-popup-btn.active{
  background: #190A0A;
  color: #fff;
  opacity: 1;
  pointer-events: all;
}

.officially-test-popup .officially-test-popup-btn.active path{
  fill:#fff;
}

.officially-test-popup .officially-test-popup-reset:not(.active){
  border: 0;
  width: auto;
}

.officially-test-popup .officially-test-popup-msg{
  color: #3F3636;
  font-size: 14px;
  line-height: 1.5;
  max-width: 588px;
  margin-top: 30px;
}

.officially-test-popup-results-item{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 746px;
  color: #3F3636;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 45px;
  display: none;
}
.officially-test-popup-results-item svg{
  display: block;
  width: 30px;
  flex-shrink: 0;
}
.pd-diy .module5_pos.module5_pos--reverse .module5_content:nth-child(odd){
  background: #F9F8FF;
}
@media (max-width:991px) {
  .officially-test-popup{
    display: flex;
    align-items: flex-end;
  }
  .officially-test-popup .officially-test-popup-close{
    top: 18px;
    right: 18px;
  }
  .officially-test-popup .officially-test-popup-cont{
    padding: 50px 10px;
    height: auto;
    transform: translateY(100%);
    max-height: 100%;
  }
  .officially-test-popup.active .officially-test-popup-cont{
    transform: translateY(0);
  }
  .officially-test-popup .officially-test-popup-det{
    max-height: 80vh;
    padding-right: 0px;
  }
  .officially-test-popup .officially-test-popup-det::-webkit-scrollbar {
    width: 5px;
  }
  .officially-test-popup .officially-test-popup-title{
    font-size: 24px;
  }
  .officially-test-popup .officially-test-popup-sub{
    font-size: 14px;
    margin-top: 10px;
  }
  .officially-test-popup .officially-test-popup-select{
    margin-top: 40px;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .officially-test-popup .officially-test-popup-item{
    width: 91px;
  }
  .officially-test-popup .officially-test-popup-lebel{
    font-size: 16px;
  }
  .officially-test-popup .officially-test-popup-lebel-span{
    width: 12px;
    height: 12px;
  }
  .officially-test-popup .officially-test-popup-list{
    gap: 11px;
  }
  .officially-test-popup .officially-test-popup-p{
    font-size: 12px;
  }
  .officially-test-popup .officially-test-popup-results-item{
    font-size: 12px;
  }
  .officially-test-popup .officially-test-popup-msg{
    font-size: 12px;
  }
  .officially-test-popup .officially-test-popup-results-item{
    margin-top: 30px;
  }
  .officially-test-popup .officially-test-popup-btn-box{
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  .officially-test-popup .officially-test-popup-btn{
    width: 100%;
    font-size: 12px;
  }
  .officially-test-popup .officially-test-popup-reset:not(.active){
    height: auto;
  }

}
</style>
  <section>
    <div class="module5_wrapper {{ section.settings.text27 }}">
      <div class="module5_pos{% if section.settings.image_position == 'left' %} module5_pos--reverse{% endif %}">
        <div class="module_left-box">
          
          {%- for block in section.blocks -%}
          <div class="module5_content {{ block.settings.class_name }}" data-darget = "{{ forloop.index0 }}">
            <div class="cnt_bix">
              {%- if block.settings.title != blank -%}
              <h3>{{ block.settings.title | escape }}</h3>
              {%- endif -%}
              {%- if block.settings.subtitle != blank -%}
              <div class="tle1">{{ block.settings.subtitle | escape }}</div>
              {%- endif -%}
              {%- if block.settings.text_li1 != blank -%}
              <ul>
                <li>{{ block.settings.text_li1 | escape }}</li>
                <li>{{ block.settings.text_li2 | escape }}</li>
              </ul>
              {%- endif -%}
              {%- if block.settings.image != blank or block.settings.image_mobile != blank -%}
               <picture>
                {%- if block.settings.image_mobile -%}
               <source
                  media="(max-width: 767px)"
                  srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ block.settings.image_mobile.width }}"
                  height="{{ block.settings.image_mobile.height }}"
                >
                {%- endif -%}
                {%- if block.settings.image -%}
                 {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
                {%- endif -%}
              </picture>
              {%- endif -%}
              {%- if block.settings.btn_txt1 != blank -%}
                <div class="btn-popup-test">
                  <span>{{ block.settings.btn_txt1 }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                    <path d="M19.7932 8.08383C19.7932 8.17155 19.7538 8.25857 19.6783 8.32507L13.6732 13.6309L13.0461 13.1484L18.3778 8.43755H2.20703C2.20703 8.04704 2.59135 7.7301 3.06489 7.7301H19.3446C19.5067 7.7301 19.6646 7.79731 19.7418 7.91545C19.7769 7.96851 19.7932 8.02652 19.7932 8.08383Z" fill="#E0004D"/>
                    <path d="M18.9136 5.8513C18.6106 6.10845 18.12 6.10845 17.8178 5.8513L13.6377 2.29544L14.1856 1.82928L18.9128 5.8513H18.9136Z" fill="#E0004D"/>
                  </svg>
                </div>
              {%- endif -%}
            </div>
          </div>
          {%- endfor -%}
          
        </div>
        <div class="module_right-box">
          <div class="sticky-box">
            {%- for block in section.blocks -%}
            <div class="module_img{% if forloop.index == 1 %} module_img_active{% endif %}">
              {%- if block.settings.video != blank -%}
                <native-video autoplay class="">
                {{- block.settings.video | video_tag: controls: false, autoplay: true, playsinline: true, muted: true, loop: true , image_size: '740x' -}}
                </native-video>
              {%- endif -%}
              
              {%- if block.settings.video_image -%}
               <picture>
                {%- if block.settings.video_image_mobile -%}
               <source
                  media="(max-width: 767px)"
                  srcset="{{ block.settings.video_image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.video_image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.video_image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.video_image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ block.settings.video_image_mobile.width }}"
                  height="{{ block.settings.video_image_mobile.height }}"
                >
                {%- endif -%}
                {%- if block.settings.video_image -%}
                 {{- block.settings.video_image | image_url: width: block.settings.video_image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
                {%- endif -%}
              </picture>
              {%- endif -%}
              
            </div>
            {%- endfor -%}
            <div class="btn_box-scroll">
              {%- for block in section.blocks -%}
                {%- if block.settings.btn_txt != blank -%}
                <div class="btn_item{% if forloop.index == 1 %} active{% endif %}">
                  {%- if block.settings.btn_image -%}
                  <img src="{{ block.settings.btn_image | image_url }}" />
                  {%- endif -%}
                  <span>{{ block.settings.btn_txt | escape }}</span>
                </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="officially-test-popup">
      <div class="officially-test-popup-mark"></div>
      <div class="officially-test-popup-cont">
        <div class="officially-test-popup-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
            <line x1="0.75" y1="-0.75" x2="29.2002" y2="-0.75" transform="matrix(0.708282 0.705929 -0.708282 0.705929 0.96875 1.58008)" stroke="#3F3636" stroke-width="1.5" stroke-linecap="round"/>
            <line x1="0.75" y1="-0.75" x2="29.2002" y2="-0.75" transform="matrix(-0.708282 0.705929 -0.708282 -0.705929 22.1836 0.734375)" stroke="#3F3636" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
        </div>
        <div class="officially-test-popup-det">
          <div class="officially-test-popup-title">{{ section.settings.text3 }}</div>
          <div class="officially-test-popup-sub">{{ section.settings.text4 }}</div>
          <div class="officially-test-popup-select">
            {%- if section.settings.text5 != blank -%}
              <div class="officially-test-popup-lebel">
                {{ section.settings.text5 }}
                <div class="officially-test-popup-lebel-span"></div>
              </div>
            {%- endif -%}
            <div class="officially-test-popup-list" data-type="skin">
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image1 != blank -%}
                    <img 
                        class="popup-img lazyload"
                        width="{{ section.settings.image1.width }}" 
                        height="{{ section.settings.image1.height }}"
                        data-src="{{ section.settings.image1 | image_url }}"
                        alt="{{ section.settings.image1.alt | escape }}"
                      />
                    {% comment %} <img class="popup-img" width="{{ section.settings.image1.width }}" height="{{ section.settings.image1.height }}" {% render 'image-attributes', image: section.settings.image1 %} alt="{{ section.settings.image1.alt | escape }}" > {% endcomment %}
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text6 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image2 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image2.width }}" height="{{ section.settings.image2.height }}" {% render 'image-attributes', image: section.settings.image2 %} alt="{{ section.settings.image2.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text7 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image3 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image3.width }}" height="{{ section.settings.image3.height }}" {% render 'image-attributes', image: section.settings.image3 %} alt="{{ section.settings.image3.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text8 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image4 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image4.width }}" height="{{ section.settings.image4.height }}" {% render 'image-attributes', image: section.settings.image4 %} alt="{{ section.settings.image4.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text9 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image5 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image5.width }}" height="{{ section.settings.image5.height }}" {% render 'image-attributes', image: section.settings.image5 %} alt="{{ section.settings.image5.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text10 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image6 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image6.width }}" height="{{ section.settings.image6.height }}" {% render 'image-attributes', image: section.settings.image6 %} alt="{{ section.settings.image6.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text11 }}</div>
              </div>
            </div>
          </div>
          <div class="officially-test-popup-select">
            {%- if section.settings.text12 != blank -%}
              <div class="officially-test-popup-lebel">
                {{ section.settings.text12 }}
                <div class="officially-test-popup-lebel-span"></div>
              </div>
            {%- endif -%}
            <div class="officially-test-popup-list" data-type="hair">
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image7 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image7.width }}" height="{{ section.settings.image7.height }}" {% render 'image-attributes', image: section.settings.image7 %} alt="{{ section.settings.image7.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text13 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image8 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image8.width }}" height="{{ section.settings.image8.height }}" {% render 'image-attributes', image: section.settings.image8 %} alt="{{ section.settings.image8.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text14 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image9 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image9.width }}" height="{{ section.settings.image9.height }}" {% render 'image-attributes', image: section.settings.image9 %} alt="{{ section.settings.image9.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text15 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image10 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image10.width }}" height="{{ section.settings.image10.height }}" {% render 'image-attributes', image: section.settings.image10 %} alt="{{ section.settings.image10.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text16 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image11 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image11.width }}" height="{{ section.settings.image11.height }}" {% render 'image-attributes', image: section.settings.image11 %} alt="{{ section.settings.image11.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text17 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image12 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image12.width }}" height="{{ section.settings.image12.height }}" {% render 'image-attributes', image: section.settings.image12 %} alt="{{ section.settings.image12.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text18 }}</div>
              </div>
              <div class="officially-test-popup-item">
                <div class="officially-test-popup-img">
                  {%- if section.settings.image13 != blank -%}
                    <img class="popup-img" width="{{ section.settings.image13.width }}" height="{{ section.settings.image13.height }}" {% render 'image-attributes', image: section.settings.image13 %} alt="{{ section.settings.image13.alt | escape }}" >
                  {%- endif -%}
                </div>
                <div class="officially-test-popup-p">{{ section.settings.text19 }}</div>
              </div>
            </div>
          </div>
          <div class="officially-test-popup-results">
            <div class="officially-test-popup-results-item">
              <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.5 16.5C33.5 25.3226 26.1269 32.5 17 32.5C7.87313 32.5 0.5 25.3226 0.5 16.5C0.5 7.67741 7.87313 0.5 17 0.5C26.1269 0.5 33.5 7.67741 33.5 16.5Z" stroke="#3F3636"/>
                <path d="M10.3281 17.0453L14.501 20.8272L23.0019 12" stroke="#3F3636" stroke-width="2" stroke-linecap="round"/>
              </svg>
              {{ section.settings.text20 }}
            </div>
            <div class="officially-test-popup-results-item">
              <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.5 16.5C33.5 25.3226 26.1269 32.5 17 32.5C7.87313 32.5 0.5 25.3226 0.5 16.5C0.5 7.67741 7.87313 0.5 17 0.5C26.1269 0.5 33.5 7.67741 33.5 16.5Z" stroke="#3F3636"/>
                <path d="M16.406 18.662L16.046 11.678L15.992 9.536H17.99L17.936 11.678L17.576 18.662H16.406ZM17 23.09C16.352 23.09 15.83 22.64 15.83 21.92C15.83 21.2 16.352 20.714 17 20.714C17.63 20.714 18.152 21.2 18.152 21.92C18.152 22.64 17.63 23.09 17 23.09Z" fill="black"/>
              </svg>
              {{ section.settings.text21 }}
            </div>
          </div>
          <div class="officially-test-popup-btn-box">
            <div class="officially-test-popup-btn officially-test-popup-submit">
              {{ section.settings.text22 }}
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                <g clip-path="url(#clip0_1475_781)">
                <path d="M13.0615 5.50363C13.0615 5.58264 13.0322 5.66101 12.9761 5.7209L8.51609 10.4995L8.05033 10.065L12.0102 5.8222H0C0 5.4705 0.285441 5.18506 0.637146 5.18506H12.7283C12.8487 5.18506 12.9659 5.24559 13.0233 5.35199C13.0494 5.39978 13.0615 5.45202 13.0615 5.50363Z" fill="#3F3636"/>
                <path d="M12.3963 4.38659C12.1472 4.63508 11.7438 4.63508 11.4954 4.38659L8.05859 0.950462L8.50906 0.5L12.3956 4.38659H12.3963Z" fill="#3F3636"/>
                </g>
                <defs>
                <clipPath id="clip0_1475_781">
                <rect width="13.0615" height="10" fill="white" transform="translate(0 0.5)"/>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="officially-test-popup-btn officially-test-popup-shop active">
              {{ section.settings.text23 }}
            </div>
            <div class="officially-test-popup-btn officially-test-popup-reset">
              {{ section.settings.text24 }}
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                <g clip-path="url(#clip0_1475_1362)">
                <path d="M9.4988 1.49978C9.1988 1.49978 8.9988 1.69978 8.9988 1.99978V2.49978C8.4988 1.79978 7.7988 1.24978 6.9988 0.949776C4.4988 -0.150224 1.5488 0.999776 0.4488 3.49978C-0.6512 5.99978 0.4988 8.94978 2.9988 10.0498C5.4988 11.1498 8.4488 9.99978 9.5488 7.49978H9.4988C9.4988 7.19978 9.2988 6.99978 8.9988 6.99978C8.6988 6.99978 8.4988 7.19978 8.4988 7.49978H8.4488C7.9988 8.24978 7.3488 8.84978 6.4988 9.19978C4.4488 10.0498 2.1488 9.04978 1.2988 6.99978C0.4488 4.94978 1.4488 2.59978 3.4988 1.79978C5.3488 0.999776 7.4488 1.79978 8.4488 3.49978H7.4988C7.1988 3.49978 6.9988 3.69978 6.9988 3.99978C6.9988 4.29978 7.1988 4.49978 7.4988 4.49978H9.4988C9.7988 4.49978 9.9988 4.29978 9.9988 3.99978V1.99978C9.9988 1.69978 9.7988 1.49978 9.4988 1.49978Z" fill="#3F3636"/>
                </g>
                <defs>
                <clipPath id="clip0_1475_1362">
                <rect width="10" height="10" fill="white" transform="translate(0 0.5)"/>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="officially-test-popup-btn officially-test-popup-reset active">
              {{ section.settings.text25 }}
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                <g clip-path="url(#clip0_1475_1362)">
                <path d="M9.4988 1.49978C9.1988 1.49978 8.9988 1.69978 8.9988 1.99978V2.49978C8.4988 1.79978 7.7988 1.24978 6.9988 0.949776C4.4988 -0.150224 1.5488 0.999776 0.4488 3.49978C-0.6512 5.99978 0.4988 8.94978 2.9988 10.0498C5.4988 11.1498 8.4488 9.99978 9.5488 7.49978H9.4988C9.4988 7.19978 9.2988 6.99978 8.9988 6.99978C8.6988 6.99978 8.4988 7.19978 8.4988 7.49978H8.4488C7.9988 8.24978 7.3488 8.84978 6.4988 9.19978C4.4488 10.0498 2.1488 9.04978 1.2988 6.99978C0.4488 4.94978 1.4488 2.59978 3.4988 1.79978C5.3488 0.999776 7.4488 1.79978 8.4488 3.49978H7.4988C7.1988 3.49978 6.9988 3.69978 6.9988 3.99978C6.9988 4.29978 7.1988 4.49978 7.4988 4.49978H9.4988C9.7988 4.49978 9.9988 4.29978 9.9988 3.99978V1.99978C9.9988 1.69978 9.7988 1.49978 9.4988 1.49978Z" fill="#3F3636"/>
                </g>
                <defs>
                <clipPath id="clip0_1475_1362">
                <rect width="10" height="10" fill="white" transform="translate(0 0.5)"/>
                </clipPath>
                </defs>
              </svg>
            </div>
          </div>
          <div class="officially-test-popup-msg">
            {{ section.settings.text26 }}
          </div>
        </div>
      </div>
    </div>
  </section>
<script>
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      init_scroll();
    });
  } else {
    init_scroll();
  }

  function init_scroll() {
    const sections = gsap.utils.toArray(".module5_content");
    var images = document.querySelectorAll('.module_img');
    var btns = document.querySelectorAll('.btn_item');
    
    sections.forEach(function(section, i) {
      if (i >= 0) {
        gsap.from(section, {
          scrollTrigger: {
            trigger: section,
            start: "top center",
            end: "bottom center",
            toggleActions: "play none none reverse",
            toggleClass: 'inView',
            markers: false,
            onEnter() {
              section.classList.add('show-bullet');
            },
            onLeaveBack() {
              section.classList.remove('show-bullet');
            }
          }
        });


        gsap.from(btns[i], {
            scrollTrigger: {
                trigger: section,
                start: "top center",
                end: "bottom center",
                onToggle() {
                    btns.forEach((btn, index) => {
                        if (index === i) {
                            btn.classList.add('active');
                        } else {
                            btn.classList.remove('active');
                        }
                    });
                }
            }
        });

        gsap.to(images[i], {
          autoAlpha:1,
          scrollTrigger: {
            trigger: section,
            start: "top center",
            end: "bottom center",
            toggleActions: "play none none reverse",
            markers: false
          }
        });
      }

    });
  }
  window.addEventListener('load',()=>{
      $('.btn-popup-test').click(function(){
        $('.officially-test-popup').addClass('active')
        $('body').css('overflow','hidden')
      })
      $('.officially-test-popup-close,.officially-test-popup-mark').click(function(){
        $('.officially-test-popup').removeClass('active')
        $('body').css('overflow','')
      })
      function initSelect(){
        let $p = $('.officially-test-popup')
        let skinArr = [0,1,2,3]
        let hairArr = [0,1,2,3]
        let skinIndex = null
        let hairIndex = null

        // 获取选中项对应的结果
        function getResults(){
          return skinArr.includes(skinIndex) && hairArr.includes(hairIndex)
        }

        // 重新测试
        function resetAll(){
          skinIndex = null
          hairIndex = null
          $p.find('.officially-test-popup-btn').css('display','none')
          $p.find('.officially-test-popup-submit').removeClass('active').css('display','flex')
          $p.find('.officially-test-popup-item').removeClass('active')
          $p.find('.officially-test-popup-results-item').css('display','none')
          $p.find('.officially-test-popup-lebel-span').attr('style','')
          $p.find('.officially-test-popup-msg').css('display','block')
        }
        // 点击选项
        $p.find('.officially-test-popup-item').click(function(){
          if($p.find('.officially-test-popup-submit').css('display')=='none') return
          let $this = $(this)
          let $par = $this.parents('.officially-test-popup-list')
          let type = $par.data('type')
          let index = $this.index()
          let src = $this.find('.popup-img').attr('src')
          $this.addClass('active').siblings().removeClass('active')
          if(type == 'skin'){
            skinIndex = index
          }else{
            hairIndex = index
          }
          $par.siblings('.officially-test-popup-lebel').find('.officially-test-popup-lebel-span').css({'background':'url('+src+') no-repeat','background-size': 'cover'})
          if(skinIndex !=null && hairIndex != null){
            $p.find('.officially-test-popup-submit').addClass('active')
          }
        })
        // 提交反馈结果
        $p.find('.officially-test-popup-submit').click(function(){
          let $this = $(this)
          if($this.hasClass('active')){
            $p.find('.officially-test-popup-results-item').css('display','none')
            $this.css('display','none')
            
            if(getResults()){
              $p.find('.officially-test-popup-results-item').eq(0).css('display','flex')
              $this.siblings('.officially-test-popup-shop,.officially-test-popup-reset:not(.active)').css('display','flex')
            }else{
              $p.find('.officially-test-popup-results-item').eq(1).css('display','flex')
              $this.siblings('.officially-test-popup-reset.active').css('display','flex')
            }
            $this.parents('.officially-test-popup-btn-box').siblings('.officially-test-popup-msg').css('display','none')
          }
        })
        // 重新测试
        $p.find('.officially-test-popup-reset').click(function(){
          resetAll()
        })

        // Back to Shop
        $p.find('.officially-test-popup-shop').click(function(){
          $p.removeClass('active')
          $('body').css('overflow','')
          resetAll()
        })
      }
      initSelect()
    })
</script>
{% schema %}
{
"name": "Mother Scroll Video",
"class": "mother-scroll-video",
"blocks": [{
  "name": "item",
  "type": "item",
  "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
             {
          "type": "text",
          "id": "subtitle",
          "label": "subtitle"
        },
          {
          "type": "text",
          "id": "text_li1",
          "label": "Text Li 1"
        },
            {
          "type": "text",
          "id": "text_li2",
          "label": "Text Li 2"
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Image"
        },
        
         {
          "type": "image_picker",
          "id": "btn_image",
          "label": "Button Image"
        },
       {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "text",
          "id": "btn_txt1",
          "label": "右侧按钮文案"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "Replaces the external video if both are set."
        },
          
         {
          "type": "image_picker",
          "id": "video_image",
          "label": "Video Image"
        },
        {
          "type": "image_picker",
          "id": "video_image_mobile",
          "label": "Video Mobile Image"
        },
        {
          "type": "text",
          "id": "class_name",
          "label": "自定义class"
        }
      ]
    }
],
"settings": [
  {
    "type": "select",
    "id": "image_position",
    "label": "Desktop image position",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "right",
        "label": "Right"
      }
    ],
    "default": "right"
    },
    {
      "type": "header",
      "content": "Popup"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "选项列表1"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text7",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text8",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text9",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text10",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image6",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text11",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "选项列表2"
    },
    {
      "type": "text",
      "id": "text12",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image7",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text13",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image8",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text14",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image9",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text15",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image10",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text16",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image11",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text17",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image12",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text18",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image13",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text19",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "底部内容"
    },
    {
      "type": "text",
      "id": "text20",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text21",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text22",
      "label": "Btn Text"
    },
    {
      "type": "text",
      "id": "text23",
      "label": "Btn Text"
    },
    {
      "type": "text",
      "id": "text24",
      "label": "Btn Text"
    },
    {
      "type": "text",
      "id": "text25",
      "label": "Btn Text"
    },
    {
      "type": "text",
      "id": "text26",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text27",
      "label": "自定义class"
    }
  ],
  "presets": [
    {
      "name": "Mother Scroll Video",
      "blocks": []
    }
  ]
}
{% endschema %}