<style>
.occ-product{
  padding: 80px 0 60px 0;
}

.occ-product .occ-product-list{
  display: flex;
  margin-top: 130px;
}

.occ-product .occ-product-item{
  width: calc(50% - 25px);
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
}

.occ-product .occ-product-item:nth-child(2n){
  margin-right: 0;
}

.occ-product .occ-product-img,.occ-product .occ-product-text{
  width: 50%;
  position: relative;
}

.occ-product .occ-product-img{
  background: var(--Linear, linear-gradient(140deg, #edeff1 1.33%, #fff 97.91%));
}

.occ-product .occ-product-text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: var(--Linear, linear-gradient(140deg, #fff 1.33%, #edeff1 97.91%));
}

.occ-product .occ-product-tag{
  position: absolute;
  font-size: 16px;
  font-family: var(--heading-font-family);
  color: #fff;
  line-height: 1;
  background: #db0249;
  padding: 5px 15px;
  border-radius: 0 0 10px 10px;
  right: 20px;
  top: 0;
  overflow: hidden;
}

.occ-product .occ-product-tag::before{
  position: absolute;
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  z-index: 2;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  animation: scanning 3s linear infinite;
}

@keyframes scanning {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.occ-product .occ-product-title{
  font-size: 30px;
  color: #000;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.occ-product .occ-product-sub{
  font-size: 16px;
  color: #000;
  line-height: 1.2;
}

.occ-product .occ-product-start{
  font-size: 12px;
  color: #000;
  display: flex;
  align-items: center;
  margin-top: 5px;
} 

.occ-product .occ-product-start span{
  color: #e7004c;
  font-size: 18px;
  display: block;
  margin-right: 3px;
}

.occ-product .occ-product-price{
  font-size: 20px;
  display: flex;
  align-items: center;
}

.occ-product .occ-product-price .n-price{
  color: #e7004c;
  font-family: var(--heading-font-family);
  display: block;
  margin-right: 8px;
}

.occ-product .occ-product-price .d-price{
  text-decoration: line-through;
  color: #aebac2;
}

.occ-product .occ-product-dot {
  display: flex;
  margin-top: 10px;
}

.occ-product .occ-product-dot-item {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  background: linear-gradient(to bottom, #fff 80%, rgba(0, 0, 0, 0.1) 100%);
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.05),
    inset 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
}
.occ-product .occ-product-dot-item::after {
  border-radius: inherit;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
  content: "";
  display: block;
  height: inherit;
  position: absolute;
  width: inherit;
}
.occ-product .occ-product-dot-item.active::before {
  position: absolute;
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  border: 1px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.occ-product .occ-product-btn{
  width: 140px;
  height: 40px;
  background: #e7004c;
  border: 2px solid #e7004c;
  color: #fff;
  font-size: 16px;
  margin-top: 35px;
}

.occ-product .occ-product-btn:hover .btn-txt::before{
  color: #e7004c;
}


.occ-product .occ-product-img{
  position: relative;
}

.occ-product .occ-product-img .img-d{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  bottom: -11.5%;
}

.occ-product-img-item{
  position: absolute;
  width: 100%;
  height: 100%;

}

.occ-product .occ-product-img {
  position: relative;
  z-index: 1;
}

.occ-product .occ-product-img-list{
  width: 68%;
  transform: translateY(-14.6%);
  margin: 0 auto;
}

.occ-product .occ-product-img-item {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.occ-product .occ-product-img-item.active {
  position: relative;
  display: block;
}

.occ-product .occ-product-img-item.close {
  z-index: 3;
  transition: width 0.6s ease;
  width: 0%;
  height: 100%;
  display: block;
}

.occ-product .occ-product-img-item.close .img {
  width: auto;
  max-width: none;
  height: 100%;
}

@media (max-width:1200px) {
  .occ-product .occ-product-text{
    padding: 20px;
  }
  .occ-product .occ-product-title{
    font-size: 25px;
  }
  .occ-product .occ-product-btn{
    margin-top: 25px;
  }
  .occ-product .occ-product-sub{
    font-size: 14px;
  }
}

@media (max-width:991px) {
  .occ-product .occ-product-list{
    display: block;
  }

  .occ-product .occ-product-item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 15%;
  }
  .occ-product .occ-product-item:last-child{
    margin-bottom: 0;
  }
}

@media (max-width:640px) {
  .occ-product .occ-product-item{
    display: block;
    margin-bottom: 22%;
  }
  .occ-product .occ-product-img, .occ-product .occ-product-text{
    width: 100%;
  }
  .occ-product .occ-product-text{
    padding: 40px 30px;
    text-align: center;
    display: block;
  }
  .occ-product .occ-product-img-list{
    width: 50%;
  }
  .occ-product .occ-product-start,.occ-product .occ-product-price,.occ-product .occ-product-dot{
    justify-content: center;
  }
  .occ-product .occ-product-btn{
    width: 100%;
  }
  .occ-product .occ-product-list{
    margin-top: 80px;
  }
  .occ-product .occ-product-img .img-d{
    width: 65%;
    bottom: -14.5%;
  }
  .occ-product .occ-product-tag{
    right: 50%;
    transform: translateX(50%);
  }
}
</style>
<section class="section-box">
  <div class="occ-product">
    <div class="container">
      <div class="title-diy text-top">{{ section.settings.text }}</div>
      <div class="occ-product-list">
        {%- for block in section.blocks -%}
          <div class="occ-product-item to-top" style="transition-delay: 0.{{ forloop.index }}s">
            <div class="occ-product-img">
              {%- if section.settings.image != blank -%}
                 <img loading="lazy" class="img-d" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" {% render 'image-attributes', image: section.settings.image %} alt="{{ section.settings.image.alt | escape }}" >
              {%- endif -%}
              <div class="occ-product-img-list">
                {%- if block.settings.image != blank -%}
                  <div class="occ-product-img-item active">
                     <img loading="lazy" class="img" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" {% render 'image-attributes', image: block.settings.image %} alt="{{ block.settings.image.alt | escape }}" >
                  </div>
                {%- endif -%}
                {%- if block.settings.image1 != blank -%}
                  <div class="occ-product-img-item">
                     <img loading="lazy" class="img" width="{{ block.settings.image1.width }}" height="{{ block.settings.image1.height }}" {% render 'image-attributes', image: block.settings.image1 %} alt="{{ block.settings.image1.alt | escape }}" >
                  </div>
                {%- endif -%}
                {%- if block.settings.image2 != blank -%}
                  <div class="occ-product-img-item">
                     <img loading="lazy" class="img" width="{{ block.settings.image2.width }}" height="{{ block.settings.image2.height }}" {% render 'image-attributes', image: block.settings.image2 %} alt="{{ block.settings.image2.alt | escape }}" >
                  </div>
                {%- endif -%}
              </div>
            </div>
            <div class="occ-product-text">
              {%- if block.settings.text6 != blank -%}
                <div class="occ-product-tag">{{ block.settings.text6 }}</div>
              {%- endif -%}
              <div>
                <div class="occ-product-title">{{ block.settings.text7 }}</div>
                <div class="occ-product-sub">{{ block.settings.text8 }}</div>
                <div class="occ-product-start">
                  <span>{{ block.settings.text9 }}</span>{{ block.settings.text10 }}
                </div>
                <div class="occ-product-price">
                  <span class="n-price">{{ block.settings.text11 }}</span>
                  <span class="d-price">{{ block.settings.text12 }}</span>
                </div>
                <div class="occ-product-dot">
                  {%- if block.settings.text != blank -%}
                    <div class="occ-product-dot-item active" style="background:{{ block.settings.text }};" data-id="{{ block.settings.text1 }}"></div>
                  {%- endif -%}
                  {%- if block.settings.text2 != blank -%}
                    <div class="occ-product-dot-item" style="background:{{ block.settings.text2 }};" data-id="{{ block.settings.text3 }}"></div>
                  {%- endif -%}
                  {%- if block.settings.text4 != blank -%}
                    <div class="occ-product-dot-item" style="background:{{ block.settings.text4 }};" data-id="{{ block.settings.text5 }}"></div>
                  {%- endif -%}
                </div>
                {%- if block.settings.text13 != blank -%}
                  <div class="occ-product-btn btn-diy" data-id="{{ block.settings.text1 }}">
                    <div class="btn-txt" text="{{ block.settings.text13 }}">
                        <span>{{ block.settings.text13 }}</span>
                    </div>  
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<script>
  window.addEventListener('load',function(){
    $('html').on('click','.occ-product .occ-product-dot-item',function(){
      let $this = $(this)
      let index = $this.index()
      if($this.hasClass('active')) return
      $this.closest('.occ-product-item').find('.occ-product-img-item.close').removeClass('close')
      $this.addClass('active').siblings().removeClass('active')
      $this.closest('.occ-product-item').find('.occ-product-img-item.active').removeClass('active').addClass('close')
      $this.closest('.occ-product-item').find('.occ-product-img-item').eq(index).addClass('active')
      $this.closest('.occ-product-item').find('.occ-product-btn').attr('data-id',$this.attr('data-id'))
      setTimeout(()=>{
          $this.closest('.occ-product-item').find('.occ-product-img-item.close').removeClass('close')
      },600)
    })
    document.querySelectorAll('#shopify-section-{{ section.id }} .occ-product-btn').forEach(el=>{
      el.addEventListener('click',function(){
        addToCart(this.getAttribute('data-id'));
      })
    })
  })
</script>
{% schema %}
{
"name": "occ-product",
"blocks": [
  {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Color"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "ID"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Color"
      },
      {
        "type": "text",
        "id": "text3",
        "label": "ID"
      },
      {
        "type": "text",
        "id": "text4",
        "label": "Color"
      },
      {
        "type": "text",
        "id": "text5",
        "label": "ID"
      },
      {
        "type": "text",
        "id": "text6",
        "label": "Tag"
      },
      {
        "type": "text",
        "id": "text7",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text8",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text9",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text10",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text11",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text12",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text13",
        "label": "Text"
      }
    ]
  }
],
"settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "text",
    "label": "Title"
  }
],
  "presets": [
  {
    "name": "occ-product",
    "blocks": []
  }
]
}
{% endschema %}