<style>
.om-ao {
  position: relative;
  z-index: 1;
}

.om-ao .img {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 730px;
  object-fit: cover;
}

.om-ao .om-ao-cont {
  padding: 100px 0 80px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.om-ao .container {
  height: 100%;
}

.om-ao .om-ao-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.om-ao .om-ao-h3 {
  color: #fffffc;
  font-size: 44px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

.om-ao .om-ao-p {
  color: #fffffc;
  font-size: 18px;
  line-height: 1.5;
  max-width: 665px;
}

.om-ao .om-ao-btns {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.om-ao .om-ao-btn {
  height: 47px;
  display: inline-flex;
  align-items: center;
  padding: 0 40px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-family: var(--heading-font-family);
  background: #000;
  border: 1px solid #000;
  transition: all .3s ease;
}

.om-ao .om-ao-btn:hover{
    background: #fff;
    color: #000;
}

.om-ao .om-ao-btn:last-child {
  color: #000;
  background: #fff;
  border: 1px solid #000;
}

.om-ao .om-ao-btn:last-child:hover{
    background: #000;
    color: #fff;
}

.om-ao .img-icon {
  width: 748px;
  max-width: 100%;
}

.om-ao .om-ao-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.om-ao .om-ao-popup.show-box {
  pointer-events: all;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.om-ao .om-ao-popup-cont {
  padding: 48px 40px 28px 40px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(25%, -50%);
  width: 520px;
  max-width: 90%;
  border-radius: 10px;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(25px);
}

.om-ao .show-box .om-ao-popup-cont {
  transition: all 0.3s ease-in-out;
  transform: translate(0%, -50%);
}

.om-ao .om-ao-popup-close {
  position: absolute;
  top: 0;
  left: -62px;
  cursor: pointer;
  width: 39px;
}

.om-ao .om-ao-popup-close svg {
  width: 100%;
  display: block;
  height: auto;
}

.om-ao .om-ao-popup .om-ao-popup-h3 {
  color: #190a0a;
  font-size: 28px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.om-ao .om-ao-popup .om-ao-popup-p {
  color: #3f3636;
  font-size: 18px;
  line-height: 1.5;
}

.om-ao .om-ao-popup .om-ao-popup-p ul {
  padding-left: 25px;
}

.om-ao .om-ao-popup-btn {
  display: inline-flex;
  align-items: center;
  height: 47px;
  padding: 0 40px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-family: var(--heading-font-family);
  background: #000;
  margin-top: 20px;
  cursor: pointer;
}

.om-ao .popup-img {
  display: block;
  width: 340px;
  margin: 0 auto;
  margin-top: 22px;
}

@media (max-width: 1300px) {
  .om-ao .om-ao-cont {
    padding: 50px 0;
  }

  .om-ao .om-ao-h3 {
    font-size: 35px;
  }

  .om-ao .om-ao-p {
    font-size: 16px;
  }

  .om-ao .img-icon {
    width: 550px;
  }
}

@media (max-width: 991px) {
  .om-ao .img {
    min-height: auto;
  }
  .om-ao .om-ao-text {
    text-align: center;
  }

  .om-ao .om-ao-h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
  }

  .om-ao .om-ao-p {
    font-size: 12px;
    max-width: none;
    color: #000;
  }

  .om-ao .om-ao-btns {
    margin-top: 20px;
  }

  .om-ao .om-ao-btn {
    height: 41px;
    padding:0;
    flex: 1;
    font-size: 14px;
    justify-content: center;
  }

  .om-ao .om-ao-popup-cont {
    right: 50%;
    transform: translate(70%, -50%);
    padding: 27px 16px 0 16px;
    height:75%;
  }

  .om-ao .show-box .om-ao-popup-cont {
    transform: translate(50%, -50%);
  }

  .om-ao .om-ao-popup .om-ao-popup-h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .om-ao .om-ao-popup .om-ao-popup-p {
    font-size: 12px;
  }
  .om-ao .om-ao-popup-btn {
    height: 41px;
    font-size: 14px;
  }
  .om-ao .popup-img {
    width: 247px;
    margin-top: 10px;
  }
  .om-ao .om-ao-popup-close {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 25px;
  }
}

</style>
<section class="section-box">
    <om-ao>
    <div class="om-ao">
        {%- if section.settings.image != blank or section.settings.image1 != blank -%}
            <picture>
            <source srcset="{{section.settings.image1 | image_url }}" media="(max-width: 991px)">
            <img loading="lazy"
                class="img"
                width=""
                height=""
                {% render 'image-attributes', image: section.settings.image %}
                alt="{{ section.settings.image.alt | escape }}">
            </picture>
        {%- endif -%}
      <div class="om-ao-cont">
        <div class="container">
          <div class="om-ao-text">
            <div>
                {%- if section.settings.text != blank -%}
                    <h3 class="om-ao-h3">
                    {{ section.settings.text }}
                    </h3>
                {%- endif -%}
                {%- if section.settings.text1 != blank -%}
                    <div class="om-ao-p">{{ section.settings.text1 }}</div>
                {%- endif -%}
              <div class="om-ao-btns">
                {%- if section.settings.text2 != blank -%}
                    <div class="om-ao-btn om-ao-btn-popup">
                        {{ section.settings.text2 }}
                    </div>
                {%- endif -%}
                {%- if section.settings.text3 != blank -%}
                    <a href="{{ section.settings.link }}" target="_blank" class="om-ao-btn">{{ section.settings.text3 }}</a>
                {%- endif -%}
              </div>
            </div>
            {%- if section.settings.image2 != blank or section.settings.image3 != blank -%}
                <picture>
                <source srcset="{{section.settings.image3 | image_url }}" media="(max-width: 991px)">
                <img loading="lazy"
                    class="img-icon"
                    width=""
                    height=""
                    {% render 'image-attributes', image: section.settings.image2 %}
                    alt="{{ section.settings.image2.alt | escape }}">
                </picture>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="om-ao-popup">
        <div class="om-ao-popup-cont">
          <div class="om-ao-popup-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path
                d="M20 39.5C30.7696 39.5 39.5 30.7696 39.5 20C39.5 9.23045 30.7696 0.5 20 0.5C9.23045 0.5 0.5 9.23045 0.5 20C0.5 30.7696 9.23045 39.5 20 39.5Z"
                stroke="#FFFFFC" />
              <path
                d="M26.3835 13.3342C26.8291 12.8886 27.5516 12.8886 28 13.3342L13.6712 27.6658C13.2228 28.1114 12.5002 28.1114 12.0547 27.6658L26.3835 13.3342Z"
                fill="#FFFFFC" />
              <path
                d="M13.6712 13.3342C13.2257 12.8886 12.5031 12.8886 12.0547 13.3342L26.3835 27.663C26.8291 28.1085 27.5516 28.1085 28 27.663V27.6658L13.6712 13.3342Z"
                fill="#FFFFFC" />
            </svg>
          </div>
            {%- if section.settings.text4 != blank -%}
                <h3 class="om-ao-popup-h3">
                {{ section.settings.text4 }}
                </h3>
            {%- endif -%}
            {%- if section.settings.text5 != blank -%}
                <div class="om-ao-popup-p">{{ section.settings.text5 }}</div>
            {%- endif -%}
            {%- if section.settings.text6 != blank -%}
                <a href="{{ section.settings.link1 }}" target="_blank" class="om-ao-popup-btn">{{ section.settings.text6 }}</a>
            {%- endif -%}
            {%- if section.settings.image4 != blank -%}
                <img loading="lazy"
                    class="popup-img"
                    width=""
                    height=""
                    {% render 'image-attributes', image: section.settings.image4 %}
                    alt="{{ section.settings.image4.alt | escape }}">
            {%- endif -%}
        </div>
      </div>
    </div>
  </om-ao>
</section>
<script>
    class OmAo extends HTMLElement {
      constructor() {
        super();
      }

      connectedCallback() {
        const btn = this.querySelector(".om-ao-btn-popup");
        const popup = this.querySelector(".om-ao-popup");
        const popupCont = this.querySelector(".om-ao-popup-cont");
        const popupClose = this.querySelector(".om-ao-popup-close");

        const closePopup = () => popup.classList.remove("show-box");

        // 打开
        btn?.addEventListener("click", () => {
          popup.classList.add("show-box");
        });

        // 点击遮罩层关闭
        popup?.addEventListener("click", closePopup);

        // 内容阻止冒泡
        popupCont?.addEventListener("click", (e) => e.stopPropagation());

        // 关闭按钮关闭
        popupClose?.addEventListener("click", closePopup);
      }
    }

    // 注册组件
    customElements.define("om-ao", OmAo);

</script>
{% schema %}
{
  "name": "om-ao",
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "image_picker",
        "id": "image1",
        "label": "M Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "链接"
    },
    {
        "type": "image_picker",
        "id": "image2",
        "label": "Image"
    },
    {
        "type": "image_picker",
        "id": "image3",
        "label": "M Image"
    },
    {
      "type": "header",
      "content": "弹窗"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text5",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link1",
      "label": "链接"
    },
    {
        "type": "image_picker",
        "id": "image4",
        "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "om-ao",
      "blocks": []
    }
  ]
}
{% endschema %}
