{%- liquid
  assign se_id = section.id
  assign se_bks = section.blocks
  assign se_stts = section.settings
-%}
<style>
  #shopify-section-{{ se_id }} {
    background: linear-gradient(234deg, #F2F2F9 22.33%, #E9E9F3 41.61%);
  }
  .p-product-introduction_{{ se_id }} {
    display: flex;
    color: #333;
    position: relative;
    background: linear-gradient(234deg, #F2F2F9 22.33%, #E9E9F3 41.61%);
    max-width: 1920px;
    margin: 0 auto;
  }
  .reverse {
    flex-direction: row-reverse;
  }

  .p-product-introduction_{{ se_id }} .content {
    width: 500px;
    position: absolute;
    top: 16.7%;
    left: 60px;
    z-index: 3;
  }

  .reverse .content{
    padding: 0px 0px 0px 6%;

  }

  .p-product-introduction_{{ se_id}} .content .title {
    color: #6C6AB4;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 300;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 80px;
  }
  .p-product-introduction_{{ se_id }} .content .skin-title {
    color: #190a0a;
    font-size: 64px;
    font-weight: 300;
    line-height: 77px;
    margin: 0px;
    position: relative;
  }
  .p-product-introduction_{{ se_id }} .content .skin-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    /* 调整下划线距离文字的距离 */
    width: 120px;
    /* 控制下划线的宽度 */
    height: 6px;
    /* 控制下划线的高度 */
    background-color: #7C7ABC;
    /* 下划线颜色 */
  }
  .p-product-introduction_{{ se_id }} .content .desc {
    color: #3f3636;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin: 110px 0px;
    width: 83%;
  }
  .p-product-introduction_{{ se_id }} .content .protects-skin {
    display: flex;
    align-items: center;
  }
  .p-product-introduction_{{ se_id }} .content .protects-skin .item {
    width: 140px;
    text-align: center;
  }
  .p-product-introduction_{{ se_id }} .content .protects-skin .item img {
    width: 120px;
    margin: 0 auto;
  }
  .p-product-introduction_{{ se_id }} .content .protects-skin .item .name {
    color: #6c6ab4;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 10px;
    /* 30px */
  }
  .p-product-introduction_{{ se_id }} .image-container {
    position: relative;
    width: 60%;
  }
  .p-product-introduction_{{ se_id }} .image-container img {
    width: 100%;
    border-radius: 8px;
  }
  .p-product-introduction_{{ se_id }} .image-container .fda-cleared {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .p-product-introduction_{{ se_id }} .image-container .fda-cleared img {
    width: 100px;
  }
  .p-product-introduction_{{ se_id }} .abs-frame-image {
    position: absolute;
    top: 0px;
    left: 0px;
  }


  @media screen and (max-width: 1440px) {

    .p-product-introduction_{{ se_id }} .content {
      top: 11%;
      left: 40px;
    }
    .p-product-introduction_{{ se_id }} .content .skin-title {
      font-size: 36px;
      line-height: 48px;
    }
    .p-product-introduction_{{ se_id }} .content .desc {
      width: 79%;
      font-size: 16px;
    }
  }


  @media (max-width: 768px) {
    .p-product-introduction_{{ se_id }} {
      display: block;
      padding-bottom: 60px;
    }
    .p-product-introduction_{{ se_id }} .content {
      width: 100%;
      padding-right: 0px;
      top: 0%;
      left: 0px;
      padding: 60px 20px 10px;
      position: initial;
    }
    .p-product-introduction_{{ se_id }} .content img {
      width: 26px;
    }
    .p-product-introduction_{{ se_id }} .content .title {
      font-size: 14px;
      height: 20px;
    }
    .p-product-introduction_{{ se_id }} .content h1 {
      font-size: 24px;
      line-height: 120%;
    }
    .p-product-introduction_{{ se_id }} .content h1::after {
      height: 6px;
      bottom: -20px;
    }
    .p-product-introduction_{{ se_id }} .content .desc {
      font-size: 14px;
      line-height: 150%;
      margin: 50px 0px 20px;
      width: 98%;
    }
    .p-product-introduction_{{ se_id }} .content .skin-title {
      font-size: 24px;
      line-height: 120%;
      width: 49%;
    }
    .p-product-introduction_{{ se_id }} .content .skin-title::after{
      bottom: -20px;
    }

    .p-product-introduction_{{ se_id }} .content .protects-skin {
      justify-content: flex-end;
      margin-bottom: 22px;
    }
    .p-product-introduction_{{ se_id }} .content .protects-skin .item {
      width: 68px;
    }
    .p-product-introduction_{{ se_id }} .content .protects-skin .item img {
      width: 58px;
    }
    .p-product-introduction_{{ se_id }} .content .protects-skin .item .name {
      font-size: 12px;
    }
    .p-product-introduction_{{ se_id }} .image-container {
      width: 100%;
    }
    .p-product-introduction_{{ se_id }} .box-introduction-image {
      position: relative;
    }
    .p-product-introduction_{{ se_id }} .abs-frame-image {
      width: 100%;
    }
  }
</style>

<section class="p-product-introduction_{{- se_id -}} {% if se_stts.reverse %} reverse{% endif %}">
  <div class="content">
    <div class="title">
      {{- se_stts.image1 | image_url: width: se_stts.image1.width | image_tag: loading: 'lazy' -}}
      {{ se_stts.text }}
    </div>
    <h2 class="skin-title">{{ se_stts.text1 }}</h2>
    <p class="desc">
      {{ se_stts.text2 }}
    </p>
  </div>
  <div class="box-introduction-image">
    <picture>
      {%- if se_stts.image3 != blank -%}
        <source
          media="(max-width: 767px)"
          srcset="{{ se_stts.image3 | image_url: width: '400x' }} 400w, {{ se_stts.image3 | image_url: width: '1000x' }} 1000w"
          width="100%"
          height="{{ se_stts.image3.height }}"
          loading="lazy"
        >
      {%- endif -%}
      {{-
        se_stts.image2
        | image_url: width: se_stts.image2.width
        | image_tag: loading: 'lazy', widths: '1400,1920,2200,2400,2600'
      -}}
    </picture>
    <picture class="abs-frame-image">
      {%- if se_stts.image5 != blank -%}
        <source
          media="(max-width: 767px)"
          srcset="{{ se_stts.image5 | image_url: width: '1000x' }} 1000w"
          width="100%"
          height="{{ se_stts.image5.height }}"
          loading="lazy"
        >
      {%- endif -%}
      {{-
        se_stts.image4
        | image_url: width: se_stts.image4.width
        | image_tag: loading: 'lazy', widths: '1400,1920,2200,2400,2600'
      -}}
    </picture>
  </div>
</section>

{% schema %}
{
  "name": "p-product-introduction",
  "blocks": [],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#f9f9f9"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "是否反转"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "logo图"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "pc产品图"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "pc边框图2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "移动端产品图"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "移动端边框图2"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "html",
      "id": "text1",
      "label": "Text1"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text2"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text3"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Text4"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "Text5"
    }
  ],
  "presets": [
    {
      "name": "p-product-introduction",
      "blocks": []
    }
  ]
}
{% endschema %}
