<style>

   @media screen and (max-width: 768px){

    .top-cart-container .select-items{
       top:-126px;
     }
   }
  .shave-product-form{
    color:#000;
    padding-top: 16px;
    padding-bottom: 16px;
    background: rgb(var(--background));
    border-bottom: 1px solid rgb(var(--border-color));
    top: calc(var(--header-height, 0px) * var(--enable-sticky-header) + var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar));
    bottom: auto;
    box-shadow: 0 6px 5px -5px rgba(var(--border-color),.4),0 1px rgb(var(--border-color)) inset;
    transition: opacity .25s ease-in-out,transform .25s ease-in-out,visibility .25s ease-in-out;
    display:none;
  }
  .shave-container{
      width: 100%;
      max-width: var(--container-max-width);
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--container-gutter);
      padding-right: var(--container-gutter);
      --container-outer-margin: 0px;
  }
  .shave-form-inner{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .shave-form-left{
    display: flex;
  }
  .shave-form-left .shave-form-img{
    width:55px;
    height:55px;
    margin-right:18px;
  }
  .shave-form-left .shave-form-text{
    line-height:55px;
  }
   .shave-form-left .shave-span_tx{
    position: relative;
    display: inline-block;
    height: 4px;
    width: 4px;
    margin: 0 8px;
    flex-shrink: 0;
    background: currentColor;
    vertical-align: middle;
  }
  .shave-form-right{
    display:flex;
  }
  .top-cart-container {
      z-index: 5;
      top: 0;
    }

    .top-cart-container .top-cart-box {
      width: 100%;
      background-color: rebeccapurple;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 8vw;
    }

    .top-cart-container .top-cart-left,
    .top-cart-container .top-cart-right {
      display: flex;
      align-items: center;
    }

    .top-cart-container .select-value {
      position: relative;
      width: 100%;
      cursor: pointer;
    }

    .top-cart-container .select-value .down {
      position: absolute;
      right: 5px;
      top: 13px;
    }

    .top-cart-container .select-value .down::after {
      content: '\25BE';
      font-size: 27px;
      padding-left: 8px;
      line-height: 15px;
    }


    /* 自定义下拉选择框的外观 */
    .top-cart-container .custom-select {
      position: relative;
      display: inline-block;
      font-family: Arial, sans-serif;
      margin-right: 25px;
    }

    .top-cart-container .custom-select select {
      display: none;
      /* 隐藏原生的下拉选择框 */
    }

    .top-cart-container .select-selected {
      width: 150px;
      background-color: #fff;
      padding: 10px;
      height:52px;
      border: solid 1px #eee;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
    }
    
    /* 下拉选项容器 */
    .top-cart-container .select-items {
      width: 150px;
      border-radius: 0px;
      margin-top: -1px;
      position: absolute;
      background-color: #ffffff;
      border: 1px solid #ddd;
      z-index: 1;
      max-height: 200px;
      overflow-y: auto;
    }

    /* 下拉选项的样式 */
    .top-cart-container .select-items .select-option {
      width: 100%;
      padding: 8px 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .top-cart-container .select-option .color,
    .select-selected .color {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      margin-right: 8px;
      display: inline-block;
    }

    .top-cart-container .select-option .purple,
    .select-selected .purple {
      background-color: rgb(144, 146, 209);
    }

    .top-cart-container .select-option .pink,
    .select-selected .pink {
      background-color: rgb(246, 221, 216);
    }

    .top-cart-container .select-option .white,
    .select-selected .white {
      background-color: #fff;
    }

    .select-selected .white {
      border: 1px solid #ddd;
    }

    /* 下拉选项的样式 - 当被选择时 */
    .top-cart-container .select-items div:hover {
      background-color: #f2f2f2;
    }

    /* 下拉选项容器 - 当下拉选项打开时 */
    .top-cart-container .select-items.hide {
      display: none;
    }

    .top-cart-container .top-cart-right .add-to {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 16px;
      background-color: #131313;
      cursor: pointer;
      color: #dddddd;
    }

    .top-cart-container .top-cart-right .add-to:hover {
      color: #fff;
    }
  .shave-form-right .custom-checkout-button{
    height:var(--form-input-field-height);
    padding:5px 15px;
    margin-left:30px;
  }
  
  .shave-product-imgcheck{
    display:none;
  }
  .producrimgshow{
    display:block;
  }
</style>

<section class="shopify-section shave-section shopify-section--video">
<div class="shave-product-form" id="top_cart">
   <div class="shave-container">
     <div class="shave-form-inner">
        <div class="shave-form-left hidden-pocket">
          <div class="shave-form-img">
            {%- if section.settings.product-img_1 -%}
             {{- section.settings.product-img_1 | image_url: width: featured_media.width | image_tag: loading: 'lazy', sizes: '55px', widths: '55,110,165', class: 'shave-product-imgcheck producrimgshow' -}}
            {%- endif -%}
            {%- if section.settings.product-img_2 -%}
             {{- section.settings.product-img_2 | image_url: width: featured_media.width | image_tag: loading: 'lazy', sizes: '55px', widths: '55,110,165', class: 'shave-product-imgcheck' -}}
            {%- endif -%}
            {%- if section.settings.product-img_3 -%}
             {{- section.settings.product-img_3 | image_url: width: featured_media.width | image_tag: loading: 'lazy', sizes: '55px', widths: '55,110,165', class: 'shave-product-imgcheck' -}}
            {%- endif -%}
          </div>
          <div class="shave-form-text">
             {%- if section.settings.product-img_1 -%}
               <span>{{ section.settings.product-text }}</span>
               <span class="shave-span_tx"></span>
               <span>{{ section.settings.product-price }}</span>
              {%- endif -%}  
          </div>
        </div>
        <div class="shave-form-right">
           <div class="shave-form-btn top-cart-container">
<!--              <button type="button"  class="select" aria-expanded="false" aria-haspopup="listbox">
                <span class="select__selected-value">
                    <span class="select__color-swatch select__color-swatch--white" style="border:1px solid #ccc"></span>
                   White
                </span>
                {%- render 'icon' with 'chevron' -%}
              </button> -->

             <div class="custom-select">
              <div class="select-value">
                <div class="select-selected">
                  <span class="color purple"></span><span>Purple</span>
                </div>
                <span class="down"></span>
              </div>
              <div class="select-items hide">
                <div class="select-option" attr-id="43695950823665" attr_name="Purple">
                  <span class="color purple"></span>
                  <span >Purple</span>
                </div>
                <div class="select-option" attr-id="43875314270449" attr_name="Pink">
                  <span class="color pink"></span>
                  <span >Pink</span>
                </div>
                <div class="select-option" attr-id="43727558508785" attr_name="White">
                  <span class="color white"></span>
                  <span >White</span>
                </div>
              </div>
            </div>
           </div>
          <div class="shave-form-text">
            <button
                class="custom-checkout-button"
                id="addtochart"
              >
                <span class="loader-button__text"
                  >Add to cart<span style="font-family: var(--heading-font-family);font-weight: var(--heading-font-weight);">
                  </span></span
                >
                <span class="loader-button__loader" hidden>
                  <div class="spinner">
                    <svg
                      focusable="false"
                      width="24"
                      height="24"
                      class="icon icon--spinner"
                      viewBox="25 25 50 50"
                    >
                      <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                    </svg>
                  </div>
                </span>
              </button>
          </div>
        </div>
     </div>
   </div>
  </div>
</section>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script type="text/javascript">
$(document).ready(function() {
    if ($(window).outerWidth() >= 769) {
      $(window).scroll(function () {
          var st = $(this).scrollTop();
          if (st >= 185) {
            var isScrolling = false;
            if (!isScrolling) {
              isScrolling = true;
              window.requestAnimationFrame(function () {
                $('#top_cart').css({
                  'position': 'fixed',
                  'display': 'block',
                  'top': '81px',
                  'left': '0',
                  'width': '100%',
                  'z-index': '9'
                })
                isScrolling = false;
              })
            }
          } else {
            $('#top_cart').css({
              'display': 'none',
            })
          }
        })
    }else{
       $(window).scroll(function () {
          var st = $(this).scrollTop();
          if (st >= 185) {
            var isScrolling = false;
            if (!isScrolling) {
              isScrolling = true;
              window.requestAnimationFrame(function () {
                $('#top_cart').css({
                  'position': 'fixed',
                  'display': 'block',
                  'top': 'auto',
                  'bottom':'0',
                  'left': '0',
                  'width': '100%',
                  'z-index': '9'
                })
                isScrolling = false;
              })
            }
          } else {
            $('#top_cart').css({
              'display': 'none',
            })
          }
        })
    }
    
    var productid ='43695950823665';
   $('.custom-select').click(function () {
      $('.select-items').fadeToggle(500);
    });
    $('.select-items .select-option').click(function () {
        // 在选择框中显示选中的文本
        $('.select-selected').html($(this).html());
         productid = $(this).attr('attr-id');
        let product_name= $(this).attr('attr_name'); 
        let arr =['Purple','Pink','White']
        for(var i=0;i<arr.length;i++){
          if(product_name ==arr[i]){
            $('.shave-product-imgcheck').eq(i).show()
          }else{
            $('.shave-product-imgcheck').eq(i).hide()
          }
        }
        // 隐藏下拉选项
        $('.select-items').addClass('hide');
    });
    $('#addtochart').on('click',function(){
      addToCart(productid, this)
    })
});

</script>
{% schema %}
{
  "name": "Shave-suspend",
  "blocks": [
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "product-img_1",
      "label": "product-img_1"
    },
    {
      "type": "image_picker",
      "id": "product-img_2",
      "label": "product-img_2"
    },
    {
       "type": "image_picker",
      "id": "product-img_3",
      "label": "product-img_3"
    },
    {
      "type": "text",
      "id": "product-text",
      "label": "product-text"
    },
    {
      "type": "text",
      "id": "product-price",
      "label": "product-price"
    }
  ],
  "presets": [
    {
      "name": "Shave-suspend"
    }
  ]
}
{% endschema %}