<style>
  
  @media screen and (min-width: 1000px){
  .school-shop-listcontent{
    background: linear-gradient(360deg, #F0F5FF 0%, rgba(240, 245, 255, 0.29) 100%);
    height: 973px;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .shop-air2-container{
      background:linear-gradient(180deg, rgba(249, 248, 244, 0.48) 0%, #EBE5DA 100%, #EBE5DA 100%) !important;
    }
  .school-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .shop-air3-container {
      background: linear-gradient(360deg, #F0F5FF 0%, rgba(240, 245, 255, 0.29) 100%);
      height: 973px;
      font-family: Söhne;
      font-style: normal;
      overflow:hidden;
    }
  .shop-air3-container .air3-top-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 800px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  .shop-air3-container .air3-top-content h1 {
      color: #000;
      text-align: center;
      font-size: 38px;
      font-weight: 600;
      line-height: 55px;
    }
  .shop-air3-container .air3-top-content p {
      color: #000;
      text-align: center;
      font-size: 14.6px;
      font-weight: 400;
      line-height: 24px;
    }
  .shop-air3-container .air3-bottom-content {
      display: flex;
    }
  .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }} {
      width: 700px;
      height: 398px;
      flex-shrink: 0;
      border-radius: 20px;
      background: #FFF;
      position: relative;
      margin-top: 120px;
      margin-right: 102px;
    }
  .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }}>img {
      /* position: absolute;
      width: 609px;
      flex-shrink: 0;
      top: -114px;
      right: 51px;
      display:none; */
      position: absolute;
      flex-shrink: 0;
      top: -110px;
      right:20px;
      display: none;
      transform: translateX(0%);
    }
    .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }}>img.image-three{
      /* top:-80px !important; */
      right:45px;
    }
     .shop-air3-container .air3-bottom-content .air3-bottom-left>img{
          top: -127px !important;
          right: 50px;
          width: 600px;
    }
  .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }}>.school_image{
      display:block
  }
  .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }}>.school-image_1{
    
  }
  .shop-air3-container .air3-bottom-content .air3-bottom-right {
      display: flex;
      flex-direction: column;
    }
  .shop-air3-container .air3-bottom-right .top-btn {
      display: flex;
      width: 122px;
      height: 34px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      background: #070E21;
      color: #FFF;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: capitalize;
      margin-bottom: 8px;
    }
  .shop-air3-container .air3-bottom-right .bottom-contnet {
      display: flex;
      width: 713px;
      height: 444px;
      flex-direction: column;
      /* justify-content: space-between; */
      align-items: flex-start;
      gap: 20px;
    }
  .shop-air3-container .bottom-contnet .text-1 {
      color: #070E21;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.28px;
    }
  .shop-air3-container .bottom-contnet .text-2 {
      color: #040000;
      font-size: 30px;
      font-weight: 500;
      line-height: normal;
    }
  .shop-air3-container .bottom-contnet .text-3 {
      height: 24px;
      display: flex;
      padding-right: 0px;
      align-items: flex-start;
      gap: 11.547px;
    }
  .shop-air3-container .text-3 span:first-child {
      color: #3C599C;
      font-size: 30px;
      font-weight: 400;
      line-height: 24px;
      height: 24px;
      letter-spacing: -0.28px;
      font-family: var(--heading-font-family);
    }
  .shop-air3-container .text-3 span:last-child {
      color: #9B9B9B;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      height: 24px;
      letter-spacing: -0.28px;
      /* text-decoration-line: strikethrough; */
      text-decoration: line-through;
    }
  .shop-air3-container .text-4 {
      color: #2658A0;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.28px;
    }
  .shop-air3-container .text-4 span:first-child {
      border-bottom: 2px solid #2658A0;
    }
  .shop-air3-container .text-5 {
      display: flex;
      width: 630px;
      flex-wrap: wrap;
      color: #040000;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
    }
  .shop-air3-container .text-5 .item {
      width: 310px !important;
      display: flex;
      align-items: center;
    }
  .shop-air3-container .text-5 img {
      width: 60px;
      height: 60px;
      margin-right: 8px;
    }
  .shop-air3-container .img-list {
      width: 188px;
      height: 50px;
      display:flex;
    }
  .shop-air3-container .img-list .img-list-btn{
      border: 2px solid #d9d9d9ff;
      border-radius: 50%;
      box-sizing: border-box;
      color: #1d1d1f;
      padding: 2px;
      position: relative;
      width: 50px;
      height: 50px;
      z-index: 1;
      cursor: pointer;
      transition: border-color .25s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right:10px;   
    }
  .shop-air3-container .img-list .img-list-btn.item{
      border:2px solid #040000
    }
  .shop-air3-container .img-list .img-list-btn span{
      width: 36px;
      height: 36px;
      background-color: #fff;
      border-radius: 50%;
      display: block;
    }
  .shop-air3-container .img-list .img-list-btn span.sp1_{{ section.id }}{
     background: {{ section.settings.background_1 }} 
    }
  .shop-air3-container .img-list .img-list-btn span.sp2_{{ section.id }}{
     background: {{ section.settings.background_2 }} 
    }
  .shop-air3-container .img-list .img-list-btn span.sp3_{{ section.id }}{
     background: {{ section.settings.background_3 }} 
    }
  .shop-air3-container .air3-bottom-content .bottom-btn {
      height: 44px;
      max-width: 305px;
      min-width:260px;
       float:left;
       margin-right:8px;
    }
  .shop-air3-container .air3-bottom-content .air3BuyNow{
       height: 44px;
      width: 305px;
       float:left;
    }
  .school_button{
      background: #3C599C;
       border: 1px solid #3C599C;
    }
  .shop-air3-container .bottom-btn div>span {
      font-weight: 600;
    }
  .shop-air3-container .bottom-btn div:hover {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px){
    .shop-air3-container {
        height: 1215px;
        flex-shrink: 0;
        background: linear-gradient(360deg, #F0F5FF 0%, rgba(240, 245, 255, 0.29) 100%);
        font-family: var(--heading-font-family);
        font-style: normal;
      }
    .shop-air2-container{
      background:linear-gradient(180deg, rgba(249, 248, 244, 0.48) 0%, #EBE5DA 100%, #EBE5DA 100%) !important;
    }
    .shop-air3-container .air3-top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:40px 24px 20px 24px;
      }
    .shop-air3-container .air3-top-content h1 {
        width: 306px;
        color: #000;
        text-align: center;
        font-size: 28px;
        font-weight: 400;
        line-height: 35px;
        margin-bottom: 20px;
      }
    .shop-air3-container .air3-top-content p {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        font-family:var(--text-font-family);
      }
    .shop-air3-container .air3-bottom-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
      }
    .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }} {
        width: 334px;
        height: 227px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        margin-top: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:50px;
      }
    .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }}>img {
        position: static !important;
        width: 291px;
        flex-shrink: 0;
        display:none;
        margin-bottom:18px;
      }
    .shop-air3-container .air3-bottom-content .air3-bottom-left>img{
      margin-bottom:28px;
    }
    .shop-air3-container .air3-bottom-content .air3-bottom-left_{{ section.id }}>.school_image{
        display:block
      }
    .shop-air3-container .air3-bottom-content .air3-bottom-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
        position: relative;
        align-items: center;
      }

      .shop-air3-container .air3-bottom-right .top-btn {
        display: flex;
        width: 106px;
        height: 27px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background: #070E21;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
        margin-bottom: 8px;
        position: absolute;
        top: 0;
        right: 98px;
      }

      .shop-air3-container .air3-bottom-right .top-btn:hover {
        cursor: pointer;
      }

      .shop-air3-container .air3-bottom-right .bottom-contnet {
        display: flex;
        width: 335px;
        height: 441px;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }

      .shop-air3-container .bottom-contnet .text-1 {
        max-width: 100%;
        color: #040000;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0;
        order: 2;
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
      }

      .shop-air3-container .bottom-contnet .text-2 {
        color: #040000;
        font-size: 21px;
        font-weight: 400;
        line-height: normal;
        order: 1;
        margin-bottom: 10px;
      }

      .shop-air3-container .bottom-contnet .text-3 {
        height: 22px;
        display: flex;
        padding-right: 0px;
        align-items: flex-start;
        gap: 11.547px;
        order: 3;
        margin-bottom: 20px;
      }

      .shop-air3-container .text-3 span:first-child {
        color: #3C599C;
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        height: 24px;
        
        letter-spacing: -0.28px;
      }

      .shop-air3-container .text-3 span:last-child {
        color: #9B9B9B;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        height: 24px;
        letter-spacing: -0.28px;
        text-decoration: line-through;
      }

      .shop-air3-container .text-4 {
        height: 24px;
        color: #2658A0;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0;
        order: 4;
        margin-bottom: 20px;
        font-family:var(--text-font-family);
      }


      .shop-air3-container .text-4 span:first-child {
        border-bottom: 2px solid #2658A0;
      }

      .shop-air3-container .text-5 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        /* width: 226px; */
        flex-wrap: wrap;
        color: #040000;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        order: 5;
        margin-bottom: 15px;
      }

      .shop-air3-container .text-5 .item {
        /* width: 226px !important; */
        display: flex;
        height: 40px;
        align-items: center;
        margin-bottom: 5px;
      }

      .shop-air3-container .text-5 img {
        width: 30px;
        height: 30px;
        margin-right: 12px;
      }

      .shop-air3-container .img-list {
        width: 188px;
        height: 50px;
        position: absolute;
        top: -70px;
        display:flex;
        transform: translateX(45%);
      }

      .shop-air3-container .img-list .img-list-btn{
        border: 2px solid #d9d9d9ff;
        border-radius: 50%;
        box-sizing: border-box;
        color: #1d1d1f;
        padding: 2px;
        position: relative;
        width: 50px;
        height: 50px;
        z-index: 1;
        cursor: pointer;
        transition: border-color .25s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:10px;   
      }
    .shop-air3-container .img-list .img-list-btn.item{
        border:2px solid #040000
      }
    .shop-air3-container .img-list .img-list-btn span{
        width: 36px;
        height: 36px;
        background-color: #fff;
        border-radius: 50%;
        display: block;
      }
    .shop-air3-container .img-list .img-list-btn span.sp1_{{ section.id }}{
       background: {{ section.settings.background_1 }} 
      }
    .shop-air3-container .img-list .img-list-btn span.sp2_{{ section.id }}{
       background: {{ section.settings.background_2 }} 
      }
    .shop-air3-container .img-list .img-list-btn span.sp3_{{ section.id }}{
       background: {{ section.settings.background_3 }} 
      }
    
      .shop-air3-container .air3-bottom-content .schoop-shop-btn {
        width: 100%;
        height: 44px;
        display: flex;
        flex-direction: column;
        order: 6;
        flex-shrink: 0;
      }
      .school_button{
          background: #3C599C;
           border: 1px solid #3C599C;
        }

    .shop-air3-container .air3-bottom-content .bottom-btn {
      height: 44px;
       float:left;
    }
  .shop-air3-container .air3-bottom-content .air3BuyNow{
       height: 44px;
       float:left;
       margin-top:8px;
    }
  .shop-air3-container .bottom-btn div {
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        font-size: 13px;
      }

      .shop-air3-container .bottom-btn div>span {
        font-weight: 600;
      }
  }
</style>
<section class="shopify-section school-shop-listcontent ">
  <div class="school-container shop-air3-container {% if section.settings.product_item == '2' %}shop-air2-container{% endif %}" id="{{ section.settings.sectionvalue }}">
    <div class="air3-top-content">
      <h1>
        <div>{{ section.settings.title }}</div>
        <div>{{ section.settings.titletwo }}</div>
      </h1>
      <div>
        {{ section.settings.content }}
      </div>
    </div>
    <div class="air3-bottom-content">
      <div class="air3-bottom-left_{{ section.id }} {% if section.settings.product_item == '2' %}air3-bottom-left{% endif %}" ">
         {%- for block in section.blocks -%}
            {%- if  block.settings.image != blank -%}
            {{-
                block.settings.image
                | image_url: width: block.settings.image.width
                | image_tag:
                  loading: 'lazy',
                  sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px',
                  sizes: '600,700,800,1000,1200,1400,1600,1800,2000',
                  class: 'school_image school-image_1'
              -}}
              {%- endif -%}  
            {%- if  block.settings.image_two != blank -%}
           {{-
              block.settings.image_two
              | image_url: width: block.settings.image_two.width
              | image_tag:
                loading: 'lazy',
                sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px',
                sizes: '600,700,800,1000,1200,1400,1600,1800,2000'
            -}}
             {%- endif -%}  
           {%- if  block.settings.image_three != blank -%}
           {{-
              block.settings.image_three
              | image_url: width: block.settings.image_three.width
              | image_tag:
                loading: 'lazy',
                sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px',
                sizes: '600,700,800,1000,1200,1400,1600,1800,2000',
                class: 'image-three'
            -}}
             {%- endif -%} 
          {%- endfor -%} 
      </div>
      <div class="air3-bottom-right">
        <div class="top-btn">{{ section.settings.btnvalue }}</div>
        <div class="bottom-contnet">
          <div class="text-1">{{ section.settings.right_text_li }}</div>
          <div class="text-2">{{ section.settings.right_title }}</div>
          <div class="text-3"><span>{{section.settings.discount_price }}</span><span>{{ section.settings.original_price }}</span></div>
          <div class="text-4"><span>
            <div class="coupon_code" style="display:none"> 
              <span class="code_tle">Code:</span>
              <span id="backschoolcpnCode_{{ section.id }}">Back2School</span>
            </div>
            <button class="coupon_copyBtn" id="backschoolcpnBtn_{{ section.id }}">Copy Code</button></span>
            <span>: 4 interest-free payments of   {% if section.settings.product_item == '2' %} $54.75  {%- else -%}  $67.25 {%- endif -%} &nbsp;with Afterpay</span></div>
          <div class="text-5">
            <div class="item"><img src="{{ section.settings.image_1 | img_url: section.settings.image_1 }}" /><span>Visible Hair Reduction in {% if section.settings.product_item == '2' %}4{%- else -%}3{%- endif -%}&nbsp;Weeks</span></div>
            <div class="item"><img src="{{ section.settings.image_2 | img_url: section.settings.image_2 }}" /><span>Icy Painless Treatment</span></div>
            <div class="item"><img src="{{ section.settings.image_3 | img_url: section.settings.image_3 }}" /><span>Full body treatment in {% if section.settings.product_item == '2' %}10  {%- else -%} 7 {%- endif -%}  mins</span></div>
            <div class="item"><img src="{{ section.settings.image_4 | img_url: section.settings.image_4 }}" /><span>{% if section.settings.product_item == '2' %}Press Glide Mode  {%- else -%} Auto Glide Mode {%- endif -%} </span></div>
          </div>
          <div class="img-list">
            {%- for block in section.blocks -%}
               {%- if  block.settings.image != blank -%}
              <div class="img-list-btn item" id="img-list-btn_1_{{ section.id }}" attr-id="{{ block.settings.productid }}" attr-type="{{ section.settings.product_item }} ">
                <span class="sp1_{{ section.id }}"></span>
              </div>
               {%- endif -%} 
            {%- if  block.settings.image_two != blank -%}
              <div class="img-list-btn" id="img-list-btn_2_{{ section.id }}" attr-id="{{ block.settings.productid_2 }}" attr-type="{{ section.settings.product_item }} ">
                <span class="sp2_{{ section.id }}"></span>
              </div>
               {%- endif -%} 
            {%- if  block.settings.image_three != blank -%}
              <div class="img-list-btn" id="img-list-btn_3_{{ section.id }}" attr-id="{{ block.settings.productid_3 }}" attr-type="{{ section.settings.product_item }} ">
                <span class="sp3_{{ section.id }}"></span>
              </div>
               {%- endif -%} 
            {%- endfor -%} 
          </div>
          <div class="schoop-shop-btn">
           <div class="bottom-btn">
              <button
                  class="custom-checkout-button school_button"
                  id="school_addtochart_{{ section.id }}"
                >
                  <span class="loader-button__text"
                    >Add to cart<span style="font-family: var(--heading-font-family);font-weight: var(--heading-font-weight);">
                    </span></span
                  >
                  <span class="loader-button__loader" hidden>
                    <div class="spinner">
                      <svg
                        focusable="false"
                        width="24"
                        height="24"
                        class="icon icon--spinner"
                        viewBox="25 25 50 50"
                      >
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button> 
            </div>
            <div class="air3BuyNow" ><button id="air3BuyNow_{{ section.id }}" class="custom-checkout-button custom-add-button">Learn More</button></div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  (function () {
         var colorList = [1, 2, 3];
         var product_id_2 = "";
         var product_id_3 = "";
         var product_type="";
        colorList.forEach(function (i) {
          if(i==1){
            product_type = $(`#img-list-btn_${i}_{{ section.id }}`).attr('attr-type');
            if(product_type == '3'){
              product_id_3 = $(`#img-list-btn_${i}_{{ section.id }}`).attr('attr-id');
            }else{
              product_id_2 = $(`#img-list-btn_${i}_{{ section.id }}`).attr('attr-id');
            }
          }
           $(`#img-list-btn_${i}_{{ section.id }}`).click(function () { 
            $('.air3-bottom-left_{{ section.id }} img').each(function(index){
              if(index == i-1){
                 $(`#img-list-btn_${index+1}_{{ section.id }}`).addClass('item')
                // product_id= $(`#img-list-btn_${index+1}_{{ section.id }}`).attr('attr-id');
                product_type = $(`#img-list-btn_${i}_{{ section.id }}`).attr('attr-type');
              if(product_type == '3'){
                product_id_3 = $(`#img-list-btn_${i}_{{ section.id }}`).attr('attr-id');
              }else{
                product_id_2 = $(`#img-list-btn_${i}_{{ section.id }}`).attr('attr-id');
              }
                $(this).css('display','block');
              }else{
                 $(`#img-list-btn_${index+1}_{{ section.id }}`).removeClass('item')
                $(this).css('display','none')
              }
            })
             
           })
        })
        $('#school_addtochart_{{ section.id }}').on('click',function(){
          product_type = $(`#img-list-btn_${1}_{{ section.id }}`).attr('attr-type');
          console.log(product_type)
            if(product_type == '3'){
               addToCart(product_id_3, this)
            }else{
               addToCart(product_id_2, this)
            }
        })

        // 现在购买
        $('#air3BuyNow_{{ section.id }}').click(function () {
          product_type = $(`#img-list-btn_${1}_{{ section.id }}`).attr('attr-type');
            if(product_type == 3){
               window.location.href="https://www.ulike.com/products/sapphire-air-3-ipl-hair-removal";
              // buyProduct(product_id_3)
            }else{
              window.location.href="https://www.ulike.com/products/sapphire-air-dark-green";
               //buyProduct(product_id_2)
            }
        })

        var cpnBtn = document.getElementById('backschoolcpnBtn_{{ section.id }}');
        if(cpnBtn){
         var cpnCode = document.getElementById('backschoolcpnCode_{{ section.id }}');
           cpnBtn.onclick = function() {
             navigator.clipboard.writeText(cpnCode.innerHTML);
             cpnBtn.innerHTML = "Back2School";
             cpnBtn.classList.add('copyActive');
             setTimeout(()=>{
               cpnBtn.innerHTML = "Copy Code";
               cpnBtn.classList.remove('copyActive');
             },6000)
           }
        }

    
      })()
</script>

{% schema %}
{
  "name": "school-shop-listcontent",
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobileimage",
          "label": "mobileimage"
        },
        {
          "type": "text",
          "id": "productid",
          "label": "product ID"
        },
        {
          "type": "image_picker",
          "id": "image_two",
          "label": "Image_two"
        },
        {
          "type": "image_picker",
          "id": "mobileimage_two",
          "label": "mobileimage_two"
        },
        {
          "type": "text",
          "id": "productid_2",
          "label": "product_2 ID"
        },
        {
          "type": "image_picker",
          "id": "image_three",
          "label": "Image_three"
        },
        {
          "type": "image_picker",
          "id": "mobileimage_three",
          "label": "mobileimage_three"
        },{
          "type": "text",
          "id": "productid_3",
          "label": "product_3 ID"
        }
        
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "product_item",
      "label": "product type"
    },
    {
      
      "type": "text",
      "id": "sectionvalue",
      "label": "section value"
    },
    {
      "type": "text",
      "id": "btnvalue",
      "label": "btn value"
    },
    {
      "type": "text",
      "id": "title",
      "label": "school title"
    },
    {
      "type": "text",
      "id": "titletwo",
      "label": "school titleTwo"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "footurl",
      "label": "footurl"
    },
    {
      "type": "text",
      "id": "right_text_li",
      "label": "right_text"
    },
    {
      "type": "text",
      "id": "right_title",
      "label": "right_title"
    },
    {
      "type": "text",
      "id": "discount_price",
      "label": "discount price"
    },
    {
      "type": "text",
      "id": "original_price",
      "label": "original price"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "image_1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "image_2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "image_3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "image_4"
    },
    {
      "type": "color",
      "id": "background_1",
      "label": "Background_1"
    },
    {
      "type": "color",
      "id": "background_2",
      "label": "Background_2"
    },
    {
      "type": "color",
      "id": "background_3",
      "label": "Background_3"
    }
  ],
  "presets": [
    {
      "name": "school-shop-listcontent"
    }
  ]
}
{% endschema %}