<link rel="stylesheet" href="//www.ulike.com/cdn/shop/t/116/assets/swiper-bundle.min.css">
<script src="//www.ulike.com/cdn/shop/t/116/assets/swiper-bundle.min.aio.min.js"></script>
<style>
.place-remark {
  padding: 80px 0;
}

.place-remark .place-remark-cont {
  position: relative;
  z-index: 1;
}

.place-remark .place-remark-title {
  color: #3f3636;
  font-size: 48px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.place-remark .place-remark-arraws {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 30px;
}

.place-remark .place-remark-arraw {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-remark .place-remark-arraw svg {
  display: block;
  width: 30px;
  height: auto;
}

.place-remark .swiper-button-disabled {
  opacity: 0.25;
  pointer-events: none;
}

.place-remark .place-remark-slide {
  overflow: hidden;
  margin-top: 60px;
}

.place-remark .place-remark-list {
  display: flex;
}

.place-remark .place-remark-item {
  width: calc(33.3333% - 13px);
  min-width: 310px;
  flex-shrink: 0;
}

.place-remark .place-remark-text {
  padding: 35px 20px;
  background: #f8f8f8;
}

.place-remark .place-remark-p {
  color: #190a0a;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}

.place-remark .place-remark-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 15px;
}

.place-remark .place-remark-name {
  color: #190a0a;
  font-size: 18px;
  line-height: 1.3;
  font-family: var(--heading-font-family);
  margin: 0;
}

.place-remark .star-svg {
  display: block;
  width: 35%;
  height: auto;
  flex-shrink: 0;
}

.place-remark .place-remark-dot {
  display: none;
  justify-content: center;
  margin-top: 30px;
}

.place-remark .place-remark-dot-item {
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.place-remark .swiper-pagination-bullet-active {
  background: #000;
}

@media (max-width: 991px) {
  .place-remark {
    padding: 50px 0;
  }

  .place-remark .place-remark-title {
    font-size: 28px;
    text-align: center;
  }

  .place-remark .place-remark-arraws {
    display: none;
  }

  .place-remark .place-remark-slide {
    margin-top: 30px;
  }

  .place-remark .place-remark-text {
    padding: 20px 15px;
  }

  .place-remark .place-remark-p {
    font-size: 16px;
  }

  .place-remark .place-remark-bottom {
    margin-top: 25px;
    gap: 10px;
  }

  .place-remark .place-remark-name {
    font-size: 16px;
  }

  .place-remark .place-remark-dot {
    display: flex;
  }
}

@media (max-width: 540px) {
  .place-remark .place-remark-item {
    width: 100%;
  }
}
</style>
<section class="section-box">
  <div class="place-remark">
    <div class="container">
      <div class="place-remark-cont">
        {%- if section.settings.text != blank  -%}     
          <h3 class="place-remark-title">{{ section.settings.text }}</h3>
        {%- endif -%}
        {%- if section.blocks.size > 4  -%}  
          <div class="place-remark-arraws">
            <div class="place-remark-arraw place-remark-arraw-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" viewBox="0 0 30 23" fill="none">
                <g clip-path="url(#clip0_1522_1044)">
                  <path
                    d="M1.90735e-06 11.4915C1.90735e-06 11.6729 0.067318 11.8529 0.196098 11.9905L10.44 22.9661L11.5098 21.9681L2.41463 12.2232H30C30 11.4154 29.3444 10.7598 28.5366 10.7598H0.765366C0.488781 10.7598 0.219515 10.8988 0.0878067 11.1432C0.0278072 11.2529 1.90735e-06 11.3729 1.90735e-06 11.4915Z"
                    fill="#190A0A" />
                  <path
                    d="M1.53073 8.92683C2.10292 9.49756 3.02926 9.49756 3.59999 8.92683L11.4937 1.03463L10.459 0L1.53219 8.92683H1.53073Z"
                    fill="#190A0A" />
                </g>
                <defs>
                  <clipPath id="clip0_1522_1044">
                    <rect width="30" height="22.9683" fill="white" transform="matrix(-1 0 0 1 30 0)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="place-remark-arraw place-remark-arraw-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" viewBox="0 0 30 23" fill="none">
                <g clip-path="url(#clip0_1522_1040)">
                  <path
                    d="M30 11.4915C30 11.6729 29.9327 11.8529 29.8039 11.9905L19.56 22.9661L18.4902 21.9681L27.5854 12.2232H0C0 11.4154 0.65561 10.7598 1.46341 10.7598H29.2346C29.5112 10.7598 29.7805 10.8988 29.9122 11.1432C29.9722 11.2529 30 11.3729 30 11.4915Z"
                    fill="#190A0A" />
                  <path
                    d="M28.4693 8.92683C27.8971 9.49756 26.9707 9.49756 26.4 8.92683L18.5063 1.03463L19.541 0L28.4678 8.92683H28.4693Z"
                    fill="#190A0A" />
                </g>
                <defs>
                  <clipPath id="clip0_1522_1040">
                    <rect width="30" height="22.9683" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        {%- endif -%}      
        <div class="place-remark-slide">
          <div class="place-remark-list swiper-wrapper">
            {%- for block in section.blocks -%}
              <div class="place-remark-item swiper-slide">
                <div class="place-remark-item-img">
                  {%- if block.settings.image != blank  -%}     
                    <img src="{{ block.settings.image | image_url}}" width="" height="" alt="{{ block.settings.image.alt }}" class="img">
                  {%- endif -%}
                </div>
                <div class="place-remark-text">
                  {%- if block.settings.text != blank  -%}
                    <p class="place-remark-p">{{ block.settings.text }}</p>
                  {%- endif -%}
                  <div class="place-remark-bottom">
                    {%- if block.settings.text1 != blank  -%}
                      <p class="place-remark-name">{{ block.settings.text1 }}</p>
                    {%- endif -%}
                    {%- if block.settings.image1 != blank  -%}     
                       <img src="{{ block.settings.image1 | image_url}}" width="" height="" alt="{{ block.settings.image1.alt }}" class="star-svg">
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endfor -%} 
          </div>
        </div>

        <div class="place-remark-dot"></div>

      </div>
    </div>
  </div>
</section>
<script>
    new Swiper(".place-remark-slide", {
      slidesPerView: "auto",
      spaceBetween: 20,
      navigation: {
        nextEl: ".place-remark-arraw-next",
        prevEl: ".place-remark-arraw-prev",
      },
      pagination: {
        el: ".place-remark-dot",
        clickable: true,
      },
    })
  </script>
{% schema %}
{
  "name": "place-remark",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "place-remark",
      "blocks": []
    }
  ]
}
{% endschema %}
