<style>
.preheat-identity{
  padding: 80px 0 120px 0;
}

.preheat-identity .preheat-identity-cont{
  display: flex;
  align-items: center;
  gap: 130px;
}

.preheat-identity .preheat-identity-left{
  flex: 1;
}

.preheat-identity .preheat-identity-right{
  width: 68.1%;
  display: flex;
  gap: 24px;
}

.preheat-identity .preheat-identity-title{
  color: #3F3636;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.26px;
}

.preheat-identity .preheat-identity-sub{
  color: #3F3636;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.085px;
  margin-top: 40px;
}

.preheat-identity .preheat-identity-item{
  flex: 1;
  border-top: 1px solid #3F3636;
  display: flex;
  flex-direction: column;
}
.preheat-identity .preheat-identity-item-tag{
  color: #3F3636;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.085px;
  padding: 16px 0;
}

.preheat-identity .preheat-identity-item-cont{
  border: 1px solid #3F3636;
  flex: 1;
}

.preheat-identity .preheat-identity-item-cont .img{
  display: block;
  width: 100%;
}

.preheat-identity .preheat-identity-item-text{
  padding: 50px;
}

.preheat-identity .preheat-identity-item-sub{
  color: #E7004C;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.18px;
}

.preheat-identity .preheat-identity-item-p{
  color: #3F3636;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  margin-top: 15px;
}

@media (max-width:1400px) {
  .preheat-identity .preheat-identity-cont{
    gap: 60px;
  }
  .preheat-identity .preheat-identity-item-text{
    padding: 30px;
  }
}

@media (max-width:991px) {
  .preheat-identity .preheat-identity-cont{
    flex-direction: column;
    gap: 40px;
  }
  .preheat-identity .preheat-identity-left{
    flex: none;
  }
  .preheat-identity .preheat-identity-right{
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .preheat-identity .preheat-identity-title{
    font-size: 24px;
  }
  .preheat-identity .preheat-identity-sub{
    font-size: 14px;
    margin-top: 10px;
  }
  .preheat-identity .preheat-identity-item-tag{
    padding: 5px 0;
    font-size: 14px;
  }
  .preheat-identity .preheat-identity-item-sub{
    font-size: 14px;
  }
  .preheat-identity .preheat-identity-item-p{
    font-size: 12px;
  }
  .preheat-identity .preheat-identity-item-text{
    padding: 22px;
    padding-bottom: 35px;
  }
  .preheat-identity .preheat-identity-item{
    min-width: 300px;
    flex-shrink: 0;
  }
}

</style>

<section class="section-box">
  <div class="preheat-identity">
    <div class="container">
      <div class="preheat-identity-cont">
        <div class="preheat-identity-left">
          <div class="preheat-identity-title line-top">{{ section.settings.text }}</div>
          <div class="preheat-identity-sub line-top" style="transition-delay: .1s;">{{ section.settings.text1 }}</div>
        </div>
        <div class="preheat-identity-right">
          {%- for block in section.blocks -%}
          <div class="preheat-identity-item to-top" style="transition-delay: 0.{{ forloop.index }}s">
            <div class="preheat-identity-item-tag line-top">{{ block.settings.text }}</div>
            <div class="preheat-identity-item-cont to-top">
              {%- if block.settings.image != blank -%}
                <img
                  loading="lazy"
                  class="img"
                  data-index="{{ forloop.index }}"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                  {% render 'image-attributes', image: block.settings.image %}
                  alt="{{ block.settings.image.alt | escape }}"
                >
              {%- endif -%}
              <div class="preheat-identity-item-text">
                <div class="preheat-identity-item-sub line-top">{{ block.settings.text1 }}</div>
                <div class="preheat-identity-item-p line-top" style="transition-delay: .1s;">
                  {{ block.settings.text2 }}
                </div>
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "preheat-identity",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    }
  ],
  "blocks": [
    {
        "type": "item",
        "name": "item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text1",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text2",
            "label": "Text"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "preheat-identity",
      "settings": {},
      "blocks": [
      ]
    }
  ]
}
{% endschema %}