<style>
  .preheat-video{

  }

  .preheat-video .preheat-video-top{
    position: relative;
  }

  .preheat-video .img{
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
  }

  .is-video .preheat-video .img{
    height: calc(100vh - 160px);
    object-fit: cover;
  }

  .preheat-video .mb-box{
    display: none;
  }
  .preheat-video .preheat-video-box{
    position: relative;
    z-index: 1;
  }
  .preheat-video .preheat-video-cont{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 60px;
    z-index: 2;
  }

  .officially-video-diy .preheat-video-cont{
    bottom: 23px;
  }

  .preheat-video .preheat-video-cont .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:30px;
  }

  .preheat-video .preheat-video-left{
    flex: 1;
  }

  .preheat-video .preheat-video-right{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .preheat-video .icon-gif{
    max-width: 230px;
    display: block;
  }

  .preheat-video .preheat-video-title{
    color: #fff;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -0.26px;
    margin-top: 30px;
  }

  .preheat-video .preheat-video-text{
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
  }

  .preheat-video .preheat-video-btn{
    width: 348px;
    height: 45px;
    max-width: 100%;
    font-size: 14px;
    background: #fff;
    border-radius: 45px;
    cursor: pointer;
    margin-top: 25px;
  }

  .preheat-video .preheat-video-btn .btn-txt::before{
    color: #fff;
  }

  .preheat-video .preheat-video-btn::after{
    background: #000;
  }

  .preheat-video .preheat-video-btn .btn-txt{
    display: flex;
    align-items: center;
  }

  .preheat-video .preheat-video-btn .btn-txt svg{
    margin-left: 10px;
    position: relative;
    z-index: 1;
  }

  .preheat-video .preheat-video-btn:hover .btn-txt svg path{
    fill: #fff;
  }

  .preheat-video .preheat-video-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }

   .preheat-video .preheat-video-wrapper video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .preheat-video .video-wrapper__play-button{
    position: absolute;
    margin-bottom:0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .officially-video-diy .preheat-video-title{
      color:#000;
    }
    .officially-video-diy .preheat-video-text{
      color:#000;
    }
.comparison-box-diy .preheat-video-left{
  /* flex:none; */
  max-width:800px;
}
  .comparison-box-diy .preheat-video-title,.comparison-box-diy .preheat-video-text{
    color:#000;
  }

  @media (max-width:1400px) {
    .comparison-box-diy .preheat-video-title{
      font-size:30px;
    }
  }

  @media (max-width:991px) {
    .preheat-video .preheat-video-cont{
      height: 100%;
      bottom: 0;
      padding-top: 65px;
      padding-bottom: 25px;
    }
    .preheat-video .mb-box{
      display: block;
    }
    .preheat-video .pc-box{
      display: none;
    }
    .is-video .preheat-video .img{
      height: auto;
    }
    .preheat-video .preheat-video-cont .container{
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    .preheat-video .preheat-video-left{
      display: flex;
      flex-direction: column-reverse;
      flex: none;
    }
    .preheat-video .preheat-video-title{
      font-size: 24px;
      margin-top: 0;
    }
    .preheat-video .preheat-video-text{
      font-size: 14px;
      margin-top: 10px;
    }
    .preheat-video .icon-gif{
      max-width: 148px;
      margin-top: 30px;
    }
    .preheat-video .preheat-video-btn{
      width: 283px;
      background: none;
      border: 1px solid #fff;
      color: #fff;
      margin-top: 0;
    }
    .preheat-video .preheat-video-btn .btn-txt svg path{
      fill: #fff;
    }
    .preheat-video .preheat-video-btn::after{
      background: none ;
    }
    .is-video .preheat-video{
      background: #F9F9F9;
      padding: 45px 0;
    }
    .is-video .preheat-video .preheat-video-cont{
      position: relative;
      padding-top: 0;
    }
    .is-video .preheat-video .preheat-video-title{
      color: #3F3636;
    }
    .is-video .preheat-video .preheat-video-text{
      color: #3F3636;
    }

    .is-video .preheat-video .icon-gif{
      display: none;
    }

    .is-video .preheat-video .preheat-video-btn{
      color: #3F3636;
      border-color: #3F3636;
      margin-top: 30px;
    }
    .is-video .preheat-video .preheat-video-btn .btn-txt svg path{
      fill: #3F3636;
    }
    .is-video .preheat-video .preheat-video-btn .btn-txt::before{
      color: #3F3636;
    }
    .is-video .preheat-video .preheat-video-box{
      margin:0 24px;
    }
    .preheat-video .video-wrapper__play-button{
      zoom:.6;
    }
    .hair-ads-diy .preheat-video-title {
      max-width:236px;
    }
    .hair-ads-diy .preheat-video-right {
      max-width:236px;
    }
  }
  .sticky-box-p{
    position: relative;
    z-index: 1;
    --style-num: 1;
    opacity: calc(1 - 0.5*var(--style-num));
    transform: scale(calc(1 - 0.1*var(--style-num)));
  }
  
</style>

<section class="section-box {% if section.settings.text4 != blank %}{{ section.settings.text4 }}{% endif %} {% if section.settings.text3 != blank %}sticky-box-p{% endif %} {% if section.settings.video != blank %}is-video{% endif %}">
  <div class="preheat-video to-top">
    <div class="preheat-video-top">
      <div class="preheat-video-cont">
        <div class="container">
          <div class="preheat-video-left">
            {%- if section.settings.image != blank -%}
              <img loading="lazy" class="icon-gif to-top" src="{{ section.settings.image | image_url }}">
            {%- endif -%}
            <div>
              {%- if section.settings.text != blank -%}
                <div class="preheat-video-title line-top">{{ section.settings.text }}</div>
              {%- endif -%}
              {%- if section.settings.text1 != blank -%}
                <div class="preheat-video-text line-top mb-box">{{ section.settings.text1 }}</div>
              {%- endif -%}
            </div>
          </div>
          <div class="preheat-video-right">
            {%- if section.settings.text1 != blank -%}
              <div class="preheat-video-text line-top pc-box">{{ section.settings.text1 }}</div>
            {%- endif -%}

            {%- if section.settings.text2 != blank -%}
              <a href="{{ section.settings.link }}" class="preheat-video-btn btn-diy to-top">
                <div class="btn-txt" text="{{ section.settings.text2 }}">
                  <span>{{ section.settings.text2 }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                    <g clip-path="url(#clip0_818_7229)">
                      <path d="M14.0312 5.50363C14.0312 5.58264 14.0019 5.66101 13.9458 5.7209L9.48581 10.4995L9.02006 10.065L12.9799 5.8222H0.969727C0.969727 5.4705 1.25517 5.18506 1.60687 5.18506H13.698C13.8184 5.18506 13.9356 5.24559 13.993 5.35199C14.0191 5.39978 14.0312 5.45202 14.0312 5.50363Z" fill="#3F3636"/>
                      <path d="M13.365 4.38659C13.1159 4.63508 12.7126 4.63508 12.4641 4.38659L9.02734 0.950462L9.47781 0.5L13.3644 4.38659H13.365Z" fill="#3F3636"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_818_7229">
                        <rect width="13.0615" height="10" fill="white" transform="translate(0.969727 0.5)"/>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="preheat-video-box">
        {%- if section.settings.background_image != blank -%}
          <img loading="lazy" class="img pc-box" src="{{ section.settings.background_image | image_url }}">
        {%- endif -%}
        {%- if section.settings.background_image_mobile != blank -%}
          <img loading="lazy" class="img mb-box" src="{{ section.settings.background_image_mobile | image_url }}">
        {%- endif -%}
        {%- if section.settings.video != blank -%}
          <native-video
            {% if section.settings.autoplay %}
              autoplay
            {% endif %}
            class="preheat-video-wrapper{% if section.settings.mobile_video != blank %} hidden-pocket{% endif %}"
          >
            {%- unless section.settings.autoplay -%}
              <button type="button" class="video-wrapper__play-button video-wrapper__play-button--large video-wrapper__play-button--ripple" title="{{ 'general.accessibility.play_video' | t | escape }}">
                {%- if section.settings.v_icon != blank -%}
                  <img
                    loading="lazy"
                    class="v_img"
                    width="{{ section.settings.v_icon.width }}"
                    height="{{ section.settings.v_icon.height }}"
                    {% render 'image-attributes', image: section.settings.v_icon %}
                    alt="{{ section.settings.v_icon.alt | escape }}"
                  >
                {%- endif -%}
              </button>
            {%- endunless -%}
            <template>
              {{-
                section.settings.video
                | video_tag:
                  controls: section.settings.show_video_controls,
                  autoplay: section.settings.autoplay,
                  muted: section.settings.autoplay,
                  playsinline: section.settings.autoplay,
                  loop: true
              -}}
            </template>
          </native-video>
        {%- endif -%}
        {%- if section.settings.mobile_video != blank -%}
          <native-video
            {% if section.settings.autoplay %}
              autoplay
            {% endif %}
            class="preheat-video-wrapper hidden-lap-and-up"
          >
            {%- unless section.settings.autoplay -%}
              <button type="button" class="video-wrapper__play-button video-wrapper__play-button--large video-wrapper__play-button--ripple" title="{{ 'general.accessibility.play_video' | t | escape }}">
                {%- if section.settings.v_icon != blank -%}
                  <img
                    loading="lazy"
                    class="v_img"
                    width="{{ section.settings.v_icon.width }}"
                    height="{{ section.settings.v_icon.height }}"
                    {% render 'image-attributes', image: section.settings.v_icon %}
                    alt="{{ section.settings.v_icon.alt | escape }}"
                  >
                {%- endif -%}
              </button>
            {%- endunless -%}
            <template>
              {{-
                section.settings.mobile_video
                | video_tag:
                  controls: section.settings.show_video_controls,
                  autoplay: section.settings.autoplay,
                  muted: section.settings.autoplay,
                  playsinline: section.settings.autoplay,
                  loop: true
              -}}
            </template>
          </native-video>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
  <script>
    window.addEventListener('load', function () {
      $('.preheat-video-btn').on('click', function () {
        console.log('A10_P_try');
        commonGtmEvent('A10_P_try', 'click', '');
      });
    });
  </script>                   
{%- if section.settings.text3 != blank -%}
  <script>
    window.addEventListener('load', function () {
      scrollChangeFade()

      window.addEventListener('scroll', function () {
        scrollChangeFade();
      });
    });

    function scrollChangeFade(){
      let windownHeight = window.innerHeight
      let stickyBox = document.querySelector('.sticky-box-p')
      let stickyBoxPosition = stickyBox.getBoundingClientRect()
      let fadeNum = 0
      if(stickyBoxPosition.top < 0 && stickyBoxPosition.top > -windownHeight*0.3){
        fadeNum = ( 0- stickyBoxPosition.top) / (windownHeight*0.3)
      }
      
      if(stickyBoxPosition.top > 0) fadeNum = 0
      if(stickyBoxPosition.top <= -windownHeight*0.3){
        fadeNum = 1
      }
      stickyBox.style.setProperty('--style-num',fadeNum)
    }
  </script>
{%- endif -%}
{% schema %}
{
  "name": "preheat-video",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "Replaces the external video if both are set."
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Mobile Video",
      "info": "Replaces the external video if both are set."
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "info": "Video is muted automatically to allow autoplay.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_video_controls",
      "label": "Show video controls",
      "info": "Only applicable with native video.",
      "default": false
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Next Class"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "自定义Class"
    },
    {
      "type": "image_picker",
      "id": "v_icon",
      "label": "Video Icon"
    }
  ],
  "presets": [
    {
      "name": "preheat-video"
    }
  ]
}
{% endschema %}
