<style>
  .preheat-banner-form {
    position: relative;
  }

  .preheat-banner-form .img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
  }

  .preheat-banner-form .mb-box {
    display: none;
  }

  .preheat-banner-form-cont {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
  }

  .preheat-banner-form-text {
    max-width: 690px;
    color: #190a0a;
  }

  .preheat-banner-form-title {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
  }

  .preheat-banner-form-sub {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-top: 20px;
    max-width: 570px;
  }

  .preheat-banner-form-input {
    width: 490px;
    height: 70px;
    max-width: 100%;
    display: flex;
    align-items: center;
    border-radius: 70px;
    border: 1px solid #190a0a;
    padding: 12px;
    margin-top: 55px;
  }

  .preheat-banner-form-btn {
    width: 128px;
    height: 46px;
    border-radius: 46px;
    background: #000;
    font-size: 14px;
    border: 1px solid #000;
    outline: 0;
  }
  .preheat-banner-form-btn span {
    color: #fff;
  }
.preheat-banner-form-btn .btn-txt:before{
  color:#000;
}
  .preheat-banner-form-input input {
    flex: 1;
    width: 10px;
    font-size: 14px;
    background: none;
    border: 0;
    outline: 0;
  }

  .preheat-banner-form-input input::placeholder {
    color: rgba(25, 10, 10, 0.5);
  }

  @media (max-width: 991px) {
    .preheat-banner-form .mb-box {
      display: block;
    }
    .preheat-banner-form .pc-box {
      display: none;
    }
    .preheat-banner-form-cont {
      top: 60px;
      transform: translateY(0);
    }
    .preheat-banner-form-text {
      max-width: none;
      text-align: center;
    }
    .preheat-banner-form-sub {
      max-width: none;
      font-size: 14px;
      margin-top: 10px;
    }
    .preheat-banner-form-title {
      font-size: 28px;
      line-height: 1.3;
    }
    .preheat-banner-form-input {
      width: 100%;
      margin-top: 25px;
      flex-direction: column;
      gap: 10px;
      border: 0;
      padding: 0;
      height: auto;
    }
    .preheat-banner-form-input input {
      width: 100%;
      border: 1px solid #000;
      height: 50px;
      padding: 8px;
      border-radius: 50px;
      flex: none;
    }
    .preheat-banner-form-btn {
      width: 100%;
      height: 50px;
    }
  }
</style>

<section class="section-box">
  <div class="preheat-banner-form">
    {%- if section.settings.background_image != blank -%}
      <img loading="lazy" class="img pc-box" src="{{ section.settings.background_image | image_url }}">
    {%- endif -%}
    {%- if section.settings.background_image_mobile != blank -%}
      <img loading="lazy" class="img mb-box" src="{{ section.settings.background_image_mobile | image_url }}">
    {%- endif -%}
    <div class="preheat-banner-form-cont">
      <div class="container">
        <div class="preheat-banner-form-text">
          <div class="preheat-banner-form-title line-top">{{ section.settings.text }}</div>
          <div class="preheat-banner-form-sub line-top">{{ section.settings.text1 }}</div>
         
          {%- assign p_newsletter_id = 'p-newsletter-' | append: section.id -%}
        
          {%- form 'customer', id: p_newsletter_id, class: 'form newsletter__form' -%}
            {%- if form.posted_successfully? -%}
              <script>
                window.addEventListener('DOMContentLoaded', () => {
                  if (history.scrollRestoration) {
                    history.scrollRestoration = 'manual';
                  }
                  commonGtmEvent('lead', 'click', '');
                });
              </script>

              <div class="form__banner banner banner--success">
                <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
                <p class="banner__content">{{ section.settings.text4 }}</p>
              </div>
            {%- else -%}
              {%- if form.errors -%}
                <div class="form__banner banner banner--error">
                  <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
                  <p class="banner__content">{{ form.errors.messages.email }}</p>
                </div>
              {%- endif -%}

              <input
                type="hidden"
                name="contact[tags]"
                value="newsletter{% if section.settings.tag != blank %},{{ section.settings.tag }}{% endif %}"
              >
              <input type="hidden" name="contact[context]" value="{{ p_newsletter_id }}">
              <div class="preheat-banner-form-input to-top">
                {%- if section.settings.text2 != blank -%}
                  <input type="email" id="newsletter[{{ section.id }}][contact][email]" name="contact[email]" required="" placeholder="{{ section.settings.text2 }}" />
                {%- endif -%}
                {%- if section.settings.text3 != blank -%}
                  <button is="loader-button" class="preheat-banner-form-btn btn-diy" type="submit">
                    <div class="btn-txt" text="{{ section.settings.text3 }}">
                      <span>{{ section.settings.text3 }}</span>
                    </div>
                  </button>
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "preheat-banner-form",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Image Mobile"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "提交成功提示文案"
    },
    {
      "type": "text",
      "id": "tag",
      "label": "标签"
    }
  ],
  "presets": [
    {
      "name": "preheat-banner-form"
    }
  ]
}
{% endschema %}
