<style>
  .prime-image {
    padding: 75px 0;
  }

  .prime-image .prime-title {
    color: #190a0a;
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  .prime-image .prime-list {
    display: flex;
    gap: 24px;
    max-width: 1520px;
    margin: 0 auto;
  }

  .prime-image .prime-item {
    flex: 1;
    text-align: center;
    position: relative;
    z-index:1;
  }

  .prime-image .prime-item:not(:first-child, :last-child) {
    cursor: pointer;
  }

  .prime-image .prime-item .img {
    width: 100%;
    position: relative;
    z-index:1;
  }

  .prime-image .prime-item-text-box{
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
    padding:0 20px;
    z-index: 2;
  }
  

  .prime-image .prime-item-text {
    color: #190a0a;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 15px;
  }

  .prime-image .prime-item-p {
    color: #9C9C9C;
    font-size: 24px;
    line-height: 1.5;
    margin:0;
  }

  .prime-image .prime-a {
    color: #e0004d;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: underline;
  }

  @media (max-width: 1400px) {
    .prime-image .prime-item-text,
    .prime-image .prime-a ,
     .prime-image .prime-item-p{
      font-size: 18px;
    }
  }

  @media (max-width: 991px) {
    .prime-image {
      padding: 39px 0;
    }
    .prime-image .prime-title {
      font-size: 26px;
      margin-bottom: 35px;
    }
    .prime-image .prime-item-text,
    .prime-image .prime-a , 
    .prime-image .prime-item-p{
      font-size: 12px;
      line-height: 1;
    }
    .prime-image .prime-a svg {
      width: 15px;
    }
    .prime-image .prime-item-text-box{
      padding:0 14px;
    }
    .prime-image .prime-item-text{
      margin-top:0;
    }
  }

  @media (max-width: 768px) {
    .prime-image .prime-list {
      flex-wrap: wrap;
      row-gap: 23px;
      column-gap: 8px;
    }
    .prime-image .prime-item {
      flex: none;
      width: calc(50% - 4px);
    }
  }
</style>
<section>
  <div class="prime-image to-top">
    <div class="container">
      {%- if section.settings.title != blank -%}
        <div class="prime-title to-top">{{ section.settings.title }}</div>
      {%- endif -%}
      <div class="prime-list">
        {%- for block in section.blocks -%}
          <div class="prime-item to-top">
            {%- if block.settings.img != blank -%}
              <img
                class="img"
                src="{{ block.settings.img | image_url }}"
                width=""
                height=""
                alt="{{ block.settings.img | escape }}"
              >
            {%- endif -%}
            <div class="prime-item-text-box">
              <div class="prime-item-text">
                {{ block.settings.text }}
              </div>
              {%- if block.settings.text1 != blank -%}
                <p class="prime-item-p">{{ block.settings.text1 }}</p>
              {%- endif -%}
              {%- if block.settings.text2 != blank -%}
                <a href="{{ block.settings.link }}" class="prime-a">
                  {{- block.settings.text2 }}
                </a>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "prime-image-new",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "链接"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "prime-image-new",
      "blocks": []
    }
  ]
}
{% endschema %}
