<style>
.ratio-table {
  padding: 80px 0 100px 0;
  background: linear-gradient(180deg, #f0e6f4 -13%, #fff 100%);
  color: #000;
}

.ratio-table .container {
  max-width: 1480px;
}

.ratio-table .ratio-table-title {
  font-size: 60px;
  text-align: center;
  font-family: var(--heading-font-family);
  line-height: 1;
  margin-bottom: 80px;
}

.ratio-table .ratio-table-title p{
  margin:0;
}

.ratio-table .ratio-table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
}

.ratio-table .ratio-table-sub {
  font-size: 40px;
  font-family: var(--heading-font-family);
  max-width:590px;
  line-height: 1.3;
}
.ratio-table .ratio-table-sub p{
  margin:0;
}
.ratio-table .ratio-table-p {
  font-size: 16px;
  max-width: 540px;
  line-height: 1.2;
}

.ratio-table .ratio-table-cont {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  margin-top: 50px;
  /* padding-bottom: 20px; */
}

.ratio-table .ratio-table-head {
  background: #ddd7ef;
  padding: 15px 22px;
  display: flex;
  align-items: center;
}

.ratio-table .ratio-table-head-item {
  flex: 1;
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
}

.ratio-table .ratio-table-head-item:first-child {
  flex: none;
  width: 12%;
}

.ratio-table .ratio-table-list {
  margin-top: 35px;
  padding: 0 22px;
}

.ratio-table .ratio-table-item {
  display: flex;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

.ratio-table .ratio-table-sitem:first-child {
  flex: none;
  width: 12%;
}

.ratio-table .ratio-table-item:first-child .ratio-table-sitem:first-child {
  border-radius: 50px 0 0 50px;
}

.ratio-table .ratio-table-item:first-child {
  font-family: var(--heading-font-family);
  color: #e0004d;
}

.ratio-table .ratio-table-sitem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-right: 1px solid #e5e5e5;
}

.ratio-table .ratio-table-sitem:last-child {
  border-right: 0;
}

.ratio-table .ratio-table-item:first-child .ratio-table-sitem:last-child {
  border-radius: 0 50px 50px 0;
}

.ratio-table .ratio-table-item:first-child .ratio-table-sitem {
  background: #f7f1f9;
}

.ratio-table .ratio-table-item:nth-child(n + 2) .ratio-table-sitem {
  padding: 30px 15px;
}

.ratio-table .ratio-table-item:nth-child(2) .ratio-table-sitem {
  padding-top: 60px;
}

.ratio-table .ratio-table-item:last-child .ratio-table-sitem {
  padding-bottom: 50px;
}

.ratio-table .ratio-table-item:last-child .ratio-table-sitem {
  border-bottom: 1px solid #e5e5e5;
}

.ratio-table .ratio-table-icon {
  width: 30px;
  height: 30px;
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: #000;
}

.ratio-table .ratio-table-item:first-child .ratio-table-icon {
  background: linear-gradient(130deg, #e0004d 0.55%, #ff7595 59.34%);
}

.ratio-table .ratio-table-icon::before {
  content: '';
  display: block;
  width: 8px;
  height: 13px;
  border-right: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  margin-top: -2px;
}

.ratio-table .ratio-table-msg {
  font-size: 14px;
  color: #878787;
  line-height: 1.2;
  text-align: center;
  /* margin-top: 22px; */
  padding: 20px 0;
}

.ratio-men-diy{
  background:linear-gradient(180deg, #131112 4.56%, #3B3B3B 70.98%);
  color: #fff;
}

  .ratio-men-diy .ratio-table-head{
    background:#2A2A2A;
  }
  .ratio-men-diy .ratio-table-item:first-child{
    color:#fff;
  }
  .ratio-men-diy .ratio-table-item:first-child .ratio-table-sitem{
    background:#374354;
  }
  .ratio-men-diy .ratio-table-item:first-child .ratio-table-icon{
    background:#D6D8DA;
  }
  .ratio-men-diy .ratio-table-item:first-child .ratio-table-icon::before{
    border-color:#374354;
  }
  .ratio-men-diy .ratio-table-item:not(:first-child){
    color: #000;
  }
  .ratio-men-diy .ratio-table-sitem,
  .ratio-men-diy .ratio-table-item:last-child .ratio-table-sitem{
    border-color:#B0B0B0;
  }
  .ratio-men-diy .ratio-table-p{
    color: #929292;
  }
  .val-2025 .ratio-table {
  background: linear-gradient(180deg, #FFF 0%, #FFE0E9 100%);
}
 .val-2025 .ratio-table .ratio-table-head {
    background: #AC3A42;
   color:  #FFFFFC;
}
  .val-2025 .ratio-table .ratio-table-item:first-child .ratio-table-sitem {
    background: #FFE0E9;
}
@media (max-width: 1300px) {
  .ratio-table .ratio-table-head-item {
    font-size: 16px;
  }
  .ratio-table .ratio-table-item {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .ratio-table {
    padding: 60px 0;
  }
  .ratio-table .ratio-table-title {
    font-size: 28px;
  }
  .ratio-table .ratio-table-top {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .ratio-table .ratio-table-sub {
    font-size: 20px;
  }
  .ratio-table .ratio-table-p {
    font-size: 14px;
    /* text-align: center; */
  }
  .ratio-table .ratio-table-cont {
    margin-top: 30px;
    overflow-x: auto;
  }
  .ratio-table .ratio-table-head {
    padding: 10px;
    min-width: 600px;
  }
  .ratio-table .ratio-table-head-item {
    font-size: 12px;
    padding: 0 10px;
  }
  .ratio-table .ratio-table-head-item:first-child {
      flex: none;
      width: 90px;
  }
  .ratio-table .ratio-table-head-item:last-child {
      flex: none;
      width: 135px;
  }
  .ratio-table .ratio-table-list {
    margin-top: 15px;
    padding: 0 10px;
    min-width: 600px;
  }
  .ratio-table .ratio-table-item {
    font-size: 12px;
  }
  .ratio-table .ratio-table-sitem {
    padding: 10px;
  }
  .ratio-table .ratio-table-item:nth-child(n + 2) .ratio-table-sitem {
    padding: 10px;
  }
  .ratio-table .ratio-table-item:nth-child(2) .ratio-table-sitem {
    padding-top: 20px;
  }
  .ratio-table .ratio-table-item:last-child .ratio-table-sitem {
    padding-bottom: 20px;
  }
  .ratio-table .ratio-table-icon {
    zoom: 0.6;
  }
  .ratio-table .ratio-table-sitem:first-child {
    width: 90px;
  }
  .ratio-table .ratio-table-sitem:last-child {
    flex: none;
    width: 135px;
  }
  .ratio-table .ratio-table-msg {
    /* margin-top: 10px; */
    font-size: 12px;
    padding: 10px 0;
  }
}
</style>
<section class="section-box {{ section.settings.text9}}">
  <div class="ratio-table to-top {{ section.settings.text9 }}">
    <div class="container">
      
      {%- if section.settings.text != blank -%}
        <div class="ratio-table-title">{{ section.settings.text }}</div>
      {%- endif -%}
      <div class="ratio-table-top">
        <div class="ratio-table-sub">{{ section.settings.text1 }}</div>
        <div class="ratio-table-p">{{ section.settings.text2 }}</div>
      </div>
      <div class="ratio-table-cont">
        <div class="ratio-table-head">
          <div class="ratio-table-head-item"></div>
          {%- if section.settings.text3 !=blank -%}
            <div class="ratio-table-head-item">{{ section.settings.text3 }}</div>
          {%- endif -%}
          {%- if section.settings.text4 !=blank -%}
            <div class="ratio-table-head-item">{{ section.settings.text4 }}</div>
          {%- endif -%}
          {%- if section.settings.text5 !=blank -%}
            <div class="ratio-table-head-item">{{ section.settings.text5 }}</div>
          {%- endif -%}
          {%- if section.settings.text6 !=blank -%}
            <div class="ratio-table-head-item">{{ section.settings.text6 }}</div>
          {%- endif -%}
          {%- if section.settings.text7 !=blank -%}
            <div class="ratio-table-head-item">{{ section.settings.text7 }}</div>
          {%- endif -%}
        </div>
        <div class="ratio-table-list">
          {%- for block in section.blocks -%}
            <div class="ratio-table-item">
              {%- if block.settings.text !=blank -%}
                <div class="ratio-table-sitem">{{ block.settings.text }}</div>
              {%- endif -%}
              {%- if section.settings.text3 !=blank -%}
                <div class="ratio-table-sitem">
                  {%- if block.settings.text1 -%}
                    <span class="ratio-table-icon"></span>
                  {%- endif -%}
                </div>
              {%- endif -%}
              {%- if section.settings.text4 !=blank -%}
                <div class="ratio-table-sitem">
                  {%- if block.settings.text2 -%}
                    <span class="ratio-table-icon"></span>
                  {%- endif -%}
                </div>
              {%- endif -%}
              {%- if section.settings.text5 !=blank -%}
                <div class="ratio-table-sitem">
                  {%- if block.settings.text3 -%}
                    <span class="ratio-table-icon"></span>
                  {%- endif -%}
                </div>
              {%- endif -%}
              {%- if section.settings.text6 !=blank -%}
                <div class="ratio-table-sitem">
                  {%- if block.settings.text4 -%}
                    <span class="ratio-table-icon"></span>
                  {%- endif -%}
                </div>
              {%- endif -%}
              {%- if section.settings.text7 !=blank -%}
                <div class="ratio-table-sitem">
                  {{ block.settings.text5 }}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
        <div class="ratio-table-msg">{{ section.settings.text8 }}</div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "ratio-table",
"blocks": [
  {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "text1",
        "label": "1"
      },
      {
        "type": "checkbox",
        "id": "text2",
        "label": "2"
      },
      {
        "type": "checkbox",
        "id": "text3",
        "label": "3"
      },
      {
        "type": "checkbox",
        "id": "text4",
        "label": "4"
      },
      {
        "type": "text",
        "id": "text5",
        "label": "Text"
      }
    ]
  }
],
"settings": [
  {
    "type": "text",
    "id": "text",
    "label": "标题"
  },
  {
    "type": "richtext",
    "id": "text1",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text2",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text3",
    "label": "表头"
  },
  {
    "type": "text",
    "id": "text4",
    "label": "表头"
  },
  {
    "type": "text",
    "id": "text5",
    "label": "表头"
  },
  {
    "type": "text",
    "id": "text6",
    "label": "表头"
  },
  {
    "type": "text",
    "id": "text7",
    "label": "表头"
  },
  {
    "type": "text",
    "id": "text8",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text9",
    "label": "自定义Class"
  }
],
  "presets": [
  {
    "name": "ratio-table",
    "blocks": []
  }
]
}
{% endschema %}