<style>
@keyframes floatUpDown {
  0% {
    transform: translate(-50%,-50%);
  }
  50% {
    transform: translate(-50%,-70%);
  }
  100% {
    transform: translate(-50%,-50%);
  }
}
.result_new-box{
  padding: 80px 0;
}
.result_new-box h3{
  color: #190A0A;
font-size: 48px;
line-height: 1.2;
margin-bottom: 80px;
padding: 0 60px;
  font-weight: var(--text-font-weight);
}
.result_new-ul{
  display: flex;
  border-top: 1px solid #3F3636;
  border-bottom: 1px solid #3F3636;
}
.result_new-li img{
  width: 100%;
  height: auto; 
}
.result_target{
  cursor: pointer;
  /* border: 1px solid #3F3636; */
  text-align: center;
  position: relative;
  overflow: hidden;
}
.result_p1{
  color:  #190A0A;
text-align: center;
font-size: 18px;
line-height: 1.2;
padding-top: 10%;
}
.result_p2{
  text-align: center;
  font-size: 4.2vw;
  line-height: 1.5; 
  background: radial-gradient(201.95% 52.18% at 50% 50%, #B6EBEF 0%, #0070CA 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.result_new-li:first-child .result_new-bottom{
  display: flex;
 padding: 7% 9% 6% 10%;
  gap: 9%;
  background: #F8F8F8;
  flex: 1;
}
.result_new-li:first-child .res_left-bt{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result_new-li:first-child .result1_bt_p1{
  color:  #190A0A;
  font-size: 1.6vw;
  line-height: 1.2; 
}
.result_new-li:first-child .result1_bt_p2{
  color: #190A0A;
  font-size: 16px;
  line-height: 1.35;
}
.result2_p1 {
  text-align: center;
  font-size: 4.2vw;
  line-height: 1.3; 
  background: radial-gradient(201.95% 52.18% at 50% 50%, #B6EBEF 0%, #0070CA 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.result2_p2{
  color: #190A0A;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}
.result2_p-box{
  /* position: absolute;
  top: 0;
  left: 0; */
  padding: 26.6% 14% 15%;
}
.result_new-li:nth-child(2) .result_new-top img{
  position: absolute;
  top: 45%;
  left: 50%;
  /* z-index: -2; */
  max-width: 238px;
  transform: translate(-50%, -50%);
      z-index: 1;
    mix-blend-mode: multiply;
}
.result2_bt_p1{
  position: absolute;
  color: #FBFAF4;
font-size: 30px;
line-height: 1.2;
max-width: 250px;
text-align: left;
top: 31%;
left: 8%;
z-index: 1;
}
.result2_bt_p2{
  position: absolute;
  color: #FBFAF4;
font-size: 18px;
line-height: 1.2;
right: 20px;
bottom: 35px;
 z-index: 1;
}
.result3_bt_p-box{
margin-top: 5%;
margin-bottom: 13%;
text-align: left;
position: relative;
margin-left: 38%;
}
.result3_bt_p-box::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 11vw;
  background: #3F3636;
  bottom: 0;
  left: -20px;
}
.result3_bt_p1{
  color:  #190A0A;
font-size: 30px;
line-height: 1.2;
}
.result3_bt_p2{
  color:  #190A0A;
font-size: 18px;
line-height: 1.2; 
}
.result_target img{
  transition: all 0.5s;
}
.result_target:hover img{
  transform: scale(1.1);
}
.result_new-li:nth-child(3) .result_new-bottom{
  padding-right: 75px;
}
.result_new-li:nth-child(3) .result_new-bottom img{
  padding-top: 20%;
}
.result_new-li:not(:last-child){
  border-right: 1px solid #3F3636;
}
.result_new-li .result_new-bottom {
  border-top: 1px solid #3F3636;
}
.result_new-li:nth-child(2) .result_new-top:hover img{
  animation: floatUpDown 2s infinite ease-in-out;
}
.result_new-li{
  display: flex;
  flex-direction: column;
}
.result_new-li:nth-child(2) .result_new-top{
flex: 1;
}
@media screen and (max-width: 1200px) {
  .result2_bt_p1{
    font-size: 22px;
  }
}

@media screen and (max-width: 750px) {
  .result_new-box h3 {
    font-size: 24px;
    margin-bottom: 40px;
    padding: 0 20px;
}
  .result_new-box{
    padding: 60px 0;
  }
  .result_new-ul {
    flex-direction: column;
    border-right: none; /* 移除右边框 */
    border-bottom: none; /* 移除底部边框 */
    border-left: none; /* 移除左边框 */
    border-top: 1px solid #3F3636;
    border-bottom: 1px solid #3F3636;
}
.result_p1{
  font-size: 12px;
  padding-top: 25px;
}
.result_p2{
  font-size: 48px;
}
.result_new-li:first-child .result1_bt_p1{
  font-size: 18px;
}
.result_new-li:first-child .result1_bt_p2 {
  font-size: 12px;
}
.result_new-li:first-child .result_new-bottom {
  padding: 23px;
  gap: 25px;
    border-top: 1px solid #3F3636;
    border-bottom: 1px solid #3F3636;
}
.result_new-li:nth-child(2){
 flex-direction: row;
}
.result_new-li:nth-child(2) .result_new-top {
  flex-basis: 50%;
}
.result_new-li:nth-child(2) .result_new-bottom  {
  flex-basis: 50%;
   border-left: 1px solid #3F3636;
}
.result2_p-box{
 padding: 71px 11% 15px;
}
.result2_p1{
  font-size: 34px;
  margin-bottom: 25px;
}
.result2_p2 {
  font-size: 12px;
}
.result2_bt_p1{
  font-size: 18px;
  top: 16px;
  bottom: 15px;
  max-width: 140px;
  
}
.result2_bt_p2{
  font-size: 12px;
}
.result_new-li:nth-child(2) .result_new-bottom img{
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.result_new-li:nth-child(3){
  flex-direction: column-reverse;
}
.result3_bt_p-box{
  margin-bottom: 22px;
}
.result3_bt_p1{
  font-size: 18px;
}
.result3_bt_p2{
  font-size: 12px;
}
.result_new-li:nth-child(3) .result_new-bottom{
  padding-right: 56px;
}
.result_new-li:not(:last-child){
  border: none;
}
.result_new-li .result_new-bottom{
  border: none;
}
.result_new-li:nth-child(3) .result_new-bottom {
  border-top: 1px solid #3F3636;
  border-bottom: 1px solid #3F3636;
}
.result3_bt_p-box::before{
  height: 34vw;
}
  .result_new-li:nth-child(2) .result_new-top img{
    max-width: 100px;
  }
}
</style>
 <section>
    <div class="result_new-box">
      <div class="result_new-wrapper">
        {%- if section.settings.title != blank -%}
        <h3 class="to-top">{{ section.settings.title | escape }}</h3>
        {%- endif -%}
        <div class="result_new-ul">
          {%- for block in section.blocks -%}
          <div class="result_new-li to-top" style="transition-delay: 0.{{ forloop.index }}s">
            <div class="result_new-top result_target" onclick="scrollToSection('{{ block.settings.id_1 }}')">

              {% if forloop.index == 1 %}
                <div class="result_p1">{{ block.settings.top_txt_1 | escape }}</div>
                <div class="result_p2">{{ block.settings.top_txt_2 | escape }}</div>
              {% endif %}
              {% if forloop.index == 2 %}
              <div class="result2_p-box">
                  <div class="result2_p1">{{ block.settings.top_txt_1 | escape }}</div>
                  <div class="result2_p2">{{ block.settings.top_txt_2 | escape }}</div>
                </div>
              {% endif %}
               
              {% if block.settings.img_1 != blank %}
               <img src="{{ block.settings.img_1 | image_url }}" class="{% if block.settings.mobile_img_1 != blank %}hidden-pocket{% endif %}" alt="{{ block.settings.img_1 | escape }}"/>
              {% endif %}
               {% if block.settings.mobile_img_1 != blank %}
               <img src="{{ block.settings.mobile_img_1 | image_url }}" class="hidden-lap-and-up" alt="{{ block.settings.mobile_img_1 | escape }}"/>
              {% endif %}

              
            </div>
            <div class="result_new-bottom result_target" onclick="scrollToSection('{{ block.settings.id_2 }}')">

              {% if forloop.index == 1 %}
                 <div class="res_left-bt">
                  <div class="result1_bt_p1">{{ block.settings.bottom_txt_1 | escape }}</div>
                  <div class="result1_bt_p2">{{ block.settings.bottom_txt_2 | escape }}</div>
                </div>
                <div class="res_left-img">
                  {% if block.settings.img_2 != blank %}
               <img src="{{ block.settings.img_2 | image_url }}" class="{% if block.settings.mobile_img_2 != blank %}hidden-pocket{% endif %}" alt="{{ block.settings.img_1 | escape }}"/>
              {% endif %}
                  {% if block.settings.mobile_img_2 != blank %}
               <img src="{{ block.settings.mobile_img_2 | image_url }}" class="hidden-lap-and-up" alt="{{ block.settings.mobile_img_2 | escape }}"/>
              {% endif %}
                </div>
              {% endif %}

              {% if forloop.index == 2 %}
               <div class="result2_bt_p1">{{ block.settings.bottom_txt_1 | escape }}</div>
                <div class="result2_bt_p2">{{ block.settings.bottom_txt_2 | escape }}</div>
                 {% if block.settings.img_2 != blank %}
               <img src="{{ block.settings.img_2 | image_url }}" class="{% if block.settings.mobile_img_2 != blank %}hidden-pocket{% endif %}" alt="{{ block.settings.img_1 | escape }}"/>
              {% endif %}
                 {% if block.settings.mobile_img_2 != blank %}
               <img src="{{ block.settings.mobile_img_2 | image_url }}" class="hidden-lap-and-up" alt="{{ block.settings.mobile_img_2 | escape }}"/>
              {% endif %}
              {% endif %}

               {% if forloop.index == 3 %}
               {% if block.settings.img_2 != blank %}
               <img src="{{ block.settings.img_2 | image_url }}" class="{% if block.settings.mobile_img_2 != blank %}hidden-pocket{% endif %}" alt="{{ block.settings.img_1 | escape }}"/>
              {% endif %}
                 {% if block.settings.mobile_img_2 != blank %}
               <img src="{{ block.settings.mobile_img_2 | image_url }}" class="hidden-lap-and-up" alt="{{ block.settings.mobile_img_2 | escape }}"/>
              {% endif %}
                <div class="result3_bt_p-box">
                  <div class="result3_bt_p1">{{ block.settings.bottom_txt_1 | escape }}</div>
                  <div class="result3_bt_p2">{{ block.settings.bottom_txt_2 | escape }}</div>
                </div>
               {% endif %}
            </div>
          </div>
           {%- endfor -%}
        </div>
      </div>
    </div>
   </section>
<script>
</script>
{% schema %}
{
"name": "result-new-box-extend",
"class": "result-new-box-extend",
"blocks": [
      {
      "name": "item",
      "type": "item",
      "settings": [
          {
          "type": "image_picker",
          "id": "img_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "img_2",
          "label": "Image 2"
        },
         {
          "type": "image_picker",
          "id": "mobile_img_1",
          "label": "Mobile Image 1"
        },
        {
          "type": "image_picker",
          "id": "mobile_img_2",
          "label": "Mobile Image 2"
        },
     {
      "type": "text",
      "id": "id_1",
      "label": "Id 1"
    },
        {
      "type": "text",
      "id": "id_2",
      "label": "Id 2"
    },
        {
      "type": "text",
      "id": "top_txt_1",
      "label": "Top Text 1"
    },
        {
      "type": "text",
      "id": "top_txt_2",
      "label": "Top Text 2"
    },
         {
      "type": "text",
      "id": "bottom_txt_1",
      "label": "Bottom Text 1"
    },
        {
      "type": "text",
      "id": "bottom_txt_2",
      "label": "Bottom Text 2"
    }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "result-new-box-extend",
      "blocks": []
    }
  ]
}
{% endschema %}