<style>
.returns-work {
  padding: 80px 0 100px 0;
  background: #f9f9f9;
}

.returns-work .returns-work-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 44px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
  margin-bottom: 37px;
}

.returns-work .returns-work-sub {
  color: #190a0a;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 70px;
}

.returns-work .returns-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}

.returns-work .returns-work-item {
  width: calc(33.333% - 50px);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.returns-work svg {
  width: 32px;
  flex-shrink: 0;
  height: auto;
  display: block;
}

.returns-work .returns-work-p {
  color: #190a0a;
  font-size: 20px;
  line-height: 1.2;
}

@media (max-width: 991px) {
  .returns-work {
    padding: 51px 0;
  }

  .returns-work .returns-work-h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .returns-work .returns-work-sub {
    font-size: 12px;
    margin-bottom: 26px;
  }

  .returns-work .returns-work-list {
    flex-direction: column;
    gap: 23px;
  }

  .returns-work .returns-work-item {
    width: 100%;
    align-items: center;
    gap: 12px;
  }

  .returns-work svg {
    width: 28px;
  }

  .returns-work .returns-work-p {
    font-size: 14px;
  }
}
</style>
<section class="section-box">
  <div class="returns-work">
    <div class="container">
      {%- if section.settings.text != blank -%}
         <h3 class="returns-work-h3">{{ section.settings.text }}</h3>
      {%- endif -%}
      {%- if section.settings.text1 != blank -%}
        <div class="returns-work-sub">
          {{ section.settings.text1 }}
        </div>
      {%- endif -%}
      <div class="returns-work-list">
        {%- if section.settings.text2 != blank -%}
          <div class="returns-work-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
              <path
                d="M15.9633 5.00195C9.34141 5.00195 3.97266 10.3707 3.97266 16.9926C3.97266 23.6145 9.34141 28.9832 15.9633 28.9832C22.5852 28.9832 27.9539 23.6145 27.9539 16.9926C27.9539 10.3707 22.5852 5.00195 15.9633 5.00195ZM20.7539 12.8207C20.7539 12.8207 15.4633 22.0332 15.3727 22.1176C15.0695 22.402 14.5977 22.3863 14.3133 22.0832L10.8883 18.927C10.6039 18.6238 10.6195 18.152 10.9227 17.8676C11.2258 17.5832 11.6977 17.5988 11.982 17.902L14.6633 20.3738L19.457 12.0707C19.6633 11.7113 20.1227 11.5895 20.482 11.7957C20.8383 12.0051 20.9602 12.4645 20.7539 12.8207Z"
                fill="#E0004D" />
            </svg>
            <div class="returns-work-p">
              {{ section.settings.text2 }}
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.text3 != blank -%}
          <div class="returns-work-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
              <path
                d="M15.9633 5.00195C9.34141 5.00195 3.97266 10.3707 3.97266 16.9926C3.97266 23.6145 9.34141 28.9832 15.9633 28.9832C22.5852 28.9832 27.9539 23.6145 27.9539 16.9926C27.9539 10.3707 22.5852 5.00195 15.9633 5.00195ZM20.7539 12.8207C20.7539 12.8207 15.4633 22.0332 15.3727 22.1176C15.0695 22.402 14.5977 22.3863 14.3133 22.0832L10.8883 18.927C10.6039 18.6238 10.6195 18.152 10.9227 17.8676C11.2258 17.5832 11.6977 17.5988 11.982 17.902L14.6633 20.3738L19.457 12.0707C19.6633 11.7113 20.1227 11.5895 20.482 11.7957C20.8383 12.0051 20.9602 12.4645 20.7539 12.8207Z"
                fill="#E0004D" />
            </svg>
            <div class="returns-work-p">
              {{ section.settings.text3 }}
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.text4 != blank -%} 
          <div class="returns-work-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
              <path
                d="M15.9633 5.00195C9.34141 5.00195 3.97266 10.3707 3.97266 16.9926C3.97266 23.6145 9.34141 28.9832 15.9633 28.9832C22.5852 28.9832 27.9539 23.6145 27.9539 16.9926C27.9539 10.3707 22.5852 5.00195 15.9633 5.00195ZM20.7539 12.8207C20.7539 12.8207 15.4633 22.0332 15.3727 22.1176C15.0695 22.402 14.5977 22.3863 14.3133 22.0832L10.8883 18.927C10.6039 18.6238 10.6195 18.152 10.9227 17.8676C11.2258 17.5832 11.6977 17.5988 11.982 17.902L14.6633 20.3738L19.457 12.0707C19.6633 11.7113 20.1227 11.5895 20.482 11.7957C20.8383 12.0051 20.9602 12.4645 20.7539 12.8207Z"
                fill="#E0004D" />
            </svg>
            <div class="returns-work-p">
              {{ section.settings.text4 }}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
"name": "returns-work",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Text"
    }
  ],
  "presets": [
  {
    "name": "returns-work",
    "blocks": []
  }
]
}
{% endschema %}