<style>
  .selling-points-man {
    padding: 120px 0;
    background: #fff;
  }

  .selling-points-man .selling-points-item {
    display: flex;
  }
  .selling-points-man .selling-points-item.reverse-box {
    flex-direction: row-reverse;
  }
  .selling-points-man .flex-item {
    width: 50%;
  }

  .selling-points-man .selling-points-img {
    /* overflow: hidden; */
    display: flex;
    gap:15px;
  }

  .selling-points-man .selling-points-img-item{
    flex:1;
    position: relative;
  }

  .selling-points-man .selling-points-img-item img{
    border-radius: 10px;
  }

  .selling-points-man .selling-points-img-tag{
    padding: 10px 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background: #E0004D;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 40px;
    z-index: 2;
  }

  .selling-points-man .selling-points-img-item:last-child .selling-points-img-tag{
    background: #636E78;
  }
  
  .selling-points-man .selling-points-text {
    padding: 0 30px;
  }
  .selling-points-man .selling-points-text-cont {
    max-width: 540px;
    margin: 0 auto;
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .selling-points-man .selling-points-tag {
    padding: 10px 18px;
    border-radius: 30px;
    background: linear-gradient(180deg, #e0004d -25%, #ff7595 125%);
    font-size: 14px;
    color: #fff;
    line-height: 1;
    display: inline-block;
    margin-bottom: 20px;
  }

  .selling-points-man .selling-points-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .selling-points-man .selling-points-p {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 20px;
    color:#000;
  }
  .selling-points-man .selling-points-p p{
    margin:0;
  }
  .selling-points-man .selling-points-sm-list {
    display: flex;
    margin-top: 40px;
    gap:40px;
  }

  .selling-points-man .selling-points-sm-item {
    text-align: center;
  }

  .selling-points-man .selling-points-num {
    font-size: 60px;
    color: #e0004d;
    line-height: 1;
  }
  .selling-points-man .selling-points-num p{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .selling-points-man .selling-points-num strong{
    font-weight: normal;
    font-size: 20px;
  }

  .selling-points-man .selling-points-t {
    font-size: 18px;
    line-height: 1;
    margin-top:8px;
  }

  .selling-points-man .selling-points-msg{
    font-size: 14px;
    line-height: 1.5;
    margin-top:40px;
    color:#737577;
  }

  @media (max-width: 1300px) {
    .selling-points-man .selling-points-tag {
      margin-bottom: 10px;
    }
    .selling-points-man .selling-points-title {
      font-size: 30px;
    }
    .selling-points-man .selling-points-p {
      margin-top: 15px;
      font-size: 15px;
    }
    .selling-points-man .selling-points-sm-list {
      margin-top: 30px;
    }
    .selling-points-man .selling-points-num {
      font-size: 45px;
    }
    .selling-points-man .selling-points-num strong{
      font-size:16px;
    }
    .selling-points-man .selling-points-t {
      font-size: 14px;
    }
  }

  @media (max-width: 991px) {
    .selling-points-man {
      padding: 60px 0;
    }
    .selling-points-man .selling-points-list {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .selling-points-man .selling-points-item,
    .selling-points-man .selling-points-item.reverse-box {
      flex-direction: column;
      gap: 30px;
    }
    .selling-points-man .flex-item {
      width: 100%;
    }
    .selling-points-man .selling-points-text {
      padding: 0;
    }
    .selling-points-man .selling-points-text-cont {
      top: 0;
      transform: translateY(0);
      max-width: 100%;
    }
    .selling-points-man .selling-points-tag {
      font-size: 12px;
      padding: 8px 15px;
    }
    .selling-points-man .selling-points-title {
      font-size: 24px;
    }
    .selling-points-man .selling-points-p {
      font-size: 12px;
      margin-top: 10px;
    }
    .selling-points-man .selling-points-sm-list {
      margin-top: 30px;
      flex-direction: column;
      align-items: flex-start;
    }
    .selling-points-man .selling-points-sm-item {
      text-align: left;
    }
    .selling-points-man .selling-points-t {
      font-size: 12px;
    }
    .selling-points-man .selling-points-msg{
      margin-top:20px;
    }
    .selling-points-man .selling-points-img-tag{
      padding: 5px 16px;
      font-size: 14px;
    }
  }
</style>

<section class="section-box">
  <div class="selling-points-man to-top">
    <div class="container">
      <div class="selling-points-list">
        {%- for block in section.blocks -%}
          <div class="selling-points-item {% if block.settings.reverse %}reverse-box{% endif %}">
            <div class="selling-points-img flex-item to-top">
              <div class="selling-points-img-item">
                <img class="img" width="" height="" src="{{ block.settings.image | image_url }}" alt="">
                {%- if block.settings.tag != blank -%}
                  <div class="selling-points-img-tag">
                    {{ block.settings.tag }}
                  </div>
                {%- endif -%}
              </div>
              <div class="selling-points-img-item">
                <img class="img" width="" height="" src="{{ block.settings.image1 | image_url }}" alt="">
                {%- if block.settings.tag1 != blank -%}
                  <div class="selling-points-img-tag">
                    {{ block.settings.tag1 }}
                  </div>
                {%- endif -%}
              </div>
              
            </div>
            <div class="selling-points-text flex-item to-top" style="transition-delay: .1s;">
              <div class="selling-points-text-cont">
                {%- if block.settings.text != blank -%}
                  <div class="selling-points-tag">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.text1 != blank -%}
                  <div class="selling-points-title">{{ block.settings.text1 }}</div>
                {%- endif -%}
                {%- if block.settings.text2 != blank -%}
                  <div class="selling-points-p">{{ block.settings.text2 }}</div>
                {%- endif -%}
                {%- if block.settings.text3 != blank or block.settings.text5 != blank -%}
                  <div class="selling-points-sm-list">
                    {%- if block.settings.text3 != blank or block.settings.text4 != blank -%}
                      <div class="selling-points-sm-item">
                        <div class="selling-points-num">{{ block.settings.text3 }}</div>
                        <div class="selling-points-t">{{ block.settings.text4 }}</div>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.text5 != blank or block.settings.text6 != blank -%}
                      <div class="selling-points-sm-item">
                        <div class="selling-points-num">{{ block.settings.text5 }}</div>
                        <div class="selling-points-t">{{ block.settings.text6 }}</div>
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if block.settings.text7 != blank -%}
                  <div class="selling-points-msg">
                    {{ block.settings.text7 }}
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "selling-facepiece-new",
  "blocks": [
    {
        "type": "item",
        "name": "item",
        "settings": [
          {
            "type": "checkbox",
            "id": "reverse",
            "label": "反转"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Label"
          },
          {
            "type": "text",
            "id": "tag1",
            "label": "Label"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text1",
            "label": "Text"
          },
          {
            "type": "richtext",
            "id": "text2",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text3",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text4",
            "label": "Text"
          },
          {
            "type": "richtext",
            "id": "text5",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text6",
            "label": "Text"
          }
          ,
          {
            "type": "text",
            "id": "text7",
            "label": "Text"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "selling-facepiece-new",
      "settings": {},
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
