<style>
  .shop-adv{
    background: #f9f9f9;
    padding: 26px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .shop-adv .shop-adv-list{
    display: flex;
  }
  .shop-adv .shop-adv-item{
    width: 25%;
    padding: 0  50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    font-family: var(--heading-font-family);
    /* font-weight: bold; */
  }
  .shop-adv .shop-adv-item img{
    display: block;
    margin: 0;
    margin-right: 20px;
  }
  .shop-adv .shop-adv-item .shop-adv-txt{
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
  }

  .shop-adv .shop-adv-item .shop-adv-txt:hover{
    text-decoration: underline;
  }

@media (min-width:992px) {
  .product-sticky-form{
    display:none !important;
  }
  .home-shop-adv{
    padding: 60px 0;
  }
}
  
  @media (max-width:1400px) {
    .shop-adv .shop-adv-item{
        padding: 0 30px;
    }
  }

  .shop-adv-dot{
    display: none;
    justify-content: center;
    margin-top: 30px;
  }

  .shop-adv-dot-item{
    margin: 0 5px;
    height: 6px;
    width: 6px;
    background: #aaa;
    cursor: pointer;
  }

  .shop-adv-dot-item.active{
    background: #000;
  }

  @media (max-width:991px) {
    .shop-adv .shop-adv-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 每行2列，等宽 */
      gap: 10px; /* 可选：设置行列间距 */
    }
    .shop-adv .shop-adv-item{
        width: 100%;
        flex-shrink: 0;
        padding: 0 0px;
        margin-right: 0px;
        text-align: left;
        line-height: 1.2;
        font-size: 14px;
        gap: 6px;
    }
    .shop-adv .shop-adv-item .shop-adv-txt {
      font-size: 14px;
      line-height: 1.2;
    }

    .shop-adv .shop-adv-item img{
      margin: 0;
      width: 24px;
    }
  }

   .safeguards-new-msg {
      color: #fff;
      font-size: 18px;
      line-height: 1.33;
      padding: 12px;
      position: fixed;
      z-index: 2;
      background: rgba(25, 10, 10, 0.8);
      display: none;
      pointer-events: none;
    }

.safeguards-new-msg::before {
  content: '';
  position: absolute;
  top: -31.5px;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-color: transparent transparent rgba(25, 10, 10, 0.8) transparent;
  transform: translateX(-50%);
}

.safeguards-new-msg .safeguards-new-msg-top {
  height: 50px;
  display: none;
  align-items: center;
  color: #161823;
  font-size: 14px;
  line-height: 1.42;
  position: relative;
  border-bottom: 1px solid rgba(22, 24, 35, 0.12);
}

.safeguards-new-msg .safeguards-new-msg-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
  width: 24px;
}

.safeguards-new-msg .safeguards-new-msg-close svg {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 640px) {
  .safeguards-new-msg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: inherit;
  }
  .safeguards-new-msg::before {
    display: none;
  }
  .safeguards-new-msg .safeguards-new-msg-top {
    display: flex;
    color: #161823;
    font-size: 14px;
    line-height: 1.4;
    justify-content: center;
    padding: 0 15px;
  }
  .safeguards-new-msg .safeguards-new-msg-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    font-size: 14px;
    color: #625959;
    border-radius: 8px 8px 0px 0px;
  }
  .safeguards-new-msg .safeguards-new-msg-txt {
    padding: 16px;
    padding-bottom: 30px;
    line-height: 1.4;
  }
}

</style>
<section class="section-box">
  <div class="shop-adv to-top {{ section.settings.class_text }}" style="background: {{ section.settings.background }};">
    <div class="container">
      <div class="shop-adv-list">
        {%- for block in section.blocks -%}
          <div class="shop-adv-item to-top" style="transition-delay: 0.{{forloop.index}}s">
            <img loading="lazy" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" {%
              render 'image-attributes' , image: block.settings.image %} alt="{{ block.settings.image.alt | escape }}">
            <div class="shop-adv-txt"  {% if block.settings.text2 != blank %}data-txt="{{ block.settings.text2 }}"{% endif %} >{{ block.settings.text }}</div>
          </div>
        {%- endfor -%}
      </div>
      <div class="shop-adv-dot to-top">
        {%- for block in section.blocks -%}
          <div class="shop-adv-dot-item"></div>
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="safeguards-new-msg">
      <div class="safeguards-new-msg-cont">
        <div class="safeguards-new-msg-top">
          <span></span>
          <div class="safeguards-new-msg-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M16.8417 7.44357C16.6464 7.2483 16.3298 7.2483 16.1346 7.44357L12.4951 11.0831L8.85554 7.44357C8.66028 7.2483 8.3437 7.2483 8.14844 7.44357L7.79488 7.79712C7.59962 7.99238 7.59962 8.30896 7.79488 8.50423L11.4344 12.1437L7.79488 15.7833C7.59962 15.9785 7.59962 16.2951 7.79488 16.4904L8.14844 16.8439C8.3437 17.0392 8.66028 17.0392 8.85554 16.8439L12.4951 13.2044L16.1346 16.8439C16.3298 17.0392 16.6464 17.0392 16.8417 16.8439L17.1952 16.4904C17.3905 16.2951 17.3905 15.9785 17.1952 15.7833L13.5557 12.1437L17.1952 8.50423C17.3905 8.30896 17.3905 7.99238 17.1952 7.79712L16.8417 7.44357Z"
                fill="#161823" />
            </svg>
          </div>
        </div>
        <div class="safeguards-new-msg-txt">
        </div>
      </div>
  </div>


</section>
<script>
  window.addEventListener('load', function () {
    if (window.innerWidth > 641) {
      $('#shopify-section-{{ section.id }} .shop-adv-txt').hover(function (e) {
        let txt = $(this).attr('data-txt');
        if (!txt) return;
        let pd = $(this)[0].getBoundingClientRect()
        var left = pd.left - 100;
        var top = pd.top + pd.height + 20;
        var width = 300;
        $(".safeguards-new-msg .safeguards-new-msg-txt").html(txt);
        $(".safeguards-new-msg").css({
          "left": left + 'px',
          "top": top + 'px',
          "width": width + 'px'
        }).show()
      }, function () {
        $(".safeguards-new-msg").hide()
      });

      $(window).scroll(function () {
        $(".safeguards-new-msg").hide()
      })
    } else {
      $('#shopify-section-{{ section.id }} .shop-adv-txt').click(function () {
        let txt = $(this).attr('data-txt');
        let title = $(this).text();
        if (!txt) return;
        $(".safeguards-new-msg .safeguards-new-msg-top span").text(title);
        $(".safeguards-new-msg .safeguards-new-msg-txt").html(txt);
        $(".safeguards-new-msg").show()
      })

      $(".safeguards-new-msg,.safeguards-new-msg .safeguards-new-msg-close").click(function () {
        $(".safeguards-new-msg").hide()
      })
    }
  })
</script>
{% schema %}
{
"name": "shop-adv-list",
"class": "shop-adv-diy",
"blocks": [
  {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Icon"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "浮窗信息"
      }
    ]
  }
],
"settings": [
  {
    "type": "text",
    "id": "class_text",
    "label": "Custom Class"
  },
  {
    "type": "color",
    "id": "background",
    "label": "Background",
    "default": "#f9f9f9"
  }
],
  "presets": [
  {
    "name": "shop-adv-list",
    "blocks": []
  }
]
}
{% endschema %}