<style>
.skin-renewal {
  position: relative;
  z-index: 1;
  min-height: 500px;
}

.skin-renewal .skin-renewal-bg {
  width: 100%;
  z-index: 0;
  opacity: 1;
  /* transition: opacity 0.3s ease; */
}

.skin-renewal .skin-renewal-bg.fade-out {
  opacity: 0;
}

.skin-renewal .skin-renewal-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 50px;
}

.skin-renewal .skin-renewal-cont .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skin-renewal .skin-renewal-h3 {
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
  text-align: center;
}

.skin-renewal .skin-renewal-p {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  margin-top: 15px;
  text-align: center;
}

.skin-renewal .skin-renewal-bottom {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.skin-renewal .skin-renewal-t {
  position: relative;
  width: 460px;
  max-width: 100%;
  margin-left: auto;
  margin-right: 0;
}

.skin-renewal .skin-renewal-tab {
  display: flex;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3);
  height: 50px;
  border-radius: 50px;
  padding: 7px 9px;
}

.skin-renewal .skin-renewal-tab-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  height: 100%;
  border-radius: 50px;
  padding: 0 15px;
  transition: all 0.4s ease;
}

.skin-renewal .skin-renewal-tab-item.active {
  background: #000;
}

.skin-renewal .skin-renewal-text {
  margin-top: 30px;
}

.skin-renewal .skin-renewal-text-item {
  display: none;
  transform: translateY(30px);
  opacity: 0;
}

.skin-renewal .skin-renewal-text-item.active {
  display: block;
  animation: fadeIn-text 0.6s ease forwards;
}

@keyframes fadeIn-text {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.skin-renewal .skin-renewal-item-h3 {
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.skin-renewal .skin-renewal-tag {
  display: flex;
  gap: 6px;
  margin-top: 17px;
}

.skin-renewal .skin-renewal-tag-item {
  width: 66px;
  height: 16px;
}

.skin-renewal .skin-renewal-tag-item:first-child {
  border-radius: 66px 0 0 66px;
}

.skin-renewal .skin-renewal-tag-item:last-child {
  border-radius: 0 66px 66px 0;
}

.skin-renewal .skin-renewal-h4 {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
  margin-top: 12px;
}

.skin-renewal .skin-renewal-item-p {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  margin-top: 12px;
  min-height: 44px;
}

@media (max-width: 1400px) {
  .skin-renewal .skin-renewal-h3 {
    font-size: 40px;
  }

  .skin-renewal .skin-renewal-p {
    font-size: 16px;
    margin-top: 10px;
  }
  .skin-renewal .skin-renewal-item-h3 {
    font-size: 30px;
  }
  .skin-renewal .skin-renewal-h4 {
    font-size: 16px;
  }

  .skin-renewal .skin-renewal-item-p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .skin-renewal .skin-renewal-cont {
    padding-top: 40px;
  }
  .skin-renewal .skin-renewal-h3 {
    font-size: 28px;
  }

  .skin-renewal .skin-renewal-p {
    font-size: 14px;
  }

  .skin-renewal .skin-renewal-bottom {
    align-items: flex-end;
    padding-bottom: 40px;
  }

  .skin-renewal .skin-renewal-t {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column-reverse;
  }

  .skin-renewal .skin-renewal-text {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .skin-renewal .skin-renewal-item-h3 {
    font-size: 22px;
  }
  .skin-renewal .skin-renewal-h4 {
    font-size: 14px;
  }
  .skin-renewal .skin-renewal-item-p {
    font-size: 14px;
    min-height: 34px;
  }
  .skin-renewal .skin-renewal-tab {
    height: 45px;
    padding: 4px 6px;
    gap:0;
  }
  .skin-renewal .skin-renewal-tab-item {
    font-size: 14px;
  }
} 
</style>
<section class="section-box">
  <div class="skin-renewal">
    <img class="skin-renewal-bg" width="" height="" src="" />
    <div class="skin-renewal-cont">
      <div class="container">
        {%- if section.settings.text != blank -%}
          <h3 class="skin-renewal-h3">{{ section.settings.text }}</h3>
        {%- endif -%}
        {%- if section.settings.text1 != blank -%}
         <p class="skin-renewal-p">{{ section.settings.text1 }}</p>
        {%- endif -%}
        <div class="skin-renewal-bottom">
          <div class="skin-renewal-t">
            <div class="skin-renewal-tab">
              {%- for block in section.blocks -%}
                <div class="skin-renewal-tab-item {% if forloop.index == 1 %}active{% endif %}" data-src="{{ block.settings.image | image_url }}" data-src1="{{ block.settings.image1 | image_url }}">{{ block.settings.text }}</div>
              {%- endfor -%}
            </div>
            <div class="skin-renewal-text">
              {%- for block in section.blocks -%}
                <div class="skin-renewal-text-item {% if forloop.index == 1 %}active{% endif %}">
                  {%- if block.settings.text1 != blank -%}
                  <h3 class="skin-renewal-item-h3">{{ block.settings.text1 }}</h3>
                  {%- endif -%}
                  <div class="skin-renewal-tag">
                    {%- if block.settings.is_show -%}
                      <div class="skin-renewal-tag-item" style="background: {{ block.settings.bg_color }}; box-shadow: 0 0 10px {{ block.settings.s_color }};"></div>
                    {%- endif -%}
                    {%- if block.settings.is_show1 -%}
                      <div class="skin-renewal-tag-item" style="background: {{ block.settings.bg_color1 }}; box-shadow: 0 0 10px {{ block.settings.s_color1 }};"></div>
                    {%- endif -%}
                    {%- if block.settings.is_show2 -%}
                      <div class="skin-renewal-tag-item" style="background: {{ block.settings.bg_color2 }}; box-shadow: 0 0 10px {{ block.settings.s_color2 }};"></div>
                    {%- endif -%}
                  </div>
                  {%- if block.settings.text2 != blank -%}
                  <h4 class="skin-renewal-h4">{{ block.settings.text2 }}</h4>
                  {%- endif -%}
                  {%- if block.settings.text3 != blank -%}
                  <p class="skin-renewal-item-p">{{ block.settings.text3 }}</p>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function skinRenewalInit(tabSelector, contentSelector, bgSelector = null, activeClass = 'active') {
    const tabs = document.querySelectorAll(tabSelector);
    const contents = document.querySelectorAll(contentSelector);
    const bgElement = bgSelector ? document.querySelector(bgSelector) : null;

    if (!tabs.length || !contents.length) return;

    function setBackground(tab) {
      if (!bgElement || !tab) return;
      const isMobile = window.innerWidth <= 991;
      const bgUrl = isMobile ? tab.getAttribute('data-src1') : tab.getAttribute('data-src');

      if (bgUrl) {
        const img = new Image();
        img.src = bgUrl;

        img.onload = function () {
          bgElement.classList.add('fade-out');

          setTimeout(() => {
            bgElement.setAttribute('src', bgUrl);
            bgElement.classList.remove('fade-out');
          }, 0);
        }
      }
    }

    // 初始化，选中第一个 tab 和内容
    tabs.forEach(t => t.classList.remove(activeClass));
    contents.forEach(c => c.classList.remove(activeClass));

    tabs[0].classList.add(activeClass);
    contents[0].classList.add(activeClass);
    setBackground(tabs[0]);

    // 后续点击事件
    tabs.forEach((tab, index) => {
      tab.addEventListener('click', () => {
        tabs.forEach(t => t.classList.remove(activeClass));
        tab.classList.add(activeClass);

        contents.forEach(c => c.classList.remove(activeClass));
        contents[index].classList.add(activeClass);

        setBackground(tab);
      });
    });
  }

  skinRenewalInit('.skin-renewal .skin-renewal-tab-item', '.skin-renewal .skin-renewal-text-item', '.skin-renewal .skin-renewal-bg');
</script>
{% schema %}
{
  "name": "skin-renewal",
  "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image M"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Tab"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "is_show",
          "label": "显示标签",
          "default":false
        },
        {
          "type": "color_background",
          "id": "bg_color",
          "label": "标签颜色",
          "default":"#ffffff"
        },
        {
          "type": "color",
          "id": "s_color",
          "label": "阴影颜色",
          "default":"#ffffff"
        },
        {
          "type": "checkbox",
          "id": "is_show1",
          "label": "显示标签",
          "default":false
        },
        {
          "type": "color_background",
          "id": "bg_color1",
          "label": "标签颜色",
          "default":"#ffffff"
        },
        {
          "type": "color",
          "id": "s_color1",
          "label": "阴影颜色",
          "default":"#ffffff"
        },
        {
          "type": "checkbox",
          "id": "is_show2",
          "label": "显示标签",
          "default":false
        },
        {
          "type": "color_background",
          "id": "bg_color2",
          "label": "标签颜色",
          "default":"#ffffff"
        },
        {
          "type": "color",
          "id": "s_color2",
          "label": "阴影颜色",
          "default":"#ffffff"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "skin-renewal",
      "blocks": []
    }
  ]
}
{% endschema %}
