<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sheerid/jslib@1/sheerid.css" type="text/css"/>
<style>
.special-occ-banner{
  position: relative;
  z-index: 2;
}

.special-occ-banner .container{
  display: flex;
  justify-content: flex-end;
}

.special-occ-banner .img{
  width: 100%;
  display: block;
}

.special-occ-banner .mb-box{
  display: none;
}

.special-occ-banner .banner-cont {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 3;
}

.special-occ-banner .banner-txt {
  max-width: 470px;
  /* padding-right: 35px; */
  box-sizing: border-box;
}

.special-occ-banner .title-diy {
  color: #000;
  line-height: 1;
  margin-bottom: 20px;
  text-align: left;
}

.special-occ-banner .sub-txt {
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 30px;
  max-width: 326px;
}
.special-occ-banner .sub-txt h6{
  margin:0;
}
.special-occ-banner .sub-txt strong {
  font-weight: normal;
  font-family: var(--heading-font-family);
}

.special-occ-banner .select-box {
  display: flex;
  position: relative;
}

.special-occ-banner .select-box .select-o {
  background-color: #fff;
  height: 40px;
  border: 2px solid #e7004c;
  padding: 0 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #000;
  margin-right: 20px;
  flex: 1;
  box-sizing: border-box;
  cursor: pointer;
  z-index:2;
}

.special-occ-banner .select-box .select-o::before {
  position: absolute;
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-right: 2px solid #e7004c;
  border-bottom: 2px solid #e7004c;
  right: 15px;
  top: 50%;
  margin-top: -4px;
  transform: rotate(45deg) translateY(-50%);
}

.special-occ-banner .select-box .select-list {
  display: none;
  position: absolute;
  background: #fff;
  width: calc(100% + 4px );
  left: -2px;
  top: calc(100% - 6px);
  z-index: 3;
  overflow: hidden;
  border: 2px solid #e7004c;
  border-top: 0;
}

.special-occ-banner .select-box .select-item {
  padding: 10px;
  font-size: 14px;
  color: #000;
  transition: all .4s ease;
}

.special-occ-banner .select-box .select-item:hover,
.special-occ-banner .select-box .select-item.active {
  background: #eee;
}

.special-occ-banner .select-box .select-btn {
  width: 136px;
  background: #e7004c;
  border: 2px solid #e7004c;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.special-occ-banner .select-box .select-btn:hover .btn-txt::before{
  color: #e7004c;
}

.special-occ-banner .msg-one {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #e7004c;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px;
  margin-top: 15px;
  display: none;
}

.sid-modal__wrapper {
  width: 95% !important;
  max-width: 760px;
  box-shadow: none;
  border-radius: 0;
}

.js .no-focus-outline *:focus {
  outline: none;
}

.sid-modal__close-button .sid-modal__close-icon{
  filter: brightness(100%) !important;
  background-image: none !important;
  background: #000 !important;
  border-radius: 50%;
  position: relative;
}

.sid-modal__close-button .sid-modal__close-icon::before,
.sid-modal__close-button .sid-modal__close-icon::after{
  position: absolute;
  content: '';
  display: block;
  width: 12px;
  height: 2px;
  background: #fff;
}

.sid-modal__close-button .sid-modal__close-icon::before {
  transform: rotate(45deg);
  top: 9px;
  left: 4px;
}

.sid-modal__close-button .sid-modal__close-icon::after {
  transform: rotate(-45deg);
  top: 9px;
  left: 4px;
}

.sid-modal__overlay.fade-in{
  background: #000;
  opacity: .5;
}
.breadcrumbs-box{
  display:none;
}
  @media (max-width:1200px) {
    .special-occ-banner .banner-txt{
      max-width:430px;
    }
    .special-occ-banner .title-diy{
      font-size:35px;
    }
  }
@media (max-width:991px) {
  .special-occ-banner .banner-cont{
    top: auto;
    transform: translateY(0);
    bottom: 40px;
  }
  .special-occ-banner .mb-box {
      display: block;
  }

  .special-occ-banner .pc-box {
      display: none;
  }

  .special-occ-banner .banner-txt {
      width: 100%;
      max-width: none;
      padding: 0;
  }

  .special-occ-banner .sub-txt {
      margin-bottom: 20px;
      font-size: 18px;
  }

  .special-occ-banner .select-box {
      display: block;
  }

  .special-occ-banner .select-box .select-o {
      margin: 0;
      height: 50px;
  }

  .special-occ-banner .select-box .select-btn {
      margin-top: 20px;
      width: 100%;
      height: 50px;
  }
  .special-occ-banner .select-box .select-o::before {
    width: 13px;
    height: 13px;
    margin-top: -5px;
  }
}
</style>
<style>
  .sb-cs__wrapper {
    display: flex;
    align-items: center;
    {% comment %} height: 100%; {% endcomment %}
  }
  
  .sb-cs__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sb-cs__link {
    text-decoration: none;
  }
  
  .sb-cs__link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 48px;
    color: #fff !important;
    background-color: #e0004d !important;
    font-size: 13px;
    border-radius: 5px;
    text-decoration: none !important;
  }
  
  .sb-cs__link-container img {
    border:none !important;
  }
  
  .sb-cs__vertical-divider {
    width: 24px;
    border: 1px solid #F8F8F8 !important;
    transform: rotate(90deg);
  }
  
  .sb-cs__link-container a:not(.sb-cs__link) {
    color: #158BCD !important;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    margin: 0;
    text-decoration: none !important;
  }
  </style>

<script defer src="https://cdn.jsdelivr.net/npm/@sheerid/jslib@1/sheerid.js"></script>
<section class="section-box">
  <div class="special-occ-banner">
    {%- if section.settings.image != blank -%}
       <img loading="lazy" class="img pc-box to-opacity" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" {% render 'image-attributes', image: section.settings.image %} alt="{{ section.settings.image.alt | escape }}" >
    {%- endif -%}
    {%- if section.settings.image1 != blank -%}
       <img loading="lazy" class="img mb-box to-opacity" width="{{ section.settings.image1.width }}" height="{{ section.settings.image1.height }}" {% render 'image-attributes', image: section.settings.image1 %} alt="{{ section.settings.image1.alt | escape }}" >
    {%- endif -%}
    <div class="banner-cont">
      <div class="container">
          <div class="banner-txt">
              <div class="title-diy to-top">{{ section.settings.text }}</div>
              <div class="sub-txt to-top" style="transition-delay: 0.1s">
                {{ section.settings.text1 }}
              </div>
              {% comment %} <div class="select-box to-top" style="transition-delay: 0.2s">
                {%- if section.settings.text2 != blank -%}
                  <div class="select-o">
                      <span>{{ section.settings.text2 }}</span>
                      <div class="select-list">
                        {%- for block in section.blocks -%}
                         <div class="select-item" data-url="{{ block.settings.text1 }}">{{ block.settings.text }}</div>
                        {%- endfor -%}
                      </div>
                  </div>
                {%- endif -%}
                {%- if section.settings.text3 != blank -%}
                  <div class="select-btn btn-diy">
                    <div class="btn-txt" text="{{ section.settings.text3 }}">
                      <span>{{ section.settings.text3 }}</span>
                    </div>
                  </div>
                {%- endif -%}
                <div class="msg-one">
                    {{ section.settings.text4 }}
                </div>
              </div> {% endcomment %}
              {% comment %} {% assign link_to_landing_page = shop.metafields.display_options.page_slug | append: "?utm_source=shopify&utm_content=code_snippet" %} {% endcomment %}
              <div class="sb-cs__wrapper to-top" style="transition-delay: 0.2s">
                <div class="sb-cs__cart">
                  <a href="https://accounts.studentbeans.com/oauth/authorize?client_id=9b4d2cac-6dda-44a2-a0bb-c78b125ed61a&country=uk&redirect_uri=https%3A%2F%2Fsh.studentbeans.com%2Foauth%2Fcallback%2Fulikeunitedkingdom.myshopify.com&response_type=code&utm_source=shopify&utm_content=landing_page_button" target="_blank" class="sb-cs__link">
                    <div class="sb-cs__link-container">
                      <img src="https://sh.studentbeans.com/assets/ID.svg" alt="Beans ID logo", width="32", height="18">
                      <span class="sb-cs__vertical-divider"></span>
                      <span>Exclusive Discount Available</span>
                    </div>
                  </a>
                  </div>
              </div>
  
          </div>
      </div>
    </div>
  </div>
</section>
<script>
  window.addEventListener('load',function(){
    let msgOneTimer = null
    $('.special-occ-banner .select-o').click(function () {
      $(this).find('.select-list').slideToggle(300)
    })
    $('.special-occ-banner .select-o .select-item').click(function () {
      $(this).siblings().removeClass('active').end().addClass('active')
      $(this).parents('.select-o').find('span').html($(this).text())
    })
    $('.special-occ-banner .select-btn').click(function () {
      let url = $(this).siblings('.select-o').find('.active').data('url')
      if (url) {
        displayVerification(url)
      } else {
        clearTimeout(msgOneTimer)
        $('.special-occ-banner .msg-one').fadeIn(300)
        msgOneTimer = setTimeout(() => {
            $('.special-occ-banner .msg-one').fadeOut(300)
        }, 2000);
      }
    })
  
    function displayVerification(url) {
      const verificationUrl = url
      sheerId.loadInModal(
      verificationUrl, {
        mobileRedirect: false
      });
    };
  })
</script>
{% schema %}
{
"name": "special-occ-banner",
"blocks": [
  {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Url"
      }
    ]
  }
],
"settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "image1",
    "label": "Mobile Image"
  },
  {
    "type": "text",
    "id": "text",
    "label": "Text"
  },
  {
    "type": "richtext",
    "id": "text1",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text2",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text3",
    "label": "Text"
  },
  {
    "type": "text",
    "id": "text4",
    "label": "Text"
  }
],
  "presets": [
  {
    "name": "special-occ-banner",
    "blocks": []
  }
]
}
{% endschema %}