<style>
  #app-plug-1,
  #app-plug-2,
  #app-plug-2 .ulike-subscribe {
    display: none;
  }
</style>
{%- liquid
  assign se_id = section.id
  assign se_bks = section.blocks
  assign se_stts = section.settings
-%}
{% if se_stts.show_plug == true %}
  {% comment %} 版本2 {% endcomment %}
  <div id="app-plug-2">
    <div class="ulike-subscribe">
      <div class="init-gift">
        <!-- 动画礼盒 -->
        <div class="gift-box">
          {% comment %} <div class="gift-box-cont">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/t-ulike_500x.png?v=1731563298"
              width=""
              height=""
              alt=""
              class="q-hz"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/t1-ulike_500x.png?v=1731563298"
              width=""
              height=""
              alt=""
              class="h-hz"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/g-ulike_583a9e64-4ce5-43bc-a73a-18f22bb508a5_500x.png?v=1731563298"
              width=""
              height=""
              
              alt=""
              class="g-hz"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/gx-ulike_500x.png?v=1731562940"
              width=""
              height=""
              class="gx-hz"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/su-ulike_500x.png?v=1731562941"
              width=""
              height=""
              alt=""
              class="su-hz"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/cp-ulike_500x.png?v=1731562941"
              width=""
              height=""
              alt=""
              class="cp-hz"
            >
          </div>
          <img
            src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/z-ulike_60x.png"
            width=""
            height=""
            alt=""
            class="y-hz"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/z-ulike_60x.png"
            width=""
            height=""
            alt=""
            class="z-hz"
          > {% endcomment %}
        </div>
      </div>
      <div id="subscript-plug">
        <div class="subscription-popup spin-popup">
          <div class="gs-container">
            <div class="gs"></div>
          </div>
          <div id="myConfettiDiv">
            <canvas id="confettiCanvas"></canvas>
          </div>
          <div class="popup-content ">
            <div class="close" id="close">
              <div class="close-button"></div>
            </div>
            <div class="popup-content-wrap">
              <div class="slide-left">
                <div class="p-hide">
                  <p class="title"></p>
                </div>
                <div>
                  <div class="turntable-border">
                    <img
                      id="switch-image"
                      src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/12_387675fd-455f-4151-820f-cc6b8ef4e419_800x.png?v=1728455134"
                      alt="bg turntable"
                      loading="lazy"
                      width="100%"
                      height="100%"
                    >
                    <div class="box-light">
                      <div class="light-bulbs">
                        <!-- 灯光点 -->
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                        <div class="bulb"></div>
                      </div>
                    </div>
                  </div>
                  <div class="spin-wheel turntable-wrap">
                    <div class="turntable spin-start" id="turntable">
                      <ul class="bg" id="turntable_bg"></ul>
                      <ul class="gift" id="turntable_gift"></ul>
                    </div>
                    <div class="pointer disabled" id="turntable_pointer">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/1_1_2f7927b4-30bc-4ada-b6f5-9f572aba2518.png?v=1734429474"
                        loading="lazy"
                        width="100%"
                        height="100%"
                        alt="truncated"
                      >
                    </div>
                  </div>
                </div>
                <div class="abs-prize-arrow">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/icon_e9d90b10-ebfa-43a5-b8b5-23f5b5a09464.png?v=1722238813"
                    width="100%"
                    height="100%"
                    loading="lazy"
                    alt="prize-arrow"
                  >
                </div>
                <div class="abs-prize-pictures">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/1_1b2fcda2-5d13-4269-bcd8-6c3f97ed9bee.png?v=1731483149"
                    alt="prize-pictures"
                    loading="lazy"
                    width="100%"
                    height="100%"
                  >
                </div>
              </div>
              <div class="slide-right">
                <div class="step-one">
                  <div class="p-show">
                    <p class="title">Spin to Win Free Device</p>
                  </div>
                  <div class="btn-wrap">GET LUCKY</div>
                  <div class="info">
                    <p>- From Dec 24th to Jan 10th.</p>
                    <p>- Each user can only play it once.</p>
                    <p>- Activity Rules and Winner List.</p>
                  </div>
                </div>
                <div class="setp-two">
                  <div class="p-show">
                    <p class="title">Spin to Win Free Device</p>
                    {% comment %} <p class="desc">100% chance to win</p> {% endcomment %}
                  </div>
                  <div class="scroll">
                    <ul class="list" attr="111"></ul>
                  </div>
                  <div class="box-email">
                    <div class="input-email">
                      <input
                        type="text"
                        class="j_user_email"
                        placeholder="Enter your email"
                      >
                    </div>
                  </div>
                  <div class="msg">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/1_b4c8d68e-5296-40fe-8696-6dca53e8c4e3.svg?v=1716193536"
                      width="100%"
                      loading="lazy"
                      height="100%"
                    >
                    <span></span>
                  </div>
                  <div class="spin-it">SPIN WIN</div>
                  <div class="box-receive">
                    <div class="checkbox-label">
                      <input type="checkbox" id="policy-checkbox" name="checkbox-span" value="checkbox">
                      <label class="custom-checkbox"> </label>
                    </div>
                    <div class="text">Receive offers via text message</div>
                  </div>
                  <div class="box-marketing">Privacy Policy</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="subscription-popup success-popup" style="display: none">
          <div class="gs-container">
            <div class="gs"></div>
          </div>
          <div class="popup-content">
            <div class="close">
              <div class="close-button"></div>
            </div>
            <div class="popup-content-wrap">
              <div class="slide-right2">
                <p class="title"></p>
                <p class="desc"></p>
                <div class="award-coupon">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/20240911-100539.png?v=1726024646"
                    loading="lazy"
                  >
                  <div class="dispatch-coupon-txt" data-text=""><span></span></div>
                </div>
                <div class="recommended-products">
                  <div class="image-left">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/82.png?v=1722502467"
                      alt="product-title"
                      width="200"
                      height="200"
                      loading="lazy"
                      draggable="false"
                    >
                    <!-- replace with dynamic image URL and alt text -->
                  </div>
                  <div class="product-right" >
                    <p class="name">Product Title</p>
                    <!-- replace with dynamic product title -->
                    <div class="price" >
                    </div>
                    <div class="txt-info">
                      {{ se_stts.text }}
                    </div>
                    <div
                      class="subscript-btn-add-cart"
                      pid="product-variant-id"
                    >
                      {{ se_stts.btn_text }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="teaser-app">
      <div class="flex-block">
        <div class="close">
          <img
            src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Frame_457393924_1.svg?v=1715326764"
            fetchpriority="low"
            loading="lazy"
            alt="teaser-close"
          >
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/20240429-100801.gif?v=1714374205"
          loading="lazy"
          class="teaser-image"
          alt="teaser-image"
          width="46px"
          height="46px"
        >
      </div>
    </div>
  </div>

  <script>
    var subscriptCopywriting = {
      email_err: "{{ 'general.page.email_err' | t }}",
      privacy_policy_err: "{{ 'general.page.privacy_policy_err' | t }}",
      system_err: "{{ 'general.page.system_err' | t }}",
      theme_script1: "{{ 'subscriptPlug.min.js' | asset_url }}",
      theme_link1: "{{ 'subscript-plug.css' | asset_url }}",
      theme_link2: "{{ 'subscript_style_2.min.css' | asset_url }}",
      theme_script2: "{{ 'subscriptPlugStyle2.min.js' | asset_url }}"
    };
    window.addEventListener("load", function () {
      const script = document.createElement("script"); // 设置
      script.src = '{{ 'commonSubscribe.js' | asset_url }}';
      script.type = "text/javascript";
      script.defer = true;
      document.head.appendChild(script);
    });
    document.addEventListener("DOMContentLoaded", function() {
      if (window.location.href.includes("ulikeunitedkingdom.myshopify")) {
        document.querySelector('#subscript-plug').classList.add('hide-plug-diy');
      }
    });
  </script>
  {% comment %} 拖拽 {% endcomment %}
  <script src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/confetti.browser.min.js?v=1736910193" defer></script>
{% endif %}
{% schema %}
{
  "name": "subscript-plug",
  "settings": [
    {
      "type": "checkbox",
      "id": "close_plug",
      "label": "在后台不弹出转盘",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_plug",
      "label": "弹出框 开启",
      "default": false
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Long-last hair removal solution."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "按钮名称",
      "default": "Add to cart"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Porduct"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "成功页左侧图片"
    },
    {
      "type": "image_picker",
      "id": "p_image",
      "label": "产品图"
    }
  ],
  "presets": [
    {
      "name": "subscript-plug",
      "category": "subscript-plug",
      "blocks": []
    }
  ],
  "blocks": []
}
{% endschema %}
