<style>
.comparison-image{
  position: relative;
}

.comparison-image .img{
  width: 100%;
  position: relative;
  z-index: 1;
}

.comparison-image .mb-box{
  display: none;
}

.comparison-image .comparison-image-cont{
  position: absolute;
  top: 34.1%;
  right: 7.5%;
  max-width: 35.67%;
  z-index: 2;
}

.comparison-image .comparison-image-sub{
  color:#E0004D;
  font-size: 20px;
  line-height: 1.2;
}

.comparison-image .comparison-image-title{
  color: #190A0A;
  font-size: 48px;
  line-height: 1.2;
  margin-top: 14px;
}

.comparison-image .comparison-image-p{
  color: #3F3636;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 25px;
}

.comparison-image .comparison-image-btn{
  position: absolute;
  z-index: 3;
  /* width: 38px; */
  height: 48px;
  border-radius: 48px;
  gap:10px;
  padding:0 10px 0 20px;
  border: 0.5px solid #CCC;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-family: var(--text-font-family);
  line-height: 1.5;
}

.comparison-image .comparison-image-btn svg{
  display: block;
}

.comparison-image .comparison-image-btn::after,
.comparison-image .comparison-image-btn:before {
  content: "";
  position: absolute;
  display: none;
  width: 160%;
  height: 160%;
  border: 1px solid #fff;
  border-radius: 50%;
  /* animation: bounce-circle 1.8s infinite; */
  box-sizing: border-box;
  left: -30%;
  top: -30%;
  pointer-events: none;
}

.comparison-image .comparison-image-btn::after{
  animation-delay: 400ms;
}

.comparison-image .comparison-image-btn:hover:after,
.comparison-image .comparison-image-btn:hover:before{
  display: none;
}

@keyframes bounce-circle {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  20% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.comparison-image .comparison-image-btn-left{
  left: 49.16%;
  top: 61.48%;
}
.comparison-image .comparison-image-btn-right{
  left: 79.06%;
  top: 32.8%;
}

.comparison-image-product .comparison-image-cont{
  /* max-width: 29.43%; */
  right: auto;
  left: 8.75%;
  top: 31.43%;
}

.comparison-image-product .comparison-image-title{
  font-size: 44px;
}

@media (max-width:1700px) {
  .comparison-image .comparison-image-title{
    font-size: 38px;
  }
}


@media (max-width:1500px) {
  .comparison-image .comparison-image-cont{
    right: 0;
    max-width: 42.67%;
  }
  .comparison-image-product .comparison-image-cont{
    left: 0;
  }
}

@media (max-width:1300px) {
  .comparison-image .comparison-image-title{
    font-size: 30px;
    margin-top: 10px;
  }
  .comparison-image .comparison-image-sub{
    font-size: 16px;
  }
  .comparison-image .comparison-image-p{
    font-size: 14px;
    margin-top: 15px;
  }
}


@media (max-width:991px) {
  .comparison-image .pc-box {
    display: none;
  }
  .comparison-image .mb-box {
    display: block;
  }
  .comparison-image .comparison-image-title{
    font-size: 24px;
  }
  .comparison-image .comparison-image-sub{
    margin-top: 7px;
  }
  .comparison-image .comparison-image-p{

    margin-top: 20px;
  }
  .comparison-image .comparison-image-cont{
    width: 100%;
    right: auto;
    left: 0;
    top: 60px;
    max-width: none;
  }
  .comparison-image .comparison-image-btn{
    /* width: 29px; */
    height: 36px;
    font-size:12px;
  }
  .comparison-image .comparison-image-btn-left{
    left: 18.67%;
    top: auto;
    bottom: 21.19%;
  }
  .comparison-image .comparison-image-btn-right{
    right: 18.67%;
    left: auto;
    top: auto;
    bottom: 35.93%;
  }
}
.result-new-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  transition: all .4s ease;
  overflow: hidden;
}
.result-new-popup.active{
  background: rgba(0, 0, 0, .3);
  pointer-events: all;
}

.result-new-popup .result-new-popup-mark{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index:1;
}

.result-new-popup .result-new-popup-cont{
  width: 100%;
  height: 100%;
  max-width: 1280px;
  background: #FBFAF4;
  padding: 80px 15px 80px 60px;
  position: relative;
  z-index:2;
  transform: translateX(100%);
  transition: all .4s ease;
}

.result-new-popup.active .result-new-popup-cont{
  transform: translateX(0);
  transition: all .4s ease .1s;
}

.result-new-popup .result-new-popup-det{
  height: 100%;
  padding-right: 185px;
  overflow-y: auto;
  display: flex;
  gap: 145px;
  color: #3F3636;
  position: relative;
}
.result-new-popup .result-new-popup-det::-webkit-scrollbar {
    width: 10px;
}

.result-new-popup .result-new-popup-det::-webkit-scrollbar-track {
    background-color: none;
}

.result-new-popup .result-new-popup-det::-webkit-scrollbar-thumb {
    background-color: rgba(228, 221, 221, .3);
    border-radius: 5px;
}

.result-new-popup .result-new-popup-det::-moz-scrollbar {
  width: 10px;
}

.result-new-popup .result-new-popup-det::-moz-scrollbar-track {
  background: none;
}

.result-new-popup .result-new-popup-det::-moz-scrollbar-thumb {
  background: rgba(228, 221, 221, .3);
  border-radius: 5px;
}

.result-new-popup .result-new-popup-close{
  position: absolute;
  top: 80px;
  right: 70px;
  cursor: pointer;
  z-index: 3;
}

.result-new-popup .result-new-popup-left{
  width: 130px;
  flex-shrink: 0;
}

.result-new-popup .result-new-popup-sub{
  font-size: 24px;
  line-height: 1.2;
}

.result-new-popup .result-new-popup-title{
  font-size: 40px;
  line-height: 1.2;
}

.result-new-popup .result-new-popup-p{
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
}

.result-new-popup .result-new-popup-video{
  position: relative;
  margin-top: 60px;
}

.result-new-popup .result-new-popup-video .img-video{
  position: relative;
  z-index:0;
  width:100%;
}

.result-new-popup .product-video{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1;
}
.result-new-popup .product-video video{
  width: 100%;
}

.result-new-popup .result-new-popup-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
  gap: 60px;
  row-gap: 40px;
  margin-top: 60px;
}

.result-new-popup .result-new-popup-item{
  width: calc(50% - 30px);
}

.result-new-popup .result-new-popup-t{
  color: #6C6AB4;
  font-size: 44px;
  line-height: 1.2;
}

.result-new-popup .result-new-popup-d{
  color: #3F3636;
  font-size: 14px;
  line-height: 1.5;
}

.result-new-popup .result-new-popup-box{
  max-width: 480px;
  margin-top: 113px;
}

.result-new-popup .result-new-popup-msg{
  color: #3F3636;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 35px;
}

.result-new-popup .preheat-video-results-flex{
  display: flex;
  align-items: flex-end;
  gap: 80px;
  margin-top: 60px;
}

.result-new-popup .preheat-video-results-left{
  padding-right: 80px;
  border-right: 1px solid #3F3636;
}

.result-new-popup .results-left-img{
  width: 195px;
  display: block;
}

.result-new-popup .results-left-text{
  color: #190A0A;
  font-size: 16px;
  line-height: 1.3;
}

.result-new-popup .preheat-video-results-right{
  display: flex;
  align-items: center;
  gap: 68px;
}

.result-new-popup .results-right-sub{
  color: #190A0A;
  font-size: 14px;
  line-height: 1.2;
}

.result-new-popup .results-right-text{
  color: #190A0A;
  font-size: 32px;
  line-height: 1;
  font-family: var(--text-font-light-family);
}

.result-new-popup .results-right-text span{
  font-size: 60px;
}

.result-new-popup .img{
  width: 100%;
  position: relative;
  z-index: 1;
}

.result-new-popup .officially-test-popup-p{
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}

.result-new-popup-five .result-new-popup-det{
  padding-right: 65px;
}

.result-new-popup .result-new-popup-right-top{
  padding-right: 120px;
   margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #E4DDDD;
}

.result-new-popup .mb-box{
  display: none;
}

.result-new-popup-four .result-new-popup-left{
  width: 155px;
}
.result-new-popup .result-new-popup-top-p{
  color: #190A0A;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
}
  .pd-svg,.pd-diy .oth-svg{
    display:none !important;
  }
.pd-diy .pd-svg{
  display:block !important;
}
@media (max-width:1280px) {
  .result-new-popup .result-new-popup-det{
    gap: 60px;
    padding-right: 100px;
  }
  .result-new-popup .result-new-popup-title{
    font-size: 35px;
  }
  .result-new-popup .result-new-popup-t{
    font-size: 38px;
  }
}

@media (max-width:991px) {
  .result-new-popup{
    display: flex;
    align-items: flex-end;
  }

  .result-new-popup .pc-box{
    display: none;
  }
  .result-new-popup .mb-box{
    display: block;
  }
  
  .result-new-popup .result-new-popup-cont{
    max-height: 80vh;
    height: auto;
    transform: translateY(100%);
    overflow-x: hidden;
  }

  .result-new-popup.active .result-new-popup-cont{
    transform: translateY(0);
  }
  .result-new-popup .result-new-popup-close{
    top: 18px;
    right: 18px;
  }
  .result-new-popup .result-new-popup-det{
    flex-direction: column;
    gap: 10px;
  }
  .result-new-popup .result-new-popup-left{
    width: auto;
  }
  .result-new-popup .result-new-popup-sub{
    font-size: 14px;
    color: #6C6AB4;
  }
  .result-new-popup-two .result-new-popup-sub{
    color: #190A0A;
  }
  .result-new-popup .result-new-popup-title{
    font-size: 24px;
    color: #190A0A;
  }
  .result-new-popup .result-new-popup-p{
    font-size: 12px;
    margin-top: 10px;
  }
  .result-new-popup .result-new-popup-video{
    margin-top: 35px;
  }
  .result-new-popup.active .result-new-popup-cont{
    padding: 50px 20px;
  }
  .result-new-popup .result-new-popup-det{
    padding-right: 0;
  }
  .result-new-popup .result-new-popup-list{
    margin-top: 45px;
    gap: 40px;
  }
  .result-new-popup .result-new-popup-t{
    font-size: 35px;
  }
  .result-new-popup .result-new-popup-d{
    font-size: 12px;
  }
  .result-new-popup .result-new-popup-right-top{
    padding-right: 0;
    padding-top: 35px;
    margin-top: 35px;
  }

  .result-new-popup .preheat-video-results-flex{
    zoom: 1;
    align-items: flex-start;
    justify-content: space-between;
  }
  .result-new-popup .preheat-video-results-left{
    padding: 0;
    border: 0;
    width: 98px;
  }
  .result-new-popup .preheat-video-results-right{
    flex-direction: column;
    gap: 50px;
  }
  .result-new-popup .results-left-text{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
  .result-new-popup .results-right-sub{
    font-size: 12px;
  }
  .result-new-popup .results-right-text{
    font-size: 24px;
    line-height: 1.2;
  }

  .result-new-popup .results-right-text span {
    font-size: 45px;
  }
  .result-new-popup .result-new-popup-msg{
    margin-top: 40px;
  }
  .result-new-popup .video-wrapper__play-button{
    zoom:.6;
  }
}  
</style>

<section class="section-box">
  <div class="comparison-image to-top {{ section.settings.text }}">
    {%- if section.settings.image != blank -%}
      <img loading="lazy" class="img pc-box" width="" height="" src="{{ section.settings.image | image_url }}">
    {%- endif -%}
    {%- if section.settings.image1 != blank -%}
      <img loading="lazy" class="img mb-box" width="" height="" src="{{ section.settings.image1 | image_url }}">
    {%- endif -%}
    {%- if section.settings.text4 != blank -%}
      <div class="comparison-image-btn comparison-image-btn-left {% if section.settings.text4 != blank %}show-popup-btn{% endif %}" data-name="{{ section.settings.text4 }}">
        Dual Lights
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="oth-svg">
          <g clip-path="url(#clip0_2347_513)">
            <path d="M12 0C5.38359 0 0 5.38359 0 12C0 18.6164 5.38359 24 12 24C18.6164 24 24 18.6164 24 12C24 5.38359 18.6164 0 12 0ZM12 22.957C5.95781 22.957 1.04297 18.0422 1.04297 12C1.04297 5.95781 5.95781 1.04297 12 1.04297C18.0422 1.04297 22.957 5.95781 22.957 12C22.957 18.0422 18.0422 22.957 12 22.957Z" fill="#190A0A"/>
            <circle cx="12" cy="12" r="12" fill="url(#paint0_linear_2347_513)"/>
            <path d="M18.2641 11.5951H12.5242V5.85762C12.5242 5.56934 12.2875 5.33496 12.0016 5.33496C11.7133 5.33496 11.4789 5.57168 11.4789 5.85762V11.5951H5.74141C5.45312 11.5951 5.21875 11.8318 5.21875 12.1178C5.21875 12.4061 5.45547 12.6404 5.74141 12.6404H11.4789V18.3803C11.4789 18.6686 11.7156 18.9029 12.0016 18.9029C12.2898 18.9029 12.5242 18.6662 12.5242 18.3803V12.6404H18.2617C18.55 12.6404 18.7844 12.4037 18.7867 12.1178C18.7867 11.8295 18.55 11.5951 18.2641 11.5951Z" fill="#3F3636"/>
          </g>
          <defs>
            <linearGradient id="paint0_linear_2347_513" x1="12" y1="0" x2="12" y2="24" gradientUnits="userSpaceOnUse">
              <stop stop-color="{{ section.settings.color_icon }}"/>
              <stop offset="1" stop-color="{{ section.settings.color_icon1 }}"/>
            </linearGradient>
            <clipPath id="clip0_2347_513">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="pd-svg">
          <g clip-path="url(#clip0_2979_3750)">
            <path d="M12.0001 0C5.38366 0 6.10352e-05 5.38359 6.10352e-05 12C6.10352e-05 18.6164 5.38366 24 12.0001 24C18.6165 24 24.0001 18.6164 24.0001 12C24.0001 5.38359 18.6165 0 12.0001 0ZM12.0001 22.957C5.95787 22.957 1.04303 18.0422 1.04303 12C1.04303 5.95781 5.95787 1.04297 12.0001 1.04297C18.0422 1.04297 22.9571 5.95781 22.9571 12C22.9571 18.0422 18.0422 22.957 12.0001 22.957Z" fill="#190A0A"/>
            <circle cx="12.0001" cy="12" r="12" fill="url(#paint0_linear_2979_3750)"/>
            <path d="M18.2641 11.5951H12.5243V5.85762C12.5243 5.56934 12.2876 5.33496 12.0016 5.33496C11.7133 5.33496 11.479 5.57168 11.479 5.85762V11.5951H5.74147C5.45319 11.5951 5.21881 11.8318 5.21881 12.1178C5.21881 12.4061 5.45553 12.6404 5.74147 12.6404H11.479V18.3803C11.479 18.6686 11.7157 18.9029 12.0016 18.9029C12.2899 18.9029 12.5243 18.6662 12.5243 18.3803V12.6404H18.2618C18.5501 12.6404 18.7844 12.4037 18.7868 12.1178C18.7868 11.8295 18.5501 11.5951 18.2641 11.5951Z" fill="#3F3636"/>
          </g>
          <defs>
            <linearGradient id="paint0_linear_2979_3750" x1="12.0001" y1="0" x2="12.0001" y2="24" gradientUnits="userSpaceOnUse">
              <stop stop-color="#EFF1FF"/>
              <stop offset="1" stop-color="#7570D3"/>
            </linearGradient>
            <clipPath id="clip0_2979_3750">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </div>
    {%- endif -%}
    {%- if section.settings.text5 != blank -%}
      <div class="comparison-image-btn comparison-image-btn-right {% if section.settings.text5 != blank %}show-popup-btn{% endif %}" data-name="{{ section.settings.text5 }}">
          SHR Mode
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="oth-svg">
          <g clip-path="url(#clip0_2347_513)">
            <path d="M12 0C5.38359 0 0 5.38359 0 12C0 18.6164 5.38359 24 12 24C18.6164 24 24 18.6164 24 12C24 5.38359 18.6164 0 12 0ZM12 22.957C5.95781 22.957 1.04297 18.0422 1.04297 12C1.04297 5.95781 5.95781 1.04297 12 1.04297C18.0422 1.04297 22.957 5.95781 22.957 12C22.957 18.0422 18.0422 22.957 12 22.957Z" fill="#190A0A"/>
            <circle cx="12" cy="12" r="12" fill="url(#paint0_linear_2347_513)"/>
            <path d="M18.2641 11.5951H12.5242V5.85762C12.5242 5.56934 12.2875 5.33496 12.0016 5.33496C11.7133 5.33496 11.4789 5.57168 11.4789 5.85762V11.5951H5.74141C5.45312 11.5951 5.21875 11.8318 5.21875 12.1178C5.21875 12.4061 5.45547 12.6404 5.74141 12.6404H11.4789V18.3803C11.4789 18.6686 11.7156 18.9029 12.0016 18.9029C12.2898 18.9029 12.5242 18.6662 12.5242 18.3803V12.6404H18.2617C18.55 12.6404 18.7844 12.4037 18.7867 12.1178C18.7867 11.8295 18.55 11.5951 18.2641 11.5951Z" fill="#3F3636"/>
          </g>
          <defs>
            <linearGradient id="paint0_linear_2347_513" x1="12" y1="0" x2="12" y2="24" gradientUnits="userSpaceOnUse">
              <stop stop-color="{{ section.settings.color_icon }}"/>
              <stop offset="1" stop-color="{{ section.settings.color_icon1 }}"/>
            </linearGradient>
            <clipPath id="clip0_2347_513">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="pd-svg">
          <g clip-path="url(#clip0_2979_3750)">
            <path d="M12.0001 0C5.38366 0 6.10352e-05 5.38359 6.10352e-05 12C6.10352e-05 18.6164 5.38366 24 12.0001 24C18.6165 24 24.0001 18.6164 24.0001 12C24.0001 5.38359 18.6165 0 12.0001 0ZM12.0001 22.957C5.95787 22.957 1.04303 18.0422 1.04303 12C1.04303 5.95781 5.95787 1.04297 12.0001 1.04297C18.0422 1.04297 22.9571 5.95781 22.9571 12C22.9571 18.0422 18.0422 22.957 12.0001 22.957Z" fill="#190A0A"/>
            <circle cx="12.0001" cy="12" r="12" fill="url(#paint0_linear_2979_3750)"/>
            <path d="M18.2641 11.5951H12.5243V5.85762C12.5243 5.56934 12.2876 5.33496 12.0016 5.33496C11.7133 5.33496 11.479 5.57168 11.479 5.85762V11.5951H5.74147C5.45319 11.5951 5.21881 11.8318 5.21881 12.1178C5.21881 12.4061 5.45553 12.6404 5.74147 12.6404H11.479V18.3803C11.479 18.6686 11.7157 18.9029 12.0016 18.9029C12.2899 18.9029 12.5243 18.6662 12.5243 18.3803V12.6404H18.2618C18.5501 12.6404 18.7844 12.4037 18.7868 12.1178C18.7868 11.8295 18.5501 11.5951 18.2641 11.5951Z" fill="#3F3636"/>
          </g>
          <defs>
            <linearGradient id="paint0_linear_2979_3750" x1="12.0001" y1="0" x2="12.0001" y2="24" gradientUnits="userSpaceOnUse">
              <stop stop-color="#EFF1FF"/>
              <stop offset="1" stop-color="#7570D3"/>
            </linearGradient>
            <clipPath id="clip0_2979_3750">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </div>
    {%- endif -%}
    <div class="comparison-image-cont to-top" style="transition-delay: 0.1s">
      <div class="container">
        <div class="comparison-image-sub">{{ section.settings.text2 }}</div>
        <div class="comparison-image-title">{{ section.settings.text1 }}</div>
        <div class="comparison-image-p">{{ section.settings.text3 }}</div>
      </div>
    </div>
  </div>

   <div class="result-new-popup result-new-popup-one">
    <div class="result-new-popup-mark"></div>
    <div class="result-new-popup-cont">
      <div class="result-new-popup-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
          <line x1="2.02941" y1="0.848633" x2="22.182" y2="21.0012" stroke="#3F3636" stroke-width="1.5" stroke-linecap="round"/>
          <line x1="22.1836" y1="1.06066" x2="2.03105" y2="21.2132" stroke="#3F3636" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </div>
    {%- for block in section.blocks -%}
        {% if block.type == 'popup1' %}
        <div class="result-new-popup-det">
          <div class="result-new-popup-left">
            <div class="result-new-popup-sub">{{ block.settings.text }}</div>
          </div>
          <div class="result-new-popup-right">
            <div class="result-new-popup-title">{{ block.settings.text1 }}</div>
            <div class="result-new-popup-p">
              {{ block.settings.text2 }}
            </div>
            <div class="result-new-popup-video">
              {% if block.settings.img_2 != blank %}
                 <img src="{{ block.settings.img_2 | image_url }}" width="" height="" class="img-video" alt="{{ block.settings.img_2 | escape }}"/>
              {% endif %}
              {%- if block.settings.video != blank -%}
                <native-video {% if block.settings.autoplay %} autoplay{% endif %} class="product-video">
                  {%- unless block.settings.autoplay -%}
                    <button type="button" class="video-wrapper__play-button video-wrapper__play-button--large video-wrapper__play-button--ripple" title="{{ 'general.accessibility.play_video' | t | escape }}">
                      {%- if block.settings.v_icon != blank -%}
                        <img
                          loading="lazy"
                          class="v_img"
                          width="{{ block.settings.v_icon.width }}"
                          height="{{ block.settings.v_icon.height }}"
                          {% render 'image-attributes', image: block.settings.v_icon %}
                          alt="{{ block.settings.v_icon.alt | escape }}"
                        >
                      {%- endif -%}
                    </button>
                  {%- endunless -%}
                  <template>
                    {{-
                      block.settings.video
                      | video_tag:
                        controls: block.settings.show_video_controls,
                        autoplay: block.settings.autoplay,
                        muted: block.settings.autoplay,
                        playsinline: block.settings.autoplay,
                        loop: true
                    -}}
                  </template>
                </native-video>
              {%- endif -%}
            </div>
            <div class="result-new-popup-list">
              <div class="result-new-popup-item">
                <div class="result-new-popup-t">{{ block.settings.text3 }}</div>
                <div class="result-new-popup-d">{{ block.settings.text4 }}</div>
              </div>
              <div class="result-new-popup-item">
                <div class="result-new-popup-t">{{ block.settings.text5 }}</div>
                <div class="result-new-popup-d">{{ block.settings.text6 }}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
            
  <div class="result-new-popup result-new-popup-three">
    <div class="result-new-popup-mark"></div>
    <div class="result-new-popup-cont">
      <div class="result-new-popup-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
          <line x1="2.02941" y1="0.848633" x2="22.182" y2="21.0012" stroke="#3F3636" stroke-width="1.5" stroke-linecap="round"/>
          <line x1="22.1836" y1="1.06066" x2="2.03105" y2="21.2132" stroke="#3F3636" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'popup2' -%}
        <div class="result-new-popup-det">
          <div class="result-new-popup-left">
            <div class="result-new-popup-sub">{{ block.settings.text15 }}</div>
          </div>
          <div class="result-new-popup-right">
            <div class="result-new-popup-title">{{ block.settings.text16 }}</div>
            <div class="result-new-popup-video">
              {% if block.settings.img_21 != blank %}
                 <img src="{{ block.settings.img_21 | image_url }}" width="" height="" class="img-video" alt="{{ block.settings.img_21 | escape }}"/>
              {% endif %}
              {%- if block.settings.video1 != blank -%}
                <native-video {% if block.settings.autoplay %} autoplay{% endif %} class="product-video">
                  {%- unless block.settings.autoplay -%}
                    <button type="button" class="video-wrapper__play-button video-wrapper__play-button--large video-wrapper__play-button--ripple" title="{{ 'general.accessibility.play_video' | t | escape }}">
                      {%- if block.settings.v_icon != blank -%}
                        <img
                          loading="lazy"
                          class="v_img"
                          width="{{ block.settings.v_icon.width }}"
                          height="{{ block.settings.v_icon.height }}"
                          {% render 'image-attributes', image: block.settings.v_icon %}
                          alt="{{ block.settings.v_icon.alt | escape }}"
                        >
                      {%- endif -%}
                    </button>
                  {%- endunless -%}
                  <template>
                    {{-
                      block.settings.video1
                      | video_tag:
                        controls: block.settings.show_video_controls,
                        autoplay: block.settings.autoplay,
                        muted: block.settings.autoplay,
                        playsinline: block.settings.autoplay,
                        loop: true
                    -}}
                  </template>
                </native-video>
              {%- endif -%}
            </div>
            <div class="result-new-popup-list">
              <div class="result-new-popup-item">
                <div class="result-new-popup-t">{{ block.settings.text17 }}</div>
                <div class="result-new-popup-d">{{ block.settings.text18 }}</div>
              </div>
              <div class="result-new-popup-item">
                <div class="result-new-popup-t">{{ block.settings.text19 }}</div>
                <div class="result-new-popup-d">{{ block.settings.text20 }}</div>
              </div>
              <div class="result-new-popup-item">
                <div class="result-new-popup-t">{{ block.settings.text21 }}</div>
                <div class="result-new-popup-d">{{ block.settings.text22 }}</div>
              </div>
              <div class="result-new-popup-item">
                <div class="result-new-popup-t">{{ block.settings.text23 }}</div>
                <div class="result-new-popup-d">{{ block.settings.text24 }}</div>
              </div>
            </div>
          </div>
        </div>
       {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
 <script>
   window.addEventListener('load',()=>{
   $('.show-popup-btn').click(function(){
      $('.'+$(this).attr('data-name')).addClass('active')
      $('body').css('overflow','hidden')
    })
    $('.result-new-popup .result-new-popup-close,.result-new-popup .result-new-popup-mark').click(function(){
      $('.result-new-popup').removeClass('active')
      $('body').css('overflow','')
    })
   })
 </script>
</section>                 
{% schema %}
{
  "name": "summer-image",
  "blocks": [{
    "name": "popup 1",
    "type": "popup1",
    "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
         {
            "type": "text",
            "id": "text1",
            "label": "Text"
          },
         {
            "type": "text",
            "id": "text2",
            "label": "Text"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video",
            "info": "Replaces the external video if both are set."
          },
          {
            "type": "image_picker",
            "id": "img_2",
            "label": "视频占位图片"
          },
          {
            "type": "text",
            "id": "text3",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text4",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text5",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text6",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "info": "Video is muted automatically to allow autoplay.",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_video_controls",
            "label": "Show video controls",
            "info": "Only applicable with native video.",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "v_icon",
            "label": "Video Icon"
          }
        ]
      },
    {
    "name": "popup 2",
    "type": "popup2",
    "settings": [
          {
            "type": "text",
            "id": "text15",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text16",
            "label": "Text"
          },
          {
            "type": "video",
            "id": "video1",
            "label": "Video",
            "info": "Replaces the external video if both are set."
          },
          {
            "type": "image_picker",
            "id": "img_21",
            "label": "视频占位图片"
          },
          {
            "type": "text",
            "id": "text17",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text18",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text19",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text20",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text21",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text22",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text23",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "text24",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "info": "Video is muted automatically to allow autoplay.",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_video_controls",
            "label": "Show video controls",
            "info": "Only applicable with native video.",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "v_icon",
            "label": "Video Icon"
          }
        ]
      }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image Mobile"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "副标题"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "内容"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "弹窗1名字"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "弹窗2名字"
    },
    {
      "type": "color",
      "id": "color_icon",
      "label": "颜色1",
      "default": "#EFFEFF"
    },
    {
      "type": "color",
      "id": "color_icon1",
      "label": "颜色2",
      "default": "#8EE0E4"
    },
    {
      "type": "text",
      "id": "text",
      "label": "自定义Class"
    }
  ],
  "presets": [
    {
      "name": "summer-image"
    }
  ]
}
{% endschema %}
