<style>
.sunmmer-banner{
  position: relative;
  z-index:1;
}
.sunmmer-banner::before{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.sunmmer-banner .img{
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}

.sunmmer-banner .mb-box{
  display: none;
}

.sunmmer-banner .sunmmer-banner-text{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 65px;
  z-index: 4;
}

.ogp-diy.sunmmer-banner .sunmmer-banner-text{
  bottom: auto;
  top:50%;
  transform: translateY(-50%);
}

.sunmmer-banner .sunmmer-banner-text::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 1.5%,
    rgba(0, 0, 0, 0.6) 100%
  );
  bottom: -65px;
}

.ogp-diy.sunmmer-banner .sunmmer-banner-text::before{
  display:none;
}
.end-ss.sunmmer-banner::before{
  display:none;
}
.sunmmer-banner .container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.ogp-diy .container{
  align-items: flex-start;
  gap: 50px;
  flex-direction: column;
}

.sunmmer-banner .sunmmer-banner-text-left{
  max-width: 770px;
  color: #fff;
}

.sunmmer-banner .sunmmer-banner-tag{
  color: #FBFAF4;
  font-size: 16px;
  font-family: var(--heading-font-family);
  line-height: 1.5;
  display: inline-block;
  background: #E0004D;
  padding: 3px 17px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
.sunmmer-banner .sunmmer-banner-tag::before {
  position: absolute;
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  z-index: 2;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  animation: scanning 3s linear infinite;
}
@keyframes scanning {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.sunmmer-banner .sunmmer-banner-sub{
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.24px;
  margin-top: 18px;
}

.sunmmer-banner .sunmmer-banner-title{
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.8px;
  margin-top: 18px;
}

.sunmmer-banner .img-icon{
  width:39vw;
}

.sunmmer-banner .sunmmer-banner-p{
  color: #190A0A;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.6px;
}

.sunmmer-banner .sunmmer-banner-btn{
  width: 434px;
  height: 108px;
  border-radius: 12px;
  cursor: pointer;
  border: 1.33px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  padding-left: 24px;
  padding-right: 35px;
}

.ogp-diy.sunmmer-banner .sunmmer-banner-btn{
  border: 1.299px solid rgba(255, 255, 255, 0.40);
  background: linear-gradient(114deg, rgba(250, 146, 171, 0.50) 10.17%, rgba(201, 64, 105, 0.50) 68.96%);
  backdrop-filter: blur(15.8px);
}

.end-ss.sunmmer-banner .sunmmer-banner-btn{
  border: 1.299px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(15px);
}
.bank-holiday-offer.sunmmer-banner .sunmmer-banner-btn{
  border-radius: 13px;
  border: 1px solid #FFDED1;
  background: linear-gradient(285deg, rgba(255, 214, 205, 0.50) 32.07%, rgba(255, 160, 121, 0.50) 75.95%);
  backdrop-filter: blur(16px);
}

.bank-holiday-offer.sunmmer-banner .sunmmer-banner-sub{
  color: #190A0A;
}
.bank-holiday-offer.sunmmer-banner::before{
  display:none;
}
  
.sunmmer-banner .sunmmer-banner-btn .img{
  position: absolute;
  width: 96px;
  right: 30px;
  bottom: 20px;
}

.sunmmer-banner .sunmmer-banner-t{
  color: #FFFFFC;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.sunmmer-banner .sunmmer-banner-p{
  color: #FFFFFC;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 24px;
}

.sunmmer-banner .sunmmer-banner-t span{
  color: #A4F1F4;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--text-font-family);
}

.pd-diy.sunmmer-banner .sunmmer-banner-title{
  font-size: 60px;
}

.ogp-diy.sunmmer-banner .sunmmer-banner-t span{
  color: #FF0054;
}

@media (max-width:991px) {
  .sunmmer-banner .sunmmer-banner-sub{
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-top: 5px;
  }
  .bank-holiday-offer.sunmmer-banner .sunmmer-banner-sub{
    margin-top: 15px;
    color:#fff;
  }
  .sunmmer-banner .sunmmer-banner-title{
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    margin-top: 11px;
    font-family: var(--heading-font-family);
  }
  .sunmmer-banner .img-icon{
    width:100%;
  }
  .pd-diy.sunmmer-banner .sunmmer-banner-title{
    font-size: 28px;
  }
  .pd-diy.sunmmer-banner .sunmmer-banner-tag{
    font-size: 12px;
  }
  .sunmmer-banner .mb-box{
    display: block;
  }
  .sunmmer-banner .pc-box{
    display: none;
  }
  .sunmmer-banner .container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .sunmmer-banner .sunmmer-banner-text-left{
    text-align: center;
  }
  .sunmmer-banner .sunmmer-banner-text{
    bottom: 0;
    height: 100%;
    padding: 38px 0 48px 0;
  }
  .sunmmer-banner .sunmmer-banner-text::before {
    display: none;
  }
  .sunmmer-banner .sunmmer-banner-text-right{
    width: 100%;
  }
  .sunmmer-banner .sunmmer-banner-btn{
    width: 100%;
    font-size: 12px;
    height: 83px;
    justify-content: flex-start;
    padding-left: 30px;
  }
  .sunmmer-banner .sunmmer-banner-t{
    font-size: 14px;
    font-family: var(--text-font-family);
  }
  .sunmmer-banner .sunmmer-banner-p{
    font-size: 12px;
  }
  .sunmmer-banner .sunmmer-banner-t span{
    font-size: 12px;
  }
  .sunmmer-banner .sunmmer-banner-btn .img{
    width: 74px;
    right: 19px;
    bottom: 15px;
  }
  .ogp-diy.sunmmer-banner .sunmmer-banner-btn{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(12px);
  }
  .end-ss.sunmmer-banner .sunmmer-banner-btn{
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(12px);
  }
  .bank-holiday-offer.sunmmer-banner .sunmmer-banner-btn{
    border-radius: 10px;
    border: 1px solid rgba(247, 211, 196, 0.80);
    background: linear-gradient(285deg, rgba(195, 141, 147, 0.50) 32.07%, rgba(254, 220, 192, 0.50) 75.95%);
    backdrop-filter: blur(13px);
  }
}
</style>

<section class="section-box">
  <div class="sunmmer-banner {{ section.settings.text8 }}">
    {%- if section.settings.image != blank or section.settings.image1 != blank -%}
      <picture>
        <source srcset="{{ section.settings.image1 | image_url }}" media="(max-width: 991px)">
        {{-
          section.settings.image
          | image_url: width: '1920x'
          | image_tag:
            loading: 'eager',
            widths: '1200,1920,2880',
            class: 'img'
        -}}
      </picture>
    {%- endif -%}
    <div class="sunmmer-banner-text">
      <div class="container">
        <div class="sunmmer-banner-text-left">
          {%- if section.settings.text != blank -%}
            <div class="sunmmer-banner-tag to-top">
              {{ section.settings.text }}
            </div>
          {%- endif -%}
          {%- if section.settings.image3 != blank or section.settings.image4 != blank -%}
            <picture>
              <source srcset="{{ section.settings.image4 | image_url }}" media="(max-width: 991px)">
              <img loading="lazy" class="img-icon to-top" width="" height="" {% render 'image-attributes', image: section.settings.image3 %}>
            </picture>
          {%- endif -%}
          {%- if section.settings.text1 != blank -%}
            <div class="sunmmer-banner-title line-top" style="transition-delay: 0.1s">{{ section.settings.text1 }}</div>
          {%- endif -%}
          {%- if section.settings.text2 != blank -%}
            <div class="sunmmer-banner-sub line-top" style="transition-delay: 0.2s">{{ section.settings.text2 }}</div>
          {%- endif -%}
        </div>
        <div class="sunmmer-banner-text-right to-top" style="transition-delay: 0.3s">
          {%- if section.settings.text3 != blank -%}
            <div class="sunmmer-banner-btn" onclick="btnScrollToTop('{{ section.settings.text4 }}')">
              <div>
                <div class="sunmmer-banner-t">{{ section.settings.text3 }} <span>{{ section.settings.text6 }}</span></div>
                <div class="sunmmer-banner-p">
                  {{ section.settings.text5 }}
                </div>
                <div class="sunmmer-banner-p">
                  {{ section.settings.text7 }}
                </div>
              </div>
              {%- if section.settings.image2 != blank -%}
                <img loading="lazy" class="img" width="" height="" src="{{ section.settings.image2 | image_url }}">
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>
  <script>
      // 
    function btnScrollToTop(name) {
    let section = document.querySelector(name)
      section.scrollIntoView({ behavior: 'smooth' });
    }
  </script>                   
{% schema %}
{
  "name": "summer-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Icon"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Icon M"
    },
    {
      "type": "text",
      "id": "text",
      "label": "标签"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "副标题"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "按钮文字"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "按钮文字"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "按钮文字"
    },
    {
      "type": "text",
      "id": "text7",
      "label": "按钮文字"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "跳转ID"
    },
    {
      "type": "text",
      "id": "text8",
      "label": "自定义class"
    }
  ],
  "presets": [
    {
      "name": "summer-banner"
    }
  ]
}
{% endschema %}
