<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
  .compared_prd-box{
    display: flex;
  }
  .compared_prd-box h3{
    color: #190A0A;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  max-width: 738px;
  flex-basis: 30%;
  }
  .compared-prd-right{
    flex: 1;
  }
  .compared_prd-dd{
    display: flex;
    padding-bottom: 40px;
  }
  .fl1{
    flex: 1;
  }
  .compared_prd-bix{
    text-align: center;
  }
  .compared_prd-bix img{
    max-width: 375px;
    width: 100%;
  }

  .compared_prd-bix .prd_name{
    color:  #190A0A;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .compared_prd-bix .prd_price{
    color: #190A0A;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .select_val-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .select_val-item{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #d9d9d9ff;
  position: relative;
  cursor: pointer;
  }
  .select_val-item.active{
    border: 1px solid #000000;
  }
  .select_val-item .select_val-label{
  background: linear-gradient(to bottom ,#9e9bcf,#6867a0);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
  .compared_prd-dt{
    display: flex;
    padding: 40px 0;
    border-top: 1px solid #D9D9D9;
  }
  .com_dd-tl{
    color:  #190A0A;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
    margin-top:10px
  }
  .dt_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
  }
  .com_dd-txt .com_dd-p{
    color: #190A0A;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 0;
  }
  .com_dd-txt .com_dd-des{
    color: #888;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        margin-top: 6px;
  }
 .compared_prd-bix .picture{
   display:none;
 }
  .compared_prd-bix .picture:first-child{
  display:block;
}
  .compared_prd-bix .picture .mb-box{
    display:none;
  }
  .w_box{
  text-align: center;
  }
  .wh80{
    width:80px;
    height:80px;
  }

  .summer-sale-diy .compared_prd-bix img{
    max-width:332px;
  }
  .summer-sale-diy .com_dd-tl{
    font-family: var(--heading-font-family);
  }
  .summer-sale-diy .w_box,.summer-sale-diy .vod {
    max-width: 220px;
  }
  .tag-box{
    display: flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    height:26px;
    border-radius: 50px;
    border: 1px solid #E0004D;
    color: #E0004D;
    font-size: 12px;
    line-height: 1;
  }
  .summer-sale-diy .compared_prd-dd{
    
  }
  @media screen and (max-width: 992px) {
    .compared_prd-box{
      flex-direction: column;
    }
  }

  @media screen and (max-width: 767px) {
    .compared_prd-box h3{
      font-size: 24px;
      margin-bottom: 60px;
      max-width: 253px;
    }
    .select_val-box{
      gap: 3px;
      margin-top: 16px;
    }
    .select_val-item{
      width: 16px;
      height: 16px;
    }
    .select_val-item .select_val-label {
      width: 14px;
      height: 14px;
  }
  .compared_prd-bix .prd_name{
    font-size: 24px;
    gap:5px;
  }
    .tag-box{
      zoom:.6;
    }
  .compared_prd-bix .prd_price{
    font-size: 16px;
  }
  .compared_prd-dd{
    padding-bottom: 24px;
  }
  .compared_prd-dt{
    padding: 24px 0;
  }
  .com_dd-tl{
    font-size: 14px;
  }
  .com_dd-txt .com_dd-p{
    font-size: 14px;
    margin-top: 10px;
  }
  .com_dd-txt .com_dd-des{
    font-size: 12px;
  }
  .dt_item{
    padding: 0 10px;
  }
    .wh80{
    width:45px;
    height:45px;
  }
    .compared_prd-bix .picture .pc-box{
      display:none;
    }
    .compared_prd-bix .picture .mb-box{
      display:block;
    }
  }
</style>
<section>
  <div class="compared_prdt-wrapper section-{{ section.id }}-padding {{section.settings.class_name}}" style="background:{{ section.settings.background_color }}">
    <div class="container">
      <div class="compared_prd-box">
        {%- if section.settings.title != blank -%}
          <h3 class="to-top">{{ section.settings.title | escape }}</h3>
        {%- endif -%}
        <div class="compared-prd-right to-top" style="transition-delay: 0.2s">
          <div class="compared_prd-table">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'header' -%}
                  <div class="compared_prd-dd">
                    <div class="vod fl1"></div>
                    <div class="compared_prd-bix fl1">
                       <div class="picture">
                         {%- if block.settings.mobile_product1_image1 -%}
                          <img class="mb-box" src="{{ block.settings.mobile_product1_image1 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                         {%- if block.settings.product1_image1 -%}
                          <img class="{% if block.settings.mobile_product1_image1 %}pc-box{% endif %}" src="{{ block.settings.product1_image1 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                       </div>
                       <div class="picture">
                          {%- if block.settings.mobile_product1_image2 -%}
                          <img class="mb-box" src="{{ block.settings.mobile_product1_image2 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                         {%- if block.settings.product1_image2 -%}
                          <img class="{% if block.settings.mobile_product1_image2 %}pc-box{% endif %}" src="{{ block.settings.product1_image2 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                       </div>
                       <div class="picture">
                         {%- if block.settings.mobile_product1_image3 -%}
                          <img class="mb-box" src="{{ block.settings.mobile_product1_image3 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                         {%- if block.settings.product1_image3 -%}
                          <img class="{% if block.settings.mobile_product1_image3 %}pc-box{% endif %}" src="{{ block.settings.product1_image3 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                       </div>
                      <div class="select_val-box">
                        {%- if block.settings.product1_color1 != blank -%}
                        <div class="select_val-item active" data-index="{{ forloop.index }}">
                          <div class="select_val-label" style="background: {{ block.settings.product1_color1 }}"></div>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.product1_color2 != blank -%}
                        <div class="select_val-item" data-index="{{ forloop.index }}">
                          <div class="select_val-label" style="background: {{ block.settings.product1_color2 }}"></div>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.product1_color3 != blank -%}
                        <div class="select_val-item" data-index="{{ forloop.index }}">
                          <div class="select_val-label" style="background: {{ block.settings.product1_color3 }}"></div>
                        </div>
                        {%- endif -%}
                        
                      </div>
                    {%- if block.settings.product_name1 != blank -%}
                      <div class="prd_name">{{ block.settings.product_name1 }} 
                        {%- if block.settings.tag_name != blank -%}
                          <div class="tag-box">{{ block.settings.tag_name }}</div>
                        {%- endif -%}
                      </div>
                      {%- endif -%}
                      {%- if block.settings.product_price1 != blank -%}
                      <div class="prd_price">{{ block.settings.product_price1 }}</div>
                       {%- endif -%}
                    </div>

                    <div class="compared_prd-bix fl1">
                       <div class="picture">
                         {%- if block.settings.mobile_product2_image1 -%}
                          <img class="mb-box" src="{{ block.settings.mobile_product2_image1 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                         {%- if block.settings.product2_image1 -%}
                          <img class=" {% if block.settings.mobile_product2_image1 %}pc-box{% endif %}" src="{{ block.settings.product2_image1 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                       </div>
                       <div class="picture">
                         {%- if block.settings.mobile_product2_image2 -%}
                          <img class="mb-box" src="{{ block.settings.mobile_product2_image2 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                         {%- if block.settings.product2_image2 -%}
                          <img class="{% if block.settings.mobile_product2_image2 %}pc-box{% endif %}" src="{{ block.settings.product2_image2 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                       </div>
                       <div class="picture">
                         {%- if block.settings.mobile_product2_image3 -%}
                          <img class="mb-box" src="{{ block.settings.mobile_product2_image3 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                         {%- if block.settings.product2_image3 -%}
                          <img class="{% if block.settings.mobile_product2_image3 %}pc-box{% endif %}" src="{{ block.settings.product2_image3 | image_url }}" alt="" srcset="">
                          {%- endif -%}
                       </div>
                      <div class="select_val-box">
                        {%- if block.settings.product2_color1 != blank -%}
                        <div class="select_val-item active" data-index="{{ forloop.index }}">
                          <div class="select_val-label" style="background: {{ block.settings.product2_color1 }}"></div>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.product2_color2 != blank -%}
                        <div class="select_val-item" data-index="{{ forloop.index }}">
                          <div class="select_val-label" style="background: {{ block.settings.product2_color2 }}"></div>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.product2_color3 != blank -%}
                        <div class="select_val-item" data-index="{{ forloop.index }}">
                          <div class="select_val-label" style="background: {{ block.settings.product2_color3 }}"></div>
                        </div>
                        {%- endif -%}
                        
                      </div>
                       {%- if block.settings.product_name2 != blank -%}
                      <div class="prd_name">{{ block.settings.product_name2 }}
                        {%- if block.settings.tag_name1 != blank -%}
                          <div class="tag-box">{{ block.settings.tag_name1 }}</div>
                        {%- endif -%}
                      </div>
                      {%- endif -%}
                      {%- if block.settings.product_price2 != blank -%}
                      <div class="prd_price">{{ block.settings.product_price2 }}</div>
                       {%- endif -%}
                    </div>
                    
                    
                  </div>

                {%- when 'content' -%}
                  <div class="compared_prd-dt">
                    {%- if block.settings.label_txt != blank -%}
                      <div class="w_box fl1">
                        <div class="wh80"></div>
                        <div class="com_dd-tl dt_item">{{ block.settings.label_txt }}</div>
                      </div>
                    {%- endif -%}
                    <div class="com_dd-txt fl1 dt_item">
                      {%- if block.settings.product1_icon -%}
                      <img src="{{ block.settings.product1_icon | image_url }}" alt="" class="wh80">
                      {%- endif -%}
                       {%- if block.settings.product1_txt1 != blank -%}
                      <p class="com_dd-p">{{ block.settings.product1_txt1 }}</p>
                      {%- endif -%}
                       {%- if block.settings.product1_txt2 != blank -%}
                      <p class="com_dd-des">{{ block.settings.product1_txt2 }}</p>
                      {%- endif -%}
                    </div>
                    <div class="com_dd-txt fl1 dt_item">
                       {%- if block.settings.product2_icon -%}
                      <img src="{{ block.settings.product2_icon | image_url }}" alt="" class="wh80">
                      {%- endif -%}
                     {%- if block.settings.product2_txt1 != blank -%}
                      <p class="com_dd-p">{{ block.settings.product2_txt1 }}</p>
                      {%- endif -%}
                       {%- if block.settings.product2_txt2 != blank -%}
                      <p class="com_dd-des">{{ block.settings.product2_txt2 }}</p>
                      {%- endif -%}
                    </div>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      init{{ section.id | replace: "template--", "" }}();
    });
  } else {
    init{{ section.id | replace: "template--", "" }}();
  }
  
function init{{ section.id | replace: "template--", "" }} () {
  

document.querySelectorAll('.compared_prd-bix').forEach( function(item, index) {
  item.querySelectorAll('.select_val-item').forEach(function(ie, id){
    ie.addEventListener('click', function(ies) {
    item.querySelectorAll('.select_val-item').forEach(function(er){
      er.classList.remove('active')
    })
    item.querySelectorAll('.picture').forEach(function(pic){
      pic.style.display = "none"
    })
    item.querySelectorAll('.picture')[id].style.display = "block"
    this.classList.add('active')

      
  })

  })
});


  
}

</script>
{% schema %}
{
  "name": "Trade Compared Product",
  "class": "shopify-section--trade-compared-product",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 40
    },
    {
      "type": "text",
      "id": "class_name",
      "label": "自定义class"
    },
    {
      "type": "text",
      "id": "background_color",
      "label": "渐变背景色"
    }
  ],
  "blocks": [
     {
      "type": "header",
      "name": "Header",
      "settings": [
        {
          "type": "image_picker",
          "id": "product1_image1",
          "label": "Product 1 Images 1"
        },
        {
          "type": "image_picker",
          "id": "product1_image2",
          "label": "Product 1 Images 2"
        },
         {
          "type": "image_picker",
          "id": "product1_image3",
          "label": "Product 1 Images 3"
        },
        
       {
          "type": "image_picker",
          "id": "product2_image1",
          "label": "Product 2 Images 1"
        },
        {
          "type": "image_picker",
          "id": "product2_image2",
          "label": "Product 2 Images 2"
        },
         {
          "type": "image_picker",
          "id": "product2_image3",
          "label": "Product 2 Images 3"
        },
        {
          "type": "image_picker",
          "id": "mobile_product1_image1",
          "label": "Mobile Product 1 Images 1"
        },
        {
          "type": "image_picker",
          "id": "mobile_product1_image2",
          "label": "Mobile Product 1 Images 2"
        },
         {
          "type": "image_picker",
          "id": "mobile_product1_image3",
          "label": "Mobile Product 1 Images 3"
        },
        
       {
          "type": "image_picker",
          "id": "mobile_product2_image1",
          "label": "Mobile Product 2 Images 1"
        },
        {
          "type": "image_picker",
          "id": "mobile_product2_image2",
          "label": "Mobile Product 2 Images 2"
        },
         {
          "type": "image_picker",
          "id": "mobile_product2_image3",
          "label": "Mobile Product 2 Images 3"
        },
        {
          "type": "text",
          "id": "product1_color1",
          "label": "Product 1 Color 1"
        },
         {
          "type": "text",
          "id": "product1_color2",
          "label": "Product 1 Color 2"
        },
         {
          "type": "text",
          "id": "product1_color3",
          "label": "Product 1 Color 3"
        },
         {
          "type": "text",
          "id": "product2_color1",
          "label": "Product 2 Color 1"
        },
         {
          "type": "text",
          "id": "product2_color2",
          "label": "Product 2 Color 2"
        },
         {
          "type": "text",
          "id": "product2_color3",
          "label": "Product 2 Color 3"
        },
        {
          "type": "text",
          "id": "product_name1",
          "label": "Product Name 1"
        },
        {
          "type": "text",
          "id": "product_name2",
          "label": "Product Name 2"
        },
        {
          "type": "text",
          "id": "tag_name",
          "label": "标签1"
        },
        {
          "type": "text",
          "id": "tag_name1",
          "label": "标签 2"
        },
        {
          "type": "text",
          "id": "product_price1",
          "label": "Product Price 1"
        },
        {
          "type": "text",
          "id": "product_price2",
          "label": "Product Price 2"
        }
      ]
    },
     {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "label_txt",
          "label": "Label Text"
        },
        {
          "type": "image_picker",
          "id": "product1_icon",
          "label": "Product 1 icon"
        },
        {
          "type": "text",
          "id": "product1_txt1",
          "label": "Product 1 Text 1"
        },
        {
          "type": "text",
          "id": "product1_txt2",
          "label": "Product 1 Text 2"
        },
         {
          "type": "image_picker",
          "id": "product2_icon",
          "label": "Product 2 icon"
        },
        {
          "type": "text",
          "id": "product2_txt1",
          "label": "Product 2 Text 1"
        },
        {
          "type": "text",
          "id": "product2_txt2",
          "label": "Product 2 Text 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trade Compared Product"
    }
  ]
}
{% endschema %}
