<style>
.u-story-group{
  padding: 90px 0;
}
  .u-blog-tag {
  font-size: 14px;
  color: #fff;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 7px;
}
  .u-more {
  font-size: 14px;
  color: #000;
  padding: 10px 0;
  text-align: center;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(50px);
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.u-story-group .u-story-group-cont{
  display: flex;
  gap: 68px;
}

.u-story-group .u-story-group-left,.u-story-group .u-story-group-right{
  flex: 1;
}

.u-story-group .u-story-group-img{
  position: relative;
  overflow: hidden;
}

.u-story-group .img{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.u-story-group .u-story-group-img:hover .img{
  transform: scale(1.1);
}

.u-story-group .u-story-group-left .u-story-group-img{
  padding-top: 64.4%;
}

.u-story-group .u-story-group-right img{
  height: 108px;
  position: relative;
}

.u-story-group .u-story-group-item-title{
  margin-top: 30px;
  font-size: 25px;
  font-family: var(--heading-font-family);
  line-height: 1;
  color: #000;
}

.u-story-group .u-story-group-title{
  font-size: 44px;
  font-family: var(--heading-font-family);
  line-height: 1;
  font-weight: normal;
  color: #000;
  padding-bottom: 35px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 35px;
}

.u-story-group .u-story-group-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.u-story-group .u-story-group-item{
  display: flex;
  align-items: center;
  gap: 30px;
}

.u-story-group .u-story-group-item .u-blog-tag{
  zoom: .8;
}

.u-story-group .u-story-group-item .u-story-group-img {
  width: 165px;
}
.u-story-group .u-story-group-text{
  flex: 1;
}

.u-story-group .u-story-group-item .u-story-group-item-title{
  font-size: 20px;
  margin-top: 0;
}

.u-story-group .u-story-group-p{
  font-size: 14px;
  color: #b9b9b9;
  margin-top: 18px;
}

.u-reverse .u-story-group-cont{
  flex-direction: row-reverse;
}

@media (max-width:1300px) {
  .u-story-group .u-story-group-cont{
    gap: 40px;
  }
  .u-story-group .u-story-group-title{
    font-size: 34px;
  }
  .u-story-group .u-story-group-item-title{
    font-size: 20px;
  }
  .u-story-group .u-story-group-item .u-story-group-item-title{
    font-size: 18px;
  }
}

@media (max-width:991px) {
  .u-story-group .u-story-group-cont{
    gap: 20px;
  }
  .u-story-group{
    padding: 60px 0;
  }
  .u-story-group .u-story-group-cont{
    flex-direction: column;
  }
  .u-story-group .u-story-group-item-title{
    font-size: 18px;
  }
  .u-story-group .u-story-group-title{
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .u-story-group .u-story-group-item{
    gap: 15px;
  }
  .u-story-group .u-story-group-item .u-story-group-item-title{
    font-size: 16px;
  }

}
</style>
{%- assign blog = section.settings.blog -%}
<section class="section-box">
  <div class="u-story-group {% if section.settings.check_f %}u-reverse{% endif %}">
    <div class="container">
      <div class="u-story-group-cont">
        {% assign first_item = blog.articles.first %}
        {% if first_item %}
          <a href="{{ first_item.url }}" class="u-story-group-left">
            <div class="u-story-group-img mark-bottom">
              {% assign first_tag = first_item.tags | first %}
              {% if first_tag %}
                <div class="u-blog-tag">{{ first_tag }}</div>
              {% endif %}
              {%- if first_item.image -%}
                {{- first_item.image | image_url: width: first_item.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px', sizes: '600,700,800,1000,1200,1400,1600,1800,2000', class: 'img' -}}
              {%- endif -%}
              <!-- <div class="u-blog-video-btn"></div> -->
            </div>
            <div class="u-story-group-item-title">{{ first_item.title }}</div>
          </a>
        {% endif %}

        <div class="u-story-group-right">
          {%- if section.settings.text != blank -%}
            <h3 class="u-story-group-title">{{ section.settings.text }}</h3>
          {%- endif -%}
          <div class="u-story-group-list">
            {%- for article in blog.articles offset: 1 limit: 3 -%}
              <a href="{{ article.url }}" class="u-story-group-item">
                <div class="u-story-group-img mark-bottom">
                  {% assign first_tag = article.tags | first %}
                  {% if first_tag %}
                    <div class="u-blog-tag">{{ first_tag }}</div>
                  {% endif %}
                  {%- if article.image -%}
                    {{- article.image | image_url: width: article.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px', sizes: '600,700,800,1000,1200,1400,1600,1800,2000', class: 'img' -}}
                  {%- endif -%}
                </div>
                <div class="u-story-group-text">
                  <div class="u-story-group-item-title">{{ article.title }}</div>
                  <div class="u-story-group-p">{{ article.created_at | date: "%b %d, %Y"  }}</div>
                </div>
              </a>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "u-story-group",
  "settings": [
    {
      "type": "checkbox",
      "id": "check_f",
      "label": "翻转",
      "default":false
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "u-story-group",
      "blocks": []
    }
  ]
}
{% endschema %}
