<style>
     /*倒计时样式 start*/
    .countdown__bix {
        display: flex;
        align-items: center;
    }
    .countdown-bar .countdown {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 15px;
  }
  .countdown-bar .count-bar-wraap {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      max-width: 1000px;
      margin: 0 auto;
      line-height: 1.1;
      padding: 23px 0;
  }
  .countdown-bar .title{
    margin-right: 62px;
  }
  .countdown-bar .countdown_txt{
    font-size: 16px;
    margin-top: 5px;
  }
  .countdown-bar span.countdown__er {
      font-size: 26px;
  }
  .countdown-time-bar{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
  }
  .countdown-bar .countdown__item {
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  .countdown_new_box .title {
    font-size: 32px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
  }
  .countdown_new_box .countdown-time-bar{
    display: flex;
    font-size: 40px;
    color: #040000;
    background-color: #ffffff;
    border-radius: 5px;
    width: 70px;
      height: 70px;
      justify-content: center;
      align-items: center;
  }
  .countdown_new_box .countdown__er{
    display: flex;
    transform: translateY(-7px);
  }

  .countdown_button {
      width: 153px;
      text-align: center;
      height: 50px;
      background: #E0004D;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E0004D;
      transition: all .3s;
      position: relative;
      z-index: 3;
      margin-left: 50px;
  }
  .fixed {
      position: fixed;
      top: 84px;
      width: 100%;
      z-index: 4;
    }
  @media screen and (max-width: 768px){
    .countdown-bar .count-bar-wraap{
      font-size: 20px;
      padding: 10px 0;
    }
    .countdown-bar .title {
      margin-right: 10px;
      font-size: 16px;
  }
  .countdown-bar .countdown__item {
      /*width: 45px;*/
  }
  .countdown-bar span.countdown__er {
      font-size: 20px;
  }
  .countdown-time-bar {
    font-size: 20px;
  }
  .countdown_button {
    width: auto;
      height: auto;
      padding: 6px 10px;
      margin-left: 5px;
      font-size: 12px;
    }
    .countdown_new_box .countdown-time-bar{
    font-size: 12px;
    width: 24px;
      height: 24px;
  }
  .countdown-bar .countdown {
      gap: 5px;
  }
  .fixed {
      position: fixed;
      top: auto;
      bottom: 60px;
    }
  }
    /*倒计时样式 end*/
    .media-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px);
      padding-bottom: calc({{ section.settings.padding_bottom }}px);
    }
    @media screen and (max-width: 768px){
      .media-{{ section.id }}-padding {
        padding-top: calc({{ section.settings.padding_top }}px * 0.6);
        padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
      }
    }
    #shopify-section-{{ section.id }} {
    }
    .lottery_wrapper{
      position: relative;
      padding-bottom: 20px;
    }
    .bg_img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .bottom_lottery {
      background: #FFF7F1;
      border-radius: 30px;
      margin: 0 30px 30px;
      display: flex;
      padding: 30px 50px;
    }
    .top_contend{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      align-items: baseline;
      padding: 20.5% 12%;
    }
    .top_contend .cnt_tag{
      background: #000000;
      color: #ffffff;
      font-size: 12px;
      padding: 5px 10px;
      margin-bottom:10px;
    }
    .top_contend .sub_tle{
      font-size: 32px;
      color: #000000;
      line-height: 1;
      margin-bottom: 10px;
      margin-top: 0;
    }
    .top_contend .tle{
      font-size: 64px;
      color: #000000;
      line-height: 1;
      margin-bottom: 10px;
      margin-top: 0px;
    }
    .left_date{
      flex-basis: 43%;
    }
    .bottom_lottery .date_tle{
      text-align: center;
      font-size: 32px;
      line-height: 1.3;
      max-width: 350px;
      margin: 0 auto 10px;
    }
    .luck_rule{
      text-align: center;
      font-size: 14px;
      text-decoration: underline;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .top_time{
      display: flex;
      margin-bottom: 10px;
    }
    .top_time-txt{
      flex-basis: 25%;
      text-align: center;
    }
    .top_time-txt h5{
      font-size: 24px;
      line-height: 1;
      margin-bottom: 3px;
    }
    .top_time-txt p {
      font-size: 14px;
      margin-top: 0;
    }
    .time_process-box{
      width: 100%;
      height: 8px;
      background: #040000;
      border-radius:9px;
      display: flex;
      position: relative;
    }
    .time_process-rd{
      flex-basis: 25%;
      border-radius:9px;
      position: relative;
    }
    /* .time_process-rd.active{
      background: #FFD4B9;
    } */
    .time_process-rd::after{
      content: '';
      display: flex;
      width: 15px;
      height: 15px;
      background: #FFFFFF;
      border: 2px solid #040000;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .lottery_date{
      margin-top: 50px;
    }
    .lottery_date-bottom{
      display: flex;
      width: 100%;
      background: #FFD4B9;
      border-radius: 15px;
      margin-top: 40px;
      align-items: center;
      padding: 20px;
      position: relative;
    }
    .lottery_date-bottom .left_countdown{
      font-size: 20px;
      flex-basis: 20%;
      line-height: 1.3;
      margin: 0;
    }
    .lottery_date-bottom .right_countdown{
      flex-basis: 80%;
      padding-left: 20px;
    }
    .lottery_date .note{
      font-size: 14px;
      color: #CE997B;
      margin-top: 10px;
      line-height: 1.3;
    }
    .right_list{
      padding-left: 60px;
      flex-basis: 57%;
    }
    .right_list h4{
      font-size: 24px;
      margin-bottom: 15px;
    }
    .step_box{
      display: flex;
      justify-content: space-between;
    }
    .step_box .step_num{
    }
    .step_box .step_num .step_txt{
      width: 70px;
      height: 25px;
      line-height: 25px;
      background: #FFB98B;
      text-align: center;
      font-size: 14px;
      margin-bottom: 10px;
      font-family: var(--heading-font-family);
      font-weight: var(--heading-font-weight);
    }
    .step_box .step_num .step_tag{
      font-size: 14px;
      font-family: var(--heading-font-family);
      font-weight: var(--heading-font-weight);
    }
    .winner_ant{
      margin-top: 40px;
    }
    .winner_ant h4{
      font-size: 24px;
    }
    .winner_box{
      display: flex;
    }
    .winner_box-left{
      flex-basis: 50%;
      width: 50%;
    }

    .winner_box-right{
      flex-basis: 50%;
    }
    .winner_tle{
      font-size: 18px;
      font-family: var(--heading-font-family);
      font-weight: var(--heading-font-weight);
      background: #FFDA27;
      padding: 10px 5px;
      text-align: center;
    }
    .winner_box-right .winner_tle{
      background: #FFB98B;
    }
    .winner_cnt{
      width: 100%;
      height: 235px;
      background: #FFFFFF;
      text-align: center;
    }
    .winner_box-right .winner_cnt{
      border-left: 1px solid #9D9D9D;
    }
    .lottery_date-bottom .sanjiao {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #FFD4B9;/* 此处的颜色为三角形的颜色 */
      top: -19px;
      left: 50px;
    }
    .winner_cnt {
      overflow: hidden;
      height: 235px; /* 滚动容器的高度 */
    }
    .winner_cnt.big {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .winner_cnt ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .winner_cnt.active ul {
      animation: scroll 45s linear infinite; /* 调整滚动速度 */
    }

    {% comment %} 新增中奖样式 {% endcomment %}
    .winner_box-left .winner_cnt {
      justify-content: flex-start;
      margin: 0px;
      align-items: inherit;
      text-align: left;
      padding: 10px 15px;
    }
    .winner_box-left .winner_cnt ul{
      animation: scroll 30s linear infinite normal;
      height: 70%;
    }
    .winner_box-left .winner_cnt ul li {
      white-space: inherit;
      margin: 15px 0px;
    }
    .winner_box-left .winner_cnt ul li p{
      margin: 0px;
      font-size: 14px;
      line-height: 20px;
    }
    .winner_box-left .winner_cnt ul li .title{
      margin: 0px;
      font-size: 20px;
      line-height: 1.5;
      font-weight: bold;
    }


  .winner_cnt ul li {
    line-height: 30px;
    white-space: nowrap;
  }
  .popup_draw_rules {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 99;
    overflow-y: auto;
    display: none;
  }
  .popup_draw_rules .draw_rules-wrap{
    position: relative;
    padding: 80px 0;
    background: #fff;
    width: 100%;
    max-width: 1092px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100vh - 80px );
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
  }
  .popup-box-close{
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup_cnt-box{
    overflow-y: auto;
    height: 100%;
    width: calc(100% + 40px );
    padding-right: 40px;
  }
  .popup_cnt-box .popup-box-text{
    max-width: 800px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      min-height: 100%;
  }
  .popup-box-text h3{
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
  }
  a.close_rule-btn.close_rule-link {
      background: #000000;
      color: #fff;
      text-align: center;
      width: calc(100% - 40px );
      height: 54px;
      align-items: center;
      justify-content: center;
      z-index: 1;
      padding: 0;
      position: absolute;
      bottom: 32px;
      left: 20px;
      display: none;
  }
  .bg_img img{
    width: 100%;
    height: 100%;
  }
  .top_time-txt.active {
      opacity: 0.5;
  }
    .process_bai{
      position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background: #FFD4B9;
      border-radius: 9px;
    }
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @media screen and (max-width: 1150px){
    .left_date {
      width: 50%;
    }
    .right_list{
      padding-left: 20px;
    }
    .countdown_new_box .countdown-time-bar{
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
    .lottery_date-bottom .left_countdown{
      font-size: 16px;
    }
    .top_time-txt h5{
      font-size: 18px;
    }
  }
    @media (max-width:992px) {
      .bottom_lottery{
        flex-direction: column;
        margin: 0;
        border-radius: 0 0 30px 30px;
      }
      .left_date{
        width: 100%;
      }
      .right_list{
        padding: 0;
        width: 100%;
      }
      .top_contend {
      padding: 0;
      text-align: center;
      align-items: center;
      position: absolute;
      top: 42px;
      height: auto;
  }
  .top_contend .tle{
    font-size: 24px;
  }
  .top_contend .sub_tle{
    font-size: 14px;
  }
  .bg_img.hidden-lap-and-up{
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    }
    .bottom_lottery{
      border-radius: 0;
    }
      .lottery_box{
        padding-top:0;
      }
    }
    @media (max-width:650px) {
      .bottom_lottery{
        padding: 0;
      }
      .bottom_lottery .date_tle{
        font-size: 22px;
      }
      .top_time-txt h5{
        font-size: 15px;
      }
      .top_time-txt p{
        font-size: 12px;
      }
      .countdown_new_box .countdown-time-bar{
        width: 26px;
        height: 26px;
        font-size: 16px;
      }
      .right_list h4{
        font-size: 22px;
        text-align: center;
        padding-top: 20px;
      }
      .step_box .step_num .step_txt{
        font-size: 12px;
        margin-right: 15px;
      }
      .countdown-bar .countdown_txt{
        font-size: 12px;
      }
      .lottery_date-bottom .left_countdown{
        flex-basis: 40%;
      }
      .lottery_date-bottom .right_countdown{
        padding-left: 0;
      }
      .lottery_date-bottom{
        padding: 10px 20px;
        margin-top: 25px;
      }
      .lottery_date .note{
        text-align: center;
        padding: 0 20px;
      }
      .step_rion{
        display: none;
      }
      .step_box {
          flex-direction: column;
          align-items: center;
      }
      .step_num{
        display: flex;
      }
      .lottery_date{
        margin-top: 30px;
      }
      .winner_box{
        flex-direction: column;
      }
      .winner_ant{
        background: #ffffff;
        padding: 0 20px;
      }
      .left_date{
        padding: 50px 30px 0;
      }
      .winner_box-right .winner_cnt{
        border-left: none;
      }
      .winner_cnt{
        background: #F4F4F4;
      }
      .winner_tle{
        font-size: 16px;
      }
      .winner_box-right .winner_tle{
        color: #ffffff;
      }
      .lottery_date-bottom .sanjiao{
        border-width: 10px;
        top: -10px;
        left: 27px;
      }
      .lottery_box .container{
        padding: 0;
      }
      .winner_cnt {
        height: 140px;
      }
      .popup_draw_rules{
        padding:0 20px
      }
      .popup_draw_rules .draw_rules-wrap{
        border-radius: 0;
        height: calc(100vh - 200px );
        padding: 30px;
      }
      .popup-box-close{
        display: none;
      }
      .popup-box-text h3{
        font-size: 22px;
        margin-bottom: 20px;
      }
      a.close_rule-btn.close_rule-link {
        display: flex;
      }
      .step_box .step_num .step_tag{
            width: 121px;
      }
      .top_contend .cnt_tag{
        display:none;
      }
      .winner_box-left {
        width: 100%;
      }
      .winner_box-left .winner_cnt {
        height: 180px;
        margin: 0px;
      }
    }
</style>

<section>
  <div class="popup_draw_rules">
    <div class="draw_rules-wrap">
      <div class="popup-box-close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
          class="close_rule-btn"
        >
          <path d="M23 0C10.304 0 0 10.304 0 23C0 35.696 10.304 46 23 46C35.696 46 46 35.696 46 23C46 10.304 35.696 0 23 0ZM23 44.16C11.316 44.16 1.84 34.684 1.84 23C1.84 11.316 11.316 1.84 23 1.84C34.684 1.84 44.16 11.316 44.16 23C44.16 34.684 34.684 44.16 23 44.16Z" fill="#959595"/>
          <path d="M30.452 15.548C30.084 15.18 29.532 15.18 29.164 15.548L23 21.712L16.836 15.548C16.468 15.18 15.916 15.18 15.548 15.548C15.18 15.916 15.18 16.468 15.548 16.836L21.712 23L15.548 29.164C15.18 29.532 15.18 30.084 15.548 30.452C15.732 30.636 16.008 30.728 16.192 30.728C16.376 30.728 16.652 30.636 16.836 30.452L23 24.288L29.164 30.452C29.348 30.636 29.624 30.728 29.808 30.728C29.992 30.728 30.268 30.636 30.452 30.452C30.82 30.084 30.82 29.532 30.452 29.164L24.288 23L30.452 16.836C30.82 16.468 30.82 15.916 30.452 15.548Z" fill="#959595"/>
        </svg>
      </div>
      <div class="popup_cnt-box">
        <div class="popup-box-text">
          {%- if section.settings.popup_tle != blank -%}
            <h3>{{ section.settings.popup_tle }}</h3>
          {%- endif -%}
          {%- if section.settings.popup_txt != blank -%}
            <div class="rules_content">
              {{ section.settings.popup_txt }}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
    <a href="javascript:;" class="close_rule-btn close_rule-link">OK</a>
  </div>
  <div class="lottery_box media-{{ section.id }}-padding">
    <div class="container">
      <div class="lottery_wrapper">
        {%- if section.settings.bg_image != blank -%}
          <div class="bg_img hidden-pocket">
            {{-
              section.settings.bg_image
              | image_url: width: section.settings.bg_image.width
              | image_tag: loading: '', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800'
            -}}
          </div>
        {%- endif -%}
        {%- if section.settings.mobile_bg_image != blank -%}
          <div class="bg_img hidden-lap-and-up">
            {{-
              section.settings.mobile_bg_image
              | image_url: width: section.settings.mobile_bg_image.width
              | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000'
            -}}
          </div>
        {%- endif -%}

        <div class="top_contend">
          {%- if section.settings.period_tag != blank -%}
            <div class="cnt_tag">
              {{ section.settings.period_tag }}
            </div>
          {%- endif -%}
          {%- if section.settings.prize_sub != blank -%}
            <h4 class="sub_tle">{{ section.settings.prize_sub }}</h4>
          {%- endif -%}
          {%- if section.settings.prize_tle != blank -%}
            <h3 class="tle">{{ section.settings.prize_tle }}</h3>
          {%- endif -%}
        </div>
        <div class="bottom_lottery">
          <div class="left_date">
            {%- if section.settings.winner_tle != blank -%}
              <h4 class="date_tle">{{ section.settings.winner_tle }}</h4>
            {%- endif -%}
            {%- if section.settings.winner_rule_txt != blank -%}
              <a href="javascript:;" class="luck_rule">{{ section.settings.winner_rule_txt }}</a>
            {%- endif -%}
            <div class="lottery_date">
              <div class="lottery_date-top">
                <div class="top_time">
                  <div class="top_time-txt">
                    {%- if section.settings.round_txt_1 != blank -%}
                      <h5>{{ section.settings.round_txt_1 }}</h5>
                    {%- endif -%}
                    {%- if section.settings.round_time_1 != blank -%}
                      <p>{{ section.settings.round_time_1 }}</p>
                    {%- endif -%}
                  </div>
                  <div class="top_time-txt">
                    {%- if section.settings.round_txt_2 != blank -%}
                      <h5>{{ section.settings.round_txt_2 }}</h5>
                    {%- endif -%}
                    {%- if section.settings.round_time_2 != blank -%}
                      <p>{{ section.settings.round_time_2 }}</p>
                    {%- endif -%}
                  </div>
                  <div class="top_time-txt">
                    {%- if section.settings.round_txt_3 != blank -%}
                      <h5>{{ section.settings.round_txt_3 }}</h5>
                    {%- endif -%}
                    {%- if section.settings.round_time_3 != blank -%}
                      <p>{{ section.settings.round_time_3 }}</p>
                    {%- endif -%}
                  </div>
                  <div class="top_time-txt">
                    {%- if section.settings.round_txt_4 != blank -%}
                      <h5>{{ section.settings.round_txt_4 }}</h5>
                    {%- endif -%}
                    {%- if section.settings.round_time_4 != blank -%}
                      <p>{{ section.settings.round_time_4 }}</p>
                    {%- endif -%}
                  </div>
                </div>
                <div class="time_process-box">
                  <div class="process_bai"></div>
                  <div class="time_process-rd active"></div>
                  <div class="time_process-rd"></div>
                  <div class="time_process-rd"></div>
                  <div class="time_process-rd"></div>
                </div>
              </div>
              <div class="lottery_date-bottom">
                <div class="sanjiao"></div>
                {%- if section.settings.round_time_4 != blank -%}
                  <h4 class="left_countdown">
                    {{ section.settings.Countdown_tle }}
                  </h4>
                {%- endif -%}
                <div class="right_countdown countdown-bar">
                  <div class="countdown_new_box" id="count-bar-wraap">
                    <div class="count-bar-wraap">
                      <div id="countdown-bar" class="countdown">
                        <div class="countdown__item">
                          <div class="countdown__bix">
                            <span class="countdown-time-bar countdown-days"></span>
                          </div>
                          <span class="countdown_txt">days</span>
                        </div>
                        <div class="countdown__er">:</div>
                        <div class="countdown__item">
                          <div class="countdown__bix">
                            <span class="countdown-time-bar countdown-hours"></span>
                          </div>
                          <span class="countdown_txt">hrs</span>
                        </div>
                        <div class="countdown__er">:</div>
                        <div class="countdown__item">
                          <div class="countdown__bix">
                            <span class="countdown-time-bar countdown-minutes"></span>
                          </div>
                          <span class="countdown_txt">mins</span>
                        </div>
                        <div class="countdown__er">:</div>
                        <div class="countdown__item">
                          <span class="countdown-time-bar countdown-seconds"></span>
                          <span class="countdown_txt">secs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {%- if section.settings.countdown_note != blank -%}
                <p class="note">{{ section.settings.countdown_note }}</p>
              {%- endif -%}
            </div>
          </div>
          <div class="right_list">
            {%- if section.settings.participate_tle != blank -%}
              <h4>{{ section.settings.participate_tle }}</h4>
            {%- endif -%}
            <div class="step_box">
              <div class="step_num">
                {%- if section.settings.step_tag_1 != blank -%}
                  <div class="step_txt">{{ section.settings.step_tag_1 }}</div>
                {%- endif -%}
                {%- if section.settings.step_tle_1 != blank -%}
                  <div class="step_tag">{{ section.settings.step_tle_1 }}</div>
                {%- endif -%}
              </div>
              <div class="step_rion">></div>
              <div class="step_num">
                {%- if section.settings.step_tag_2 != blank -%}
                  <div class="step_txt">{{ section.settings.step_tag_2 }}</div>
                {%- endif -%}
                {%- if section.settings.step_tle_2 != blank -%}
                  <div class="step_tag">{{ section.settings.step_tle_2 }}</div>
                {%- endif -%}
              </div>
              <div class="step_rion">></div>
              <div class="step_num">
                {%- if section.settings.step_tag_3 != blank -%}
                  <div class="step_txt">{{ section.settings.step_tag_3 }}</div>
                {%- endif -%}
                {%- if section.settings.step_tle_3 != blank -%}
                  <div class="step_tag">{{ section.settings.step_tle_3 }}</div>
                {%- endif -%}
              </div>
              <div class="step_rion">></div>
              <div class="step_num">
                {%- if section.settings.step_tag_4 != blank -%}
                  <div class="step_txt">{{ section.settings.step_tag_4 }}</div>
                {%- endif -%}
                {%- if section.settings.step_tle_4 != blank -%}
                  <div class="step_tag">{{ section.settings.step_tle_4 }}</div>
                {%- endif -%}
              </div>
            </div>
            <div class="winner_ant">
              {%- if section.settings.announcement_title != blank -%}
                <h4>{{ section.settings.announcement_title }}</h4>
              {%- endif -%}
              <div class="winner_box">
                <div class="winner_box-left">
                  {%- if section.settings.big_announcement_title != blank -%}
                    <div class="winner_tle">
                      {{ section.settings.big_announcement_title }}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.big_announcement != blank -%}
                    <div class="winner_cnt big">
                      {{- section.settings.big_announcement -}}
                      <div class="nt_box"></div>
                    </div>
                  {%- endif -%}
                </div>
                <div class="winner_box-right">
                  {%- if section.settings.draw_title != blank -%}
                    <div class="winner_tle">
                      {{ section.settings.draw_title }}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.draw != blank -%}
                    <div class="winner_cnt active">
                      {{- section.settings.draw -}}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
document.addEventListener("DOMContentLoaded", function () {
  document.querySelector('.luck_rule').addEventListener('click', function(){
    document.body.style.overflow='hidden';
    document.body.style.height='100vh';
    document.querySelector('.popup_draw_rules').style.display= "block";
  })
  document.querySelectorAll('.close_rule-btn').forEach(function(ele){
    ele.addEventListener('click', function(){
      document.body.style='';
      document.querySelector('.popup_draw_rules').style.display= "none";
    })
  })
  function Countdownbar(selector, endDate) {
    let countdownElement = document.querySelector(selector);
    let daysElement = countdownElement.querySelector('.countdown-days');
    let hoursElement = countdownElement.querySelector('.countdown-hours');
    let minutesElement = countdownElement.querySelector('.countdown-minutes');
    let secondsElement = countdownElement.querySelector('.countdown-seconds');

    // 获取当前时间和结束时间
   //let serverTimestamp = {{ 'now' | date: '%s' }};
    //let currentServerTime = new Date(serverTimestamp * 1000); // 将秒转换为毫秒
   // let currentTime = currentServerTime.getTime();


// 输入的日期时间字符串
  const ukLocalTime = new Date().toLocaleString("en-GB", { timeZone: "Europe/London" });
// 将日期时间字符串按逗号和空格分割
const parts = ukLocalTime.split(/, /);

// 将日期和时间分开
const [datePart, timePart] = parts;

// 将日期和时间部分分别解析
const [day, month, year] = datePart.split('/').map(Number);
const [hours, minutes, seconds] = timePart.split(':').map(Number);

// 使用这些值创建一个新的 Date 对象
const dateObject = new Date(year, month - 1, day, hours, minutes, seconds);

// 获取时间戳（以毫秒为单位）
const currentTime = dateObject.getTime();

// 如果需要将时间戳转换成秒，可以将其除以 1000
//const timestampInSeconds = Math.floor(timestamp / 1000);

// 输出时间戳
  console.log('currentTime', currentTime);



    
    
    let distance = endDate - currentTime <=0 ? 0: endDate - currentTime;

    function updateCountdownbar() {
      // 计算天、时、分、秒
      let days = Math.floor(distance / (1000 * 60 * 60 * 24));
      let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
      // 更新倒计时显示
      daysElement.textContent = days < 10 ? '0' + days : days;
      hoursElement.textContent = hours < 10 ? '0' + hours : hours;
      minutesElement.textContent = minutes < 10 ? '0' + minutes
       : minutes;
      secondsElement.textContent = seconds < 10 ? '0' + seconds : seconds;
  
      // 减去一秒，更新距离
      distance -= 1000;
  
      // 当倒计时结束时，清除计时器
      if (distance < 0) {
        clearInterval(countdownInterval);
        // 可以在倒计时结束后执行相应的操作
      }
    }
  
    // 每秒更新一次倒计时
    let countdownInterval = setInterval(updateCountdownbar, 1000);
  
    // 页面加载时初始化倒计时
    updateCountdownbar();
  }
  let ediftendDate = ('{{section.settings.end_date }}');
  // 使用示例
  let endDate = new Date(`${ediftendDate}`).getTime(); // 设置结束时间
  let countdown = new Countdownbar('#countdown-bar', endDate); // 初始化倒计时插件
});
  const serverTimestamps = {{ 'now' | date: '%s' }};
  const specifiedDate1 = new Date("2023-10-16").getTime() / 1000;
  const specifiedDate2 = new Date("2023-10-23").getTime() / 1000;
  const specifiedDate3 = new Date("2023-10-30").getTime() / 1000;
  const specifiedDate4 = new Date("2023-11-06").getTime() / 1000;
  if(serverTimestamps>=specifiedDate2){
    document.querySelector('.sanjiao').style.left="34%";
    document.querySelectorAll('.time_process-rd')[1].classList.add('active');
     document.querySelectorAll('.top_time-txt')[0].classList.add('active');
    document.querySelector('.process_bai').style.width="50%";
  } else if(serverTimestamps>=specifiedDate3){
    document.querySelector('.sanjiao').style.left="59%";
    document.querySelectorAll('.time_process-rd')[2].classList.add('active');
    document.querySelectorAll('.top_time-txt')[1].classList.add('active');
    document.querySelector('.process_bai').style.width="75%";
  } else if(serverTimestamps>=specifiedDate4){
    document.querySelector('.sanjiao').style.left="84%";
    document.querySelectorAll('.time_process-rd')[3].classList.add('active');
    document.querySelectorAll('.top_time-txt')[2].classList.add('active');
    document.querySelector('.process_bai').style.width="100%";
  } else {
    document.querySelector('.sanjiao').style.left="9%";
    document.querySelectorAll('.time_process-rd')[0].classList.add('active');
    document.querySelector('.process_bai').style.width="25%";
  }
</script>
{% schema %}
{
  "name": "Year End Lottery",
  "class": "shopify-section--year-end-lottery",
  "blocks": [],
  "settings": [
    {
      "type": "text",
      "id": "popup_tle",
      "label": "Popup Title",
      "default": "Lucky Draw Rules"
    },
    {
      "type": "richtext",
      "id": "popup_txt",
      "label": "Popup Text"
    },
    {
      "type": "text",
      "id": "full_txt",
      "label": "Full Heading"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_bg_image",
      "label": "Mobile Background Image"
    },

    {
      "type": "text",
      "id": "period_tag",
      "label": "Period Tag"
    },

    {
      "type": "text",
      "id": "prize_sub",
      "label": "Prize subTitle"
    },

    {
      "type": "text",
      "id": "prize_tle",
      "label": "Prize Title"
    },
    {
      "type": "text",
      "id": "winner_tle",
      "label": "Winner Title",
      "default": "Winner Announced Every Wednsday"
    },
    {
      "type": "text",
      "id": "winner_rule_txt",
      "label": "Winner Rule Txt",
      "default": "Lucky Draw Rules"
    },

    {
      "type": "text",
      "id": "round_txt_1",
      "label": "Round Txt 1",
      "default": "Round 1"
    },
    {
      "type": "text",
      "id": "round_txt_2",
      "label": "Round Txt 2",
      "default": "Round 2"
    },
    {
      "type": "text",
      "id": "round_txt_3",
      "label": "Round Txt 3",
      "default": "Round 3"
    },
    {
      "type": "text",
      "id": "round_txt_4",
      "label": "Round Txt 4",
      "default": "Round 4"
    },

    {
      "type": "text",
      "id": "round_time_1",
      "label": "Round Time 1",
      "default": "Oct 16th"
    },
    {
      "type": "text",
      "id": "round_time_2",
      "label": "Round Time 2",
      "default": "Oct 16th"
    },
    {
      "type": "text",
      "id": "round_time_3",
      "label": "Round Time 3",
      "default": "Oct 16th"
    },
    {
      "type": "text",
      "id": "round_time_4",
      "label": "Round Time 4",
      "default": "Oct 16th"
    },

    {
      "type": "text",
      "id": "Countdown_tle",
      "label": "Countdown Title",
      "default": "Lucky Draw Countdown"
    },
    {
      "type": "text",
      "id": "end_date",
      "label": "End Date",
      "info": "Please configure according to the format of 2020-10-03T00:00:00",
      "default": "2023-10-13T23:59:59"
    },

    {
      "type": "text",
      "id": "countdown_note",
      "label": "Countdown Note"
    },
    {
      "type": "text",
      "id": "participate_tle",
      "label": "Participate Title",
      "default": "How to Participate?"
    },

    {
      "type": "text",
      "id": "step_tag_1",
      "label": "Step Tag 1",
      "default": "STEP 01"
    },
    {
      "type": "text",
      "id": "step_tag_2",
      "label": "Step Tag 2",
      "default": "STEP 02"
    },
    {
      "type": "text",
      "id": "step_tag_3",
      "label": "Step Tag 3",
      "default": "STEP 03"
    },
    {
      "type": "text",
      "id": "step_tag_4",
      "label": "Step Tag 4",
      "default": "STEP 04"
    },

    {
      "type": "text",
      "id": "step_tle_1",
      "label": "Step Txt 1",
      "default": "Grab the coupon"
    },
    {
      "type": "text",
      "id": "step_tle_2",
      "label": "Step Txt 2",
      "default": "Grab the coupon"
    },
    {
      "type": "text",
      "id": "step_tle_3",
      "label": "Step Txt 3",
      "default": "Grab the coupon"
    },
    {
      "type": "text",
      "id": "step_tle_4",
      "label": "Step Txt 4",
      "default": "Grab the coupon"
    },

    {
      "type": "text",
      "id": "announcement_title",
      "label": "Winner Announcement Title",
      "default": "Winner Announcement"
    },
    {
      "type": "text",
      "id": "big_announcement_title",
      "label": "Big Prize Winner Title",
      "default": "Big Prize Winner"
    },

    {
      "type": "html",
      "id": "big_announcement",
      "label": "Big Prize Winner",
      "default": "<ul><li>a****@gmail.com</li></ul>"
    },

    {
      "type": "text",
      "id": "draw_title",
      "label": " Draw Title",
      "default": "Travel Treats Draw"
    },
    {
      "type": "html",
      "id": "draw",
      "label": "Draw",
      "default": "<ul><li>a****@gmail.com</li></ul>"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 80
    }
  ],
  "presets": [
    {
      "name": "Year End Lottery",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
