<style>
  .safe_cnt{
    min-height: 700px;
  }
.safe_cnt-inner{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 700px;
}
.safe_image-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.safe_image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.safe_cnt-bix{
  padding: 30px 0;
}
.content-safe--media{
  max-width: 800px;
  margin-left: 100px;
}
.safe_cnt-bix h3{
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 1.3;
}
.safe_cnt-bix p{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  max-width: 600px;
}
.logo_media--box{
  display: flex;
  align-items: center;
  margin-top: 50px;
  /*gap: 20px;*/
}
.right_svg {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
}
@media (max-width:768px) {
  .content-safe--media{
    margin-left: 0px;
  }
  .safe_cnt-bix h3{
    font-size: 22px;
    text-align: center;
  }
  .safe_cnt-bix p{
    text-align: center;
  }
  .safe_cnt-inner{
    min-height: auto;
    flex-direction: column;
    padding: 40px 20px 60px;
  }
  .safe_image-wrapper{
    position: relative;
  }
  .right_svg{
    gap: 10px;
  }
  .left_svg svg{
    width: 65px;
    height: 65px;
  }
  .right_svg svg{
    flex-basis: 12%;
  }
  .logo_media--box{
  justify-content: center;
  margin-top: 30px;
  }
}
</style>

<section>
  <div class="safe_cnt">
    <div class="safe_cnt-inner">
      <div class="container">
        <div class="safe_cnt-bix">
          <div class="content-safe--media">
          {%- if section.settings.title != blank -%}
            <h3>{{ section.settings.title }}</h3>
          {%- endif -%}
          {%- if section.settings.sub != blank -%}
            <p>{{ section.settings.sub }}</p>
          {%- endif -%}
            <div class="logo_media--box">
              {% comment %} <div class="left_svg">
               
              </div>
              <div class="right_svg">
              </div> {% endcomment %}
              {%- if section.settings.media_logo != blank -%}
              <div class="safe_image-media hidden-pocket">
                {{- section.settings.media_logo | image_url: width: section.settings.media_logo.width | image_tag: loading: '', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800' -}}
              </div>
            {%- endif -%}
            {%- if section.settings.mobile_media_logo != blank -%}
              <div class="safe_image-media hidden-lap-and-up">
                {{- section.settings.mobile_media_logo | image_url: width: section.settings.mobile_media_logo.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000' -}}
              </div>
            {%- endif -%}

            </div>
          </div>
        </div>
      </div>
      {%- if section.settings.bg_image != blank -%}
        <div class="safe_image-wrapper hidden-pocket">
          {{- section.settings.bg_image | image_url: width: section.settings.bg_image.width | image_tag: loading: '', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800' -}}
        </div>
      {%- endif -%}
      {%- if section.settings.mobile_bg_image != blank -%}
        <div class="safe_image-wrapper hidden-lap-and-up">
          {{- section.settings.mobile_bg_image | image_url: width: section.settings.mobile_bg_image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000' -}}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
<script>
</script>
{% schema %}
{
  "name": "Year End Endorsement",
  "class": "year-end-endorsement",
  "blocks": [
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_bg_image",
      "label": "Mobile Background Image"
    },

    {
      "type": "image_picker",
      "id": "media_logo",
      "label": "Media Logo"
    },
    {
      "type": "image_picker",
      "id": "mobile_media_logo",
      "label": "Mobile Media Logo"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub",
      "label": "subheading"
    }
  ],
  "presets": [
    {
      "name": "Year End Endorsement"
    }
  ]
}
{% endschema %}